- title "Clinics"

%table
  %tr
    %th Name
  - for clinic in @clinics
    %tr
      %td= clinic.name
      %td= link_to 'Show', clinic
      %td= link_to 'Edit', edit_clinic_path(clinic)
      %td= link_to 'Destroy', clinic, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Clinic", new_clinic_path
