%h2 Clinics

%table.table.table-condensed.table-striped
  -Specialization.all.each do |specialization|
    %tr{ :class => specialization.in_progress ? "in-progress" : "" }
      %th
        = specialization.name
      %th.admin

    - specialization.clinics.each do |clinic|
      %tr
        %td= link_to clinic.name, clinic_path(clinic), :class => 'ajax'
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_clinic_path((clinic)), :class => "btn btn-small ajax")
          = link_to("<i class='icon-trash'></i>".html_safe + " Delete", clinic, :confirm => "Delete #{clinic.name}?", :method => :delete, :class => "btn btn-small")
    
    %tr
      %th
      %th.admin
        = link_to( "<i class='icon-plus-sign'></i>".html_safe + " New Clinic in #{specialization.name}", new_specialization_clinic_path(specialization), :class => "btn btn-small ajax")
