- set_page_specific_title "Clinics"

.content-wrapper

  %h2 Clinics

  - user_divisions = current_user_divisions
  - first_division = user_divisions.first

  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - Division.all.each do |division|
        %li{:class => (division == first_division) && "active"}
          %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= division.name
      %li
        %a{"href" => "#no_division_tab", "data-toggle" => "tab"} No Division

    .tab-content
      - Division.all.each do |division|
        - can_edit = user_divisions.include? division
        .tab-pane{:id => "#{division.id}_tab", :class => (division == first_division) && "active"}
          %table.table.table-condensed.table-striped
            - @specializations.each do |specialization|
              - clinics = specialization.clinics.in_divisions([division]).sort{ |a,b| a.name <=> b.name }
              - next if clinics.blank?
              %tr{ :class => specialization.fully_in_progress_for_divisions([division]) ? "in-progress" : "" }
                %th{:style => "width:100%"}= specialization.name
                - if can_edit
                  %th.admin

              - clinics.each do |clinic|
                %tr
                  %td= link_to clinic.name, clinic_path(clinic), :class => 'ajax'
                  - if can_edit
                    %td.admin.btn-group
                      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_clinic_path((clinic)), :class => "btn btn-mini ajax")
                      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", clinic, :confirm => "Delete #{clinic.name}?", :method => :delete, :class => "btn btn-mini")

      .tab-pane{:id => "no_division_tab"}
        %table.table.table-condensed.table-striped
          - @specializations.select(&:no_division_clinics?).each do |specialization|
            %tr
              %th{:style => "width:100%"}= specialization.name
              %th.admin

            - specialization.no_division_clinics.each do |clinic|
              %tr
                %td= link_to clinic.name, clinic_path(clinic), :class => 'ajax'
                %td.admin.btn-group
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_clinic_path((clinic)), :class => "btn btn-mini ajax")
                  = link_to("<i class='icon-trash'></i>".html_safe + " Delete", clinic, :confirm => "Delete #{clinic.name}?", :method => :delete, :class => "btn btn-mini")
