- set_page_specific_title "Clinics"

.content-wrapper

  %h2 Clinics

  - user_divisions = current_user.as_divisions
  - first_division = user_divisions.first

  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - Division.all.each do |division|
        %li
          %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}
            = division.name
      %li
        %a{"href" => "#no_division_tab", "data-toggle" => "tab"} No Division

    .tab-content
      - Division.all.each do |division|
        - can_edit = user_divisions.include? division
        .tab-pane{:id => "#{division.id}_tab"}
          %table.table.table-condensed.table-striped
            - @specializations.each do |specialization|
              - clinics = specialization.clinics.in_divisions([division]).sort do |a,b|
                - a.name <=> b.name
              - next if clinics.blank?
              %tr{ class: specialization.hidden_in?(division) ? "hidden-from-users" : "" }
                %th{ style: "width:100%" }= specialization.name
                %th.admin

              - clinics.each do |clinic|
                %tr
                  %td= link_to clinic.name, clinic_path(clinic)
                  - if can_edit
                    %td{ style: "min-width: 60px" }
                      = link_to edit_clinic_path(clinic),
                        class: "btn btn-mini" do
                        %i.icon-pencil
                        %span= " Edit"

            - if Clinic.no_specialization.in_divisions([division]).any?
              %tr
                %th{ style: "width:100%" }= "No Specialization"
                %th.admin

              - Clinic.no_specialization.in_divisions([division]).each do |clinic|
                %tr
                  %td= link_to clinic.name, clinic_path(clinic)
                  - if can_edit
                    %td{ style: "min-width: 60px" }
                      = link_to edit_clinic_path(clinic),
                        class: "btn btn-mini" do
                        %i.icon-pencil
                        %span= " Edit"

      .tab-pane{ id: "no_division_tab" }
        %table.table.table-condensed.table-striped
          - @specializations.each do |specialization|
            - if specialization.clinics.no_division.any?
              %tr
                %th{ style: "width:100%" }= specialization.name
                %th.admin

              - specialization.clinics.no_division.each do |clinic|
                %tr
                  %td= link_to clinic.name, clinic_path(clinic)
                  - if can? :manage, clinic
                    %td{ style: "min-width: 60px" }
                      = link_to edit_clinic_path(clinic),
                        class: "btn btn-mini" do
                        %i.icon-pencil
                        %span= " Edit"

          - if Clinic.no_specialization.any?
            %tr
              %th{ style: "width:100%" }= "No Specialty"
              %th.admin

            - Clinic.no_specialization.no_division.each do |clinic|
              %tr
                %td= link_to clinic.name, clinic_path(clinic)
                - if can? :manage, clinic
                  %td{ style: "min-width: 60px" }
                    = link_to edit_clinic_path(clinic),
                      class: "btn btn-mini" do
                      %i.icon-pencil
                      %span= " Edit"

:javascript
  window.pathways.setupTabHistory();
