- title "#{@clinic.name}"

%h2= @clinic.name

%h5.specialty_links= @clinic.specializations.collect(){ |s| s.name }.to_sentence

%h6 Your Appointment Information

%p#specific_appointment_block
  %input.specific_appointment#specific_appointment_check{"type" => "radio", "name" => "appointment", "checked" => "checked"}
  Your appointment is on 
  %input.specific_appointment{"type" => "text"}
  at
  %input.specific_appointment{"type" => "text"}

%p#future_appointment_block.empty
  %input.future_appointment#future_appointment_check{"type" => "radio", "name" => "appointment"}
  %select.future_appointment
    %option Our office
    %option The #{@clinic.name}
  will call you once your appointment is booked.  

%p.indent#future_appointment_followup_block.empty
  %input#future_appointment_followup_check{"type" => "checkbox"}
  If you haven't had heard about your appointment date within
  %select.future_appointment_followup
    %option
    %option 1 week (by #{DateTime.now.since(1.week).to_date.strftime("%b %d, %Y")})
    %option 2 weeks (by #{DateTime.now.since(2.week).to_date.strftime("%b %d, %Y")})
    %option 1 month (by #{DateTime.now.since(1.month).to_date.strftime("%b %d, %Y")})
    %option 2 months (by #{DateTime.now.since(2.month).to_date.strftime("%b %d, %Y")})
    %option 4 months (by #{DateTime.now.since(4.month).to_date.strftime("%b %d, %Y")})
    %option 6 months (by #{DateTime.now.since(6.month).to_date.strftime("%b %d, %Y")})
    %option 8 months (by #{DateTime.now.since(8.month).to_date.strftime("%b %d, %Y")})
    %option 12 months (by #{DateTime.now.since(12.month).to_date.strftime("%b %d, %Y")})
    %option 14 months (by #{DateTime.now.since(14.month).to_date.strftime("%b %d, %Y")})
    %option 18 months (by #{DateTime.now.since(18.month).to_date.strftime("%b %d, %Y")})
    %option 24 months (by #{DateTime.now.since(24.month).to_date.strftime("%b %d, %Y")})
  please call
  %select.future_appointment_followup
    %option
    %option our office.
    %option The #{@clinic.name}.
   
  %h6#patient_instruction_header Appointment Instructions
  
  -if @clinic.patient_instructions.present?
    %p= @clinic.patient_instructions.end_with_period
  
  %textarea#custom_patient_instructions{:placeholder => "Additional patient instructions"}
  #custom_patient_instructions_print
    
- if @clinic.cancellation_policy.present?
  %h6 Cancellation Policy
  %p= @clinic.cancellation_policy.end_with_period
  
%h6 Clinic Information

%p= @clinic.phone_only if @clinic.phone_only.present?

- address = @clinic.resolved_address
- if @clinic.location.present? && @clinic.location.in_hospital?
  - hospital = @clinic.location.hospital_in
  %p= "In #{hospital.name}"
  - if address.present? && !address.empty?
    %p= address.address 
    %p= @clinic.location.in_details if @clinic.location.in_details.present?
    %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
- elsif address.present? && !address.empty?
  %p= address.address
  %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
  
%script{"type" => "text/javascript"}
  :plain
    function print_patient_information()
    {
      copy_to_print_helper();
      window.print();
    }
    
    function copy_to_print_helper(){
      $('#custom_patient_instructions_print').text($('#custom_patient_instructions').val());
      if ( $('#custom_patient_instructions').val().trim() == "" )
      {
        $('#patient_instruction_header').addClass('empty');
      }
      else
      {
        $('#patient_instruction_header').removeClass('empty');
      }
    }
    
    function set_future_followup_block_print_visibility()
    {
      if ( $('#future_appointment_followup_check').attr('checked') )
      {
        $('#future_appointment_followup_block').removeClass('empty');
      }
      else
      {
        $('#future_appointment_followup_block').addClass('empty');
      }
    }
    
    $('#custom_patient_instructions').bind('keydown keyup keypress cut copy past blur change', function(){
      copy_to_print_helper();
    });
    
    $('.specific_appointment').bind('keydown keyup keypress cut copy past blur change', function(){
      $('#specific_appointment_check').attr('checked', true);
      $('#specific_appointment_block').removeClass('empty');
      $('#future_appointment_block').addClass('empty');
      $('#future_appointment_followup_block').hide();
    });
    
    $('.future_appointment').bind('change', function(){
      $('#specific_appointment_block').addClass('empty');
      $('#future_appointment_check').attr('checked', true);
      $('#future_appointment_block').removeClass('empty');
      $('#future_appointment_followup_block').show();
    });
    
    $('.future_appointment_followup').bind('change', function(){
      $('#future_appointment_followup_check').attr('checked', true);
      set_future_followup_block_print_visibility();
    });
    
    $('#future_appointment_followup_check').bind('change', function(){
      set_future_followup_block_print_visibility();
    });
  
    $(document).ready( function(){
      $('#future_appointment_followup_block').hide();
    });
        
%input.btn{"type" => "button", "value" => "Print", "onclick" => "print_patient_information()"}