- title "#{@clinic.name}"

%h2= @clinic.name

%h5.specialty_links= @clinic.specializations.collect(){ |s| s.name }.to_sentence

%h6 Your Appointment Information

%p
  %input{"type" => "checkbox"}
  Your appointment is on 
  %input{"type" => "text"}
  at
  %input{"type" => "text"}

%p
  %input{"type" => "checkbox"}
  %select
    %option Our office
    %option The #{@clinic.name}
  will call you once your appointment is booked.  

%p.indent
  %input{"type" => "checkbox"}
  If you haven't had heard about your appointment date within
  %select
    %option
    %option 1 week
    %option 2 weeks
    %option 1 month
    %option 2 months
  please call
  %select
    %option
    %option our office.
    %option the #{@clinic.name}.
  
-if @clinic.patient_instructions.present? 
  %h6 Appointment Instructions
  %p= @clinic.patient_instructions.end_with_period
    
- if @clinic.cancellation_policy.present?
  %h6 Cancellation Policy
  %p= @clinic.cancellation_policy.end_with_period
  
%h6 Clinic Information

%p= @clinic.phone_only if @clinic.phone_only.present?

- address = @clinic.resolved_address
- if @clinic.location.present? && @clinic.location.in_hospital?
  - hospital = @clinic.location.hospital_in
  %p= "In #{hospital.name}"
  - if address.present? && !address.empty?
    %p= address.address 
    %p= @clinic.location.in_details if @clinic.location.in_details.present?
    %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
- elsif address.present? && !address.empty?
  %p= address.address
  %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
  
%script{"type" => "text/javascript"}
  :plain
    function print_patient_information()
    {
      window.print();
    }
  
    //$(document).ready( print_patient_information );
        
%input.btn{"type" => "button", "value" => "Print", "onclick" => "print_patient_information()"}