- if @is_version
  = render 'versions/info'
  
%h2
  = @clinic.name
%h4.specialty_links
  = @clinic.specializations_including_in_progress.reject{ |s| s.in_progress and !current_user_is_admin? }.collect(){ |s| "<a href='#{specialization_path(s)}' class='#{ s.in_progress ? "in-progress ajax" : "ajax" }'>#{s.name}</a>" }.to_sentence.html_safe
  
- if not @clinic.responded
  %p
    This clinic has not yet provided Pathways their information
- else
    
  - @clinic.addresses.each do |address|
    - next if address.blank?
    %p
      = link_to address.address, address.map_url, :target => "_blank", :class => "address"
    %p.collapse_up
      = address.phone_and_fax
    - if address.hospital
      %p.collapse_up
        In 
        %a.ajax{"href" => hospital_path(address.hospital)}= address.hospital.name
        
  %p
    %strong{ :class => "status_#{@clinic.status_class}"}= @clinic.status
    - if not @clinic.limitations.blank?
      %p.collapse_up
        %strong Limitations:
        = @clinic.limitations
    - if not @clinic.location_opened.blank?
      %p.collapse_up
        This clinic opened
        = @clinic.location_opened == "Prior to 2010" ? @clinic.location_opened.downcase : "in #{@clinic.location_opened}"

  - if not @clinic.languages.blank?
    %p
      %strong.language= @clinic.languages.map{ |x| x.name }.to_sentence
      - if @clinic.languages.count > 1
        are spoken at this practice
      - else
        is spoken at this practice
        
  .investigation  
    - if not @clinic.required_investigations.blank?
      %p
        %strong Required investigations for all patients:
        = @clinic.required_investigations
    - specialization_procedures, specialization_count = compressed_procedures_indented(@clinic, true)
    - if specialization_count > 0
      %p.collapse_up
        %strong Areas of practice
        \- with any 
        %i additional 
        required investigations:
        = specialization_procedures.html_safe
    - custom_procedures, custom_count = compressed_procedures_indented(@clinic, false)
    - if custom_count > 0
      %p.collapse_up
        %strong Other areas of interest
        \- with any 
        %i additional 
        required investigations:
        = custom_procedures.html_safe
  - if not @clinic.interest.blank?
    %p.collapse_up
      %strong Most interested in
      = @clinic.interest
  - if not @clinic.not_performed.blank?
    %p.collapse_up
      %strong Does not see or do
      = @clinic.not_performed
    
  %p
    - if @clinic.accepts_referrals_via.presence and @clinic.responds_via.presence
      %strong.referral Referrals
      = "are accepted by #{@clinic.accepts_referrals_via}, and responded to by #{@clinic.responds_via}"
    - elsif @clinic.accepts_referrals_via.presence
      %strong.referral Referrals
      = "are accepted by #{@clinic.accepts_referrals_via}"
    - elsif @clinic.responds_via.presence
      %strong.referral Referrals
      = "are responded to by #{@clinic.responds_via}"
    
  - if @clinic.referral_form_mask == 1
    %p.collapse_up This office has a referral form
  - elsif @clinic.referral_form_mask == 2
    %p.collapse_up This office does not have a referral form
    
  -if @clinic.waittime.presence
    %p.collapse_up
      Average wait time from referral to appointment:
      %strong= @clinic.waittime
          
  -if @clinic.lagtime.presence
    %p.collapse_up
      Average length of time to notify GP of a booking date:
      %strong= @clinic.lagtime
    
  - if @clinic.patient_can_book_mask == 1
    %p.collapse_up This office accepts direct calls from patients after referral to book their own appointments
  - elsif @clinic.patient_can_book_mask == 2
    %p.collapse_up This office does not accept direct calls from patients after referral to book their own appointments
    
  .red_flag
    - if not @clinic.red_flags.blank?
      %p
        %strong Red flags
        this clinic feels warrants urgent consultation:
        = @clinic.red_flags
    - if not @clinic.urgent_referrals_via.blank?
      %p.collapse_up
        - if @clinic.red_flags.blank?
          %strong Urgent consulation 
        - else
          Urgent consulation
        = "should be referred via #{@clinic.urgent_referrals_via}"
    
  - if not @clinic.healthcare_providers.blank?
    %p
      %strong Healthcare providers 
      who see patients at the clinic:
      != @clinic.healthcare_providers.map{ |x| x.name }.join(", ")\

  - if @clinic.attendances?
    %p
      %strong.attendance Physicians
      who see patients at the clinic:
    %ul
      - @clinic.attendances.each do |attendance|
        - if attendance.is_specialist
          - if attendance.specialist
            %li
              %a.ajax{"href" => specialist_path(attendance.specialist)}= attendance.specialist.name
              = "- #{attendance.area_of_focus}" if not attendance.area_of_focus.blank?
        - else
          %li
            = attendance.freeform_name
            = "- #{attendance.area_of_focus}" if not attendance.area_of_focus.blank?
            
- if current_user_is_admin?
  - if not @clinic.controlling_users.blank?
    %p.admin
      %strong.control Users 
      that can edit this clinic:
      != @clinic.controlling_users.map{ |user| "<a class='ajax' href='#{user_path(user)}'>#{user.name}</a>" }.to_sentence

%p.admin.btn-group
  - if can? :update, @clinic
    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_clinic_path(@clinic), :class => "btn ajax")
  - if current_user_is_admin?
    = link_to("<i class='icon-folder-open'></i>".html_safe + " History", clinic_versions_path(@clinic), :class => "btn ajax")
  - if can? :destroy, @clinic
    = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @clinic, :confirm => "Delete #{@clinic.name}?", :method => :delete, :class => "btn")

