- set_page_specific_title @clinic.name

- if !current_user.as_introspective?
  = render "partials/body_panel_nav",
    specialization: dropdown_specialization(@clinic, current_user)

.content-wrapper

  - if @is_version
    = render 'versions/info', instance_name: "clinic"

  .content
    .row
      .span7half

        = render "clinics/show/header"

        = render "clinics/show/clinic_information"

        = render "clinics/show/referrals"

        = render "clinics/show/urgent_referrals"

        - if show_clinic_section?(@clinic, :teleservices)
          = render "teleservices/index", provider: @clinic

        = render "clinics/show/patient_information"

        = render "clinics/show/healthcare_providers"

        = render "clinics/show/physicians"

      = render "profiles/show/sidebar", profile: @clinic, aop_method: :open?

  = render "clinics/show/user_editors"

  = render "clinics/show/review"

  = render "clinics/show/user_buttons"

  = render "clinics/show/admin_buttons"

= render "clinics/show/scripts"
