/ - title "Specialist"

%h1
  = @clinic.name
%h2
  = "#{@clinic.specializations.collect(){ |s| s.name }.join(", ")}"
  
- @clinic.addresses.each do |address|
  - next if address.empty?
  %p
    %i
      = address.address
      %br
      = "#{address.phone1}, fax: #{address.fax}"
      - if address.hospital
        %br
        = "In #{address.hospital.name}"
      
%p
  %strong Status:
  = @clinic.status
  %br
  %strong Other practice Limitations (if any):
  = @clinic.limitations
  %br
  %strong Practice opened at this location:
  = @clinic.location_opened
  %br
  %strong Languages spoken at the practice:
  = @clinic.languages.map{ |x| x.name }.join(", ")
  
%p
  %strong Investigations required for all patients:
  = @clinic.required_investigations
  %br
  %strong Area of practice:
  = compressed_procedures_indented(@clinic).html_safe
  %br
  %strong Does not see or do:
  = @clinic.not_performed
  
%p
  %strong Accepts referrals via:
  = @clinic.referral_phone ? "phone, " : ""
  = @clinic.referral_fax ? "fax, " : ""
  = @clinic.referral_other_details
  %br
  %strong Has referral form:
  = @clinic.referral_form ? "yes" : "no"
  %br
  %strong Average length of time to notify GP of a booking date:
  = @clinic.lagtime
  %br
  %strong Average wait time from request for consultation to appointment:
  = @clinic.waittime
  %br
  %strong Responds to referrals by:
  = @clinic.respond_by_phone ? "phone, " : ""
  = @clinic.respond_by_fax ? "fax, " : ""
  = @clinic.respond_by_mail ? "mail, " : ""
  = @clinic.respond_to_patient ? "directly to patient" : ""
  %br
  %strong Accepts direct calls from patients after referral to book their own appointments?
  = @clinic.patient_can_book ? "yes" : "no"
  %br
  %strong Conditions (red flags) that clinic feels warrants urgent consultation:
  = @clinic.red_flags
  %br
  %strong Optimal method of referral for urgent appointments:
  = @clinic.urgent_phone ? "phone, " : ""
  = @clinic.urgent_fax ? "fax, " : ""
  = @clinic.urgent_other_details

%p
  %strong Physicians who see patients at the clinic:
  - @clinic.attendances.each do |attendance|
    - if attendance.is_specialist
      - if attendance.specialist
        = link_to(attendance.specialist.name, url_for(attendance.specialist)) + raw("<br/>")
    - else
      = attendance.freeform_name
      
%p
  %strong Healthcare providers who see patients at the clinic:
  = @clinic.healthcare_providers.map{ |x| x.name }.join(", ")

%p
  = link_to "Edit", edit_clinic_path(@clinic)
  |
  = link_to "Destroy", @clinic, :confirm => 'Are you sure?', :method => :delete
  / |
  / = link_to "View All #{@clinic.specialization.name}", specialization_path(@clinic.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path

