- if @is_version
  = render 'versions/info'
  
%h2
  = @clinic.name
%h4
  = "#{@clinic.specializations.collect(){ |s| s.name }.join(", ")}"
  
- if not @clinic.responded
  %p
    This clinic has not yet provided Pathways their information
- else
    
  - @clinic.addresses.each do |address|
    - next if address.empty?
    %p
      = link_to address.address, address.map_url, :target => "_blank", :class => "address"
    %p.collapse_up
      = address.phone_and_fax
    - if address.hospital
      %p.collapse_up
        = "In #{address.hospital.name}"
    - if address.clinic
      %p.collapse_up
        = "In #{address.clinic.name}"
        
  %p
    %strong{ :class => "status_#{@clinic.status_class}"}= @clinic.status
    - if not @clinic.limitations.blank?
      %p.collapse_up
        %strong Limitations:
        = @clinic.limitations
    - if ((not @clinic.location_opened.blank?) and (not @clinic.retired?))
      %p.collapse_up
        This practice opened
        = @clinic.location_opened.downcase

  - if not @clinic.languages.empty?
    %p
      %strong.language= @clinic.languages.map{ |x| x.name }.to_sentence
      - if @clinic.languages.count > 1
        are spoken at this practice
      - else
        is spoken at this practice
        
  .investigation  
    - if not @clinic.required_investigations.empty?
      %p
        %strong Required investigations for all patients:
        = @clinic.required_investigations
    - if not @clinic.procedure_specializations.empty?
      %p.collapse_up
        %strong Areas of practice
        \- with any 
        %i additional 
        required investigations:
      = compressed_procedures_indented(@clinic).html_safe
    - if not @clinic.interest.empty?
      %p.collapse_up
        %strong Most interested in
        = @clinic.interest
    - if not @clinic.not_performed.empty?
      %p.collapse_up
        %strong Does not see or do
        = @clinic.not_performed
    
  %p
    %strong.referral Referrals
    - if @clinic.responds_via.empty?
      = "are accepted by #{@clinic.accepts_referrals_via}"
    - else
      = "are accepted by #{@clinic.accepts_referrals_via}, and resonded to by #{@clinic.responds_via}"
    
  - if @clinic.referral_form_mask == 1
    %p.collapse_up This office has a referral form
  - elsif @clinic.referral_form_mask == 2
    %p.collapse_up This office does not have a referral form
    
  -if @clinic.waittime
    %p.collapse_up
      Average wait time from referral to appointment:
      %strong= @clinic.waittime
          
  -if @clinic.lagtime
    %p.collapse_up
      Average length of time to notify GP of a booking date:
      %strong= @clinic.lagtime
    
  - if @clinic.patient_can_book_mask == 1
    %p.collapse_up This office accepts direct calls from patients after referral to book their own appointments
  - elsif @clinic.patient_can_book_mask == 2
    %p.collapse_up This office does not accept direct calls from patients after referral to book their own appointments
    
  .red_flag
    - if not @clinic.red_flags.empty?
      %p.collapse_up
        %strong Red flags
        this office feels warrants urgent consultation:
        = @clinic.red_flags
    - if @clinic.urgent_referrals_via
      %p.collapse_up
        = "The optimal method of referral for urgent consulation is #{@clinic.urgent_referrals_via}"
    
  - if not @clinic.healthcare_providers.empty?
    %p
      %strong.healthcare_provider Hospital privileges:
      %strong Healthcare providers 
      who see patients at the clinic:
      != @clinic.healthcare_providers.map{ |x| x.name }.join(", ")\

  - if not @clinic.attendances.empty?
    %p
      %strong.attendance Physicians
      who see patients at the clinic:
    - @clinic.attendances.each do |attendance|
      - if attendance.is_specialist
        - if attendance.specialist
          = link_to(attendance.specialist.name, specialist_path(attendance.specialist)) + raw("<br/>")
      - else
        = attendance.freeform_name

%p
  = link_to "Edit clinic", edit_clinic_path(@clinic)
  |
  = link_to "Delete clinic", @clinic, :confirm => "Delete #{@clinic.name}?", :method => :delete
  |
  = link_to 'Show all clinics', clinics_path

