- title "#{@clinic.name}"

- specialization = (current_user_is_admin? ? @clinic.specializations : @clinic.specializations.not_in_progress_for_divisions(current_user_divisions)).first || Specialization.not_in_progress_for_divisions(Division.all).first
  
%ul#specialties-menu
  %li.dropdown
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  %li.subsequent{:class => specialization.fully_in_progress_for_divisions(current_user_divisions) && "in-progress"}= link_to specialization.name, specialization_path(specialization), :class => 'ajax'
  
- favorite_class = logged_in? ? (Favorite.find_by_user_id_and_favoritable_id_and_favoritable_type(current_user.id, @clinic.id, "Clinic").present? ? "icon-red" : "icon-text") : "icon-text"
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { $('#user_favorite_clinics_#{@clinic.id}').addClass('#{favorite_class}') });
  
#specialties-dropdown-menu
  .inner
    - specializations = current_user_is_admin? ? Specialization.all : Specialization.not_in_progress_for_divisions(current_user_divisions)
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.fully_in_progress_for_divisions(current_user_divisions) ? "in-progress" : ""}= specialization.name

- has_specialists = specialization.specialists.length > 0

.tabbable
  %ul#content_tabs.nav.nav-tabs
    - if has_specialists
      %li 
        %a#specialists{"href" => "#{specialization_path(specialization)}#specialists"}
          %span Specialists
    %li.active
      %a#clinics{"href" => "#{specialization_path(specialization)}#clinics"}
        %span Clinics
    - ScCategory.specialty.each do |sc_category|
      - if sc_category.all_sc_items_for_specialization_in_divisions(specialization, current_user_divisions).present?
        %li
          %a{"href" => "#{specialization_path(specialization)}##{sc_category.name.remove_whitespace}", "id" => sc_category.name.remove_whitespace}
            %span= sc_category.name

- if @is_version
  = render 'versions/info'

- show_details = false
- show_areas_of_practice = false

.content-wrapper
  - cache(clinic_path(@clinic)) do
    .content
      .row
        .span7half
          .headline-header
          .headline
  
            %h2
              = @clinic.name
              %a{"href" => "javascript:void(0)", "onclick" => "favorite('clinics',#{@clinic.id},'#{escape_javascript(@clinic.name)}')", "title" => "Favourite / un-favourite"}
                %i.icon-heart{"id" => "user_favorite_clinics_#{@clinic.id}"}
        
            %h3.specialty_links
              - self_in_progress = @clinic.in_progress_for_divisions(@clinic.divisions)
              = @clinic.specializations.reject{ |s| !self_in_progress && s.fully_in_progress_for_divisions(@clinic.divisions) }.map{ |s| "<a href='#{specialization_path(s)}' class='#{ s.fully_in_progress_for_divisions(@clinic.divisions) ? "in-progress ajax" : "ajax" }'>#{s.name}</a>" }.to_sentence.html_safe
              
            %h5= @clinic.sector if @clinic.sector?
            
            - if @clinic.not_responded?

              %p.space.no_indent This clinic has not yet provided Pathways their information.
              
            - elsif @clinic.purposely_not_yet_surveyed?
            
              - show_areas_of_practice = true

              %p.space.no_indent This clinic has purposely not yet been surveyed by Pathways. It may be out of our current catchment area, or in a speciality we have yet to fully survey.
              
              - if @clinic.specialists.present?
                %p.space.no_indent
                  %strong Specialists that work in this clinic:
                  != @clinic.specialists.map{ |specialist| "<a href='#{specialist_path(specialist)}' class='ajax')\">#{specialist.name}</a>" }.to_sentence 
              
            - else
            
              - show_details = true
              - show_areas_of_practice = true
                    
              %p.space.no_indent
                %i{:class => @clinic.status_class}
                %strong.status= @clinic.status.end_with_period
              - if @clinic.status_details.present?
                %p.no_indent
                  %strong Details:
                  = @clinic.status_details.end_with_period.convert_newlines_to_br
              - if @clinic.limitations.present?
                %p.no_indent
                  %strong Limitations:
                  = @clinic.limitations.end_with_period.convert_newlines_to_br
          
          .headline-footer
   
          - if show_details    
               
            - address = @clinic.resolved_address
            - if @clinic.sector? || (@clinic.location.present? && @clinic.location.in_hospital?) || (address.present? && !address.empty?) || @clinic.wheelchair_accessible? || @clinic.phone_and_fax.present? || @clinic.scheduled? || @clinic.location_opened.present? || @clinic.languages.present? || @clinic.interpreter_available
              
              %h6 Clinic Information

              %p
                %strong= @clinic.phone_only if @clinic.phone_only.present?
              %p= "Fax: #{@clinic.fax}" if @clinic.fax.present?
              %p= "E-mail: #{mail_to @clinic.email, @clinic.email, :target => '_blank'}".html_safe if @clinic.email?
              %p= "Website: #{link_to @clinic.url, @clinic.url, :target => '_blank'}".html_safe if @clinic.url.present?
              %p= @clinic.contact_details.convert_newlines_to_br if @clinic.contact_details.present?
              - if @clinic.location.present? && @clinic.location.in_hospital?
                - hospital = @clinic.location.hospital_in
                %p= "In #{link_to hospital.name, hospital_path(hospital), :class => 'ajax'}".html_safe
                %p= link_to address.address, address.map_url, :target => "_blank" if address.present? && !address.empty?
                %p= @clinic.location.in_details if @clinic.location.in_details.present?
              - elsif address.present? && !address.empty?
                %p= link_to address.address, address.map_url, :target => "_blank"
              %p= "Wheelchair accessible" if @clinic.wheelchair_accessible?
              - if @clinic.scheduled?
                %p.space
                  %strong Schedule:
                  = @clinic.schedule.collapsed_days_and_hours.join(". ").end_with_period
              
              - if @clinic.location_opened.present?
                %p.space
                  This clinic opened at this location 
                  = @clinic.location_opened == "Prior to 2010" ? "#{@clinic.location_opened.downcase}." : "in #{@clinic.location_opened}."

              - if @clinic.languages.present?
                %p
                  = @clinic.languages.map{ |x| "<a class='ajax' href='#{language_path(x)}'>#{x.name}</a>" }.to_sentence.html_safe
                  = "#{@clinic.languages.count == 1 ? 'is' : 'are' } spoken at this clinic."
              
              - if @clinic.interpreter_available
                %p
                  Interpreter available upon request.
            
            - if @clinic.accepts_referrals_via.present? || @clinic.responds_via.present? || @clinic.referral_form_mask != 3  || @clinic.required_investigations.present? || @clinic.waittime.present? || @clinic.lagtime.present? || @clinic.patient_can_book_mask != 3
              
              %h6 Referrals
                
              - if @clinic.accepts_referrals_via.present?
                %p
                  %strong Accepted by:
                  = @clinic.accepts_referrals_via
              - if @clinic.responds_via.present?
                %p
                  %strong Responded to by:
                  = @clinic.responds_via

              - if @clinic.referral_form_mask == 1
                - referral_form_count = @clinic.referral_forms.reject{|referral_form| not referral_form.form.present?}.length
                %p
                  %strong Referral form:
                  Yes.
                %ul.referral_forms
                  - @clinic.referral_forms.each do |referral_form|
                    - next if not referral_form.form.present?
                    - type = referral_form.form_content_type.split('/').last
                    %li= link_to "#{referral_form.description} (#{type})", referral_form.form.url, :target => "_blank"
              - elsif @clinic.referral_form_mask == 2
                %p 
                  %strong Referral form:
                  No.
                
              - if @clinic.required_investigations.present?
                %p.space
                  %strong Required investigations
                  for all patients:
                  = @clinic.required_investigations.end_with_period.convert_newlines_to_br
                
              -if @clinic.waittime.present?
                %p.space
                  Average non-urgent patient wait time from referral to appointment:
                  %strong= @clinic.waittime
                      
              -if @clinic.lagtime.present?
                %p
                  Average length of time to notify GP of a booking date:
                  %strong= @clinic.lagtime
                  
              - @clinic.focuses.clinic_wait_time.each do |focus|
              
                - if focus.waittime.present? || focus.lagtime.present?
                  %p.space
                    %strong= "#{focus.procedure_specialization.procedure.full_name}:"
                
                  -if focus.waittime.present?
                    %p
                      Average non-urgent patient wait time from referral to appointment:
                      %strong= focus.waittime
                          
                  -if focus.lagtime.present?
                    %p
                      Average length of time to notify GP of a booking date:
                      %strong= focus.lagtime

              - if @clinic.patient_can_book_mask == 1
                %p.space This office accepts direct calls from patients after referral to book their own appointments.
              - elsif @clinic.patient_can_book_mask == 2
                %p.space This office does not accept direct calls from patients after referral to book their own appointments.
            
            - if @clinic.red_flags.present? || @clinic.urgent_referrals_via.present?
              
              %h6 Urgent Referrals
                  
              - if @clinic.urgent_referrals_via.present?
                %p
                  %strong Accepted by: 
                  = @clinic.urgent_referrals_via
              
              - if @clinic.red_flags.present?
                %p
                  %strong Red flags
                  that this clinic feels warrants urgent consultation:
                  = @clinic.red_flags.end_with_period.convert_newlines_to_br
            
            - if @clinic.patient_instructions.present? || @clinic.cancellation_policy.present?
              %h6 Patient Information
            
              - if @clinic.patient_instructions.present?
                %p.space
                  %strong Patient instructions:
                  = @clinic.patient_instructions.end_with_period.convert_newlines_to_br
                  
              - if @clinic.cancellation_policy.present?
                %p.space
                  %strong Cancellation policy:
                  = @clinic.cancellation_policy.end_with_period.convert_newlines_to_br
              
            - if @clinic.healthcare_providers.present?
            
              %h6 Healthcare providers
              
              %p
                %strong Healthcare providers 
                ="who see patients at the clinic: #{@clinic.healthcare_providers.map{ |x| x.name }.join(", ")}"

            - if @clinic.attendances?
            
              %h6 Physicians who see patients at the clinic
              
              %ul
                - @clinic.attendances.each do |attendance|
                  - if attendance.is_specialist
                    - if attendance.specialist
                      %li
                        %a.ajax{"href" => specialist_path(attendance.specialist)}= attendance.specialist.name
                        - if attendance.specialist.billing_number_padded.present?
                          = "- MSP ##{attendance.specialist.billing_number_padded}"
                        = "- #{attendance.area_of_focus}" if attendance.area_of_focus.present?
                  - else
                    %li
                      = attendance.freeform_name
                      = "- #{attendance.area_of_focus}" if attendance.area_of_focus.present?
                      
        - if show_details  || show_areas_of_practice
        
          .span4.offsethalf
            - specialization_procedures, specialization_count, specialization_has_investigations = compressed_procedures_indented(@clinic, ProcedureSpecialization::CLASSIFICATION_FOCUSED)
            - custom_procedures, custom_count, custom_has_investigations = compressed_procedures_indented(@clinic, ProcedureSpecialization::CLASSIFICATION_NONFOCUSED)
            - if specialization_count > 0 || custom_count > 0 || @clinic.interest.present? || @clinic.not_performed.present?
              .well.areas-of-practice
                %h6 Areas of Practice
                      
                .investigation  
                  - if specialization_count > 0
                    - if specialization_has_investigations
                      %p
                        (with any 
                        %i additional 
                        required investigations)
                    .list
                      = specialization_procedures.html_safe
                  - if custom_count > 0
                    %p.space
                      %strong Other areas of interest
                    - if custom_has_investigations
                      %p
                        with any 
                        %i additional 
                        required investigations
                    .list
                      = custom_procedures.html_safe
                  - if @clinic.not_performed.present?
                    %p.space
                      %strong Does not see or do
                    %p= @clinic.not_performed.end_with_period.convert_newlines_to_br
        
    #feedback
      .inner   
        = simple_form_for @feedback, :html => { :class => "ajax feedback_form" } do |f|

          = f.input :feedback, :label => "Please provide us with any updates to #{@clinic.name}'s information"
          = f.input :item_type, :as => :hidden, :value => "Clinic"
          = f.input :item_id, :as => :hidden, :value => @clinic.name

          .form-actions
            %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "send_feedback($('form.feedback_form'))" } Send Feedback
            %a.btn.btn-danger{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeOut(200)"} Cancel
                    
    #feedback_thanks
      .inner
        %h2 Thank you!
        
        %p.space.no_indent= "Thank you for providing your feedback  on #{@clinic.name}. Your contributions help make Pathways a valuable resource for the community."
        
        %p.space.no_indent We will review your feedback in the near future and take action as necessary.
        
        %p.space.no_indent
          %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "$('#feedback_thanks').fadeOut(200)" } Close
            
    %script{"type" => "text/javascript"}
      :plain
        $(document).ready(function() { $('.tt').tooltip({trigger: 'manual'}) });
        
        function send_feedback(form) { 
          $.ajax({
              url: form.attr('action'),
              data: form.serialize(),
              type: 'POST'
          }).success(function(json) {
              $('#feedback').fadeOut(200);
              $('#feedback_item_feedback').val('')
              $('#feedback_thanks').fadeIn(200);
          });
        }
              
  - if current_user_is_admin? &&  @clinic.controlling_users.present?
    %h6 Users that can edit this clinic
    
    %ul
      - @clinic.controlling_users.each do |user|
        %li= link_to user.name, user, :class => 'ajax'
            
  .btn-group
    - if true || show_details
      %a.btn{"href" => clinic_patient_information_path(@clinic), "target" => "_blank"}
        %i.icon-print.icon-text
        Print Information for Patient
    - if !current_user_is_admin? && (can? :update, @clinic)
      %a.btn.btn-primary.ajax{"href" => clinic_self_edit_path(@clinic, @clinic.token)}
        %i.icon-pencil.icon-white
        Update #{@clinic.name}'s information
    - else
      %a.btn{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeIn(200)"}
        %i.icon-bullhorn.icon-text
        Incorrect Information? Let us know

  - if current_user_is_admin?
    
    %p.admin.btn-group
        
      - if @clinic.review_item.present?
        
        = link_to("<i class='icon-list-alt'></i>".html_safe + " Review Pending Changes", clinic_review_path(@clinic), :class => "btn ajax")

      - elsif can? :update, @clinic
        
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Clinic", edit_clinic_path(@clinic), :class => "btn ajax")
        = link_to("<i class='icon-file'></i>".html_safe + " Referral Forms", clinic_referral_forms_path(@clinic), :class => "btn ajax")
        %a.btn{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#share"}
          %i.icon-share
          Share
        = link_to("<i class='icon-folder-open'></i>".html_safe + " History", clinic_versions_path(@clinic), :class => "btn ajax")
          
      - if can? :destroy, @clinic
        
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Clinic", @clinic, :confirm => "Delete #{@clinic.name}?", :method => :delete, :class => "btn")

  - if current_user_is_admin?
    #share.collapse
      %p
        .alert.alert-info
          %h3 Secret edit link
          %p Anyone can edit this clinic if they have the following secret address:
          %p= clinic_self_edit_path(@clinic, @clinic.token, :only_path => false)

