= simple_nested_form_for @entity, :html => { :class => "form-horizontal", :multipart => true } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :referral_form_mask, as: :radio_buttons, collection: Specialist::BOOLEAN_HASH, label_method: :last, value_method: :first, :label => "Does the #{@entity_type} have a referral form?", :input_html => { :class => "referral_form_mask" }
  
  .content#referral_forms
    
    %h4 Referral Forms  
    
    .row
      .span3 Description
      .span4 Referral Form
    - referral_forms = @entity.referral_forms
    - index = 0
    = f.simple_fields_for :referral_forms, :class => "row" do |i|
      .row.spaced
        .span3
          = i.input :description, label: false, wrapper: :no_wrapper, input_html: { class: "span3" }
        .span4
          - referral_form = referral_forms[index]
          - if referral_form.present? && referral_form.form.present?
            = link_to referral_form.form_file_name, referral_form.form.url, :target => "_blank"
          - else
            = i.input :form, as: :file, label: false, wrapper: :no_wrapper, input_html: { class: "span4" }
        .spanhalf
          = i.hidden_field :_destroy
          = i.link_to_remove "<i class='icon-minus-sign'></i>".html_safe, :class => "spanhalf"
      - index += 1
    = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another referral form", :referral_forms, class: "btn")
  
  %script{"type" => "text/javascript"}
    :plain
      $(".referral_form_mask").each( initReferralForms );
    
  .form-actions
    = f.button :submit, :class => "btn btn-primary", :value => "Update referral forms"
    = link_to 'Cancel', url_for(@entity), :class => "btn btn-danger ajax"
