- if !sc_item.nil?
  - if !sc_item.division.nil?
    = link_to sc_item.division.name, division_url(sc_item.division)
  - if sc_item.type.present?
    = "added"
    - if sc_item.format.present?
      - if sc_item.type == "Markdown"
        = "to #{sc_item.sc_category.name}: "
        = link_to "#{sc_item.title}", sc_item_url(sc_item)
      - else
        = link_to(" a new #{sc_item.type.downcase} to #{sc_item.sc_category.name}: ", sc_item_url(sc_item)) #e.g.: "a new Link to Pearls: "
        %strong
          = link_to "#{sc_item.title} [#{sc_item.format.downcase}]", sc_item_url(sc_item) # e.g.: "Pathways Newsletter [pdf]"
    - else
      = "to #{sc_item.sc_category.name} a "
      = link_to "#{sc_item.type.downcase}", sc_item_url(sc_item)
  - if sc_item.specializations.present?
    - @specializations = sc_item.specializations
    = "(#{@specializations.uniq.map(&:name).to_sentence})"

- else
  A shared content item was created which has since been removed.
