= simple_form_for @sc_item, html: { class: "form-horizontal",
  multipart: true } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  %h3 Content Classification

  = f.association :sc_category,
    as: :select,
    collection: @hierarchy,
    include_blank: false

  .control-group
    .control-label
      Item Specialties & Areas of Practice
    .controls
      - Specialization.all.each do |specialization|
        %label
          = check_box_tag "specialization_#{specialization.id}",
            1,
            @has_specializations.include?(specialization.id),
            name: "specialization[#{specialization.id}",
            class: "specialty_check"
          = specialization.name

        .procedures_list{ id: "specialization_#{specialization.id}_procedures" }
          - specialization.arranged_procedure_specializations(:non_assumed).each do |ps,children|
            %label
              = check_box_tag "procedure_specialization_#{ps.id}",
                1,
                @has_procedure_specializations.include?(ps.id),
                name: "procedure_specialization[#{ps.id}",
                class: "offsethalf"
              = ps.procedure.name
            - children.each do |child_ps, grandchildren|
              %label
                = check_box_tag "procedure_specialization_#{child_ps.id}",
                  1,
                  @has_procedure_specializations.include?(child_ps.id),
                  name: "procedure_specialization[#{child_ps.id}",
                  class: "offset1"
                = child_ps.procedure.name

  %h3 Content Options

  - if current_user.as_super_admin?
    = f.input :division_id,
      as: :select,
      collection: Division.all,
      include_blank: false
  - elsif current_user.as_divisions.length > 1
    = f.input :division_id,
      as: :select,
      collection: current_user.as_divisions,
      include_blank: false
  - else
    = f.input :division_id,
      as: :hidden,
      input_html: { value: current_user.as_divisions.first.id }

  = f.input :searchable
  = f.input :borrowable
  - if can? :update_demoable, ScItem
    = f.input :demoable, label: "Available in demonstration database"
  = f.input :shared_care

  %h3 Content

  = f.input :title
  = f.input :type_mask,
    as: :select,
    collection: ScItem::TYPE_HASH,
    label_method: :last,
    value_method: :first,
    include_blank: false

  #link_section
    = f.input :url, input_html: { class: "span5" }
  #markdown_section
    = f.input :markdown_content
  #document_section
    = f.input :document, as: :file
  #can_email_section
    = f.input :can_email, input_html: { id: "can-email-input" }

  - if current_user.as_super_admin?
    #evidence_section
      = f.input :evidence_id,
        as: :select,
        collection: Evidence.all,
        label_method: :level,
        value_method: :id

  %h3
    = "History & Notes"
  = render 'history/nodes', item: f.object, nodes: f.object.history
  = render "notes/fields", parent_fields: f, user: current_user

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', root_url, class: "btn btn-danger"

  %script{ type: "text/javascript" }
    :plain
      function hide_show_procedures( checkbox )
      {
        id = "#" + $(checkbox).prop('id') + "_procedures";
        if ($(checkbox).prop('checked'))
        {
          $(id).show();
        }
        else
        {
          $(id).hide();
        }
        return true;
      }

      $(document).ready(function() {
        $.each($('.specialty_check'), function() { hide_show_procedures(this) });
      });

      $('.specialty_check').click(function() {
        hide_show_procedures(this);
      });

      var type_mask_changed = function()
      {
        if ($(this).val() == 1)
        {
          $("#link_section").show();
          $("#markdown_section").hide();
          $("#document_section").hide();
          if (window.location.pathname == "/content_items/new") {
            $("#can-email-input").attr({"checked" : "checked"});
          }
        }
        else if ($(this).val() == 2)
        {
          $("#link_section").hide();
          $("#markdown_section").show();
          $("#document_section").hide();
        }
        else if ($(this).val() == 3)
        {
          $("#link_section").hide();
          $("#markdown_section").hide();
          $("#document_section").show();
        }
      }

      $(document).ready(function() {
        $("#sc_item_type_mask").each(type_mask_changed);
        $("#sc_item_type_mask").live("change", type_mask_changed);
      });
