- set_page_specific_title "Content Items"

.content-wrapper

  %h2= "#{@division.name} Content Items"

  - categories = ScCategory.all.reject{ |category| category.parent.present? || category.all_owned_sc_items_in_divisions([@division]).blank? }

  .tabbable
    %ul.nav.nav-tabs
      - active = true
      - categories.each do |category|
        %li{:class => active && "active"}
          %a{"href" => "##{category.name.remove_whitespace}_tab", "data-toggle" => "tab"}= category.name
        - active = false


    .tab-content
      - active = true
      - categories.each do |category|
        .tab-pane{"id" => "#{category.name.remove_whitespace}_tab", :class => active && "active"}
          %table.table.table-condensed.table-striped.tablesorter
            %thead
              %tr.tableheader
                %th{:class => "{sorter: 'text'}"} Title
                %th{:class => "{sorter: 'text'}"} Subcategory
                %th{:class => "{sorter: 'text'}"} Specialties
                %th{:class => "{sorter: 'text'}"} Type
                %th{:class => "{sorter: 'text'}", :style => "min-width: 40px"}
                  %i.icon-search
                %th{:class => "{sorter: 'text'}", :style => "min-width: 40px"}
                  %i.icon-envelope
                %th{:class => "{sorter: 'text'}", :style => "min-width: 40px"}
                  %i.icon-share-alt
                %th{:class => "{sorter: 'text'}", :style => "min-width: 40px"}
                  %i.icon-star
                %th.admin

            %tbody
              - category.all_owned_sc_items_in_divisions([@division]).each do |sc_item|
                %tr
                  %td{"width" => "30%"}= link_to sc_item.title, sc_item, :class => 'ajax'
                  %td= sc_item.sc_category != category ? (link_to sc_item.sc_category.name, sc_item.sc_category, :class => 'ajax') : ""
                  %td
                    %ul
                      - sc_item.sc_item_specializations.each do |is|
                        %li
                          = link_to is.specialization.name, is.specialization, :class => 'ajax'
                          - if is.procedure_specializations.present?
                            = ": #{is.procedure_specializations.map{ |ps| link_to ps.procedure.name, ps.procedure, :class => 'ajax' }.to_sentence}".html_safe
                  %td= sc_item.type
                  %td= sc_item.searchable? ? "<i class='icon-search'></i>".html_safe : ""
                  %td= sc_item.can_email? ? "<i class='icon-envelope'></i>".html_safe : ""
                  %td= sc_item.shareable? ? "<i class='icon-share-alt'></i>".html_safe : ""
                  %td= sc_item.shared_care? ? "<i class='icon-star'></i>".html_safe : ""
                  %td.admin.btn-group
                    - if can? :update, sc_item
                      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_sc_item_path(sc_item), :class => "btn btn-mini ajax")
                    - if can? :destroy, sc_item
                      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", sc_item, :confirm => "Delete #{sc_item.title}?", :method => :delete, :class => "btn btn-mini")
          - active = false

  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() { $('.tablesorter').tablesorter({sortList: [[0,0]]}) });

  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Content Item", new_sc_item_path, :class => "btn ajax")
