- set_page_specific_title "#{@sc_item.title}"

- favorite_class = logged_in? ? (Favorite.find_by(user_id: current_user.id,
  favoritable_id: @sc_item.id,
  favoritable_type: "ScItem").present? ? "icon-red" : "icon-text") : "icon-text"

= render "partials/body_panel_nav",
  specialization: dropdown_specialization(@sc_item, current_user)

.content-wrapper.scm

  - if @sc_item.link? || @sc_item.document?

    %ul.no-marker
      %li
        - if @sc_item.shared_care?
          %i.icon-blue.icon-star
        = link_to(@sc_item.title, @sc_item.resolved_url,
          target: "_blank",
          onclick: "window.pathways.trackContentItem(_gaq, #{@sc_item.id})")
      %li
        %a{ href: "javascript:void(0)",
          onclick: "favorite('content_items',#{@sc_item.id},'#{escape_javascript(@sc_item.title)}')",
          title: "Favourite / un-favourite" }
          %i.icon-text.icon-heart{ id: "user_favorite_content_items_#{@sc_item.id}" }
        - if @sc_item.can_email?
          = link_to compose_mail_to_patients_path(@sc_item),
            title: "E-mail to patient" do
            %i.icon-envelope-alt.icon-blue
        - if can? :view_history, @sc_item
          = history_icon(@sc_item)
      %li
        - if show_evidence?(@sc_item.evidence)
          = render partial: "evidences/level",
            locals: { evidence: @sc_item.evidence }

  - elsif @sc_item.markdown?

    %h1
      - if @sc_item.shared_care?
        %i.icon-red.icon-star
      = @sc_item.full_title
      %a{ href: "javascript:void(0)",
        onclick: "favorite('content_items',#{@sc_item.id},'#{escape_javascript(@sc_item.title)}')",
        title: "Favourite / un-favourite" }
        %i.icon-heart{ id: "user_favorite_content_items_#{@sc_item.id}" }
      - if @sc_item.can_email?
        = link_to compose_mail_to_patients_path(@sc_item),
          title: "E-mail to patient" do
          %i.icon-envelope-alt.icon-blue
      - if can? :view_history, @sc_item
        = history_icon(@sc_item)
    - if show_evidence?(@sc_item.evidence)
      %h2
        Level of Evidence:
        %strong
          %span= "LOE=#{ @sc_item.evidence.level}"

    %p= BlueCloth.new(@sc_item.markdown_content).to_html.html_safe

  :javascript
    $(document).ready(function() {
      $('.tt').tooltip({trigger: 'manual'});
      $('[data-toggle="tooltip"]').tooltip();
      $('#user_favorite_content_items_#{@sc_item.id}').
        addClass('#{favorite_class}');
    });

  - if current_user.as_admin_or_super? && @sc_item.borrowable?
    - if @sc_item.divisions.any?
      %h6 Currently Displayed In:

      %ul
        %li= "#{@sc_item.division.name} (owner)"
        - @sc_item.divisions_borrowing.each do |division|
          %li
            %span= division.name
            - if current_user.as_divisions.include?(division)
              %span
                = link_to "(Stop displaying)",
                  borrow_sc_item_path(@sc_item,
                  division_id: division.id,
                  is_borrowed: false),
                  method: :patch

    - if (current_user.as_divisions & @sc_item.borrowable_by_divisions).any?
      %h6 Display This Item In:
      %ul
        - (current_user.as_divisions & @sc_item.borrowable_by_divisions).each do |division|
          %li
            = link_to division.name,
              borrow_sc_item_path(@sc_item,
              division_id: division.id,
              is_borrowed: true),
              method: :patch

  %p.admin.btn-group
    %a.btn{ href: "javascript:void(0)", onclick: open_feedback_modal(@sc_item) }
      %i.icon-bullhorn.icon-text
      Incorrect Information? Let us know

  %p.admin.btn-group
    - if can? :view_history, @sc_item
      = large_history_button(@sc_item)
    - if can? :update, @sc_item
      = link_to edit_sc_item_path(@sc_item),
        class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @sc_item
      = link_to @sc_item,
        data: { confirm: "Delete #{@sc_item.title}?" },
        method: :delete,
        class: "btn" do
        %i.icon-trash
        Delete
