- set_page_specific_title "#{@sc_item.title}"

- specialization = (current_user_is_admin? ? @sc_item.specializations : @sc_item.specializations.not_in_progress_for_divisions(current_user_divisions)).first

- favorite_class = logged_in? ? (Favorite.find_by_user_id_and_favoritable_id_and_favoritable_type(current_user.id, @sc_item.id, "ScItem").present? ? "icon-red" : "icon-text") : "icon-text"

%ul#specialties-menu
  - if specialization.blank?
    %li.dropdown.no-caret
      %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
        All Specialties
        %b.caret
  - else
    %li.dropdown
      %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
        All Specialties
        %b.caret
    %li.subsequent{:class => specialization.fully_in_progress_for_divisions(current_user_divisions) && "in-progress"}
      = link_to specialization.name, specialization_path(specialization), :class => 'ajax'
      = "<span class='new'>new</span>".html_safe if specialization.new_for_divisions(current_user_divisions)

= render 'partials/specialization_dropdown_menu'

- if specialization.present?
  = render 'partials/specialization_nav', :specialization => specialization, :selected => "category_#{@sc_item.root_category.id}"

.content-wrapper.scm

  - if @sc_item.link? || @sc_item.document?

    %ul.no-marker
      %li
        - if @sc_item.shared_care?
          %i.icon-blue.icon-star
        = link_to(@sc_item.title, @sc_item.resolved_url, :target => "_blank", "onclick" => "window.pathways.trackContentItem(_gaq, #{@sc_item.id})")
      %li
        %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{@sc_item.id},'#{escape_javascript(@sc_item.title)}')", "title" => "Favourite / un-favourite"}
          %i.icon-text.icon-heart{"id" => "user_favorite_content_items_#{@sc_item.id}"}
        - if @sc_item.can_email?
          = link_to "<i class='icon-envelope-alt icon-blue'></i>".html_safe, compose_mail_to_patients_path(@sc_item), :class => 'ajax', :title => "E-mail to patient"
        - if can? :view_history, @sc_item
          = history_icon(@sc_item)

  - elsif @sc_item.markdown?

    %h1
      - if @sc_item.shared_care?
        %i.icon-red.icon-star
      = @sc_item.full_title
      %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{@sc_item.id},'#{escape_javascript(@sc_item.title)}')", "title" => "Favourite / un-favourite"}
        %i.icon-heart{"id" => "user_favorite_content_items_#{@sc_item.id}"}

    %p= BlueCloth.new(@sc_item.markdown_content).to_html.html_safe

  #feedback
    .inner
      = simple_form_for @feedback, :html => { :class => "ajax feedback_form" } do |f|

        = f.input :feedback, :label => "Please provide us with any comments about #{@sc_item.title}"
        = f.input :item_type, :as => :hidden, :value => "ScItem"
        = f.input :item_id, :as => :hidden, :value => @sc_item.id

        .form-actions
          %a.btn.btn-primary{:id => "sendFeedbackButton", "href" => "javascript:void(0)", "onclick" => "send_feedback($('form.feedback_form'))" }
            .before-click
              Send Feedback
            .after-click.hidden
              Sending
          %a.btn.btn-danger{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeOut(200)"} Cancel

  #feedback_thanks
    .inner
      %h2 Thank you!

      %p.space.no_indent= "Thank you for providing your feedback  on #{@sc_item.title}. Your contributions help make Pathways a valuable resource for the community."

      %p.space.no_indent We will review your feedback in the near future and take action as necessary.

      %p.space.no_indent
        %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "$('#feedback_thanks').fadeOut(200)" } Close

  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        $('.tt').tooltip({trigger: 'manual'});
        $('#user_favorite_content_items_#{@sc_item.id}').addClass('#{favorite_class}');
      });

      function send_feedback(form) {
        $("#sendFeedbackButton").addClass('disabled');
        $('.before-click').addClass('hidden');
        $('.after-click').removeClass('hidden');
        $.ajax({
            url: form.attr('action'),
            data: form.serialize(),
            type: 'POST'
        }).success(function(json) {
            $("#sendFeedbackButton").removeClass('disabled');
            $('.after-click').addClass('hidden');
            $('.before-click').removeClass('hidden');
            $('#feedback').fadeOut(200);
            $('#feedback_item_feedback').val('')
            $('#feedback_thanks').fadeIn(200);
        });
      }

  - if (current_user_is_admin? || current_user_is_super_admin?) && @sc_item.shareable?
    - if @sc_item.divisions.any?
      %h6
        = "Currently Displayed In: "

      %ul
        %li= "#{@sc_item.division.name} (owner)"
        - @sc_item.divisions_sharing.each do |division|
          %li
            %span= division.name
            - if current_user_divisions.include?(division)
              %span
                = link_to "(Stop displaying)",
                  share_sc_item_path(@sc_item, division_id: division.id, is_shared: false),
                  method: :put

    - if (current_user_divisions & @sc_item.borrowable_by_divisions).any?
      %h6= "Display This Item In:"
      %ul
        - (current_user_divisions & @sc_item.borrowable_by_divisions).each do |division|
          %li
            = link_to division.name,
              share_sc_item_path(@sc_item, division_id: division.id, is_shared: true),
              method: :put

  %p.admin.btn-group
    %a.btn{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeIn(200)"}
      %i.icon-bullhorn.icon-text
      Incorrect Information? Let us know

  %p.admin.btn-group
    - if can? :view_history, @sc_item
      = large_history_button(@sc_item)
    - if can? :update, @sc_item
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_sc_item_path(@sc_item), :class => "btn ajax")
    - if can? :destroy, @sc_item
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @sc_item, :confirm => "Delete #{@sc_item.title}?", :method => :delete, :class => "btn")
