- title "Pathways | #{@sc_item.title}"

- specialization = @sc_item.specializations.first || Specialization.all.first
    
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      Specialties
      %b.caret
  %li.subsequent= link_to specialization.name, specialization, :class => "ajax"
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

- has_specialists = specialization.specialists.length > 0
- has_clinics = specialization.clinics.length > 0

.tabbable
  %ul#content_tabs.nav.nav-tabs
    - if has_specialists
      %li
        %a#specialists{"href" => "#{specialization_path(specialization)}#specialists"}
          %span Specialists
    - if has_clinics
      %li
        %a#clinics{"href" => "#{specialization_path(specialization)}#clinics"}
          %span Clinics
    - ScCategory.all.each do |sc_category|
      - if sc_category.sc_items.for_specialization(specialization).present?
        %li{:class => @sc_item.sc_category == sc_category && "active"}
          %a{"href" => "#{specialization_path(specialization)}##{sc_category.name.remove_whitespace}_tab"}
            %span= sc_category.name
            
.content-wrapper.scm
  
  - if @sc_item.link?
  
    %p= link_to @sc_item.title, @sc_item.url, :target => "_blank"
    
  - else
  
    %p= BlueCloth.new(@sc_item.markdown_content).to_html.html_safe
  
  %p.admin.btn-group
    - if can? :update, @sc_item
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_sc_item_path(@sc_item), :class => "btn ajax")
    - if can? :destroy, @sc_item
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @sc_item, :confirm => "Delete #{@sc_item.title}?", :method => :delete, :class => "btn")