= simple_form_for(@evidence, html: { class: "form-horizontal" }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :level
    = f.input :quality_of_evidence
    = f.input :definition

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', evidences_path, class: "btn btn-danger"
