- title "FAQ"

= render "faq_categories/specialization_dropdown"

.content-wrapper
  .content#faq
    .row
      .span8.offset2
        %h1
          = "#{@category.name} FAQ"

        - @category.sorted_by_index.each do |faq|
          %h2
            = faq.question
          %p
            = BlueCloth.new(faq.answer_markdown).to_html.html_safe
