- title "FAQ"

= render "faq_categories/specialization_dropdown"

.content-wrapper
  .content#faq
    .row
      .span8.offset2
        %h1
          = "#{@category.name} FAQ"

        - @category.sorted_by_index.each do |faq|
          %h2
            %span= faq.question
            - if can? :update, Faq
              %span
                = link_to edit_faq_path(faq), target: "_blank" do
                  %i.icon-pencil

          %p
            = BlueCloth.new(faq.answer_markdown).to_html.html_safe
