- set_page_specific_title "Contact Us"

.content-wrapper
  %h2 Contact Pathways Administration

  = simple_form_for @feedback_item,
    url: submit_contact_path,
    html: { class: "form-horizontal" } do |f|

    = f.input :freeform_name,
      label: "Your name",
      placeholder: "Name",
      input_html: {value: current_user.authenticated? ? current_user.name : ""}
    = f.input :freeform_email,
      label: "Your email",
      placeholder: "Email",
      input_html: {value: current_user.authenticated? ? current_user.email : ""}
    = f.input :feedback,
      label: "How can we help?",
      as: :text,
      input_html: { cols: 400, rows: 5, style: "width: 500px;" }

    .form-actions
      = f.button :submit, "Submit", class: "btn btn-primary"
