#contact_admin_modal
  .inner
    .message
      %h1 Contact Pathways Administration

      = simple_form_for Message.new,
        url: messages_path,
        html: { class: "form-horizontal contact_admin_form" } do |f|

        = f.input :name,
          label: 'Your name',
          input_html: { value: current_user.name }

        = f.input :email,
          label: 'Your e-mail',
          input_html: { value: current_user.email }

        = f.input :subject,
          label: 'Message subject',
          input_html: { value: "Pathways Comment" }

        = f.input :body,
          label: 'Message body',
          as: :text,
          input_html: { rows: 3 }

        .form-actions
          = link_to "Send Message",
            "javascript:void(0)",
            onclick: "send_message($('form.contact_admin_form'))",
            class: "btn btn-primary"

          = link_to "Cancel",
            "javascript:void(0)",
            onclick: "$('#contact_admin_modal').fadeOut(200)",
            class: "btn btn-danger"

#contacted_admin_modal
  .inner
    %h2 Message sent!

    %p.space.no_indent
      = "Thank you for providing your comments to Pathways. We will review your message in the near future, and respond as necessary."

    %p.space.no_indent
      = link_to "Close",
        "javascript:void(0)",
        onclick: "$('#contacted_admin_modal').fadeOut(200)",
        class: "btn btn-primary"

:javascript
  function show_contact_modal(){
    $('#contact_admin_modal').show();
  }

  function send_message(form){
    $(document.body).addClass('loading');
    $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: 'POST',
        dataType: "json",
    }).success(function(json) {
        $('#contact_admin_modal').fadeOut(200);
        $('#contacted_admin_modal').fadeIn(200);
    }).complete(function() {
        $(document.body).removeClass('loading');
    });
  }
