.content-wrapper#login
  .content
    .row
      .span8.offset4
        = simple_form_for Message.new,
          url: messages_path do |f|

          %h2{style: "margin-bottom: 10px"} Contact Pathways Administration

          = f.input :name,
            label: 'Your name',
            input_html: { class: "form__input--auto_width" }

          = f.input :email,
            label: 'Your e-mail address',
            input_html: { class: "form__input--auto_width" }

          = f.input :subject,
            label: 'Message Subject',
            input_html: { class: "form__input--auto_width" }

          = f.input :body,
            label: 'Message body',
            as: :text,
            input_html: { rows: 3, cols: 48, class: "form__input--auto_width" }

          = f.submit "Submit",
            class: "btn btn-primary"
