- if @city.present?
  - set_page_specific_title "Offices in #{@city.name}"
  %h2= "Offices in #{@city.name}"
- else
  - set_page_specific_title "Offices"
  %h2 All Offices

.content-wrapper

  %table.table.table-condensed.table-striped.tablesorter
    %thead
      %tr.tableheader
        %th{ class: "{sorter: 'text'}", style: "width:60%" } Address
        %th{ class: "{sorter: 'text'}", style: "width:40%" } Specialists
        %th.admin
    %tbody
      - @offices.each do |office|
        %tr
          %td
            = link_to "#{office.short_address.present? ? office.short_address |
              : 'Office'}",                                                   |
              office
          %td
            %ul
              - office.specialists.each do |specialist|
                %li= link_to specialist.name, specialist
          %td.admin.btn-group
            = link_to edit_office_path(office),
              class: "btn btn-mini stacked-button" do
              %i.icon-pencil
              Edit
            = link_to office,                                            |
              data: { confirm: "Delete #{office.short_address.present? ? |
              office.short_address : "office"}?" },                      |
              method: :delete,
              class: "btn btn-mini stacked-button" do
              %i.icon-trash
              Delete

  :javascript
    $(document).ready(function() { $('.tablesorter').tablesorter() });
