- address = @office.full_address

- set_page_specific_title address

.content-wrapper

  %h2= "Specialist working at #{address}"

  %table.table.table-condensed.tablesorter{id: 'specialist_table'}
    %thead
      %tr{ class: 'tableheader' }
        %th{ class: "{sorter: 'bylastname'}" } Specialist
        %th{ class: "{sorter: 'text'}" } Specialty
        %th{ class: "{sorter: 'waittime'}" } Wait Time
        %th{ class: "{sorter: 'blanks_to_bottom'}" } City
    %tbody
      - (@office.specialists).each do |specialist|
        %tr
          %td
            %a{ href: specialist_path(specialist) }= specialist.name
          %td
            %ul
              - specialist.specializations.each do |s|
                %li= s.name
          %td= specialist.waittime
          %td= specialist.cities.first

  %p.admin.btn-group
    - if can? :update, @office
      = link_to edit_office_path(@office),
        class: "btn" do
        %i.icon-pencil
        Edit Office
    - if can? :destroy, @office
      = delete_button(@office, "Delete Office?")
