- title "Change your password"

.content-wrapper

  %h2 Change your password

  %p.space.no_indent= "#{@user.name}, please set a new password below."

  = simple_form_for @user, :url => {:controller => "password_resets", :action => "update"} do |f|
    
    = f.input :password, :hint => "Your password must be at least 8 characters long
    = f.input :password_confirmation
    = f.button :submit, "Set password", :class => "btn btn-primary"
