= simple_form_for(@faq, method: action == :new ? :post : :patch) do |f|
  - if action == :new
    = f.association :faq_category
  - else
    = f.label :faq_category, "Category: #{@faq.category_name}"
  = f.input :question,
    as: :text,
    input_html: { class: "faq_editor__textarea faq_editor__textarea--question" }
  = f.input :answer_markdown,
    as: :text,
    label: "Answer",
    hint: "*Learn more about markdown syntax #{link_to('here',
    ' http://daringfireball.net/projects/markdown/syntax')}".html_safe,
    input_html: { class: "faq_editor__textarea faq_editor__textarea--answer" }

  = f.button :submit, class: "btn btn-primary inline-buttons"
  - if action == :edit
    = delete_button(faq_path(faq), "Delete FAQ?")
