- Specialization.all.each do |specialization|
  %label
    = check_box_tag "#{form_target_type(f.object)}[specialization_ids][]",
      specialization.id,
      f.object.specializations.include?(specialization),
      id: "#{form_target_type(f.object)}_specialization_ids_#{specialization.id}"
    = specialization.name

  .procedures_list
    = nested_procedure_checkboxes(f.object, specialization.arranged_procedure_specializations(:non_assumed))
