.toolbar
  %a.button#backButton{:href => "#"}= ""
  %h1#pageTitle= "Pathways"
/ %a.button{:href => "#searchForm"}= "Search"


%ul#home{:title => "Specialities", :selected => "true"}
  - Specialization.all.each do |specialization|
    %li
      %a{:href => "#s_#{specialization.id}", :onclick => "javascript:linkto('" + specialization_path(specialization) +"')"}= specialization.name

- Specialization.all.each do |specialization|

  - specialization_id = "s_#{specialization.id}"
  
  %ul{:id => specialization_id, :title => specialization.name}
    - if not specialization.clinics.empty?
      %li
        %a{:href => "##{specialization_id}_clinics"}= "Clinics"
        
    - specialization.procedure_specializations_arranged.each do |ps, children|
      %li
        - if children.empty?
          %a{:href => "#p_#{ps.procedure.id}", :onclick => "javascript:linkto('#{procedure_path(ps.procedure)}')"}= ps.procedure.name
        - else
          %a{:href => "##{specialization_id}_#{ps.procedure.id}", :onclick => "javascript:linkto('#{procedure_path(ps.procedure)}')"}= ps.procedure.name
      
  - specialization.procedure_specializations_arranged.each do |ps, children|
    - if not children.empty?
      = add_procedure_specialization("#{specialization_id}_#{ps.procedure.id}", ps, children).html_safe

  - if not specialization.clinics.empty?
    %ul{:id => "#{specialization_id}_clinics", :title => specialization.name + " Clinics"}
      - specialization.clinics.each do |clinic|
        %li
          %a.noarrow{:href => "javascript:linkto('" + url_for(clinic) + "')"}= clinic.name
          
- Procedure.all.each do |procedure|
  - next if not procedure.specialization_level
  %ul{:id => "p_#{procedure.id}", :title => procedure.name}
    - procedure.specialists.each do |specialist|
      %li
        %a.noarrow{:href => "javascript:linkto('" + url_for(specialist) + "')"}= specialist.name
