- if @review_item.present?
  :javascript
    // pass variables to the review script
    window.pathways = window.pathways || {};
    (function( formData ) {
      formData.baseReviewItem = #{@review_item.transformed_base_object(@specialist) || 'null'};
      formData.reviewItem = #{@review_item.transformed_review_object(@specialist) || 'null'};
      formData.maxLocations = #{Specialist::MAX_OFFICES};
      formData.interactionType = "#{@form_modifier.interaction_type.to_s}";
      formData.recordKey = "specialist";
    }( window.pathways.formData = {} ));

  = javascript_include_tag "views/form_review"

- if @specialization
  :javascript
    $(document).ready(function() {
      var specialty_checkbox_id = "#specialist_specialization_ids_#{@specialization.id}";
      $(specialty_checkbox_id).prop("checked", true);
    });

= render "specialists/form/top_matter"

.form-wrapper.hidden#hiding-container
  = simple_nested_form_for @specialist,
    url: { controller: params[:controller],
    action: @form_modifier.form_action },
    method: @form_modifier.method,
    html: { class: "form-horizontal specialist_form" } do |f|
    - if not f.error_messages.blank?
      .alert.alert-error= f.error_messages


    = render "specialists/form/general_information", f: f

    = render "specialists/form/details", f: f

    = render "specialists/form/office_contact_information", f: f

    = render "specialists/form/senior_office_contact_information", f: f

    = render "specialists/form/languages", f: f

    = render "specialists/form/areas_of_practice", f: f

    = render "specialists/form/referral_details", f: f

    = render "teleservices/form_fields", f: f

    = render "specialists/form/information_for_patients", f: f

    = render "specialists/form/associations", f:f

    = hidden_field_tag :pre_edit_form_data
    = hidden_field_tag :secret_token_id, @secret_token_id

    = render 'reviewables/notes_fields',
      form_modifier: @form_modifier,
      reviewable: @specialist,
      review_item: @review_item,
      user: current_user,
      form: f

    .form-actions
      - if @form_modifier.token_edit?
        = f.button :submit,
          'Update Specialist with My Changes',
          class: "btn btn-primary submit-referents-form",
          disabled: true
        = f.button :submit,
          'There are No Updates to this Specialist',
          class: "btn btn-success submit-referents-form",
          name: 'no_updates',
          disabled: true
      - elsif @form_modifier.admin_rereview?
        = link_to "Back to record",
          specialist_path(@specialist),
          class: "btn btn-primary"
      - else
        = f.button :submit, class: "btn btn-primary"
        = link_to 'Cancel', @form_modifier.cancel_path, class: "btn btn-danger"

:javascript
  $(document).ready(function() {
    $("select").not('.no-print').each(function(i){
      var $el = $(this);
      var $options = $el.find("option");
      $el.after("<div class='print-only'><ul id=sel"+i+"></ul></div>");
      var $curPrintBox = $("#sel"+i);
      $options.each(function() {
        var selected = $(this).prop('selected') ? "class='selected'" : "";
        $curPrintBox.append("<li " + selected + ">"+$(this).text()+"</li>");
      });
    });
  });
  $(window).load(function() {
    document.getElementById("hiding-container").classList.remove("hidden");
  });

- content_for(:javascript_footer) do
  = javascript_include_tag "views/location_tabs"
  = javascript_include_tag "views/form_data_manager"
