= render "specialists/form/top_matter"

.form-wrapper.hidden#hiding-container
  = simple_nested_form_for @specialist,
    url: { controller: params[:controller],
    action: @form_modifier.form_action },
    method: @form_modifier.method,
    html: { class: "form-horizontal specialist_form" } do |f|
    - if not f.error_messages.blank?
      .alert.alert-error= f.error_messages

    = render "specialists/form/identifying_information", f: f

    = render "specialists/form/profile_usability", f: f

    = render "specialists/form/availability", f: f

    = render "specialists/form/practice_information", f: f

    = render "specialists/form/office_contact_information", f: f

    = render "specialists/form/senior_office_contact_information", f: f

    = render "specialists/form/languages", f: f

    = render "specialists/form/areas_of_practice", f: f

    = render "specialists/form/referral_details", f: f

    = render "teleservices/form_fields", f: f

    = render "specialists/form/information_for_patients", f: f

    = render "specialists/form/associations", f:f

    = hidden_field_tag :pre_edit_form_data
    = hidden_field_tag :secret_token_id, @secret_token_id

    = render 'reviewables/notes_fields',
      form_modifier: @form_modifier,
      reviewable: @specialist,
      review_item: @review_item,
      user: current_user,
      form: f

    = render "specialists/form/buttons", f: f

= render "specialists/form/scripts"
