-# # # Instance Variables Used:
-# @specializations = Will be either Specialization.all or Specialization.find(param[:id])
-# @all_divisions = Division.all
-# @user_divisions = current_user_divisions
-# @first_division = @user_divisions.first

- set_page_specific_title "Specialists"

.content-wrapper
  - if @specializations.length > 1
    %h2
      = "All Specialists <small>(#{Specialist.count} total)</small>".html_safe
  - else
    %h2= "All #{@specializations.first.member_name.pluralize} <small>(#{@specializations.first.specialists.count} total)</small>".html_safe
  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - @all_divisions.each do |division|
        %li{:class => (division == @first_division) && "active"}
          - if @specializations.length > 1
            %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= "#{division.name} (#{Specialist.in_divisions(division).count})"
          - else
            %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= "#{division.name} (#{@specializations.first.specialists.in_divisions(division).count})"
      %li
        %a{"href" => "#no_division_tab", "data-toggle" => "tab"}
          %i.icon-warning-sign
          No Division
          - if @specializations.length > 1
            = "(#{Specialist.no_division.count})"
          - else
            = @specializations.select(&:no_division_specialists?).first.try(:specialists).try(:count)
    .tab-content
      - @all_divisions.each do |division|
        - can_edit = @user_divisions.include? division
        .tab-pane{:id => "#{division.id}_tab", :class => (division == @first_division) && "active"}
          %table.table.table-condensed.table-striped
            - if @specializations.length > 1
              %h3{:style => "font-family: bitter;"}
                = division.present? ? division.name : "No Division"
                Specialists
                = "<small>(#{Specialist.in_divisions(division).count} total)</small>".html_safe
            - else
              %h3{:style => "font-family: bitter;"}
                = "#{@specializations.first.member_name.pluralize}"
                in
                = division.present? ? division.name : "No Division"
                = "<small>(#{@specializations.first.specialists.in_divisions(division).count} total)</small>".html_safe
            - @specializations.each do |specialization|
              - cache("specialists_index_#{specialization.cache_key}_#{specialization.specialists.cache_key}_#{division.cache_key}_#{can_edit}") do
                - specialists = specialization.specialists.in_divisions([division]).sort{ |a,b| (a.lastname || "zzz") <=> (b.lastname || "zzz") }
                - next if specialists.blank?
                %tr{ :class => specialization.fully_in_progress_for_divisions([division]) ? "in-progress" : "" }
                  %th{:style => "width:100%"}= "#{specialization.name} (#{specialists.count})"
                  - if can_edit
                    %th.admin

                - specialists.each do |specialist|
                  %tr
                    %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
                    - if can_edit
                      %td{style: "min-width: 60px"}
                        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
      .tab-pane{:id => "no_division_tab"}
        %table.table.table-condensed.table-striped
          - if @specializations.length > 1
            %h3{:style => "font-family: bitter;"}
              No Division Specialists
              = "<small>(#{Specialist.no_division.count} total)</small>".html_safe
          - @specializations.select(&:no_division_specialists?).each do |specialization|
            - cache("specialists_index_no_division_tab_#{specialization.cache_key}_#{specialization.specialists.cache_key}", expires_in: 7.days) do # expires_in used only as a fail safe in case recache fails
              %tr
                %th{:style => "width:100%"}=specialization.name
                %th.admin

              - specialization.no_division_specialists.each do |specialist|
                %tr
                  %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
                  %td{style: "min-width: 60px"}
                    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
