-# # # Instance Variables Used:
-# @specializations = Will be either Specialization.all or Specialization.find(param[:id])
-# @all_divisions = Division.all
-# @user_divisions = current_user_divisions
-# @first_division = @user_divisions.first

- set_page_specific_title "Specialists"

-# - all_specialists = Specialist.with_cities.includes(:specializations).all


.content-wrapper
  - if @specializations.length > 1
    %h2 All Specialists
  - else
    %h2= "#{@specializations.first.name} Specialists"
  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - @all_divisions.each do |division|
        %li{:class => (division == @selected_division) && "active"}
          %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= division.name
      %li
        %a{"href" => "#no_division_tab", "data-toggle" => "tab"} No Division
    .tab-content
      - @all_divisions.each do |division|
        .tab-pane{:id => "#{division.id}_tab", :class => (division == @selected_division) && "active"}
          - if division == @selected_division
            = render "division_partial",
              user_divisions: @user_divisions,
              division: division,
              specializations: @specializations
          - else
            #heartbeat-loader-position
              .heartbeat-loader
      .tab-pane{:id => "#0_tab"}
        #heartbeat-loader-position
          .heartbeat-loader

:javascript
  var href = "#{@follow_path}";

  $.get(href).done(function(data){
    $(document).ready(function(){
      data.partials.map(function(partial){
        $("#" + partial.id + "_tab").html(partial.html);
      });
    });
  });
