- set_page_specific_title "Specialists"

.content-wrapper
  - if params[:specialization_id].present?
    %h2
      %span= "All"
      %span= @specialization.member_name.pluralize
      %small= "#{@specialization.specialists.count} total)"
  - else
    %h2
      %span= "All Specialists"
      %small= "(#{Specialist.count} total)"
  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - @divisions_specialists.each do |division, specialists|
        %li
          %a{ href: "##{division.id}_tab", data: { toggle: "tab" } }
            = "#{division.name} (#{specialists.count})"
      %li
        %a{ href: "#no_division_tab", data: { toggle: "tab" } }
          %i.icon-warning-sign
          %span= "No Division (#{@no_division_specialists.length})"
    .tab-content
      - @divisions_specialists.each do |division, specialists|
        .tab-pane{ id: "#{division.id}_tab" }
          %table.table.table-condensed.table-striped
            %h3{ style: "font-family: bitter;" }
              %span= "#{division.name} Specialists"
              %small= specialists.count
            - @specializations.each do |specialization|
              = render "specialists/index/division_specialization",
                division_specialists: specialists,
                division: division,
                specialization: specialization,
                user_divisions: @user_divisions
      .tab-pane{ id: "no_division_tab" }
        %table.table.table-condensed.table-striped
          %h3{ style: "font-family: bitter;" }
            %span= "No Division Specialists"
            %small= @no_division_specialists.count
          - @specializations.each do |specialization|
            = render "specialists/index/division_specialization",
              division_specialists: @no_division_specialists,
              division: nil,
              specialization: specialization,
              user_divisions: @user_divisions

:javascript
  window.pathways.setupTabHistory();
