- title "Specialists"

.content-wrapper

  %h2 Specialists
  
  - if current_user_is_super_admin?
    - divisions = Division.all
  - else
    - divisions = current_user_divisions
  
  - if divisions.length > 1
  
    - first_division = divisions.first
    .tabbable
      %ul#content_tabs.nav.nav-tabs
        - divisions.each do |division|
          %li{:class => (division == first_division) && "active"}
            %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= division.name
            
      .tab-content
        - divisions.each do |division|
          .tab-pane{:id => "#{division.id}_tab", :class => (division == first_division) && "active"} 
            %table.table.table-condensed.table-striped
              - Specialization.all.each do |specialization|
                - specialists = specialization.specialists.in_divisions([division])
                - next if specialists.blank?
                %tr{ :class => specialization.in_progress ? "in-progress" : "" }
                  %th{:style => "width:50%"}
                    %span{ :class => specialization.in_progress ? "in-progress" : "" }=specialization.name= specialization.name
                  %th{:style => "width:50%"} City
                  %th.admin

                - specialists.each do |specialist|
                  %tr
                    %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
                    %td= specialist.cities.map{ |c| c.name}.to_sentence
                    %td.admin.btn-group
                      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path((specialist)), :class => "btn btn-mini ajax")
                      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")

  - else
  
    %table.table.table-condensed.table-striped
      - Specialization.all.each do |specialization|
        - specialists = specialization.specialists.in_divisions(divisions)
        - next if specialists.blank?
        %tr{ :class => specialization.in_progress ? "in-progress" : "" }
          %th{:style => "width:50%"}= specialization.name
          %th{:style => "width:50%"} City
          %th.admin

        - specialists.each do |specialist|
          %tr
            %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
            %td= specialist.cities.map{ |c| c.name}.to_sentence
            %td.admin.btn-group
              = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path((specialist)), :class => "btn btn-mini ajax")
              = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")
