- title "Specialists"

.content-wrapper

  %h2 Specialists
  
  - if current_user_is_super_admin?
    - divisions = Division.all
  - else
    - divisions = current_user_divisions

  - first_division = divisions.first
  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - divisions.each do |division|
        %li{:class => (division == first_division) && "active"}
          %a{"href" => "##{division.id}_tab", "data-toggle" => "tab"}= division.name
      %li
        %a{"href" => "#no_division_tab", "data-toggle" => "tab"} No Division

          
    .tab-content
      - divisions.each do |division|
        .tab-pane{:id => "#{division.id}_tab", :class => (division == first_division) && "active"} 
          %table.table.table-condensed.table-striped
            - @specializations.each do |specialization|
              - specialists = specialization.specialists.in_divisions([division]).sort{ |a,b| a.lastname <=> b.lastname }
              - next if specialists.blank?
              %tr{ :class => specialization.fully_in_progress_for_divisions([division]) ? "in-progress" : "" }
                %th{:style => "width:100%"}=specialization.name
                %th.admin

              - specialists.each do |specialist|
                %tr
                  %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
                  %td.admin.btn-group
                    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
                    = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")
                      
      .tab-pane{:id => "no_division_tab"}
        %table.table.table-condensed.table-striped
          - @specializations.each do |specialization|
            - specialists = specialization.specialists.reject{ |s| s.cities.length > 0 }
            - next if specialists.blank?
            %tr
              %th{:style => "width:100%"}=specialization.name
              %th.admin

            - specialists.each do |specialist|
              %tr
                %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
                %td.admin.btn-group
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
                  = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")
