.content-wrapper

  %h2= "Add or Change #{@specialist.formal_name}'s Photo"
  
  = simple_form_for @specialist, :url => {:action => :update_photo}, :html => { :class => "form-horizontal", :multipart => true } do |f|
  
    - if not f.error_messages.blank?
      .alert.alert-error= f.error_messages

    = f.input :photo
        
    .form-actions
      = f.button :submit, :class => "btn btn-primary", :value => "Update photo"
      = link_to 'Cancel', url_for(@specialist), :class => "btn btn-danger ajax"
