- set_page_specific_title "#{@specialist.formal_name}"

%h2
  = @specialist.formal_name
  = "(#{@specialist.sex})" if @specialist.sex?

%h5.specialty_links
  = @specialist.specializations.collect(){ |s| s.name }.to_sentence

%h6#name
  Appointment Information
  %span#for.empty for
  %input.name.empty{ type: "text", placeholder: "Patient Name" }

%p#specific_appointment_block.empty
  %input.specific_appointment#specific_appointment_check{ type: "radio",
    name: "appointment" }
  Your appointment is on
  %input.specific_appointment#specific_appointment_date{ type: "text",
    placeholder: "Date" }
  at
  %input.specific_appointment#specific_appointment_time{ type: "text",
    placeholder: "Time" }

%p#future_appointment_block
  %input.future_appointment#future_appointment_check{ type: "radio",
    name: "appointment",
    checked: "checked" }
  %select.future_appointment#future_appointment_call_selection
    - if @specialist.respond_to_patient?
      %option Our office
      %option{ selected: "selected" } #{@specialist.formal_name}'s office
    - else
      %option{ selected: "selected" } Our office
      %option
        #{@specialist.formal_name}'s office will call you once your
        appointment is booked.

%p.indent#future_appointment_followup_block.empty
  %input#future_appointment_followup_check{ type: "checkbox" }
  :preserve
    If you haven't heard about your appointment date within

  %select.future_appointment_followup#followup_interval>
    %option
    %option 1 week (by #{DateTime.now.since(1.week).to_date.strftime("%b %d, %Y")})
    %option 2 weeks (by #{DateTime.now.since(2.week).to_date.strftime("%b %d, %Y")})
    %option 1 month (by #{DateTime.now.since(1.month).to_date.strftime("%b %d, %Y")})
    %option 2 months (by #{DateTime.now.since(2.month).to_date.strftime("%b %d, %Y")})
    %option 4 months (by #{DateTime.now.since(4.month).to_date.strftime("%b %d, %Y")})
    %option 6 months (by #{DateTime.now.since(6.month).to_date.strftime("%b %d, %Y")})
    %option 8 months (by #{DateTime.now.since(8.month).to_date.strftime("%b %d, %Y")})
    %option 12 months (by #{DateTime.now.since(12.month).to_date.strftime("%b %d, %Y")})
    %option 14 months (by #{DateTime.now.since(14.month).to_date.strftime("%b %d, %Y")})
    %option 18 months (by #{DateTime.now.since(18.month).to_date.strftime("%b %d, %Y")})
    %option 24 months (by #{DateTime.now.since(24.month).to_date.strftime("%b %d, %Y")})
  , please call
  %select.future_appointment_followup#followup_call_selection
    %option
    %option our office.
    %option #{@specialist.formal_name}'s office.

  %h6#patient_instruction_header Appointment Instructions

  -if @specialist.patient_instructions.present?
    %p= @specialist.patient_instructions.end_with_period.convert_newlines_to_br

  %textarea#custom_patient_instructions{ placeholder: "Additional patient instructions" }
  #custom_patient_instructions_print

- if @specialist.cancellation_policy.present?
  %h6 Cancellation Policy
  %p= @specialist.cancellation_policy.end_with_period.convert_newlines_to_br
- elsif @clinic.present?
  - if @clinic.cancellation_policy.present?
    %h6 Cancellation Policy
    %p= @clinic.cancellation_policy.end_with_period.convert_newlines_to_br
- if @specialist_office.present?
  - if @specialist_office.office.present?
    %h6 #{@specialist.formal_name}'s Office Information

    %p= @specialist_office.phone_only if @specialist_office.phone_only.present?
    %p= @specialist_office.public_email if @specialist_office.public_email.present?
    %p= @specialist_office.url if @specialist_office.url.present?
    - location = @specialist_office.office.location
    - if location.present?
      - address = location.resolved_address
      - if location.in_hospital?
        - located_in = location.hospital_in
        %p
          In
          = link_to located_in.name, url_for(located_in)
          - if located_in.location.present? && located_in.location.in_hospital?
            - hopsital = located_in.location.hospital_in
            which is in
            = link_to hopsital.name, hospital_path(hopsital)
        %p= location.in_details if location.in_details.present?
      - elsif location.in_clinic?
        - located_in = location.location_in.locatable
        - clinic = located_in.clinic
        %p
          In
          = link_to clinic.name, url_for(clinic)
          - if located_in.location.present? && located_in.location.in_hospital?
            - hopsital = located_in.location.hospital_in
            which is in
            = link_to hopsital.name, hospital_path(hopsital)
        %p= location.in_details if location.in_details.present?
      - if address.present? && !address.empty?
        %p= address.address
        %img{ src: address.map_image(640,240,15,2),
          width: "640",
          height: "240" }

- elsif @clinic_location.present?
  %h6 #{@clinic_location.clinic.name} Information

  %p= @clinic_location.phone_only if @clinic_location.phone_only.present?
  %p= @clinic_location.public_email if @clinic_location.public_email.present?
  %p= @clinic_location.url if @clinic_location.url.present?

  - if @clinic_location.location.present?
    - address = @clinic_location.resolved_address
    - if @clinic_location.location.in_hospital?
      - hospital = @clinic_location.location.hospital_in
      %p= "In #{hospital.name}"
      - if address.present? && !address.empty?
        %p= address.address
        - if @clinic_location.location.in_details.present?
          %p= @clinic_location.location.in_details
        %img{ src: address.map_image(640,240,15,2),
          width: "640",
          height: "240" }
    - elsif address.present? && !address.empty?
      %p= address.address
      %img{ src: address.map_image(640,240,15,2),
        width: "640",
        height: "240" }

:javascript
  function print_information() {
    copy_to_print_helper();
    replace_inputs_with_values();
    window.print();
  }

  function copy_to_print_helper() {
    $('#custom_patient_instructions_print').text(
      $('#custom_patient_instructions').val()
    );
    if ( $('#custom_patient_instructions').val().trim() == "" ) {
      $('#patient_instruction_header').addClass('empty');
    } else {
      $('#patient_instruction_header').removeClass('empty');
    }
    if ( $('#name .name').val().trim() == "" ) {
      $('#name #for').addClass('empty');
      $('#name .name').addClass('empty');
    } else {
      $('#name #for').removeClass('empty');
      $('#name .name').removeClass('empty');
    }
  }

  function set_future_followup_block_print_visibility() {
    if ( $('#future_appointment_followup_check').attr('checked') ) {
      $('#future_appointment_followup_block').removeClass('empty');
    } else {
      $('#future_appointment_followup_block').addClass('empty');
    }
  }

  $('#custom_patient_instructions, .name').bind(
    'keydown keyup keypress cut copy past blur change', function() {
      copy_to_print_helper();
    }
  );

  $('.specific_appointment').bind(
    'keydown keyup keypress cut copy past blur change', function() {
      $('#specific_appointment_check').attr('checked', true);
      $('#specific_appointment_block').removeClass('empty');
      $('#future_appointment_block').addClass('empty');
      $('#future_appointment_followup_block').hide();
    }
  );

  $('.future_appointment').bind('change', function() {
    $('#specific_appointment_block').addClass('empty');
    $('#future_appointment_check').attr('checked', true);
    $('#future_appointment_block').removeClass('empty');
    $('#future_appointment_followup_block').show();
  });

  $('.future_appointment_followup').bind('change', function() {
    $('#future_appointment_followup_check').attr('checked', true);
    set_future_followup_block_print_visibility();
  });

  $('#future_appointment_followup_check').bind('change', function() {
    set_future_followup_block_print_visibility();
  });

  function replace_inputs_with_values() {
    $('#name .name').replaceWith(
      '<span class="name">'+$('#name .name').val()+'</span>'
    );
    $('#specific_appointment_check').detach();
    $('#specific_appointment_date').replaceWith(
      '<span id="specific_appointment_date">'+
      $('#specific_appointment_date').val()+'</span>'
    );
    $('#specific_appointment_time').replaceWith(
      '<span id="specific_appointment_time">'+
      $('#specific_appointment_time').val()+'</span>'
    );
    $('#future_appointment_check').detach();
    $('#future_appointment_call_selection').replaceWith(
      '<span class="future_appointment_call_selection">'+
      $('#future_appointment_call_selection').val()+'</span>'
    );
    $('#future_appointment_followup_check').detach();
    $('#future_appointment_followup_block').removeClass('indent');
    $('#followup_interval').replaceWith(
      '<span class="followup_interval">'+$('#followup_interval').val()+'</span>'
    );
    $('#followup_call_selection').replaceWith(
      '<span class="followup_call_selection">'+
      $('#followup_call_selection').val()+'</span>'
    );
  }

%input.btn{ type: "button", value: "Print", onclick: "print_information()" }
