- title "#{@specialist.name}"

%h2
  = @specialist.formal_name
  = "(#{@specialist.sex})" if @specialist.sex?

%h5.specialty_links= @specialist.specializations_including_in_progress.reject{ |s| s.in_progress and !current_user_is_admin? }.collect(){ |s| s.name }.to_sentence

%h6 Your Appointment Information

%p
  %input{"type" => "checkbox"}
  Your appointment is on 
  %input{"type" => "text"}
  at
  %input{"type" => "text"}

%p
  %input{"type" => "checkbox"}
  %select
    %option
    %option Our office
    %option #{@specialist.formal_name}'s office
  will call you once your appointment is booked.  

%p.indent
  %input{"type" => "checkbox"}
  If you haven't had heard about your appointment date within
  %select
    %option
    %option 1 week (by #{DateTime.now.since(1.week).to_date.strftime("%b %d, %Y")})
    %option 2 weeks (by #{DateTime.now.since(2.week).to_date.strftime("%b %d, %Y")})
    %option 1 month (by #{DateTime.now.since(1.month).to_date.strftime("%b %d, %Y")})
    %option 2 months (by #{DateTime.now.since(2.month).to_date.strftime("%b %d, %Y")})
    %option 4 months (by #{DateTime.now.since(4.month).to_date.strftime("%b %d, %Y")})
    %option 6 months (by #{DateTime.now.since(6.month).to_date.strftime("%b %d, %Y")})
    %option 8 months (by #{DateTime.now.since(8.month).to_date.strftime("%b %d, %Y")})
    %option 12 months (by #{DateTime.now.since(12.month).to_date.strftime("%b %d, %Y")})
    %option 14 months (by #{DateTime.now.since(14.month).to_date.strftime("%b %d, %Y")})
    %option 18 months (by #{DateTime.now.since(18.month).to_date.strftime("%b %d, %Y")})
    %option 24 months (by #{DateTime.now.since(24.month).to_date.strftime("%b %d, %Y")})
  please call
  %select
    %option
    %option our office.
    %option #{@specialist.formal_name}'s office.
  
-if @specialist.patient_instructions.present? 
  %h6 Appointment Instructions
  %p= @specialist.patient_instructions.end_with_period
    
- if @specialist.cancellation_policy.present?
  %h6 Cancellation Policy
  %p= @specialist.cancellation_policy.end_with_period
  
%h6 #{@specialist.formal_name}'s Office Information
  
- @specialist.specialist_offices.each do |specialist_office|
  - next if specialist_office.empty?
  - if specialist_office.office.present?
    %p= specialist_office.phone_only if specialist_office.phone_only.present?
    - location = specialist_office.office.location
    - next if !location
    - address = location.resolved_address
    - if (location.in_hospital? or location.in_clinic?)
      - located_in = location.hospital_in
      - located_in ||= location.clinic_in
      %p
        = "In #{located_in.name}"
        = "which is in #{located_in.location.hospital_in.name}" if located_in.location.present? && located_in.location.in_hospital?
      %p= address.address if address.present? && !address.empty?
      %p= location.in_details if location.in_details.present?
      %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
    - else
      %p= address.address if address.present? && !address.empty?
      %img{"src" => address.map_image(640,240,15,2), "width" => "640", "height" => "240"}
    
%script{"type" => "text/javascript"}
  :plain
    function print_patient_information()
    {
      window.print();
    }
  
    //$(document).ready( print_patient_information );
        
%input.btn{"type" => "button", "value" => "Print", "onclick" => "print_patient_information()"}