- set_page_specific_title "#{@specialist.name}"

= render "partials/body_panel_nav",
  specialization: dropdown_specialization(@specialist, current_user)

.content-wrapper

  - if @is_version
    = render 'versions/info', instance_name: "specialist"

  - cache(specialist_path(@specialist)) do
    .content
      .row
        .span7half
          = render "specialists/show/header"

          = render "specialists/show/office_information"

          = render "specialists/show/referrals"

          = render "specialists/show/urgent_referrals"

          - if @specialist.available_for_work? && @specialist.teleservices.any?(&:offered?)
            = render "teleservices/index", provider: @specialist

          = render "specialists/show/patient_information"

          = render "specialists/show/basic_associations"

          = render "specialists/show/expanded_associations"

        = render "specialists/show/sidebar"

  = render "specialists/show/user_editors"

  = render "specialists/show/review_queues"

  = render "specialists/show/user_buttons"

  = render "specialists/show/admin_controls"

= render "specialists/show/scripts"
