- set_page_specific_title "#{@specialist.name}"

- favorite_class = logged_in? ? (Favorite.find_by(user_id: current_user.id,
  favoritable_id: @specialist.id,
  favoritable_type: "Specialist").present? ? "icon-red" : "icon-text") : "icon-text"

= render "partials/body_panel_nav",
  specialization: dropdown_specialization(@specialist, current_user)

- specialist_offices = @specialist.specialist_offices.order(:created_at).reject{ |specialist_office| specialist_office.empty? }
- has_office = specialist_offices.length > 0

- specialist_clinics = @specialist.clinics.order(:created_at)

.content-wrapper

  - if @is_version
    = render 'versions/info', instance_name: "specialist"

  - cache(specialist_path(@specialist)) do
    .content
      .row
        .span7half
          = render "specialists/show/header"

          = render "specialists/show/office_information"

          = render "specialists/show/referrals"
          = render "specialists/show/urgent_referrals"

          - if @specialist.available? && @specialist.teleservices.any?(&:offered?)
            = render "teleservices/index", provider: @specialist

          = render "specialists/show/basic_associations"

          = render "specialists/show/expanded_associations"

        = render "specialists/show/sidebar"

  = render "specialists/show/user_editors"

  = render "specialists/show/review_queues"

  = render "specialists/show/user_buttons"

  = render "specialists/show/admin_controls"

  :javascript
    $(document).ready(function() {
      $('.tt').tooltip({trigger: 'manual'});
      $('#user_favorite_specialists_#{@specialist.id}').addClass('#{favorite_class}');
    });
