- set_page_specific_title "#{@specialist.name}"

%ul#specialties-menu
  %li.dropdown
    %a.specialties-dropdown-toggle{href: "javascript:void(0)"}
      %span= "All Specialties"
      %b.caret
  %li.subsequent{class: (@dropdown_specialization.in_progress?(current_user.as_divisions) && "in-progress")}
    = link_to @dropdown_specialization.name,
      specialization_path(@dropdown_specialization),
      class: 'ajax'
    - if specialization.new_for_divisions(current_user.as_divisions)
      %span.new= "new"

= render 'partials/specialization_dropdown_menu'

= render 'partials/specialization_nav',
  specialization: specialization,
  selected: 'specialists'

- specialist_offices = @specialist.specialist_offices.order(:created_at).reject(&:empty?)
- has_office = specialist_offices.length > 0

.content-wrapper

  - if @is_version
    = render 'versions/info', instance_name: "specialist"

  - cache(specialist_path(@specialist)) do
    - show_details = false
    - show_clinic_details = false
    - show_areas_of_practice = false

    .content
      .row
        .span7half
          = render "specialists/inner"

    = render "specialists/feedback"
