- title "#{@specialist.name}"

- specialization = (current_user_is_admin? ? @specialist.specializations : @specialist.specializations.not_in_progress_for_divisions(current_user_divisions)).first || Specialization.not_in_progress_for_divisions(Division.all).first
  
%ul#specialties-menu
  %li.dropdown
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  %li.subsequent{:class => specialization.fully_in_progress_for_divisions(current_user_divisions) && "in-progress"}= link_to specialization.name, specialization_path(specialization), :class => 'ajax'
  
- favorite_class = logged_in? ? (Favorite.find_by_user_id_and_favoritable_id_and_favoritable_type(current_user.id, @specialist.id, "Specialist").present? ? "icon-red" : "icon-text") : "icon-text"
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { $('#user_favorite_specialists_#{@specialist.id}').addClass('#{favorite_class}') });
  
#specialties-dropdown-menu
  .inner
    - specializations = current_user_is_admin? ? Specialization.all : Specialization.not_in_progress_for_divisions(current_user_divisions)
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.fully_in_progress_for_divisions(current_user_divisions) ? "in-progress" : ""}= specialization.name

- has_clinics = specialization.clinics.length > 0

.tabbable
  %ul#content_tabs.nav.nav-tabs
    %li.active 
      %a#specialists{"href" => "#{specialization_path(specialization)}#specialists"}
        %span Specialists
    - if has_clinics
      %li
        %a#clinics{"href" => "#{specialization_path(specialization)}#clinics"}
          %span Clinics
    - ScCategory.specialty.each do |sc_category|
      - if sc_category.all_sc_items_for_specialization_in_divisions(specialization, current_user_divisions).present?
        %li
          %a{"href" => "#{specialization_path(specialization)}##{sc_category.name.remove_whitespace}", "id" => sc_category.name.remove_whitespace}
            %span= sc_category.name

- if @is_version
  = render 'versions/info'
  
- show_details = false
- show_areas_of_practice = false
     
.content-wrapper
  - cache(specialist_path(@specialist)) do
    .content
      .row
        .span7half
          .headline-header
          .headline
            .specialist-image
              .image{:class => !@specialist.photo.present? && "empty"}
                - if @specialist.photo.present?
                  %img{"src" => @specialist.photo.url(:thumb)}
            %h2
              = @specialist.name
              %a{"href" => "javascript:void(0)", "onclick" => "favorite('specialists',#{@specialist.id},'#{escape_javascript(@specialist.name)}')", "title" => "Favourite / un-favourite"}
                %i.icon-heart{"id" => "user_favorite_specialists_#{@specialist.id}"}
            %h3.specialty_links
              - self_in_progress = @specialist.in_progress_for_divisions(@specialist.divisions)
              = @specialist.specializations.reject{ |s| !self_in_progress && s.fully_in_progress_for_divisions(@specialist.divisions) }.map{ |s| "<a href='#{specialization_path(s)}' class='#{ s.fully_in_progress_for_divisions(@specialist.divisions) ? "in-progress ajax" : "ajax" }'>#{s.name}</a>" }.to_sentence.html_safe
            - if @specialist.sex? && @specialist.billing_number_padded.present?
              %h5= " #{@specialist.sex}, MSP ##{@specialist.billing_number_padded}"
            - elsif @specialist.sex?
              %h5= @specialist.sex
            - elsif @specialist.billing_number_padded.present?
              %h5= "MSP ##{@specialist.billing_number_padded}"
              
            - if @specialist.not_responded?

              %p.space.no_indent This specialist has not yet provided Pathways their information.
              
            - elsif @specialist.moved_away?

              %p.space.no_indent This specialist has moved away.
              
            - elsif @specialist.retired?

              %p.space.no_indent This specialist has retired.
              
            - elsif @specialist.permanently_unavailable?

              %p.space.no_indent This specialist is no longer available.
              
            - elsif @specialist.purposely_not_yet_surveyed? || @specialist.hospital_or_clinic_only?
            
              - show_areas_of_practice = true

              - hospital_count = @specialist.hospitals.length
              - clinic_count = @specialist.clinics.length
              
              - if @specialist.purposely_not_yet_surveyed?

                %p.space.no_indent This specialist has purposely not yet been surveyed by Pathways. They may be out of our current catchment area, or in a speciality we have yet to fully survey.
              
              - elsif @specialist.hospital_or_clinic_only?
              
                - show_areas_of_practice = true
                
                %p.space.no_indent
                  %i{:class => @specialist.status_class}
                  - if hospital_count > 0 && clinic_count > 0
                    %strong This specialist only works out of #{ hospital_count > 1 ? "hospitals" : "a hospital"} and #{ clinic_count > 1 ? "clinics" : "a clinic"}, and in general all referrals should be made through these locations.
                  - elsif clinic_count > 0
                    %strong This specialist only works out of #{ clinic_count > 1 ? "clinics" : "a clinic"}, and in general all referrals should be made through #{ clinic_count > 1 ? "these clinics" : "this clinic"}.
                  - elsif hospital_count > 0
                    %strong This specialist only works out of #{ hospital_count > 1 ? "hospitals" : "a hospital"}.
                  - else
                    %strong This specialist only works out of hospitals and / or clinics, but we do not yet have data on which ones.
                  
                - if @specialist.hospital_clinic_details.present?
                  %p.space.no_indent
                    %strong Details:
                    = @specialist.hospital_clinic_details
                
              - if hospital_count > 0
                %p.space.no_indent
                  %strong Hospital privileges:
                  != @specialist.hospitals.map{ |hospital| "<a href='#{hospital_path(hospital)}' class='ajax')\">#{hospital.name}</a>" }.to_sentence 

              - if clinic_count > 0
                %p.space.no_indent
                  %strong Clinic associations:
                  != @specialist.clinics.map{ |clinic| "<a href='#{clinic_path(clinic)}' class='ajax'>#{clinic.name}</a>" }.to_sentence
                
            - else
            
              - show_details = true
              - show_areas_of_practice = true
            
              %p.no_indent.space
                %i{:class => @specialist.status_class}
                %strong.status= @specialist.status.end_with_period
              - if @specialist.status_details.present?
                %p.no_indent
                  %strong Details:
                  = @specialist.status_details.end_with_period.convert_newlines_to_br
              - if @specialist.practise_limitations.present?
                %p.no_indent
                  %strong Limitations:
                  = @specialist.practise_limitations.end_with_period.convert_newlines_to_br
          
          .headline-footer
          
          - if show_details
          
            - has_office = false
            - @specialist.specialist_offices.each do |specialist_office|
              - has_office = true if not specialist_office.empty?
              
            - if has_office || @specialist.location_opened.present? || @specialist.languages.present? || @specialist.interpreter_available
            
              %h6 Office Information
              
              - @specialist.specialist_offices.each do |specialist_office|
                - next if specialist_office.empty?
                %p.space
                  %strong= specialist_office.phone_only if specialist_office.phone_only.present?
                %p= "Fax: #{specialist_office.fax}" if specialist_office.fax.present?
                %p= "E-mail: #{mail_to specialist_office.email, specialist_office.email, :target => '_blank'}".html_safe if specialist_office.email.present?
                %p= "Website: #{link_to specialist_office.url, specialist_office.url, :target => '_blank'}".html_safe if specialist_office.url.present?
                - if specialist_office.office.present?
                  - num_specialists = specialist_office.office.num_specialists
                  - location = specialist_office.office.location
                  - next if !location
                  - address = location.resolved_address
                  - if (location.in_hospital? or location.in_clinic?)
                    - located_in = location.hospital_in
                    - located_in ||= location.clinic_in
                    %p
                      = "In #{link_to located_in.name, url_for(located_in), :class => 'ajax'}".html_safe
                      - if located_in.location.present? && located_in.location.in_hospital?
                        - hopsital = located_in.location.hospital_in
                        = "which is in #{link_to hopsital.name, hospital_path(hopsital), :class => 'ajax'}".html_safe
                      = "(#{specialist_office.sector})" if specialist_office.sector?
                      - if num_specialists > 1
                        with
                        %a.tt{"id" => "tt#{specialist_office.office.id}", "href" => "javascript:void(0)", "onclick" => "$('#tt#{specialist_office.office.id}').tooltip('toggle')", "title" => "<ul>#{specialist_office.office.specialists.reject{|s| s.id == @specialist.id}.map{|s| "<li>#{link_to "#{s.name} - #{s.specializations.map{ |sp| sp.name }.to_sentence}", specialist_path(s), :class => 'ajax'}</li>"}.join('').html_safe}</ul>" }= "#{pluralize(num_specialists-1, 'other specialist')}"
                    %p= link_to address.address, address.map_url, :target => "_blank" if address.present? && !address.empty?
                    %p= location.in_details if location.in_details.present?
                  - elsif address.present?
                    %p
                      = link_to address.address, address.map_url, :target => "_blank"
                      = "(#{specialist_office.sector})" if specialist_office.sector?
                      - if num_specialists > 1
                        with
                        %a.tt{"id" => "tt#{specialist_office.office.id}", "href" => "javascript:void(0)", "onclick" => "$('#tt#{specialist_office.office.id}').tooltip('toggle')", "title" => "<ul>#{specialist_office.office.specialists.reject{|s| s.id == @specialist.id}.map{|s| "<li>#{link_to "#{s.name} - #{s.specializations.map{ |sp| sp.name }.to_sentence}", specialist_path(s), :class => 'ajax'}</li>"}.join('').html_safe}</ul>" }= "#{pluralize(num_specialists-1, 'other specialist')}"
                - if specialist_office.direct_info.present?
                  %p
                    Direct number 
                    %em for physician use only:
                    =specialist_office.direct_info
                - if specialist_office.open_saturday && specialist_office.open_sunday
                  %p Open Saturday and Sunday
                - elsif specialist_office.open_saturday
                  %p Open Saturday
                - elsif specialist_office.open_sunday
                  %p Open Sunday
                %p= "Phone lines open #{specialist_office.phone_schedule.collapsed_days_and_hours_and_breaks.to_sentence}" if specialist_office.phone_schedule.scheduled?
                    
              - if @specialist.location_opened.present?
                %p.space
                  This practice opened at this location
                  = @specialist.location_opened == "Prior to 2010" ? "#{@specialist.location_opened.downcase}." : "in #{@specialist.location_opened}."
              
              - if @specialist.languages.present?
                %p
                  = @specialist.languages.map{ |x| "<a class='ajax' href='#{language_path(x)}'>#{x.name}</a>" }.to_sentence.html_safe
                  = "#{@specialist.languages.count == 1 ? 'is' : 'are' } spoken at this practice."
              
              - if @specialist.interpreter_available
                %p
                  Interpreter available upon request.
            
            - if @specialist.accepts_referrals_via.present? || @specialist.responds_via.present? || @specialist.referral_form_mask != 3 || @specialist.required_investigations.present? || @specialist.waittime.present? || @specialist.lagtime.present? || @specialist.patient_can_book_mask != 3
            
              %h6 Referrals

              - if @specialist.accepts_referrals_via.present?
                %p
                  %strong Accepted by:
                  = @specialist.accepts_referrals_via.html_safe
              - if @specialist.responds_via.present?
                %p
                  %strong Responded to by:
                  = @specialist.responds_via

              - if @specialist.referral_form_mask == 1
                - referral_form_count = @specialist.referral_forms.reject{|referral_form| not referral_form.form.present?}.length
                %p
                  %strong Referral form:
                  Yes.
                %ul.referral_forms
                  - @specialist.referral_forms.each do |referral_form|
                    - next if not referral_form.form.present?
                    - type = referral_form.form_content_type.split('/').last
                    %li= link_to "#{referral_form.description} (#{type})", referral_form.form.url, :target => "_blank"
              - elsif @specialist.referral_form_mask == 2
                %p 
                  %strong Referral form:
                  No.
                
              - if @specialist.required_investigations.present?
                %p.space
                  %strong Required investigations
                  for all patients:
                  = @specialist.required_investigations.end_with_period.convert_newlines_to_br

              -if @specialist.waittime.present?
                %p.space
                  Average non-urgent patient wait time from referral to appointment:
                  %strong= @specialist.waittime

              -if @specialist.lagtime.present?
                %p
                  Average length of time to notify GP of a booking date:
                  %strong= @specialist.lagtime
                  
              - @specialist.capacities.specialist_wait_time.each do |capacity|
              
                - if capacity.waittime.present? || capacity.lagtime.present?
                  %p.space
                    %strong= "#{capacity.procedure_specialization.procedure.full_name}:"
                
                  -if capacity.waittime.present?
                    %p
                      Average non-urgent patient wait time from referral to appointment:
                      %strong= capacity.waittime
                          
                  -if capacity.lagtime.present?
                    %p
                      Average length of time to notify GP of a booking date:
                      %strong= capacity.lagtime

              - if @specialist.patient_can_book_mask == 1
                %p.space This office accepts direct calls from patients after referral to book their own appointments.
              - elsif @specialist.patient_can_book_mask == 2
                %p.space This office does not accept direct calls from patients after referral to book their own appointments.
            
            - if @specialist.red_flags.present? || @specialist.urgent_referrals_via.present?
              %h6 Urgent Referrals
              
              - if @specialist.urgent_referrals_via.present?
                %p
                  %strong Accepted by: 
                  = @specialist.urgent_referrals_via
                
              - if @specialist.red_flags.present?
                %p
                  %strong Red flags
                  that this office feels warrant urgent consultation:
                  = @specialist.red_flags.end_with_period.convert_newlines_to_br
              
            - if @specialist.patient_instructions.present? || @specialist.cancellation_policy.present?
              %h6 Patient Information
              
              -if @specialist.patient_instructions.present?
                %p.space
                  %strong Patient instructions:
                  = @specialist.patient_instructions.end_with_period.convert_newlines_to_br
              -if @specialist.cancellation_policy.present?
                %p.space
                  %strong Cancellation policy:
                  = @specialist.cancellation_policy.end_with_period.convert_newlines_to_br
            
            - clinics = @specialist.clinics
            - if @specialist.hospitals.present? || clinics.present?
              %h6 Associations
              
              - if @specialist.hospitals.present?
                %p
                  %strong Hospital privileges:
                  != @specialist.hospitals.map{ |hospital| "<a href='#{hospital_path(hospital)}' class='ajax')\">#{hospital.name}</a>" }.to_sentence 

              - if clinics.present?
                %p
                  %strong Clinic associations:
                  != @specialist.clinics.map{ |clinic| "<a href='#{clinic_path(clinic)}' class='ajax'}'>#{clinic.name}</a>" }.to_sentence
                  
        - if show_details || show_areas_of_practice
        
          .span4.offsethalf
            - specialization_procedures, specialization_count, specialization_has_investigations = compressed_procedures_indented(@specialist, ProcedureSpecialization::CLASSIFICATION_FOCUSED)
            - custom_procedures, custom_count, custom_has_investigations = compressed_procedures_indented(@specialist, ProcedureSpecialization::CLASSIFICATION_NONFOCUSED)
            - if specialization_count > 0 || custom_count > 0 || @specialist.interest.present? || @specialist.not_performed.present?
              .well.areas-of-practice
                %h6 Areas of Practice
                      
                .investigation  
                  - if specialization_count > 0
                    - if specialization_has_investigations
                      %p.space
                        (with any 
                        %i additional 
                        required investigations)
                    .list
                      = specialization_procedures.html_safe
                  - if custom_count > 0
                    %p.space
                      %strong Other areas of interest
                    - if custom_has_investigations
                      %p
                        with any 
                        %i additional 
                        required investigations
                    .list
                      = custom_procedures.html_safe
                  - if @specialist.interest.present?
                    %p.space
                      %strong Most interested in
                    %p= @specialist.interest.end_with_period.convert_newlines_to_br
                  - if @specialist.not_performed.present?
                    %p.space
                      %strong Does not see or do
                    %p= @specialist.not_performed.end_with_period.convert_newlines_to_br
      
    #feedback
      .inner
        = simple_form_for @feedback, :html => { :class => "ajax feedback_form" } do |f|

          = f.input :feedback, :label => "Please provide us with any updates to #{@specialist.name}'s information"
          = f.input :item_type, :as => :hidden, :value => "Specialist"
          = f.input :item_id, :as => :hidden, :value => @specialist.id

          .form-actions
            %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "send_feedback($('form.feedback_form'))" } Send Feedback
            %a.btn.btn-danger{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeOut(200)"} Cancel
                    
    #feedback_thanks
      .inner
        %h2 Thank you!
        
        %p.space.no_indent= "Thank you for providing your feedback  on #{@specialist.name}. Your contributions help make Pathways a valuable resource for the community."
        
        %p.space.no_indent We will review your feedback in the near future and take action as necessary.
        
        %p.space.no_indent
          %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "$('#feedback_thanks').fadeOut(200)" } Close
            
    %script{"type" => "text/javascript"}
      :plain
        $(document).ready(function() { $('.tt').tooltip({trigger: 'manual'}) });
        
        function send_feedback(form) { 
          $.ajax({
              url: form.attr('action'),
              data: form.serialize(),
              type: 'POST'
          }).success(function(json) {
              $('#feedback').fadeOut(200);
              $('#feedback_item_feedback').val('')
              $('#feedback_thanks').fadeIn(200);
          });
        }
              
  - if current_user_is_admin? && @specialist.controlling_users.present?
    %h6 Users that can edit this specialist
    
    %ul
      - @specialist.controlling_users.each do |user|
        %li= link_to user.name, user, :class => 'ajax'
                  
  .btn-group
    - if true || show_details
      %a.btn{"href" => specialist_patient_information_path(@specialist), "target" => "_blank"}
        %i.icon-print.icon-text
        Print Information for Patient
    - if !current_user_is_admin? && (can? :update, @specialist)
      %a.btn.btn-primary.ajax{"href" => specialist_self_edit_path(@specialist, @specialist.token)}
        %i.icon-pencil.icon-white
        Update #{@specialist.name}'s information
    - else
      %a.btn{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeIn(200)"}
        %i.icon-bullhorn.icon-text
        Incorrect Information? Let us know
    - if !current_user_is_admin? && (can? :update, @specialist)
      %a.btn.ajax{"href" => specialist_photo_path(@specialist)}
        %i.icon-picture.icon-white
        #{@specialist.photo.present? ? "Change" : "Add"} #{@specialist.name}'s photo

  - if current_user_is_admin?
  
    %p.admin.btn-group
          
      - if @specialist.review_item.present?
        
        = link_to("<i class='icon-list-alt'></i>".html_safe + " Review Pending Changes", specialist_review_path(@specialist), :class => "btn ajax")

      - elsif can? :update, @specialist
        
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Specialist", edit_specialist_path(@specialist), :class => "btn ajax")
        = link_to("<i class='icon-file'></i>".html_safe + " Referral Forms", specialist_referral_forms_path(@specialist), :class => "btn ajax")
        = link_to("<i class='icon-picture'></i>".html_safe + " Photo", specialist_photo_path(@specialist), :class => "btn ajax")
        %a.btn{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#share"}
          %i.icon-share
          Share
        = link_to("<i class='icon-folder-open'></i>".html_safe + " History", specialist_versions_path(@specialist), :class => "btn ajax")
    
      - if can? :destroy, @specialist
        
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Specialist", @specialist, :confirm => "Delete #{@specialist.name}?", :method => :delete, :class => "btn")

  - if current_user_is_admin?
    #share.collapse
      %p
        .alert.alert-info
          %h3 Secret edit link
          %p Anyone can edit this specialist if they have the following secret address:
          %p= specialist_self_edit_path(@specialist, @specialist.token, :only_path => false)
          -#
            %p 
              You can:
              %ul
                - if @specialist.contact_email.present?
                  %li
                    Have Pathways
                    = link_to "send and email", specialist_email_path(@specialist)
                    = " with this link to #{@specialist.contact_name} (#{@specialist.contact_email}), the contact MOA for this specialist."
                %li 
                  Manually
                  = mail_to "", "Send an email", :subject => "Edit #{@specialist.name} on Pathways", :body => "#{specialist_self_edit_path(@specialist, @specialist.token, :only_path => false)}"
                  with this link in to whomever you chose
                %li Copy and paste it into an email or document manually.
            - if @specialist.contacts.length > 0
              %p
                Contact history through Pathways:
                %ul
                  = render @specialist.contacts
