- if @is_version
  = render 'versions/info'

/
  - if current_user.admin?
    #flash_notice
      - if @specialist.contact_email
        %h2 Email an invitation to this specialist
        %p Clicking the below link will send an invitation to edit this record with the following special url.
        %p= specialist_self_edit_path(@specialist, @specialist.token, :only_path => false)
        %p=link_to "Email #{@specialist.contact_email}", specialist_email_path(@specialist), :method => :post
      - else
        %p To send this link with an invitation to #{link_to "edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)} this specialist and add contact information
      %h4
        This specialist was contacted through the application
        = "never" if @specialist.contacts.length < 1
      = render @specialist.contacts

%h2
  = @specialist.name
%h4
  = "#{@specialist.specializations.collect(){ |s| s.name }.to_sentence}"
- if @specialist.billing_number
  %h5
    = "MSP ##{@specialist.billing_number}"
  
- if not @specialist.responded
  %p
    This specialist has not yet provided Pathways their information
- else
    
  - @specialist.addresses.each do |address|
    - next if address.blank?
    %p
      = link_to address.address, address.map_url, :target => "_blank", :class => "address"
    %p.collapse_up
      = address.phone_and_fax
    - if address.hospital
      %p.collapse_up
        In 
        %a{"href" => "#", "onclick" => "ajaxto('#{hospital_path(address.hospital)}')"}= address.hospital.name
    - if address.clinic
      %p.collapse_up
        In
        %a{"href" => "#", "onclick" => "ajaxto('#{clinic_path(address.clinic)}')"}= address.clinic.name
  - if not @specialist.direct_phone.blank?
    %p.collapse_up
      = "direct number (for physician use only): #{@specialist.direct_phone}"

  %p
    %strong{ :class => "status_#{@specialist.status_class}"}= @specialist.status
    - if not @specialist.status_details.blank?
      %p.collapse_up
        %strong Details:
        = @specialist.status_details
    - if ((not @specialist.practise_limitations.blank?) and (not @specialist.retired?))
      %p.collapse_up
        %strong Limitations:
        = @specialist.practise_limitations
    - if ((not @specialist.location_opened.blank?) and (not @specialist.retired?))
      %p.collapse_up
        This practice opened
        = @specialist.location_opened.downcase
  
  - if not @specialist.retired?
    - if not @specialist.languages.blank?
      %p
        %strong.language= @specialist.languages.map{ |x| x.name }.to_sentence
        - if @specialist.languages.count > 1
          are spoken at this practice
        - else
          is spoken at this practice
          
    .investigation  
      - if not @specialist.required_investigations.blank?
        %p
          %strong Required investigations for all patients:
          = @specialist.required_investigations
      - specialization_procedures, specialization_count = compressed_procedures_indented(@specialist, true)
      - if specialization_count > 0
        %p.collapse_up
          %strong Areas of practice
          \- with any 
          %i additional 
          required investigations:
          = specialization_procedures.html_safe
      - custom_procedures, custom_count = compressed_procedures_indented(@specialist, false)
      - if custom_count > 0
        %p.collapse_up
          %strong Other areas of interest
          \- with any 
          %i additional 
          required investigations:
          = custom_procedures.html_safe
      - if not @specialist.interest.blank?
        %p.collapse_up
          %strong Most interested in
          = @specialist.interest
      - if not @specialist.not_performed.blank?
        %p.collapse_up
          %strong Does not see or do
          = @specialist.not_performed

    %p
      %strong.referral Referrals
      - if @specialist.responds_via.blank?
        = "are accepted by #{@specialist.accepts_referrals_via}"
      - else
        = "are accepted by #{@specialist.accepts_referrals_via}, and responded to by #{@specialist.responds_via}"

    - if @specialist.referral_form_mask == 1
      %p.collapse_up This office has a referral form
    - elsif @specialist.referral_form_mask == 2
      %p.collapse_up This office does not have a referral form

    -if @specialist.waittime
      %p.collapse_up
        Average wait time from referral to appointment:
        %strong= @specialist.waittime

    -if @specialist.lagtime
      %p.collapse_up
        Average length of time to notify GP of a booking date:
        %strong= @specialist.lagtime
      
    - if @specialist.patient_can_book_mask == 1
      %p.collapse_up This office accepts direct calls from patients after referral to book their own appointments
    - elsif @specialist.patient_can_book_mask == 2
      %p.collapse_up This office does not accept direct calls from patients after referral to book their own appointments
      
    .red_flag
      - if not @specialist.red_flags.blank?
        %p.collapse_up
          %strong Red flags
          this office feels warrants urgent consultation:
          = @specialist.red_flags
      - if @specialist.urgent_referrals_via
        %p.collapse_up
          = "The optimal method of referral for urgent consulation is #{@specialist.urgent_referrals_via}"
      
    - if not @specialist.hospitals.blank?
      %p
        %strong.hospital Hospital privileges:
        != @specialist.hospitals.map{ |hospital| "<a href='#' onclick=\"ajaxto('#{hospital_path(hospital)}')\">#{hospital.name}</a>" }.to_sentence 

    - if not @specialist.clinics.blank?
      %p
        %strong.clinic Clinic associations:
        != @specialist.clinics.map{ |clinic| "<a href='#{clinic_path(clinic)}' onclick=\"ajaxto('#{clinic_path(clinic)}'); return false;\">#{clinic.name}</a>" }.to_sentence

%p.admin
  - if can? :update, @specialist
    = link_to "Edit specialist", edit_specialist_path(@specialist)
    |
  = link_to "History of edits", show_versions_path(@specialist)
  |
  - if can? :destroy, @specialist
    = link_to "Delete specialist", @specialist, :confirm => "Delete #{@specialist.name}?", :method => :delete
    |
  = link_to 'Show all specialists', specialists_path
