- set_page_specific_title "#{@specialist.name}"

- favorite_class = logged_in? ? (Favorite.find_by(user_id: current_user.id,
  favoritable_id: @specialist.id,
  favoritable_type: "Specialist").present? ? "icon-red" : "icon-text") : "icon-text"

= render "partials/body_panel_nav",
  specialization: dropdown_specialization(@specialist, current_user)

- specialist_offices = @specialist.specialist_offices.order(:created_at).reject{ |specialist_office| specialist_office.empty? }
- has_office = specialist_offices.length > 0

- specialist_clinics = @specialist.clinics.order(:created_at)

.content-wrapper

  - if @is_version
    = render 'versions/info', instance_name: "specialist"

  - cache(specialist_path(@specialist)) do
    - show_details = false
    - show_clinic_details = false
    - show_areas_of_practice = false

    .content
      .row
        .span7half
          .headline-header
          .headline
            .specialist-image
              .image{ class: !@specialist.photo.present? && "empty" }
                - if @specialist.photo.present?
                  %img{ src: @specialist.photo.url(:thumb) }
            %h2.profile_header__title{ class: (@specialist.hidden? ? "hidden-from-users" : "") }
              %span= @specialist.name
              %a{ href: "javascript:void(0)",
                onclick: "favorite('specialists',#{@specialist.id},'#{escape_javascript(@specialist.name)}')",
                title: "Favourite / un-favourite" }
                %i.icon-heart{ id: "user_favorite_specialists_#{@specialist.id}" }
            - if @specialist.hidden?
              %h5= " (Hidden from users)"
            %h3.specialty_links
              - if @specialist.specializations.length <= 1 && @specialist.is_gp && @specialist.specializations.has_family_practice?
                GP
              - elsif @specialist.is_gp
                GP with a focus in
              = @specialist.specializations.reject{|s| s.name == "Family Practice"}.map{ |s| "<a href='#{specialization_path(s)}'>#{s.name}</a>" }.to_sentence.html_safe
            - if @specialist.sex? && @specialist.padded_billing_number.present?
              %h5= " #{@specialist.sex}, MSP ##{@specialist.padded_billing_number}"
            - elsif @specialist.sex?
              %h5= @specialist.sex
            - elsif @specialist.padded_billing_number.present?
              %h5= "MSP ##{@specialist.padded_billing_number}"

            %p.space.no_indent
              %i{ class: @specialist.status_class }

              - if @specialist.not_responded?

                %strong
                  This specialist has not yet provided Pathways their
                  information.

              - elsif @specialist.moved_away?

                %strong This specialist has moved away.

              - elsif @specialist.deceased?

                %strong This specialist is deceased.
                - if @specialist.status_details.present?
                  %p.no_indent
                    = @specialist.status_details.end_with_period.convert_newlines_to_br

              - elsif @specialist.retired?

                %strong This specialist has retired.

              - elsif @specialist.permanently_unavailable?

                %strong This specialist is no longer available.

              - elsif @specialist.purposely_not_yet_surveyed? || @specialist.hospital_or_clinic_only?

                - show_areas_of_practice = true

                - hospital_count = @specialist.hospitals.length
                - clinic_count = @specialist.clinics.reject{ |c| c.closed? }.length

                - if @specialist.purposely_not_yet_surveyed?

                  %strong
                    This specialist has purposely not yet been surveyed by
                    Pathways.
                  %p
                    They may be out of our current catchment area, or in a
                    speciality we have yet to fully survey.

                - elsif @specialist.hospital_or_clinic_only?

                  - show_areas_of_practice = true
                  - show_clinic_details = true

                  - if hospital_count > 0 && clinic_count > 0
                    %strong Only works out of #{ clinic_count > 1 ? "clinics" : "a clinic"} and #{ hospital_count > 1 ? "hospitals" : "a hospital"}, and in general all referrals should be made through these locations.
                  - elsif clinic_count > 0
                    %strong Only works out of #{ clinic_count > 1 ? "clinics" : "a clinic"}, and in general all referrals should be made through #{ clinic_count > 1 ? "these clinics" : "this clinic"}.
                  - elsif hospital_count > 0
                    %strong Only works out of #{ hospital_count > 1 ? "hospitals" : "a hospital"}.
                  - else
                    %strong
                      Only works out of hospitals and / or clinics, but we do
                      not yet have data on which ones.

                  - if @specialist.hospital_clinic_details.present?
                    %p.space.no_indent
                      %strong Details:
                      = @specialist.hospital_clinic_details.end_with_period.convert_newlines_to_br

              - elsif @specialist.hospital_or_clinic_referrals_only?

                - show_areas_of_practice = true
                - show_details = true

                - hospital_count = @specialist.hospitals.length
                - clinic_count = @specialist.clinics.reject{ |c| c.closed? }.length

                - if hospital_count > 0 && clinic_count > 0
                  %strong Only accepts referrals through #{ clinic_count > 1 ? "clinics" : "a clinic"} and #{ hospital_count > 1 ? "hospitals" : "a hospital"}, and in general all referrals should be made through these locations.
                - elsif clinic_count > 0
                  %strong Only accepts referrals through #{ clinic_count > 1 ? "clinics" : "a clinic"}, and in general all referrals should be made through #{ clinic_count > 1 ? "these clinics" : "this clinic"}.
                - elsif hospital_count > 0
                  %strong Only accepts referrals through #{ hospital_count > 1 ? "hospitals" : "a hospital"}.
                - else
                  %strong
                    Only accepts referrals through hospitals and / or clinics,
                    but we do not yet have data on which ones.

                - if has_office
                  %p.space.no_indent
                    This physician also sees their own patients for ongoing care at their #{ specialist_offices.length > 1 ? "offices" : "office"} listed below.


                - if @specialist.hospital_clinic_details.present?
                  %p.space.no_indent
                    %strong Details:
                    = @specialist.hospital_clinic_details.end_with_period.convert_newlines_to_br

              - else

                - show_details = true
                - show_areas_of_practice = true

                %strong.status= @specialist.status.end_with_period
                - if @specialist.status_details.present?
                  %p.no_indent
                    %strong Details:
                    = @specialist.status_details.end_with_period.convert_newlines_to_br
                - if @specialist.practise_limitations.present?
                  %p.no_indent
                    %strong Limitations:
                    = @specialist.practise_limitations.end_with_period.convert_newlines_to_br

          .headline-footer

          - if show_details

            - if has_office || @specialist.languages.present? || @specialist.interpreter_available

              %h6 Office Information

              - specialist_offices.each do |specialist_office|
                %p.space
                  %strong= specialist_office.phone_only if specialist_office.phone_only.present?
                %p= "Fax: #{specialist_office.fax}" if specialist_office.fax.present?
                %p= "Public e-mail (okay for patient use): #{mail_to specialist_office.public_email, specialist_office.public_email, target: '_blank'}".html_safe if specialist_office.public_email.present?
                %p= "Private e-mail (for physician office use only): #{mail_to specialist_office.email, specialist_office.email, target: '_blank'}".html_safe if specialist_office.email.present?
                %p= "Website: #{link_to specialist_office.url, specialist_office.url, target: '_blank'}".html_safe if specialist_office.url.present?
                - if specialist_office.office.present?
                  - num_specialists = specialist_office.office.specialists.reject{ |s| s.not_available? || s.hidden? }.count
                  - location = specialist_office.office.location
                  - next if !location
                  - address = location.resolved_address
                  - if location.in_hospital?
                    - located_in = location.hospital_in
                    %p
                      = "In #{link_to located_in.name, url_for(located_in)}".html_safe
                      - if located_in.location.present? && located_in.location.in_hospital?
                        - hopsital = located_in.location.hospital_in
                        = "which is in #{link_to hopsital.name, hospital_path(hopsital)}".html_safe
                      = "(#{specialist_office.sector})" if specialist_office.show_sector_info?
                      - if num_specialists > 1
                        with
                        %a.tt{ id: "tt#{specialist_office.office.id}",
                          href: "javascript:void(0)",
                          onclick: "$('#tt#{specialist_office.office.id}').tooltip('toggle')",
                          title: "<ul>#{specialist_office.office.specialists.reject{|s| (s.id == @specialist.id) || s.not_available? || s.hidden?}.map{|s| "<li>#{link_to "#{s.name} - #{s.specializations.map{ |sp| sp.name }.to_sentence}",
                          specialist_path(s)}</li>"}.join('').html_safe}</ul>",
                          data: { toggle: 'tooltip',
                          'original-title' => 'Can be emailed',
                          placement: 'top',
                          template: "#{template_for_blue_tooltip}".html_safe } }
                          = "#{pluralize(num_specialists-1, 'other')}"
                    %p= link_to address.address,
                      address.map_url,
                      target: "_blank" if address.present? && !address.empty?
                    %p= location.in_details if location.in_details.present?
                  - elsif location.in_clinic?
                    - located_in = location.location_in.locatable
                    - clinic = located_in.clinic
                    %p
                      = "In #{link_to clinic.name, url_for(clinic)}".html_safe
                      - if located_in.location.present? && located_in.location.in_hospital?
                        - hopsital = located_in.location.hospital_in
                        = "which is in #{link_to hopsital.name, hospital_path(hopsital)}".html_safe
                      = "(#{specialist_office.sector})" if specialist_office.show_sector_info?
                      - if num_specialists > 1
                        with
                        %a.tt{ id: "tt#{specialist_office.office.id}",
                          href: "javascript:void(0)",
                          onclick: "$('#tt#{specialist_office.office.id}').tooltip('toggle')",
                          title: "<ul>#{specialist_office.office.specialists.reject{|s| (s.id == @specialist.id) || s.not_available? || s.hidden?}.map{|s| "<li>#{link_to "#{s.name} - #{s.specializations.map{ |sp| sp.name }.to_sentence}",
                          specialist_path(s)}</li>"}.join('').html_safe}</ul>",
                          data: { toggle: 'tooltip',
                          'original-title' => 'Can be emailed',
                          placement: 'top',
                          template: "#{template_for_blue_tooltip}".html_safe } }
                          = "#{pluralize(num_specialists-1, 'other')}"
                    %p= link_to address.address,
                      address.map_url,
                      target: "_blank" if address.present? && !address.empty?
                    %p= location.in_details if location.in_details.present?
                  - elsif address.present?
                    %p
                      = link_to address.address,
                        address.map_url,
                        target: "_blank"
                      = "(#{specialist_office.sector})" if specialist_office.show_sector_info?
                      - if num_specialists > 1
                        with
                        %a.tt{ id: "tt#{specialist_office.office.id}",
                          href: "javascript:void(0)",
                          onclick: "$('#tt#{specialist_office.office.id}').tooltip('toggle')",
                          title: "<ul>#{specialist_office.office.specialists.reject{|s| (s.id == @specialist.id) || s.not_available? || s.hidden?}.map{|s| "<li>#{link_to "#{s.name} - #{s.specializations.map{ |sp| sp.name }.to_sentence}",
                          specialist_path(s)}</li>"}.join('').html_safe}</ul>",
                          data: { toggle: 'tooltip',
                          'original-title' => 'Can be emailed',
                          placement: 'top',
                          template: "#{template_for_blue_tooltip}".html_safe } }
                          = "#{pluralize(num_specialists-1, 'other')}"
                - if specialist_office.location_opened.present?
                  %p
                    This practice opened at this location
                    = specialist_office.location_opened == "Prior to 2010" ? "prior to 2010." : "in #{specialist_office.location_opened}."
                - if specialist_office.direct_info.present?
                  %p
                    Direct number
                    %em for physician use only:
                    =specialist_office.direct_info
                - if specialist_office.open_saturday && specialist_office.open_sunday
                  %p Open Saturday and Sunday
                - elsif specialist_office.open_saturday
                  %p Open Saturday
                - elsif specialist_office.open_sunday
                  %p Open Sunday
                %p= "Phone lines open #{specialist_office.phone_schedule.collapsed_days_and_hours_and_breaks.to_sentence}" if specialist_office.phone_schedule.scheduled?

              - if @specialist.languages.present?
                %p.space
                  = @specialist.languages.map{ |x| "<a href='#{language_path(x)}'>#{x.name}</a>" }.to_sentence.html_safe
                  = "#{@specialist.languages.count == 1 ? 'is' : 'are' } spoken at this practice."

              - if @specialist.interpreter_available
                %p
                  Interpreter available upon request.

            - if !@specialist.hospital_or_clinic_referrals_only? && (@specialist.accepts_referrals_via.present? || @specialist.responds_via.present? || @specialist.referral_form_mask != 3 || @specialist.required_investigations.present? || @specialist.waittime.present? || @specialist.lagtime.present? || @specialist.patient_can_book_mask != 3)

              %h6 Referrals

              - if @specialist.accepts_referrals_via.present?
                %p
                  %strong Accepted by:
                  = @specialist.accepts_referrals_via.html_safe
              - if @specialist.responds_via.present?
                %p
                  %strong Responded to by:
                  = @specialist.responds_via

              - if @specialist.referral_form_mask == 1
                - referral_form_count = @specialist.referral_forms.reject{ |referral_form| not referral_form.form.present? }.length
                %p
                  %strong Referral form:
                  Yes.
                %ul.referral_forms
                  - @specialist.referral_forms.each do |referral_form|
                    - next if not referral_form.form.present?
                    - type = referral_form.file_format
                    %li
                      = link_to "#{referral_form.description} (#{type})",
                        referral_form.form.url,
                        target: "_blank",
                        onclick: "window.pathways.trackForm(_gaq, #{referral_form.id})"
              - elsif @specialist.referral_form_mask == 2
                %p
                  %strong Referral form:
                  No.

              - if @specialist.required_investigations.present?
                %p.space
                  %strong Required information / investigations
                  for all referrals:
                  = @specialist.required_investigations.end_with_period.convert_newlines_to_br

              - if @specialist.show_waittimes?
                -if @specialist.waittime.present?
                  %p.space
                    Average
                    %strong non-urgent
                    patient wait time from referral to appointment:
                    %strong= @specialist.waittime

                -if @specialist.lagtime.present?
                  %p
                    Average length of time to notify
                    = @specialist.responds_to
                    of a booking date:
                    %strong= @specialist.lagtime

                - @specialist.capacities.specialist_wait_time.each do |capacity|

                  - if capacity.waittime.present? || capacity.lagtime.present?
                    %p.space
                      %strong= "#{capacity.procedure_specialization.procedure.full_name}:"

                    -if capacity.waittime.present?
                      %p
                        Average
                        %strong non-urgent
                        patient wait time from referral to appointment:
                        %strong= capacity.waittime

                    -if capacity.lagtime.present?
                      %p
                        Average length of time to notify
                        = @specialist.responds_to
                        of a booking date:
                        %strong= capacity.lagtime

              - if @specialist.patient_can_book_mask == 1
                %p.space
                  This office accepts direct calls from patients after referral
                  to book their own appointments.
              - elsif @specialist.patient_can_book_mask == 2
                %p.space
                  This office does not accept direct calls from patients after
                  referral to book their own appointments.

            - if !@specialist.hospital_or_clinic_referrals_only? && (@specialist.red_flags.present? || @specialist.urgent_referrals_via.present?)
              %h6 Urgent Referrals

              - if @specialist.urgent_referrals_via.present?
                %p
                  %strong Accepted by:
                  = @specialist.urgent_referrals_via

              - if @specialist.red_flags.present?
                %p
                  %strong Red flags
                  that this office feels warrant urgent consultation:
                  = @specialist.red_flags.end_with_period.convert_newlines_to_br

            - if @specialist.teleservices.any?(&:offered?)
              = render "teleservices/index", provider: @specialist

            - if @specialist.patient_instructions.present? || @specialist.cancellation_policy.present?
              %h6 Patient Information

              -if @specialist.patient_instructions.present?
                %p.space
                  %strong Patient instructions:
                  = @specialist.patient_instructions.end_with_period.convert_newlines_to_br
              -if @specialist.cancellation_policy.present?
                %p.space
                  %strong Cancellation policy:
                  = @specialist.cancellation_policy.end_with_period.convert_newlines_to_br

            - clinics = @specialist.clinics.reject{ |c| c.closed? }
            - hospitals = @specialist.hospitals
            - if hospitals.present? || clinics.present?
              %h6 Associations

              - if hospitals.present?
                %p
                  %strong Hospital privileges:
                  != hospitals.map{ |hospital| "<a href='#{hospital_path(hospital)}')\">#{hospital.name}</a>" }.to_sentence

              - if clinics.present?
                %p
                  %strong Clinic associations:
                  != clinic_associations(clinics)

          - elsif show_clinic_details

            - @specialist.clinics.reject(&:closed?).uniq.each do |clinic|

              - clinic_locations = clinic.clinic_locations.sort_by(&:created_at).reject(&:empty?).select{ |cl| @specialist.clinic_locations.include?(cl) }

              %h6.clinic_header_link
                - if clinic.hidden?
                  = clinic.name
                - else
                  = link_to clinic.name,
                    clinic_path(clinic)

              - if clinic.hidden?
                %p.space
                  %i (No details available)
              - else
                %p.space
                  %i{ class: clinic.status_class }
                  %strong.status= clinic.status.end_with_period
                - if clinic.status_details.present?
                  %p
                    %strong Details:
                    = clinic.status_details.end_with_period.convert_newlines_to_br
                - if clinic.limitations.present?
                  %p
                    %strong Limitations:
                    = clinic.limitations.end_with_period.convert_newlines_to_br

                - clinic_locations.each do |cl|
                  - address = cl.resolved_address
                  %p.space
                    %strong= cl.phone_only if cl.phone_only.present?
                    %p= "Fax: #{cl.fax}" if cl.fax.present?
                  - if cl.location.present? && cl.location.in_hospital?
                    - hospital = cl.location.hospital_in
                    %p= "In #{link_to hospital.name, hospital_path(hospital)}".html_safe
                    %p= link_to address.address,
                      address.map_url,
                      target: "_blank" if address.present? && !address.empty?
                    %p= cl.location.in_details if cl.location.in_details.present?
                  - elsif address.present? && !address.empty?
                    %p= link_to address.address,
                      address.map_url,
                      target: "_blank"

                %p.space
                  %strong Referrals:
                  %span{ class: @specialist.status_class }
                  = "<a href='#{clinic_path(clinic)}'>Full contact and referral details</a>".html_safe

            - hospitals = @specialist.hospitals
            - if hospitals.present?
              %h6 Hospital privileges
              %p
                != hospitals.map{ |hospital| "<a href='#{hospital_path(hospital)}')\">#{hospital.name}</a>" }.to_sentence

        - if show_details || show_areas_of_practice

          .span4.offsethalf

            - areas_of_practice_focused_results = {}
            - areas_of_practice_nonfocused_results = {}
            - specializations_with_results_count = 0
            - @specialist.specializations.each do |s|
              - areas_of_practice_focused_results[s.id] = compressed_procedures_indented(@specialist,
                ProcedureSpecialization::CLASSIFICATION_FOCUSED, s)
              - areas_of_practice_nonfocused_results[s.id] = compressed_procedures_indented(@specialist,
                ProcedureSpecialization::CLASSIFICATION_NONFOCUSED, s)
              - specializations_with_results_count += 1 if ((areas_of_practice_focused_results[s.id][1] > 0) || (areas_of_practice_nonfocused_results[s.id][1] > 0))

            - if specializations_with_results_count > 0 || @specialist.interest.present? || @specialist.not_performed.present?
              .well.areas-of-practice
                %h6 Accepts Referrals For

                - @specialist.specializations.each do |s|
                  - focused_procedures,
                    focused_count,
                    focused_has_investigations = areas_of_practice_focused_results[s.id]
                  - nonfocused_procedures,
                    nonfocused_count,
                    nonfocused_has_investigations = areas_of_practice_nonfocused_results[s.id]

                  - next if focused_count == 0 && nonfocused_count == 0

                  - if specializations_with_results_count > 1
                    %strong.investigation-name= s.name

                  .investigation.space
                    - if focused_count > 0
                      - if focused_has_investigations
                        %p (with any additional details)
                      .list{ class: specializations_with_results_count > 1 && "indent" }
                        = focused_procedures.html_safe
                    - if nonfocused_count > 0
                      %p.space
                        %em Other areas of interest
                      - if nonfocused_has_investigations
                        %p (with any additional details)
                      .list{ class: specializations_with_results_count > 1 && "indent" }
                        = nonfocused_procedures.html_safe

                - if @specialist.interest.present?
                  %p.space
                    %strong Most interested in
                  %p= @specialist.interest.end_with_period.convert_newlines_to_br

                - if @specialist.not_performed.present?
                  %p.space
                    %strong Does not see or do
                  %p= @specialist.not_performed.end_with_period.convert_newlines_to_br

  :javascript
    $(document).ready(function() {
      $('.tt').tooltip({trigger: 'manual'});
      $('#user_favorite_specialists_#{@specialist.id}').addClass('#{favorite_class}');
    });

  - if current_user.as_admin_or_super?
    - if @specialist.user_controls_specialists.any?
      %h6 Users that can edit this specialist
      %ul
        - @specialist.user_controls_specialists.each do |control|
          %li
            = link_to control.user.name,
              control.user,
              class: (!control.user.active && "hidden-from-users")
            - if !control.last_visited.nil?
              %span= "(Last visited this page on #{control.formatted_last_visited}.)"
            - if !control.user.active
              %span= "(inactive)"

    %h6 Review Queue Updates
    - review_items = ReviewItem.for_specialist(@specialist)
    %ul
      - if review_items.present?
        - review_items.sort{|a,b| b.created_at <=> a.created_at}.each do |review_item|
          %li
            = review_item.created_at.strftime('%B %d, %Y')
            - if review_item.no_updates?
              = "(#{ReviewItem::STATUS_HASH[review_item.status]})"
            - elsif review_item.archived?
              - if review_item.base_object.present?
                = link_to '(Re-review)',
                  rereview_specialist_path(review_item.item,
                  review_item_id: review_item.id)
            - else
              = link_to '(Review)',
                review_specialist_path(review_item.item,
                review_item_id: review_item.id)
      - else
        %li None

  .btn-group
    - if specialist_offices.one? && !@specialist.print_clinic_info?
      %a.btn{ href: specialist_office_information_path(@specialist,
        specialist_offices.first),
        target: "_blank" }
        %i.icon-print.icon-text
        Print Information for Patient
    - elsif specialist_offices.none? && @specialist.print_clinic_info? && @specialist.valid_clinic_locations.one?
      - clinic_location = @specialist.valid_clinic_locations.first
      %a.btn{ href: specialist_clinic_information_path(@specialist,
        clinic_location.clinic,
        clinic_location),
        target: "_blank" }
        %i.icon-print.icon-text
        Print Information for Patient
    - else
      %a.btn.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
        %i.icon-print.icon-text
        Print Information for Patient
        %span.caret
      %ul.dropdown-menu.specialist-dropdown__menu
        - if specialist_offices.any?
          - specialist_offices.each do |specialist_office|
            - next if specialist_office.office.blank?
            %li
              %a{ href: specialist_office_information_path(@specialist,
                specialist_office),
                target: "_blank" }
                #{@specialist.formal_name}'s office at #{specialist_office.office.short_address}
        - if @specialist.print_clinic_info?
          - @specialist.valid_clinic_locations.each do |clinic_location|
            %li
              = link_to "#{clinic_location.clinic.name}, at #{clinic_location.resolved_address.address1}",
                href: specialist_clinic_information_path(@specialist, clinic_location.clinic, clinic_location),
                target: "_blank"

    - if !current_user.as_admin_or_super? && (can? :update, @specialist)
      %a.btn.btn-primary{ href: specialist_self_edit_path(@specialist,
        @specialist.token) }
        %i.icon-pencil.icon-white
        Update #{@specialist.name}'s information
    - else
      %a.btn{ href: "javascript:void(0)",
        onclick: open_feedback_modal(@specialist) }
        %i.icon-bullhorn.icon-text
        Incorrect Information? Let us know
    - if !current_user.as_admin_or_super? && (can? :update, @specialist)
      %a.btn{ href: photo_specialist_path(@specialist) }
        %i.icon-picture.icon-white
        #{@specialist.photo.present? ? "Change" : "Add"} #{@specialist.name}'s photo

  - if current_user.as_admin_or_super?


    %p.admin.btn-group

      - if @specialist.review_item.present?

        = link_to("<i class='icon-list-alt'></i>".html_safe + " Review Pending Changes",
          review_specialist_path(@specialist),
          class: "btn")

      - elsif can? :update, @specialist

        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Specialist",
          edit_specialist_path(@specialist),
          class: "btn")
        = link_to("<i class='icon-file'></i>".html_safe + " Referral Forms",
          edit_referral_forms_path(parent_type: "Specialist",
          parent_id: @specialist.id),
          class: "btn")
        = link_to("<i class='icon-picture'></i>".html_safe + " Photo",
          photo_specialist_path(@specialist),
          class: "btn")
        %a.btn{ href: "javascript:void(0)",
          data: { toggle: "collapse", target: "#share" } }
          %i.icon-share
          Share
        = large_history_button(@specialist)
        - if current_user.as_admin? # fake out delete button for normal admins
          %a.btn{ href: "javascript:void(0)",
            data: { toggle: "collapse", target: "#delete-specialist-msg" } }
            %i.icon-trash
            = " Delete Specialist"

      - if can? :destroy, @specialist

        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Specialist",
          @specialist,
          data: { confirm: "Delete #{@specialist.name}?" },
          method: :delete,
          class: "btn")


  - if current_user.as_admin_or_super?
    #share.collapse

    :javascript
      window.pathways.attachSecretEditLinks({
        containerId: "share",
        props: {
          addLink: '#{secret_tokens_path}',
          accessibleId: #{@specialist.id},
          accessibleType: "Specialist",
          currentUserName: "#{@current_user.name}",
          links: #{@specialist.valid_secret_edit_links(current_user).to_json},
          canEdit: #{can?(:edit, @specialist)},
          modal: { isVisible: false }
        }
      })

  - if (can? :update, @specialist) && current_user.as_admin? # fake out delete msg
    #delete-specialist-msg.collapse
      .alert.alert-info{ style: "margin-top: 10px" }
        If you would like to have this specialist deleted, please contact a
        provincial administrator.
