/ - title "Specialist"

- if @is_version
  = render 'versions/info'

- if current_user.admin?
  #flash_notice
    - if @specialist.contact_email
      %h2 Email an invitation to this specialist
      %p Clicking the below link will send an invitation to edit this record with the following special url.
      %p= specialist_self_edit_path(@specialist, @specialist.token, :only_path => false)
      %p=link_to "Email #{@specialist.contact_email}", specialist_email_path(@specialist), :method => :post
    - else
      %p To send this link with an invitation to #{link_to "edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)} this specialist and add contact information
    %h4
      This specialist was contacted through the application
      = "never" if @specialist.contacts.length < 1
    = render @specialist.contacts

%h1
  = "#{@specialist.firstname} #{@specialist.lastname} - #{@specialist.specialization.name}"
%p
  %strong Direct number:
  = @specialist.direct_phone
  
- @specialist.addresses.each do |address|
  - next if address.empty?
  %p
    %i
      = "#{address.address2}, #{address.address1}, #{address.city}, #{address.province}, #{address.postalcode}"
      %br
      = "#{address.phone1}, fax: #{address.fax}"
      
%p
  %strong Status:
  = @specialist.status
  %br
  %strong Additional details (if any):
  = @specialist.status_details
  %br
  %strong Other practice Limitations (if any):
  = @specialist.practise_limitations
  %br
  %strong Practice opened at this location:
  = @specialist.location_opened
  %br
  %strong Languages spoken at the practice:
  = @specialist.languages.map{ |x| x.name }.join(", ")
  
%p
  %strong Investigations required for all patients:
  = @specialist.required_investigations
  %br
  %strong Area of practice:
  = compressed_procedures_indented(@specialist).html_safe
  %br
  %strong Most interested in:
  = @specialist.interest
  %br
  %strong Does not see or do:
  = @specialist.not_performed
  
%p
  %strong Accepts referrals via:
  = @specialist.referral_phone ? "phone, " : ""
  = @specialist.referral_fax ? "fax, " : ""
  = @specialist.referral_other_details
  %br
  %strong Has referral form:
  = @specialist.referral_form ? "yes" : "no"
  %br
  %strong Average length of time to notify GP of a booking date:
  = "#{@specialist.lagtime_old} #{@specialist.lag_uom_old}"
  %br
  %strong Average wait time from request for consultation to appointment:
  = "#{@specialist.waittime_old} #{@specialist.wait_uom_old}"
  %br
  %strong Office responds to referrals by:
  = @specialist.respond_by_phone ? "phone, " : ""
  = @specialist.respond_by_fax ? "fax, " : ""
  = @specialist.respond_by_mail ? "mail, " : ""
  = @specialist.respond_to_patient ? "directly to patient" : ""
  %br
  %strong Accepts direct calls from patients after referral to book their own appointments?
  = @specialist.patient_can_book ? "yes" : "no"
  %br
  %strong Conditions (red flags) that office feels warrants urgent consultation:
  = @specialist.red_flags
  %br
  %strong Optimal method of referral for urgent appointments:
  = @specialist.urgent_phone ? "phone, " : ""
  = @specialist.urgent_fax ? "fax, " : ""
  = @specialist.urgent_other_details
  
%p
  %strong Hospital Privileges:
  - @specialist.hospitals.each do |hospitals|
    = link_to(hospitals.name, url_for(hospitals))
    %br
  
%p
  %strong Clinics:
  - @specialist.clinics.each do |clinic|
    = link_to(clinic.name, url_for(clinic))
    %br

%p
  = link_to "History", show_versions_path(@specialist)
  |
  - if can? :update, @specialist
    = link_to "Edit", edit_specialization_specialist_path(@specialist.specialization, @specialist)
    |
  - if can? :destroy, @specialist
    = link_to "Destroy", @specialist, :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All #{@specialist.specialization.name}", specialization_path(@specialist.specialization)
  / |
  / # = link_to "View All Specialists", specialists_path
