- if activity.trackable.present?
  - if activity.trackable.owner_division.present?
    = link_to activity.trackable.owner_division.name, division_url(activity.trackable.owner_division)
  - else
    - "An unknown division "
  - if activity.trackable.type.present?
    = "added "
    - if !activity.trackable.title.present?
      - if activity.trackable.type == NewsItem::TYPE_HASH[NewsItem::TYPE_BREAKING]
        = link_to("a new untitled #{activity.trackable.type} item.", news_item_url(activity.trackable) )# "a new Breaking News item."
      - else
        = link_to("a new #{activity.trackable.type}.", news_item_url(activity.trackable) ) # "a new Attachment Update."
    - else
      - if activity.trackable.type == NewsItem::TYPE_HASH[NewsItem::TYPE_BREAKING]
        = link_to("a new #{activity.trackable.type} item: ", news_item_url(activity.trackable))# "a new Breaking News item: "
      - else
        = link_to("a new #{activity.trackable.type}: ", news_item_url(activity.trackable) ) # "a new Attachment Update: "
      %strong
        = link_to " #{activity.trackable.title}", news_item_url(activity.trackable) # " Title of Item"
  - else
    = link_to("click here to view it", news_item_url(activity.trackable))
- else
  A news item was created which has since been removed.