var pathways_division_search_data_content = {};
var pathways_division_search_data_entries = {};

-# sort by group ID then item id
function sort_division_entries(a, b) { return (a.go == b.go) ? ((a.id == b.id) ? 0 : ((a.id < b.id) ? -1 : 1)) : ((a.go < b.go) ? -1 : 1); }

= render 'livesearch_global.js'

- current_user_divisions.each do |division|
  - cache("livesearch_" + division_path(division) + "_entries") do
    - Specialization.all.each do |specialization|
      = render 'livesearch_division_entries.js', :division => division, :specialization => specialization

  -# sort, then filter out any duplicates (from being in more than one specialty)
  pathways_division_search_data_entries["#{division.id}"] = pathways_division_search_data_entries["#{division.id}"].sort(sort_division_entries).filter(function(item, pos) { return !pos || (item.id != pathways_division_search_data_entries["#{division.id}"][pos - 1].id) || (item.go != pathways_division_search_data_entries["#{division.id}"][pos - 1].go) } );

  = render 'livesearch_division_content.js', :division => division
