#section_aop

  %hr

  %h3 Areas of Practice
  = f.input :required_investigations,
    hint: "eg. XRs, MRIs, scans, blood work, etc."

  %hr{ style: "visibility:hidden" }

  %h4 Accepts Referrals For

  .content
    - @specializations_capacities.each do |specialization_capacities|
      .row
        .span12
          %h5= specialization_capacities[:specialization_name]
      .row
        .span4
          %strong Referrals accepted in the following areas of practice.
        .span4
          %strong
            Additional information/investigations required for the specified
            area of practice.
        .span2
          %strong Lag Time
        .span2
          %strong Wait Time

      - specialization_capacities[:capacities].each do |c|
        .row.spaced
          .span4.changed_wrapper{ class: "pad#{c[:offset]}" }
            %label{ for: "capacities_mapped_#{c[:id]}" }
              = hidden_field_tag "capacities_mapped[#{c[:id]}]",
                0,
                id: "capacities_mapped_#{c[:id]}_hidden"
              = check_box_tag "capacities_mapped[#{c[:id]}]",
                1,
                c[:mapped],
                class: "capacity"
              = c[:name]
          .span4.changed_wrapper
            = text_field_tag "capacities_investigations[#{c[:id]}]",
              c[:investigations],
              class: "span4"
          - if c[:custom_wait_time]
            .span2.changed_wrapper.lagtime
              = select_tag "capacities_lagtime[#{c[:id]}]",
                options_from_collection_for_select(Specialist::LAGTIME_LABELS,
                :first,
                :last,
                c[:lagtime]),
                class: "span2",
                include_blank: true
            .span2.changed_wrapper.waittime
              = select_tag "capacities_waittime[#{c[:id]}]",
                options_from_collection_for_select(Specialist::WAITTIME_LABELS,
                :first,
                :last,
                c[:waittime]),
                class: "span2",
                include_blank: true

  %hr{ style: "visibility:hidden" }

  = f.input :interest, as: :text
  = f.input :not_performed, as: :text
