%h3 General Information

= f.input :firstname
= f.input :lastname
= f.input :goes_by_name,
  hint: "A name which colleagues refer to the specialist with, if different from his or her formal first name. E.g. \"Bill\" when the first name is \"William\""
= f.input :sex_mask,
  as: :select,
  collection: Specialist::SEX_LABELS,
  label_method: :last,
  value_method: :first,
  include_blank: false
= f.input :billing_number,
  as: :string,
  input_html: { value: @specialist.padded_billing_number }
= f.input :completed_survey,
  label: "Responded to survey?"
= f.input :availability,
  label: "Available for work?",
  as: :select,
  collection: Specialist::AVAILABILITY_LABELS,
  value_method: :first,
  label_method: ->(pair){ pair.last.to_s.humanize },
  include_blank: false
= f.input :has_offices,
  label: "Has offices?"
= f.input :accepting_new_direct_referrals,
  label: "Accepting direct referrals (to offices)?",
  wrapper_html: { class: "form__wrapper--indented" }
= f.input :direct_referrals_limited,
  label: "Direct referrals limited by geography or number of patients?",
  wrapper_html: { class: "form__wrapper--double-indented" }
= f.input :retirement_scheduled,
  label: "Retirement scheduled?"
.specialist_retirement_date.form__wrapper--indented
  = f.input :retirement_date,
    wrapper: false,
    label: false,
    input_html: {style: "width: auto; float: left; margin: 0px 6px 12px 0px"}
= f.input :leave_scheduled,
  label: "Leave scheduled?"
#availability
  .specialist_unavailable_from.form__wrapper--indented
    = f.input :unavailable_from,
      label: false,
      wrapper: false,
      input_html: { class: "unavailable_from"}
    %span{style: "margin-left: 5px"}= "to"
  .specialist_unavailable_to.form__wrapper--indented
    = f.input :unavailable_to,
      label: false,
      wrapper: false,
      input_html: { class: "unavailable_to"}

= f.input :status_details
= f.input :practise_limitations

= f.input :is_gp

- if current_user.as_admin_or_super?
  = f.input :hidden, label: "Hide from users"
  = f.input :is_internal_medicine,
    label: "Show 'Internal Medicine' Tag",
    hint: "Please only use this tag when linking an Internal Medicine specialist to another specialty in which they do not have a fellowship."
  = f.input :sees_only_children,
    label: "Does not see adult patients"

= f.association :specializations,
  as: :check_boxes,
  hint: @form_modifier.specializations_hint,
  disabled: @form_modifier.restrict_editing?,
  label: @form_modifier.specializations_label_text
- if @form_modifier.show_comment_boxes?
  = f.input :specializations_comments,
    label: @form_modifier.specialization_comments_label,
    input_html: { value: "" },
    as: :text
