%h3 General Information

= f.input :firstname
= f.input :lastname
= f.input :goes_by_name,
  hint: "A name which colleagues refer to the specialist with, if different from his or her formal first name. E.g. \"Bill\" when the first name is \"William\""
= f.input :sex_mask,
  as: :select,
  collection: Specialist::SEX_LABELS,
  label_method: :last,
  value_method: :first,
  include_blank: false
= f.input :billing_number,
  as: :string,
  input_html: { value: @specialist.padded_billing_number }
= f.input :completed_survey
- if current_user.as_admin_or_super?
  = f.input :hidden, label: "Hide from users"
= f.input :practice_end_scheduled,
  label: "Physician has stopped or has plans to stop practicing in B.C.",
  hint: "(This option is applicable for leave, retirement, death, or a move away.)"
= f.input :practice_end_reason_key,
  as: :select,
  collection: Specialist::PRACTICE_END_REASONS,
  label_method: ->(pair){ pair.last.to_s.gsub("_", " ").capitalize },
  value_method: :first,
  label: "Reason for end of practice",
  wrapper_html: { class: "form__wrapper--indented" },
  include_blank: false
= f.input :practice_end_date,
  label: "Practice ended or will end on",
  wrapper_html: { style: "display: inline-block;", class: "form__wrapper--indented"},
  input_html: { style: "width: 100px;" }
= f.input :practice_restart_scheduled,
  label: "Physician plans to begin practicing in B.C. again",
  wrapper_html: { class: "form__wrapper--indented" }
= f.input :practice_restart_date,
  label: "Physician will begin practicing again on",
  wrapper_html: { style: "display: inline-block;",
    class: "form__wrapper--double-indented"},
  input_html: { style: "width: 100px;" }
= f.input :has_offices,
  label: "Has offices"
= f.input :accepting_new_direct_referrals,
  label: "Accepting direct referrals (to offices)?",
  wrapper_html: { class: "form__wrapper--indented" }
= f.input :direct_referrals_limited,
  label: "Direct referrals limited by geography or number of patients?",
  wrapper_html: { class: "form__wrapper--double-indented" }

= f.input :status_details
= f.input :practise_limitations

= f.input :is_gp

- if current_user.as_admin_or_super?
  = f.input :is_internal_medicine,
    label: "Show 'Internal Medicine' Tag",
    hint: "Please only use this tag when linking an Internal Medicine specialist to another specialty in which they do not have a fellowship."
  = f.input :sees_only_children,
    label: "Does not see adult patients"

= f.association :specializations,
  as: :check_boxes,
  hint: @form_modifier.specializations_hint,
  disabled: @form_modifier.restrict_editing?,
  label: @form_modifier.specializations_label_text
- if @form_modifier.show_comment_boxes?
  = f.input :specializations_comments,
    label: @form_modifier.specialization_comments_label,
    input_html: { value: "" },
    as: :text
