%h3 Basic Practice Information
= f.input :has_offices,
  label: "Has offices"
= f.input :accepting_new_direct_referrals,
  label: "Accepting direct referrals (to offices)?",
  wrapper_html: { class: "form__wrapper--indented" }
= f.input :direct_referrals_limited,
  label: "Direct referrals limited by geography or number of patients?",
  wrapper_html: { class: "form__wrapper--double-indented" }

= f.input :status_details
= f.input :practise_limitations

= f.input :is_gp

- if current_user.as_admin_or_super?
  = f.input :is_internal_medicine,
    label: "Show 'Internal Medicine' Tag",
    hint: "Please only use this tag when linking an Internal Medicine specialist to another specialty in which they do not have a fellowship."
  = f.input :sees_only_children,
    label: "Does not see adult patients"

= f.association :specializations,
  as: :check_boxes,
  hint: @form_modifier.specializations_hint,
  disabled: @form_modifier.restrict_editing?,
  label: @form_modifier.specializations_label_text
- if @form_modifier.show_comment_boxes?
  = f.input :specializations_comments,
    label: @form_modifier.specialization_comments_label,
    input_html: { value: "" },
    as: :text
