- if @review_item.present?
  :javascript
    (function(formData) {
      formData.overlayChanges = true;
      formData.baseReviewItem =
        #{@review_item.transformed_base_object(@specialist) || 'null'};
      formData.reviewItem =
        #{@review_item.transformed_review_object(@specialist) || 'null'};
      formData.maxLocations = #{Specialist::MAX_OFFICES};
      formData.interactionType = "#{@form_modifier.interaction_type.to_s}";
      formData.recordKey = "specialist";
      formData.reviewId = #{@review_item.id};
    }( window.pathways.formData = {} ));

:javascript
  $(document).ready(function() {
    if(window.pathways.formData && window.pathways.formData.overlayChanges) {
      window.
        pathways.
        referentForms.
        overlayFormChanges(window.pathways.formData);
    }

    window.pathways.profileForms.emphasizeLocationTabs();
    window.pathways.profileForms.stashPreEditForm();
    $(".chzn-select").chosen()
    window.pathways.profileForms.setupVisibilityToggles.specialist();

    document.getElementById("hiding-container").className =
      document.
        getElementById("hiding-container").
        className.
        replace("hidden", "").
        trim();

    $(document).on('nested:fieldAdded', function(event){
      event.field.find('.chzn-select').chosen();
    });
  });
