- set_page_specific_title @issue.code_with_label

.content-wrapper
  %h2= @issue.code_with_label
  %p.space
    %strong Description:
  %div= BlueCloth.new(@issue.description).to_html.html_safe
  %p.space
    %strong Completion Estimate:
    = @issue.completion_estimate
  %p.space
    %strong Progress:
    = @issue.progress
  %p.space
    %strong Effort Estimate:
    = @issue.effort_estimate
  - if @issue.change_request? && @issue.priority.present?
    %p.space
      %strong Priority:
      = @issue.priority
  %p.space
    %strong Date Entered:
    = @issue.date_entered
  - if @issue.completed?
    %p.space
      %strong Date Completed:
      = @issue.date_completed_label
  - if !@issue.completed? && @issue.assignees.any?
    %p.space
      %strong Assignee(s):
      = @issue.assignees_label

  - if current_user.as_super_admin?
    %h6 Notes

    - @issue.notes.reject(&:new_record?).sort_by(&:created_at).each do |note|
      = issue_comment(note)

    = render "notes/form",
      note: @issue.notes.build,
      redirect: :target_show

    %h6 Subscribed Users
    - if @issue.subscribers.none?
      %p (None)
    %ul
      - @issue.subscribers.each do |subscriber|
        %li
          - if subscriber == current_user
            %i= subscriber.name
          - else
            = subscriber.name

    %hr

    .btn-group
      - if can? :update, @issue
        = link_to edit_issue_path(@issue),
          class: "btn" do
          %i.icon-pencil
          Edit
      - if can? :destroy, @issue
        = link_to issue_path(@issue),
          data: { confirm: "Delete #{@issue.code_with_label}?" },
          method: :delete,
          class: "btn" do
          %i.icon-trash
          Delete
      - if can? :view_history, @issue
        = large_history_button(@issue)
      - if can? :toggle_subscription, @issue
        = link_to toggle_subscription_issue_path(@issue),
          class: "btn" do
          %i.icon-rss
          %span
            - if @issue.subscribers.include?(current_user)
              Unsubscribe
            - else
              Subscribe

  - else
    %p.space
      %b Subscription:

    - if @issue.subscribers.include?(current_user)
      %p.space
        %i You are subscribed to email updates about this issue.

    %p{ style: "margin-top: 10px" }
      = link_to toggle_subscription_issue_path(@issue),
        class: "btn" do
        %i.icon-rss
        %span
          - if @issue.subscribers.include?(current_user)
            Unsubscribe
          - else
            Subscribe

  %hr
  = link_to "< All Issues",
    issues_path
