= simple_nested_form_for @front, :url => {:controller => 'front', :action => :update}, :html => { :class => "ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages
    
  = hidden_field_tag 'division_id', @division.id
  
  - last_category = nil

  - @front.featured_contents.in_divisions([@division]).sort{ |a,b| "#{a.sc_category.sort_order} #{a.created_at}" <=> "#{b.sc_category.sort_order} #{b.created_at}" }.each do |fc|
    
    - if last_category != fc.sc_category.name
      %h4= fc.sc_category.name
      - last_category = fc.sc_category.name

    - count = 0
    = f.simple_fields_for :featured_contents, fc do |fcf|
      = fcf.association :sc_item, :collection => fc.sc_category.all_sc_items_in_divisions([@division]), :label => false, input_html: { :class => "span12" }
    
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', healthcare_providers_path, :class => "btn btn-danger ajax"
