= simple_nested_form_for @front, :url => {:controller => 'front', :action => :update}, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  - @front.featured_contents.in_divisions([@division]).order("sc_category_id, created_at").each do |fc|
    
    = f.simple_fields_for :featured_contents, fc do |fcf|
      = fcf.association :sc_item, :collection => fc.sc_category.all_sc_items_in_divisions([@division]), :label => fc.sc_category.name
    
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', healthcare_providers_path, :class => "btn btn-danger ajax"
