- title "Home"

%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret

= render 'partials/specialization_dropdown_menu'

%script{"type" => "text/javascript"}
  $(document).ready(function() { update_favorites() });

- user_divisions = current_user_divisions

- if current_user_is_admin?
  - user_divisions = @division.present? ? [@division] : [user_divisions.first]

- can_edit = current_user_is_super_admin? || (current_user_divisions & user_divisions).present?

- specializations = current_user_is_admin? ? Specialization.all : Specialization.not_in_progress_for_divisions(user_divisions).uniq

.content-wrapper
  .content#front{:style => current_user_is_admin? && 'margin-top: -15px'}

    - if current_user_is_admin?
      .row
        .span12
          Show front page for:
          %ul.nav.nav-pills
            - Division.all.each do |division|
              %li{:class => (division == user_divisions.first) && 'active'}
                = link_to division.name, front_as_division_path(division)
      %hr

    - news_items = NewsItem.breaking_in_divisions(user_divisions)
    - if news_items.length > 0
      .row
        .span12
          - news_items.each do |news_item|
            .news_item.breaking
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

    .row

      .span3.hidden-phone.front

        %h2 Specialties

        %ul.space
          - specializations.each do |specialization|
            %li
              = link_to specialization.name, specialization, :class => specialization.fully_in_progress_for_divisions(user_divisions) ? "in-progress ajax" : "ajax"
              = "<span class='new'>new</span>".html_safe if specialization.new_for_divisions(user_divisions)

      .span4half.front

        %h2 What is Pathways?

        %p
          Pathways is a web based resource to streamline and optimize patient referrals.
          = "<a href='javascript:void(0)' data-toggle='collapse' data-target='#what_is'>Learn more.</a>".html_safe

        %div{style: "margin-top: 10px;"}
          = image_tag "pathways_newsletter.png", style: "height: 100px; border: 1px solid lightgray; padding: 2px; margin-right: 10px; float: left;"
          %div{style: "display: inline-block;"}
            %p{style: "margin-top: 0px;"}
              = "The current Pathways newsletter is available #{link_to 'here', '#' }. It includes:".html_safe
            %ul{style: "margin-bottom: 20px;"}
              %li{style: "list-style-type: disc;"}
                = "an overview of the new Pathways filter function"
              %li{style: "list-style-type: disc;"}
                = "a sample patient interaction with Pathways"

            %p
              = "You can also browse #{link_to 'previous issues', '#'}.".html_safe
          %div{style: "clear: both;"}

        #what_is.collapse
          %p
            Originally a project of the Fraser NW Division of Family Practice, Pathways provides a comprehensive, searchable database of specialists, specialty clinics and services organized by specialty.

          %p
            Pathways contributes to improved patient outcomes by
            %strong incorporating learnings from our Shared Care initiatives,
            including decision tools, care pathways, pearls, red flags, and patient education materials.

          %p
            If you have any comments or questions while using the site, please contact us at
            = mail_to "administration@pathwaysbc.ca", "administration@pathwaysbc.ca"

        %h2 Latest Specialist and Clinic Updates

        - cache("latest_updates_#{user_divisions.map{|d| d.id }.join('_')}") do
          - latest_events(5, user_divisions).each do |event|
            %p= event

        - if current_user_is_admin? && can_edit
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Latest Specialist and Clinic Updates", news_items_path, :class => "btn btn-mini ajax")

        - divisional_updates = NewsItem.divisional_in_divisions(user_divisions)
        - if divisional_updates.length > 0

          %h2 Division Updates

          - divisional_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user_is_admin? && can_edit
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Division Updates", news_items_path, :class => "btn btn-mini ajax")

        - attachment_updates = NewsItem.attachment_in_divisions(user_divisions)
        - if attachment_updates.length > 0

          %h2 Attachment Updates

          - attachment_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user_is_admin? && can_edit
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Attachment Updates", news_items_path, :class => "btn btn-mini ajax")

        - shared_care_updates = NewsItem.shared_care_in_divisions(user_divisions)
        - if shared_care_updates.length > 0

          %h2
            %i.icon-red.icon-star
            Shared Care Updates

          - shared_care_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user_is_admin? && can_edit
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Shared Care Updates", news_items_path, :class => "btn btn-mini ajax")

        %div{style: "margin-top: 20px;"}
          %h2 Pathways Newsletter

          %div{style: "margin-top: 10px;"}
            = image_tag "pathways_newsletter.png", style: "height: 100px; border: 1px solid lightgray; padding: 2px; margin-right: 10px; float: left;"
            %div{style: "display: inline-block;"}
              %p{style: "margin-top: 0px;"}
                = "The current Pathways newsletter is available #{link_to 'here', '#' }. It includes:".html_safe
              %ul{style: "margin-bottom: 20px;"}
                %li{style: "list-style-type: disc;"}
                  = "an overview of the new Pathways filter function"
                %li{style: "list-style-type: disc;"}
                  = "a sample patient interaction with Pathways"

              %p
                = "You can also browse #{link_to 'previous issues', '#'}.".html_safe
            %div{style: "clear: both;"}

      .span4.offsethalf

        .well

          %h2.center Featured Content

          - cache("featured_content_#{user_divisions.map{|d| d.id }.join('_')}") do

            - ScCategory.all.reject{ |c| !c.show_on_front_page? }.each do |category|

              - featured_items = category.featured_contents.in_divisions(user_divisions).order("created_at").includes(:sc_item).reject{|fc| fc.sc_item.blank? }
              - next if featured_items.blank?

              %h3= link_to "#{category.name} <span class='all'> - Browse All <i class='icon-arrow-right icon-blue icon-small'></i></span>".html_safe, sc_category_path(category), :class => 'ajax'


              %ul.space
                - featured_items.map{|fc| fc.sc_item}.each do |featured_sc_item|
                  %li{:style => "margin-left: 0"}
                    - if featured_sc_item.new?
                      %span.new new
                    - if featured_sc_item.shared_care?
                      %i.icon-blue.icon-star
                    = link_to(featured_sc_item.title, featured_sc_item.resolved_url, :class => featured_sc_item.markdown? && "ajax", :target => featured_sc_item.markdown? ? "" : "_blank", "onclick" => "_gaq.push(['_trackEvent', 'content_item_id', '#{featured_sc_item.type_mask}', '#{featured_sc_item.id}']); _gaq.push(['_trackEvent', 'content_item_user', $('body').data('GLOBAL_USER_TYPE').toString(), $('body').data('GLOBAL_USER_ID').toString()]); return true;")
                    %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{featured_sc_item.id},'#{escape_javascript(featured_sc_item.title)}')", "title" => "Favourite / un-favourite"}
                      %i.icon-text.icon-small.icon-heart{"id" => "user_favorite_content_items_#{featured_sc_item.id}"}

            %h3
              = "Pathways Newsletter"

            %ul.space
              %li{:style => "margin-left: 0"}
                %a
                  = "April 2015"
              %li{:style => "margin-left: 0"}
                %a
                  = "Previous Issues"

          .featured-content
            %i.icon-star.icon-blue
            Indicates content from our Shared Care initiative

        - if current_user_is_admin? && can_edit
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Featured Content", edit_front_as_division_path(user_divisions.first), :class => "btn btn-mini ajax")
