- set_page_specific_title "Home"

= render "partials/body_panel_nav", specialization: nil

:javascript
  $(document).ready(function() { update_favorites() });

.content-wrapper
  .content#front{ style: current_user.as_admin_or_super? && 'margin-top: -15px' }

    - if current_user.as_admin_or_super?
      .row
        .span12
          Show front page for:
          %ul.nav.nav-pills
            - Division.all.each do |division|
              %li{ class: (division == @as_division) && 'active' }
                = link_to division.name, root_path(division_id: division.id)
      %hr

    - if @news_items.current.any?
      .row
        .span12
          - @news_items.current.each do |news_item|
            = render_news_item(news_item)
    .row
      .span3.hidden-phone.front

        %h2 Specialties

        %ul.space
          - @specializations.each do |specialization|
            %li
              = link_to specialization.name,
                specialization,
                class: FrontHelper.specialty_class(specialization,
                  *@as_divisions)
              - if specialization.new_for_divisions?(@as_divisions)
                %span.new new

      .span4half.front

        %h2 What is Pathways?

        %p
          Pathways is a web based resource to streamline and optimize patient
          referrals.
          %a{ href: 'javascript:void(0)',
            data: { toggle: 'collapse',
            target: '#what_is' } }
            Learn more.

        #what_is.collapse
          %p
            Originally a project of the Fraser NW Division of Family Practice,
            and now being rolled out to Divisions of Family Practice across BC,
            Pathways provides a comprehensive database of specialists,
            specialty clinics, and services that are searchable and filterable.

          %p
            Pathways contributes to improved patient outcomes by improving
            timely access to specialists, and providing a central hub for
            decision aids, guidelines, pearls, red flags, and patient education
            materials.

          %p
            To learn more about Pathways, please visit our
            %a{ href: pathways_info_path, target: '_blank' }
              Pathways Information page
            or access the user guide and training videos located in the ‘You’
            tab above.

          %p
            If you have any comments or questions while using the site, please
            = link_to("contact us", contact_path) + "."

        - if ENV["HIDE_LATEST_UPDATES"] != "true"
          %h2= link_to "Latest Specialist and Clinic Updates",
            scoped_news_item_archive_path(:latest_updates_path),
            class: "front_page__news_item_heading"

          - LatestUpdates.for(:front, @as_divisions).uniq.each do |event|
            %p= event[:markup]

          %p
            You can see past specialist and clinic updates
            = link_to("here",
              scoped_news_item_archive_path(:latest_updates_path)) + "."

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Manual Specialist and Clinic Updates

        - if @current_newsletter.present?
          %div{ style: "margin-top: 18px;" }
            %h2= link_to newsletter_section_heading(@current_newsletter),
              @current_newsletter.url,
              target: "_blank",
              class: "front_page__news_item_heading"

            %div{ style: "margin-top: 10px;" }
              = image_tag "pathways_newsletter.png",
                class: "newsletter__thumbnail"
              %p{ style: "margin-top: 0px;" }
                The current Pathways newsletter (
                = @current_newsletter.month
                Edition ) is available
                = link_to("here",
                  @current_newsletter.url,
                  target: "_blank") + "."
                It includes:
              %ul{ style: "margin-bottom: 20px;" }
                - @current_newsletter.description_items.each do |item|
                  %li{ style: "list-style-type: disc;" }
                    = item.description_item
              %p
                You can also
                = link_to('browse previous issues', newsletters_path) + "."
              %div{ style: "clear: both;" }

        - if @divisional_updates.any?
          %h2= link_to "Division Updates",
            scoped_news_item_archive_path(:news_items_archive_path,
            type: NewsItem::TYPE_DIVISIONAL),
            class: "front_page__news_item_heading"

          - if @divisional_updates.current.any?
            - @divisional_updates.current.each do |news_item|
              = render_news_item(news_item)

          %p
            You can see an archive of divisional updates
            = link_to("here",
              scoped_news_item_archive_path(:news_items_archive_path,
              type: NewsItem::TYPE_DIVISIONAL)) + "."

        - if @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Division Updates

        - if @attachment_updates.any?
          %h2= link_to "Attachment Updates",
            scoped_news_item_archive_path(:news_items_archive_path,
            type: NewsItem::TYPE_ATTACHMENT_UPDATE),
            class: "front_page__news_item_heading"

          - if @attachment_updates.current.any?
            - @attachment_updates.current.each do |news_item|
              = render_news_item(news_item)

          %p
            You can see an archive of attachment updates
            = link_to("here",
              scoped_news_item_archive_path(:news_items_archive_path,
              type: NewsItem::TYPE_ATTACHMENT_UPDATE)) + "."

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Attachment Updates

        - if @shared_care_updates.any?
          %h2
            = link_to scoped_news_item_archive_path(:news_items_archive_path,
              type: NewsItem::TYPE_SHARED_CARE),
              class: "front_page__news_item_heading" do
              %i.icon-red.icon-star
              Shared Care Updates

          - if @shared_care_updates.current.any?
            - @shared_care_updates.current.each do |news_item|
              = render_news_item(news_item)

          %p
            You can see an archive of Shared Care updates
            = link_to("here",
              scoped_news_item_archive_path(:news_items_archive_path,
              type: NewsItem::TYPE_SHARED_CARE)) + "."

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Shared Care Updates

        - if @news_items.any?
          %h2= link_to "Breaking News Archive",
            scoped_news_item_archive_path(:news_items_archive_path,
            type: NewsItem::TYPE_BREAKING),
            class: "front_page__news_item_heading"
          %p
            You can see an archive of past breaking news
            = link_to("here",
              scoped_news_item_archive_path(:news_items_archive_path,
              type: NewsItem::TYPE_BREAKING)) + "."

      .span4.offsethalf
        .well

          %h2.center Featured Content
          - division_ids = @as_divisions.map{ |division| division.id }.join('_')
          - cache("featured_content_#{division_ids}") do
            - ScCategory.front_page_for_divisions(@as_divisions).each do |cat|
              = render "front/index/featured_content_category",
                category: cat

          .featured-content
            %i.icon-star.icon-blue
            Indicates content from our Shared Care initiative

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            - first_division = @as_divisions.first.id
            = link_to edit_featured_contents_path(division_id: first_division),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Featured Content

:javascript
  window.pathways.favoriteFeaturedItem = function(event, id, title) {
    event.stopPropagation();
    favorite('content_items', id, title);
  };
