- title "Home"
  
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { update_favorites() });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

.content-wrapper
  .content#front
    - if NewsItem.breaking_in_divisions(current_user_divisions).length > 0
      .row
        .span12
          - NewsItem.breaking_in_divisions(current_user_divisions).each do |news_item|
            .news_item.breaking
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

    .row
       
      .span3.hidden-phone
       
        %h2 Specialties
        
        %ul.space
          - Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }.each do |specialization|
            %li= link_to specialization.name, specialization, :class => specialization.in_progress ? "in-progress ajax" : "ajax"
       
      .span4half
      
        %h2 What is Pathways?
        
        %p
          Pathways is is a web based resource for GPs and MOAs to facilitate real-time, optimal, patient referrals.
          = "<a href='javascript:void(0)' data-toggle='collapse' data-target='#what_is'>Learn more.</a>".html_safe
        
        #what_is.collapse
          %p 
            A project of the Fraser NW Division of Family Practice, Pathways provides a comprehensive, searchable database of specialists and clinics organized by specialty. 
          
          %p 
            Pathways contributes to improved patient outcomes by 
            %strong incorporating learnings from our Shared Care initiative, 
            including decision tools, care pathways, pearls, red flags, and patient education materials.
            
          %p
            If you have any comments or questions while using the site, please contact us at
            = mail_to "administration@pathwaysbc.ca", "administration@pathwaysbc.ca"
      
        %h2 Latest Specialist and Clinic Updates
        
        - cache('latest_updates') do
          - latest_events(5).each do |event|
            %p= event
            
        - if NewsItem.news_in_divisions(current_user_divisions).length > 0
          
          %h2 Division Updates
        
          - NewsItem.news_in_divisions(current_user_divisions).each do |news_item|
            
            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{:class => news_item.date.present? ? "news_item_title" : "news_item_date"}= news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user_is_admin?
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Division Updates", news_items_path, :class => "btn btn-mini ajax")
        
        %h2
          %i.icon-red.icon-star
          Shared Care Updates
        
        %p Our first sessions with our local orthopedic surgeons were a great success. We have referral criteria for the #{link_to 'Fraser Orthopedic Treatment Clinic (FOTC)', '/clinics/124', :class => 'ajax'} - a clinic that is available for referrals by all GP's - as well as red flag guidelines for urgent referrals. We also have a page about #{link_to 'improving the referral process in orthopedics', '/content_items/141', :class => 'ajax'} with our shared care decisions so far.
              
      .span4.offsethalf
      
        .well
          
          - ScCategory.all.reject{ |c| !c.show_on_front_page? || c.featured_sc_items.blank? }.each do |category|
         
            %h3= "Featured #{category.name}"
          
            %ul.space
              - category.featured_sc_items.sort{|a,b| b.created_at <=> a.created_at }.each do |featured_sc_item|
                %li
                  - if featured_sc_item.created_at > 2.week.ago.utc
                    %span.new new
                  - if featured_sc_item.shared_care?
                    %i.icon-blue.icon-star
                  = link_to(featured_sc_item.title, featured_sc_item.resolved_url, :class => featured_sc_item.markdown? && "ajax", :target => featured_sc_item.markdown? ? "" : "_blank", "onclick" => "_gaq.push(['_trackEvent', 'content_item_id', '#{featured_sc_item.type_mask}', '#{featured_sc_item.id}']); _gaq.push(['_trackEvent', 'content_item_user', $('body').data('GLOBAL_USER_TYPE').toString(), $('body').data('GLOBAL_USER_ID').toString()]); return true;")
                  %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{featured_sc_item.id},'#{escape_javascript(featured_sc_item.title)}')", "title" => "Favourite / un-favourite"}
                    %i.icon-text.icon-small.icon-heart{"id" => "user_favorite_content_items_#{featured_sc_item.id}"}
                  
              %li
                = link_to "<i class='icon-arrow-right icon-blue'></i> Browse all #{category.name}".html_safe, sc_category_path(category), :class => 'ajax'
                
          %h3
          
          %ul.space
            %li
              %i.icon-star.icon-blue 
              Indicates content from our Shared Care initiative
                  
        - if current_user_is_admin?
          %p.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Featured Content", edit_front_path, :class => "btn btn-mini ajax")
