- set_page_specific_title "Home"

= render "partials/body_panel_nav", specialization: nil

:javascript
  $(document).ready(function() { update_favorites() });

.content-wrapper
  .content#front{ style: current_user.as_admin_or_super? && 'margin-top: -15px' }

    - if current_user.as_admin_or_super?
      .row
        .span12
          Show front page for:
          %ul.nav.nav-pills
            - Division.all.each do |division|
              %li{ class: (division == @as_division) && 'active' }
                = link_to division.name, root_path(division_id: division.id)
      %hr

    - if @news_items.any?
      .row
        .span12
          - @news_items.each do |news_item|
            .news_item.breaking
              .news_item_date= news_item.date if news_item.date.present?
              %div{ class: FrontHelper.news_item_class(news_item) }
                = news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

    .row
      .span3.hidden-phone.front

        %h2 Specialties

        %ul.space
          - @specializations.each do |specialization|
            %li
              = link_to specialization.name,
                specialization,
                class: FrontHelper.specialty_class(specialization,
                  *@as_divisions)
              - if specialization.new_for_divisions?(@as_divisions)
                %span.new new

      .span4half.front

        %h2 What is Pathways?

        %p
          Pathways is a web based resource to streamline and optimize patient
          referrals.
          %a{ href: 'javascript:void(0)',
            data: { toggle: 'collapse',
            target: '#what_is' } }
            Learn more.

        #what_is.collapse
          %p
            Originally a project of the Fraser NW Division of Family Practice,
            and now being rolled out to Divisions of Family Practice across BC,
            Pathways provides a comprehensive database of specialists,
            specialty clinics, and services that are searchable and filterable.

          %p
            Pathways contributes to improved patient outcomes by improving
            timely access to specialists, and providing a central hub for
            decision aids, guidelines, pearls, red flags, and patient education
            materials.

          %p
            To learn more about Pathways, please visit our
            %a{ href: pathways_info_path, target: '_blank' }
              Pathways Information page
            or access the user guide and training videos located in the ‘You’
            tab above.

          %p
            If you have any comments or questions while using the site, please
            = link_to("contact us", contact_path) + "."

        %h2 Latest Specialist and Clinic Updates
        - if ENV["HIDE_LATEST_UPDATES"] != "true"
          - LatestUpdates.for(:front, @as_divisions).each do |event|
            %p= event[:markup]

        %p
          = link_to "More...", @more_updates_url

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Manual Specialist and Clinic Updates

        - if @current_newsletter.present?
          %div{ style: "margin-top: 18px;" }
            %h2
              = newsletter_section_heading(@current_newsletter)

            %div{ style: "margin-top: 10px;" }
              = image_tag "pathways_newsletter.png",
                class: "newsletter__thumbnail"
              %p{ style: "margin-top: 0px;" }
                The current Pathways newsletter (
                = @current_newsletter.month
                Edition ) is available
                = link_to @current_newsletter.url, target: '_blank' do
                  here
                  %span>= "."
                %span= " It includes:"
              %ul{ style: "margin-bottom: 20px;" }
                - @current_newsletter.description_items.each do |item|
                  %li{ style: "list-style-type: disc;" }
                    = item.description_item
              %p
                You can also
                = link_to('browse previous issues', newsletters_path) + "."
              %div{ style: "clear: both;" }

        - if @divisional_updates.any?

          %h2 Division Updates

          - @divisional_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{ class: FrontHelper.news_item_class(news_item) }
                = news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Division Updates

        - if @attachment_updates.any?

          %h2 Attachment Updates

          - @attachment_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{ class: FrontHelper.news_item_class(news_item) }
                = news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Attachment Updates

        - if @shared_care_updates.any?

          %h2
            %i.icon-red.icon-star
            Shared Care Updates

          - @shared_care_updates.each do |news_item|

            .news_item
              .news_item_date= news_item.date if news_item.date.present?
              %div{ class: FrontHelper.news_item_class(news_item) }
                = news_item.title if news_item.title.present?
              .news_item_body
                = BlueCloth.new(news_item.body).to_html.html_safe

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            = link_to news_items_path(division_id: @as_division.id),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Shared Care Updates


      .span4.offsethalf
        .well

          %h2.center Featured Content
          - division_ids = @as_divisions.map{ |division| division.id }.join('_')
          - cache("featured_content_#{division_ids}") do
            - ScCategory.front_page_for_divisions(@as_divisions).each do |cat|
              = render "front/index/featured_content_category",
                category: cat

          .featured-content
            %i.icon-star.icon-blue
            %span= "Indicates content from our Shared Care initiative"

        - if current_user.as_admin_or_super? && @can_edit_division
          %p.admin.btn-group
            - first_division = @as_divisions.first.id
            = link_to edit_featured_contents_path(division_id: first_division),
              class: "btn btn-mini" do
              %i.icon-pencil
              Edit Featured Content

:javascript
  window.pathways.favoriteFeaturedItem = function(event, id, title) {
    event.stopPropagation();
    favorite('content_items', id, title);
  };
