- title "Pathways"
  
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      Specialties
      %b.caret
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { update_favorites() });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

.content-wrapper
  .content#front
    .row
       
      .span3
       
        %h2 Specialties
        
        %ul.space
          - Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }.each do |specialization|
            %li= link_to specialization.name, specialization, :class => specialization.in_progress ? "in-progress ajax" : "ajax"
       
      .span4half
       
        %h2 What is Pathways?
        
        %p 
          Pathways is a web based resource for GPs and MOAs to facilitate 
          %strong real-time, optimal, patient referrals 
          by providing a comprehensive, searchable database of specialists and clinics organized by specialty. 
        
        %p 
          Pathways contributes to improved patient outcomes by 
          %strong incorporating learnings from our Shared Care initiative, 
          including decision tools, care pathways, pearls, red flags, and patient education materials.
      
        %h2 Latest Updates
        
        - cache('latest_updates') do
          - latest_events(5).each do |event|
            %p= event
            
        %h2 Division Updates
        
        %p
          %strong September 26th
          Pathways is demonstrated at the Fraser Northwest Division of Family Practice membership engagement meeting.
        
        %h2.shared_care Shared Care Updates
        
        %p Our first sessions with our local orthopedic surgeons were a great success. We have referral criteria for the #{link_to 'Fraser Orthopedic Treatment Clinic (FOTC)', '/clinics/124', :class => 'ajax'} - a clinic that is available for referrals by all GP's - as well as red flag guidelines for #{link_to 'upper extremeties', '/content_items/13', :class => 'ajax'}, #{link_to 'knee and hip', '/content_items/12', :class => 'ajax'}, and #{link_to 'ankle and foot', '/content_items/11', :class => 'ajax'}.
              
      .span4.offsethalf
      
        .well
          
          - ScCategory.all.reject{ |c| !c.show_on_front_page? || c.featured_sc_items.blank? }.sort{ |a,b| a.name <=> b.name }.each do |category|
         
            %h3= "Featured #{category.name}"
          
            %ul.space
              - category.featured_sc_items.each do |featured_sc_item|
                %li
                  - if featured_sc_item.shared_care?
                    %i.icon-blue.icon-star
                  - if featured_sc_item.markdown? 
                    = link_to featured_sc_item.title, featured_sc_item, :class => "ajax"
                  - else
                    = link_to featured_sc_item.title, featured_sc_item.link? ? featured_sc_item.url : featured_sc_item.document.url, :target => "_blank"
                  %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{featured_sc_item.id},'#{escape_javascript(featured_sc_item.title)}')", "title" => "Favourite / un-favourite"}
                    %i.icon-text.icon-small.icon-heart{"id" => "user_favorite_content_items_#{featured_sc_item.id}"}
                  
              %li
                = link_to "<i class='icon-arrow-right icon-blue'></i> Browse all #{category.name}".html_safe, sc_category_path(category), :class => 'ajax'
                
          %h3
          
          %ul.space
            %li
              %i.icon-star.icon-blue 
              Indicates content from our Shared Care initiative
                  
  - if current_user_is_admin?
    %p.admin.btn-group
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Front Page", edit_front_path, :class => "btn ajax")
    