%ul
  - node.changeset.attributes.reject(&:review_object?).each do |attribute|
    - if attribute.from? && attribute.to?
      %li
        = attribute.name
        = "changed from"
        %em= attribute.from
        = "to"
        %em= attribute.to
    - elsif attribute.from?
      %li
        = attribute.name
        = "is no longer"
        %em= attribute.from
    - elsif attribute.to?
      %li
        = attribute.name
        = "became"
        %em= attribute.to
