%ol
  - item.history.each_with_index do |history_node, index|
    %li.history__node
      - if history_node.target_is?(item)
        %p.history__line_item
          %span= history_verb(history_node)
          %span= " by "
          %span= history_node.user
          %span= "(#{history_node.date})"
      - else
        %p.history__line_item
          %span= history_node.user
          %span= history_verb(history_node)
          %span= history_node.target
          %span= "(#{history_node.date})"
      - if history_node.has_note?
        %ul
          %li
            = history_node.note
      - if history_node.changeset.present?
        = render "history/changeset", node: history_node
