-# (item, nodes)

%ol
  - nodes.each_with_index do |history_node, index|
    %li.history__node
      - if history_node.review?
        %p.history__line_item
          %span= history_node.user
          %span= "accepted changes made by"
          %span= history_node.secret_editor
          %span= "(#{history_node.date})"
      - elsif history_node.target_is?(item)
        %p.history__line_item
          %span= history_verb(history_node, item)
          %span= " by "
          %span= history_node.user
          %span= "(#{history_node.date})"
      - else
        %p.history__line_item
          %span= history_node.user
          %span= history_verb(history_node, item)
          %span
            - if history_node.target_link.present?
              = link_to history_node.target,
                history_node.target_link,
                target: "_blank"
            - else
              = history_node.target
          %span= "(#{history_node.date})"
      - if history_node.has_note?
        %ul
          %li
            = history_node.note
      - if history_node.changeset.present? && !history_node.archiving?
        = render "history/changeset", node: history_node
