- set_page_specific_title "History"

.content-wrapper
  %h2= "History for \"#{@item.label}\""

  .history__index
    = render 'history/nodes', item: @item, nodes: @item.history

  - if @item.is_a? Noteable
    .history__notes_field
      = render "notes/form", note: @new_note

      = link_to "View record", CustomPathHelper.smart_duck_path(@item)
