- title "History"

.content-wrapper
  %h2= "History for \"#{@item.label}\""

  .history__index
    = render 'history/nodes', item: @item

  - if @item.is_a? Noteable
    .history__notes_field
      = render "notes/form", note: @new_note

      = link_to "Back to record", duck_path(@item)
