- if current_user.as_admin_or_super?


  %p.admin.btn-group

    - if @specialist.review_item.present?

      = link_to("<i class='icon-list-alt'></i>".html_safe + " Review Pending Changes",
        review_specialist_path(@specialist),
        class: "btn")

    - elsif can? :update, @specialist

      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Specialist",
        edit_specialist_path(@specialist),
        class: "btn")
      = link_to("<i class='icon-file'></i>".html_safe + " Referral Forms",
        edit_referral_forms_path(parent_type: "Specialist",
        parent_id: @specialist.id),
        class: "btn")
      = link_to("<i class='icon-picture'></i>".html_safe + " Photo",
        photo_specialist_path(@specialist),
        class: "btn")
      %a.btn{ href: "javascript:void(0)",
        data: { toggle: "collapse", target: "#share" } }
        %i.icon-share
        Share
      = large_history_button(@specialist)
      - if current_user.as_admin? # fake out delete button for normal admins
        %a.btn{ href: "javascript:void(0)",
          data: { toggle: "collapse", target: "#delete-specialist-msg" } }
          %i.icon-trash
            = " Delete Specialist"

    - if can? :destroy, @specialist

      = link_to("<i class='icon-trash'></i>".html_safe + " Delete Specialist",
        @specialist,
        data: { confirm: "Delete #{@specialist.name}?" },
        method: :delete,
        class: "btn")

  #share.collapse

- if (can? :update, @specialist) && current_user.as_admin? # fake out delete msg
  #delete-specialist-msg.collapse
    .alert.alert-info{ style: "margin-top: 10px" }
      If you would like to have this specialist deleted, please contact a
      provincial administrator.
