.headline-header
.headline
  .specialist-image
    .image{ class: !@specialist.photo.present? && "empty" }
      - if @specialist.photo.present?
        %img{ src: @specialist.photo.url(:thumb) }
  %h2.profile_header__title{ class: (@specialist.hidden? ? "hidden-from-users" : "") }
    %span= @specialist.name
    %a{ href: "javascript:void(0)",
      onclick: "favorite('specialists',#{@specialist.id},'#{escape_javascript(@specialist.name)}')",
      title: "Favourite / un-favourite" }
      %i.icon-heart{ id: "user_favorite_specialists_#{@specialist.id}" }
  - if @specialist.hidden?
    %h5= " (Hidden from users)"
  %h3.specialty_links
    = specialist_specializations_listing(@specialist)
  - if @specialist.sex? && @specialist.padded_billing_number.present?
    %h5= " #{@specialist.sex}, MSP ##{@specialist.padded_billing_number}"
  - elsif @specialist.sex?
    %h5= @specialist.sex
  - elsif @specialist.padded_billing_number.present?
    %h5= "MSP ##{@specialist.padded_billing_number}"

  %p.space.no_indent
    %i{ class: @specialist.referral_icon_classes }

    %strong= @specialist.referral_summary

    - if @specialist.deceased? && @specialist.status_details.present?
      %p.no_indent
        = @specialist.status_details.end_with_period.convert_newlines_to_br

    - elsif !@specialist.surveyed?
      %p.space.no_indent
        = "They may be out of our current catchment area, or in a speciality we " + |
          "have yet to fully survey." |

    - elsif !@specialist.has_offices? || @specialist.indirect_referrals_only? && @specialist.hospital_clinic_details.present?

      %p.space.no_indent
        %strong Details:
        = @specialist.hospital_clinic_details

    - elsif @specialist.available?
      - if @specialist.status_details.present?
        %p.no_indent
          %strong Details:
          = @specialist.status_details.end_with_period.convert_newlines_to_br
      - if @specialist.practise_limitations.present?
        %p.no_indent
          %strong Limitations:
          = @specialist.practise_limitations.end_with_period.convert_newlines_to_br

.headline-footer
