.headline-header
.headline
  .specialist-image
    .image{class: !@specialist.photo.present? && "empty"}
      - if @specialist.photo.present?
        %img{src: @specialist.photo.url(:thumb)}
  %h2
    = @specialist.name
    = link_to "javascript:void(0)",
      onClick: "favorite('specialists',#{@specialist.id},'#{escape_javascript(@specialist.name)}')"
      title: "Favourite / un-favourite" do
      = content_tag :i,
        id: "user_favorite_specialists_#{@specialist.id}",
        class: "icon-heart #{@favorite_icon_class}"
  %h3.specialty_links
    - if @specialist.family_practice_only? && @specialist.is_gp
      %span= "GP"
    - elsif @specialist.is_gp
      %span= "GP with a focus in"
    %span
      - @header_specializations.each do |specialization|
        = link_to specialization.name,
          specialization_path(specialization)
          class: "#{ specialization.fully_in_progress_for_divisions(@specialist.divisions) ? "in-progress ajax" : "ajax" }"

  - if @specialist.sex? && @specialist.padded_billing_number.present?
    %h5= " #{@specialist.sex}, MSP ##{@specialist.padded_billing_number}"
  - elsif @specialist.sex?
    %h5= @specialist.sex
  - elsif @specialist.padded_billing_number.present?
    %h5= "MSP ##{@specialist.padded_billing_number}"

  %p.no_indent.space
    %i{class: @specialist.referral_status(:icon)}
    %strong.status= @specialist.referral_status(:show)

  - if specialist.indirect_referrals_only?
    - if @specialist.offices.any?
      %p.space.no_indent
        = "This physician also sees their own patients for ongoing care at their " + |
          "#{specialist_offices.many? ? "offices" : "office"} listed below."   |
    - if @specialist.hospital_clinic_details.present?
      %p.space.no_indent
        %strong Details:
        = @specialist.hospital_clinic_details

  - elsif specialist.available? && specialist.accepting_new_referrals?
    - if @specialist.status_details.present?
      %p.no_indent
        %strong Details:
        = @specialist.status_details.end_with_period.convert_newlines_to_br
    - if @specialist.practise_limitations.present?
      %p.no_indent
        %strong Limitations:
        = @specialist.practise_limitations.end_with_period.convert_newlines_to_br

.headline-footer
