%h6= "Review Queue Updates"
%ul
  - if @specialist.review_items.any?
    - @specialist.review_items.sort_by(&:created_at).each do |review_item|
      %li
        = review_item.created_at.strftime('%B %d, %Y')
        - if review_item.no_updates?
          = "(#{ReviewItem::STATUS_HASH[review_item.status]})"
        - elsif review_item.archived?
          - if review_item.base_object.present?
            = link_to '(Re-review)',
              rereview_specialist_path(review_item.item, review_item_id: review_item.id)
        - else
          = link_to '(Review)',
            review_specialist_path(review_item.item, review_item_id: review_item.id)
  - else
    %li= "None"
