- if form_modifier.token_edit?
  .control-group.text
    = label_tag :review_item_note,
      "If you have any comments for the admin team, please leave them here:",
      class: "text control-label"
    .controls
      = text_area_tag :review_item_note,
        "",
        class: "text"
- if form_modifier.admin_review? || form_modifier.admin_rereview?
  %h3 Review Item History
  = render 'history/nodes', item: review_item
- if form_modifier.admin_review?
  %hr
  .control-group.text
    = label_tag :review_item_note,
      "If you have any comments for this review, please leave them here:",
      class: "text control-label"
    .controls
      = text_area_tag :review_item_note,
        "",
        class: "text"
