- #(form, form_modifier, user, reviewable, review_item)
%hr
- if form_modifier.token_edit?
  .control-group.text
    = label_tag :review_item_note,
      "Please leave your contact information and any comments for the admin team here:",
      class: "text control-label"
    .controls
      = text_area_tag :review_item_note,
        "",
        class: "text"
- if form_modifier.admin_review? || form_modifier.admin_rereview?
  %h3 Review Item History
  = render 'history/nodes', item: review_item
- if form_modifier.admin_review?
  %hr
  .control-group.text
    = label_tag :review_item_note,
      "If you have any comments for this review, please leave them here:",
      class: "text control-label"
    .controls
      = text_area_tag :review_item_note,
        "",
        class: "text"
  %hr
- if form_modifier.admin_edit? || form_modifier.admin_new?
  - form.object.build_new_note!(user)
  = form.simple_fields_for :notes,
    form.object.new_notes do |note_fields|
    = note_fields.input :content,
      as: :text,
      label: "If you have any notes to append to this record, please leave them here:"
    = note_fields.input :user_id,
      as: :hidden
