#section_teleservices

  %hr

  %h3 Telehealth Services Offered

  %p{style: "margin-left: 0px;"}
    %span= "You may view the fee schedule for specialist telehealth services "
    = link_to "here.",
      "http://sscbc.ca/fees",
      target: "_blank",
      style: "display: inline-block;"

  %table#teleservices-fields
    %thead.row
      %th.span2.teleservices-row__first-th Teleservices
      %th.span1.teleservices-row__th Telephone
      %th.span1.teleservices-row__th Video
      %th.span1.teleservices-row__th Email/Text
      %th.span1.teleservices-row__th Store & Forward
      %th.span6.teleservices-row__final-th Booking & Contact
    %tbody
      = f.simple_fields_for :teleservices,
        f.object.teleservices.sort_by(&:service_type_key) do |ts|
        %tr.teleservices-row.row
          = ts.input :service_type_key, as: :hidden
          %td.span2.teleservices-row__first-td
            = ts.object.name
          %td.span1.teleservices-row__input-td
            = ts.input_field :telephone,
              class: "teleservices-row__input"
          %td.span1.teleservices-row__input-td
            = ts.input_field :video,
              class: "teleservices-row__input"
          %td.span1.teleservices-row__input-td
            = ts.input_field :email,
              class: "teleservices-row__input"
          %td.span1.teleservices-row__input-td
            = ts.input_field :store,
              class: "teleservices-row__input"
          %td.span6.teleservices-row__final-input-td
            = ts.input_field :contact_note,
              class: "teleservices-row__input"

  - if f.object.teleservices_require_review? && current_user.as_admin_or_super?
    = f.input :teleservices_require_review,
      label: "Telehealth services require review"
