!!!
%html
  %head
    %title #{@user.name} -- Pathways: Your Availability update
  %body
    %p
      = "Hi #{@user.name},"
    %br
    %p
      = @specialist.formal_name + ","
      a specialist in your district, will return to practice this week, on
      = @specialist.unavailable_to.strftime("%B %d, %Y") + "."
    %p
      You can check if #{@specialist.formal_name}'s profile is still current
      %a{ href: "http://www.pathwaysbc.ca/specialists/#{@specialist.id}" }
        by clicking here.
    %br
    %p
      You are receiving this message as a service to Pathways administrators.
