= simple_nested_form_for @specialization, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages
    
  = f.input :name
  = f.input :member_name
  
  - Division.all.each do |division|
    - possible_admins = division.users.admin + User.super_admin
    - division_admins = [nil]
    - possible_admins.uniq.each{ |user| division_admins << [user.name, user.id]}
    - specialization_option = SpecializationOption.find_by_specialization_id_and_division_id(@specialization.id, division.id)
    - owner_id = specialization_option.present? && specialization_option.owner.present? ? specialization_option.owner.id : nil
    - in_progress = specialization_option.present? && specialization_option.in_progress
    - open_to_clinic_tab = specialization_option.present? && specialization_option.open_to_clinic_tab
    %hr
    %h4=division.name
    .control-group
      %label.control-label
        Owner
      .controls
        = select_tag "owner[#{division.id}]", options_for_select(division_admins, owner_id), :name => "owner[#{division.id}]", :class => "select"
    .control-group
      %label.control-label
        In Progress
      .controls
        = check_box_tag "in_progress[#{division.id}]", "in_progress[#{division.id}]", in_progress, :name => "in_progress[#{division.id}]"
    .control-group
      %label.control-label
        Open to Clinic Tab
      .controls
        = check_box_tag "open_to_clinic_tab[#{division.id}]", "open_to_clinic_tab[#{division.id}]", open_to_clinic_tab, :name => "open_to_clinic_tab[#{division.id}]"

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', specializations_path, :class => "btn btn-danger ajax"
