%h2 Specialities

%p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Speciality", new_specialization_path, :class => "btn btn-bottom-pad")

%table.table.table-condensed
  - Specialization.all.each do |specialization|
    %tr
      %td{"style" => "vertical-align:middle"}= link_to specialization.name, specialization
      %td.admin.btn-group
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialization_path(specialization), :class => "btn btn-small")
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialization, :confirm => "Delete #{specialization.name}?", :method => :delete, :class => "btn btn-small")
