- set_page_specific_title "Specialties"

- if current_user.as_super_admin?
  - divisions = Division.all
- else
  - divisions = current_user.as_divisions

.content-wrapper

  %h2 Specialties

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Member name
      %th Specialist / Clinic Owners
      %th Content Owners
      %th.admin
    - Specialization.all.each do |specialization|
      %tr
        %td= link_to specialization.name, specialization
        %td= specialization.member_name
        %td
          %ul
            - divisions.each do |division|
              - specialization_option = SpecializationOption.find_by(specialization_id: specialization.id,
                division_id: division.id)
              %li
                = division.name + ":"
                - if specialization_option.present? && specialization_option.owner.present?
                  = link_to specialization_option.owner.name,
                    specialization_option.owner
                - else
                  none
        %td
          %ul
            - divisions.each do |division|
              - specialization_option = SpecializationOption.find_by(specialization_id: specialization.id,
                division_id: division.id)
              %li
                = division.name + ":"
                - if specialization_option.present? && specialization_option.content_owner.present?
                  = link_to specialization_option.content_owner.name,
                    specialization_option.content_owner
                - else
                  none
        %td.admin.btn-group
          = link_to edit_specialization_path(specialization),
            class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          - if can? :destory, specialization
            = delete_button(specialization,
              "Delete #{specialization.name}?",
              mini: true)

  - if can? :create, Specialization
    %p.admin
      = link_to new_specialization_path, class: "btn" do
        %i.icon-plus-sign
        New Specialty
