%p
  = link_to "New Specialization", new_specialization_path
%p
  = link_to "Specialists", specialists_path
  = " | "
  = link_to "Clinics", clinics_path
  = " | "
  = link_to "Areas of Practice", procedures_path
  = " | "
  = link_to "Hospitals", hospitals_path
  = " | "
  = link_to "Healthcare Providers", healthcare_providers_path
  = " | "
  = link_to "Languages", languages_path
  = " | "
  = link_to "Cities", cities_path
  
- Specialization.all.each do |specialization|
  %h3= specialization.name
  %p= link_to "Add new area of practice in #{specialization.name}", new_specialization_procedure_path(specialization)
  = specialization_procedures_indented(specialization).html_safe


