- title "Specialties"

.content-wrapper

  %h2 Specialties

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Member name
      %th Owners
      %th In Progress?
      %th.admin
    - Specialization.all.each do |specialization|
      %tr
        %td= link_to specialization.name, specialization, :class => 'ajax'
        %td= specialization.member_name
        %td
          %ul
            - Division.all.each do |division|
              - specialization_owner = SpecializationOwner.find_by_specialization_id_and_division_id(specialization.id, division.id)
              %li= "#{division.name}: #{specialization_owner.present? && specialization_owner.owner.present? ? (link_to specialization_owner.owner.name, specialization_owner.owner, :class => 'ajax') : "none"}".html_safe
        %td= specialization.in_progress ? "In progress" : ""
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialization_path(specialization), :class => "btn btn-mini ajax")
          = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialization, :confirm => "Delete #{specialization.name}?", :method => :delete, :class => "btn btn-mini")

  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Specialty", new_specialization_path, :class => "btn ajax")
