%p
  = link_to "Create new Specialization", new_specialization_path
  
- Specialization.all.each do |specialization|
  %h3= specialization.name
  %p
    = link_to "New specialist", new_specialization_specialist_path(specialization)
    |
    = link_to "New clinic", new_specialization_clinic_path(specialization)
    |
    = link_to "New area of practice", new_specialization_procedure_path(specialization)


