%h2 Specialities

%table.table.table-condensed.table-striped
  - Specialization.all.each do |specialization|
    %tr
      %td= link_to specialization.name, specialization, :class => 'ajax'
      %td= specialization.in_progress ? "In progress" : ""
      %td.admin.btn-group
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialization_path(specialization), :class => "btn btn-mini ajax")
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialization, :confirm => "Delete #{specialization.name}?", :method => :delete, :class => "btn btn-mini")

%p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Specialty", new_specialization_path, :class => "btn ajax")
