

%h1= @specialization.name

%h2 Specialists &amp; Clinics

/ TODO separate clinics and specializsts, remove AOP

%table.table.table-striped.table-condensed{:class => 'tablesorter {sortlist: [[2,0],[3,0]]}', :id => 'specialist_table'}
  %thead
    %tr{:class => 'tableheader'}
      / see tablesorter docx for sorters 
      %th{:class => "{sorter: 'bylastname'} name_coumn"} Name
      %th{:class => "{sorter: 'waittime'}"} Wait Time
      %th{:class => "{sorter: 'blanks_to_bottom'}"} City
  %tbody
    - (@specialization.specialists + @specialization.clinics).each do |specialist|
      %tr
        %td
          - type_of_row = specialist.class.to_s.downcase
          - case type_of_row
            - when 'specialist'
              = link_to specialist.name, specialist_path(specialist), :class => type_of_row
            - when 'clinic'
              = link_to specialist.name, clinic_path(specialist), :class => type_of_row
        %td= specialist.waittime
        %td= specialist.addresses.first ? specialist.addresses.first.city : ""

%h3 Areas of Practice/Expertise
= specialization_procedures_indented(@specialization).html_safe

%p
  = link_to "New specialist", new_specialization_specialist_path(@specialization)
  |
  = link_to "New clinic", new_specialization_clinic_path(@specialization)
  |
  = link_to "New area of practice", new_specialization_procedure_path(@specialization)


%p
  = link_to "Edit specialization", edit_specialization_path(@specialization)
  |
  = link_to "Delete specialization", @specialization, :confirm => "Delete #{@specialization.name}?", :method => :delete
  |
  = link_to "Show all specializations", specializations_path
