/ - title "Specialization"

%h1= @specialization.name

%h3 Specialists &amp; Clinics

%table{:class => 'tablesorter {sortlist: [[2,0],[3,0]]}', :id => 'specialist_table'}
  %thead
    %tr{:class => 'tableheader'}
      / see tablesorter docx for sorters 
      %th Name
      %th{:class => "{sorter: 'waittime'}"} Lag
      %th{:class => "{sorter: 'waittime'}"} Wait
      %th{:class => "{sorter: 'blanks_to_bottom'}"} City
      %th{:class => "{sorter: false}"} Area of practice
  %tbody
    - (@specialization.specialists + @specialization.clinics).each do |specialist|
      %tr
        %td{:class => 'name_column'  }
          - type_of_row = specialist.class.to_s.downcase
          - case type_of_row
            - when 'specialist'
              = link_to specialist.name, specialist_path(specialist), :class => type_of_row
            - when 'clinic'
              = link_to specialist.name, clinic_path(specialist), :class => type_of_row
        %td{:class => 'number_column'}= specialist.lagtime
        %td{:class => "number_column"}= specialist.waittime
        %td{:class => 'city_column'}= specialist.addresses.first ? specialist.addresses.first.city : ""
        %td= compressed_procedures(specialist)

%h3 Areas of Practice/Expertise
%ul{:class => 'procedure_list'}
  - @specialization.procedures.each do |procedure|
    %li= link_to listed_procedure(procedure), procedure_path(procedure)

%p
  = link_to "New Clinic", new_specialization_clinic_path(@specialization)
  |
  = link_to "New Specialist", new_specialization_specialist_path(@specialization)
  |
  = link_to "New Area of Practice", new_specialization_procedure_path(@specialization)
  |
  = link_to "New Hospital", new_hospital_path
  |
  = link_to "New Language", new_language_path
  |
  = link_to "New Healthcare Provider", new_healthcare_provider_path
  |
  = link_to "New City", new_city_path

%p
  = link_to "Edit", edit_specialization_path(@specialization)
  |
  = link_to "Destroy", @specialization, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", specializations_path
