- title "#{@specialization.name}"
    
%ul#specialties-menu
  %li.dropdown
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  %li.subsequent{:class =>  @specialization.in_progress && "in-progress"}= @specialization.name
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { update_favorites() });
    
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

- has_specialists = @specialization.specialists.length > 0
- has_clinics = @specialization.clinics.length > 0

- specialist_tab_class = has_specialists ? "active" : ""
- clinic_tab_class = has_specialists ? "" : "active"

.tabbable
  %ul#content_tabs.nav.nav-tabs
    - if has_specialists
      %li{:class => specialist_tab_class} 
        %a#specialists{"href" => "#specialist_tab", "data-toggle" => "tab", "onclick" => "_gaq.push(['_trackEvent', 'specialization', 'tab', 'specialists', #{@specialization.id}]); return true;"}
          %span Specialists
    - if has_clinics
      %li{:class => clinic_tab_class}
        %a#clinics{"href" => "#clinic_tab", "data-toggle" => "tab", "onclick" => "_gaq.push(['_trackEvent', 'specialization', 'tab', 'clinics', #{@specialization.id}]); return true;"}
          %span Clinics
    - ScCategory.specialty.each do |sc_category|
      - if sc_category.sc_items_for_specialization(@specialization).present?
        %li
          %a{"href" => "##{sc_category.name.remove_whitespace}_tab", "id" => sc_category.name.remove_whitespace, "data-toggle" => "tab", "onclick" => "_gaq.push(['_trackEvent', 'specialization', 'tab', '#{sc_category.id}', #{@specialization.id}]); return true;"}
            %span= sc_category.name
  
  .content-wrapper
  
    - cache(specialization_path(@specialization)) do

      %script{"type" => "text/javascript"}
        $(document).ready(function() {
        - @specialization.specialists.each do |s|
          - next if not s.show_in_table?
          $('#s#{s.id}').data('filter', '#{specialist_filtering_attributes(s, false).join(' ')}');
          
        - other_specialists = other_specialists(@specialization)
        - other_specialists.each do |s|
          - next if not s.show_in_table?
          $('#specialist_table').data('s#{s.id}', '#{specialist_filtering_attributes(s, true).join(' ')}');
          $('#specialist_table').data('s#{s.id}_name', '#{escape_javascript(s.name)}');
          $('#specialist_table').data('s#{s.id}_specialties', '#{escape_javascript(s.specializations.map{|sp| sp.name}.to_sentence)}');
          $('#specialist_table').data('s#{s.id}_status_class', '#{escape_javascript(s.status_class)}');
          $('#specialist_table').data('s#{s.id}_status_sort', '#{s.status_mask}');
          $('#specialist_table').data('s#{s.id}_wait_time', '#{escape_javascript(s.waittime)}');
          $('#specialist_table').data('s#{s.id}_city', '#{escape_javascript(s.city)}');
        $('#specialist_table').data('filter', '#{other_specialists.map{ |s| s.id }.join(' ')}');
        
        - @specialization.clinics.each do |c|
          - next if not c.show_in_table?
          $('#c#{c.id}').data('filter', '#{clinic_filtering_attributes(c).join(' ')}');
        });
    
      .tab-content
        - if has_specialists
          #specialist_tab.tab-pane{:class => specialist_tab_class} 
          
            .content
              .row
                .span8half                    
                  .toggle-filters.visible-phone
                    %a{"href" => "javascript:void(0)", "onclick" => "$('#specialist_filters').toggle()"}
                      %i.icon-blue.icon-cog.icon-small
                      Show / Hide Specialist Filters
                
                  #specialist_phrase.filter-phrase
                          
                  #specialist_others.other-phrase
                          
                  #specialist_hide_others.other-phrase
                    %a{"href" => "javascript:void(0)", "onclick" => "hide_others('specialist', '#{@specialization.member_name.uncapitalize_first_letter.pluralize}')"}Hide
                    results from other specialties.
                
                  %table.table.table-condensed.tablesorter#specialist_table
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'bylastname'} name_column"} Specialist
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - (@specialization.specialists).each do |specialist|
                        - next if not specialist.show_in_table?
                        %tr{:class => specialist.disabled_in_table? && "disabled", :id => "s#{specialist.id}"}
                          %td.sp
                            %a.ajax{"href" => specialist_path(specialist)}= specialist.name
                          %td.st
                            %i{:class => specialist.status_class}
                            .status= specialist.status_class_hash
                          %td.wt= specialist.waittime
                          %td.c
                            %ul
                              - specialist.cities.each do |city|
                                %li= city
                          
                  #specialist_assumed_list
                    - if @specialization.procedure_specializations.assumed.reject{ |ps| ps.parent.present? }.present?
                      %i.icon-asterisk.icon-disabled.icon-small
                      Areas of practice we assume all #{@specialization.member_name.uncapitalize_first_letter.pluralize} see:
                      = @specialization.procedure_specializations.assumed.reject{ |ps| ps.parent.present? }.sort{ |a,b| a.procedure.name <=> b.procedure.name }.map{ |ps| ps.procedure.name.uncapitalize_first_letter }.to_sentence
                      
                .span3.offsethalf
                  .well.filter#specialist_filters
                    .title
                      Filter Specialists
                    - if @specialization.procedure_specializations.non_assumed.present?
                      .filter-group
                        %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-aop"}
                          Areas of Practice
                          - if @specialization.procedure_specializations.assumed.present?
                            %sup
                              %i.icon-asterisk.icon-disabled.icon-small
                        #specialist-filter-aop.collapsable.in
                          .filter-group-content
                            - @specialization.focused_procedure_specializations_arranged.each do |ps, children|
                              - next if ps.procedure.all_specialists.blank?
                              %label
                                %input.sp{"type" => "checkbox", "id" => "sp#{ps.procedure.id}_", "onclick" => "$('#children_sp#{ps.procedure.id}_').collapse('toggle')"}= ps.procedure.name
                              - next if children.length == 0
                              .collapse{:id => "children_sp#{ps.procedure.id}_"}
                                %script{"type" => "text/javascript"}
                                  :plain
                                    $(document).ready(function() {
                                      $('#children_sp#{ps.procedure.id}_').collapse({toggle: false}); 
                                    });
                                - parent_id = ps.procedure.id
                                - children.each do |ps, children|
                                  - next if ps.procedure.all_specialists.blank?
                                  %label.indent
                                    %input.sp{"type" => "checkbox", "id" => "sp#{ps.procedure.id}_", "class" => "child_sp#{parent_id}_"}= ps.procedure.name
                            
                            - non_focused_procedure_specializations = @specialization.non_focused_procedure_specializations_arranged
                            - has_more = false
                            - non_focused_procedure_specializations.each do |ps, children|
                              - has_more = true if not ps.procedure.all_specialists.blank?
                              - break if has_more
                            
                            - if has_more
                              %a.more#specialist_procedures_more{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#more_specialist_procedures"} More...
                              %script{"type" => "text/javascript"}
                                :plain
                                  $(document).ready(function() {
                                    $('#more_specialist_procedures').on('show', function() {
                                      $('#specialist_procedures_more').html('Less...');
                                    });
                                    $('#more_specialist_procedures').on('hide', function() {
                                      $('#specialist_procedures_more').html('More...');
                                    });
                                  });
                        
                              #more_specialist_procedures.more.collapse
                                - non_focused_procedure_specializations.each do |ps, children|
                                  - next if ps.procedure.all_specialists.blank?
                                  %label
                                    %input.sp{"type" => "checkbox", "id" => "sp#{ps.procedure.id}_"}= ps.procedure.name
                                  - next if children.length == 0
                                  .collapse{:id => "children_sp#{ps.procedure.id}_"}
                                    %script{"type" => "text/javascript"}
                                      :plain
                                        $(document).ready(function() {
                                          $('#children_sp#{ps.procedure.id}_').collapse({toggle: false}); 
                                        });
                                    - parent_id = ps.procedure.id
                                    - children.each do |ps, children|
                                      - next if ps.procedure.all_specialists.blank?
                                      %label.indent
                                        %input.sp{"type" => "checkbox", "id" => "sp#{ps.procedure.id}_", "class" => "child_sp#{parent_id}_"}= ps.procedure.name
                                  
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-referral"}
                        Referrals
                      #specialist-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#srph.sr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.sc
                              %option{"value" => 0} Any timeframe
                              - Specialist::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "sc#{lag_index}_"}= lag_value
                          %label
                            %input#srpb.sr{"type" => "checkbox"} Patients can call to book after referral
        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-sex"}
                        Sex
                      #specialist-filter-sex.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#ssm.ss{"type" => "checkbox"} Male
                          %label.half
                            %input#ssf.ss{"type" => "checkbox"} Female
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-schedule"}
                        Schedule
                      #specialist-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsat"} Saturday
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsun"} Sunday
                  
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-language"}
                        Languages
                      #specialist-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#si.si{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.sl{"type" => "checkbox", "id" => "sl#{l.id}_"}= l.name
                            
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-association"}
                        Associations
                      #specialist-filter-association.collapsable.collapse
                        .filter-group-content
                          - if @specialization.clinics.present?
                            %label.indent
                              Clinic:
                              %select.sa
                                %option{"value" => 0} Any
                                - @specialization.clinics.each do |c|
                                  %option{"value" => "sac#{c.id}_"}= c.name
                          %label.indent
                            Hospital:
                            %select.sa
                              %option{"value" => 0} Any
                              - Hospital.all.each do |h|
                                %option{"value" => "sah#{h.id}_"}= h.name

                %script{"type" => "text/javascript"}
                  :plain
                    $(document).ready(function() {
                      var update_custom_specialist_table = function()
                      {
                        update_table('s', 'specialist', '#{@specialization.member_name.uncapitalize_first_letter.pluralize}');
                      }
                      $('.sp, .sc, .sr, .ss, .si, .ssh, .sl, .sa').click( update_custom_specialist_table );
                    });
              
        - if has_clinics
          #clinic_tab.tab-pane{:class => clinic_tab_class}
          
            .content
              .row
                .span8half
                  .toggle-filters.visible-phone
                    %a{"href" => "javascript:void(0)", "onclick" => "$('#clinic_filters').toggle()"}
                      %i.icon-blue.icon-cog.icon-small
                      Show / Hide Clinic Filters
                      
                  #clinic_phrase.filter-phrase
                    
                  %table.table.table-condensed.tablesorter#clinic_table
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'text'} name_column"} Clinic
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - (@specialization.clinics).each do |clinic|
                        - next if not clinic.show_in_table?
                        %tr{:class => clinic.disabled_in_table? && "disabled", :id => "c#{clinic.id}"}
                          %td.sp
                            %a.ajax{"href" => clinic_path(clinic)}= clinic.name
                          %td.st
                            %i{:class => clinic.status_class}
                            .status= clinic.status_class_hash
                          %td.wt= clinic.waittime
                          %td.c= clinic.city
                          
                .span3.offsethalf
                  .well.filter#clinic_filters
                    .title
                      Filter Clinics
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#clinic-filter-aop"}
                        Areas of Practice
                      #clinic-filter-aop.collapsable.in
                        .filter-group-content
                          - @specialization.focused_procedure_specializations_arranged.each do |ps, children|
                            - next if ps.procedure.all_clinics.blank?
                            %label
                              %input.cp{"type" => "checkbox", "id" => "cp#{ps.procedure.id}_", "onclick" => "$('#children_cp#{ps.procedure.id}_').collapse('toggle')"}= ps.procedure.name
                            - next if children.length == 0
                            .collapse{:id => "children_cp#{ps.procedure.id}_"}
                              %script{"type" => "text/javascript"}
                                :plain
                                  $(document).ready(function() {
                                    $('#children_cp#{ps.procedure.id}_').collapse({toggle: false}); 
                                  });
                              - parent_id = ps.procedure.id
                              - children.each do |ps, children|
                                - next if ps.procedure.all_clinics.blank?
                                %label.indent
                                  %input.cp{"type" => "checkbox", "id" => "cp#{ps.procedure.id}_", "class" => "child_cp#{parent_id}_"}= ps.procedure.name
                          
                          - non_focused_procedure_specializations = @specialization.non_focused_procedure_specializations_arranged
                          - has_more = false
                          - non_focused_procedure_specializations.each do |ps, children|
                            - has_more = true if not ps.procedure.all_clinics.blank?
                            - break if has_more
                          
                          - if has_more
                            %a.more#clinic_procedures_more{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#more_clinic_procedures"} More...
                            %script{"type" => "text/javascript"}
                              :plain
                                $(document).ready(function() {
                                  $('#more_clinic_procedures').on('show', function() {
                                    $('#clinic_procedures_more').html('Less...');
                                  });
                                  $('#more_clinic_procedures').on('hide', function() {
                                    $('#clinic_procedures_more').html('More...');
                                  });
                                });
                      
                            #more_clinic_procedures.more.collapse
                              - non_focused_procedure_specializations.each do |ps, children|
                                - next if ps.procedure.all_clinics.blank?
                                %label
                                  %input.cp{"type" => "checkbox", "id" => "cp#{ps.procedure.id}_", "onclick" => "$('#children_cp#{ps.procedure.id}').collapse('toggle')"}= ps.procedure.name
                                - next if children.length == 0
                                .collapse{:id => "children_cp#{ps.procedure.id}"}
                                  %script{"type" => "text/javascript"}
                                    :plain
                                      $(document).ready(function() {
                                        $('#children_cp#{ps.procedure.id}').collapse({toggle: false}); 
                                      });
                                  - parent_id = ps.procedure.id
                                  - children.each do |ps, children|
                                    - next if ps.procedure.all_clinics.blank?
                                    %label.indent
                                      %input.cp{"type" => "checkbox", "id" => "cp#{ps.procedure.id}_", "class" => "child_cp#{parent_id}"}= ps.procedure.name
                                
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#clinic-filter-referral"}
                        Referrals
                      #clinic-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#crph.cr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.cc
                              %option{"value" => 0} Any timeframe
                              - Clinic::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "csc#{lag_index}_"}= lag_value
                          %label
                            %input#crpb.cr{"type" => "checkbox"} Patients can call to book after referral
      
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-details"}
                        Clinic Details
                      #clinic-filter-details.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#cdpb.cd{"type" => "checkbox"} Public
                          %label.half
                            %input#cdpv.cd{"type" => "checkbox"} Private
                          %label
                            %input.cd{"type" => "checkbox", "id" => "cdwa"} Wheelchair Accessible
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-schedule"}
                        Schedule
                      #clinic-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshmon"} Monday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshtues"} Tuesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshwed"} Wednesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshthurs"} Thursday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshfri"} Friday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsat"} Saturday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsun"} Sunday
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-healthcare-providers"}
                        Care Providers
                      #clinic-filter-healthcare-providers.collapsable.collapse
                        .filter-group-content
                          - HealthcareProvider.all.each do |h|
                            %label
                              %input.ch{"type" => "checkbox", "id" => "ch#{h.id}_"}= h.name
                  
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-language"}
                        Languages
                      #clinic-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#ci.ci{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.cl{"type" => "checkbox", "id" => "cl#{l.id}_"}= l.name

                %script{"type" => "text/javascript"}
                  :plain
                    $(document).ready(function() {
                      $('.cp, .cc, .cr, .cd, .csh, .ch, .ci, .cl').click( update_clinic_table );
                    });
      
        - ScCategory.specialty.each do |sc_category|
        
          - items = sc_category.sc_items_for_specialization(@specialization)
          - next if items.blank?
              
          .tab-pane{"id" => "#{sc_category.name.remove_whitespace}_tab"}  
        
            - if sc_category.inline?
      
              - items.sort{ |a,b| a.sc_category.sort_order <=> a.sc_category.sort_order }.each do |sc_item|
                .scm
                  %h1
                    - if sc_item.shared_care?
                      %i.icon-red.icon-star
                    = sc_item.full_title
                    %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{sc_item.id},'#{escape_javascript(sc_item.title)}')", "title" => "Favourite / un-favourite"}
                      %i.icon-text.icon-heart{"id" => "user_favorite_content_items_#{sc_item.id}"}
                    %a{"href" => "javascript:void(0)", "onclick" => "show_feedback('#{escape_javascript(sc_item.title)}',#{sc_item.id})", :title => "Provide feedback on content"}
                      %i.icon-bullhorn
                  
                  - if sc_item.markdown?
                    = BlueCloth.new(sc_item.markdown_content).to_html.html_safe
                  - else
                    = link_to sc_item.title, sc_item.resolved_url, :target => "_blank"
            
            - else
            

              %script{"type" => "text/javascript"}
                $(document).ready(function() {
                - items.each do |sc_item|
                  $('#i#{sc_item.id}').data('filter', '#{sc_item_filtering_attributes(sc_item, false).join(' ')}');
                });
          
              .content
                .row
                  .span8half
                    .toggle-filters.visible-phone
                      %a{"href" => "javascript:void(0)", "onclick" => "$('##{sc_category.id}_filters').toggle()"}
                        %i.icon-blue.icon-cog.icon-small
                        Show / Hide #{sc_category.name} Filters
                        
                    .filter-phrase{:id => "#{sc_category.id}_phrase"}
        
                    %table.table.table-condensed.tablesorter.category_table{:id => "#{sc_category.id}_table"}
                      %thead
                        %tr{:class => 'tableheader'}
                          %th{:class => "title {sorter: 'text'}"} Title
                          %th{:class => "subcategory {sorter: 'text'}"} Subcategory
                          %th.favorite
                          %th.email
                          %th.fb
                      %tbody
                        - items.each do |sc_item|
                          %tr{:id => "i#{sc_item.id}"}
                            %td.title
                              - if sc_item.shared_care?
                                %i.icon-blue.icon-star
                              = link_to(sc_item.title, sc_item.resolved_url, :class => sc_item.markdown? && "ajax", :target => sc_item.markdown? ? "" : "_blank", "onclick" => "_gaq.push(['_trackEvent', 'content_item', 'click', '#{sc_item.type}', #{sc_item.id}]); return true;")
                            %td.subcategory= sc_item.sc_category.name
                            %td.favorite
                              %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{sc_item.id},'#{escape_javascript(sc_item.title)}')", "title" => "Favourite / un-favourite"}
                                %i.icon-text.icon-heart{"id" => "user_favorite_content_items_#{sc_item.id}"}
                            %td.email
                              - if sc_item.can_email?
                                = link_to "<i class='icon-envelope-alt icon-blue'></i>".html_safe, compose_mail_to_patients_path(sc_item), :class => 'ajax', :title => "E-mail to patient"
                            %td.fb
                              %a{"href" => "javascript:void(0)", "onclick" => "show_feedback('#{escape_javascript(sc_item.title)}',#{sc_item.id})", :title => "Provide feedback on content"}
                                %i.icon-bullhorn
                          
                          
                  - if sc_category.has_children?
                    .span3.offsethalf
                      .well.filter{:id => "#{sc_category.id}_filters"}
                        .title
                          Filter #{sc_category.name}
                                    
                        .filter-group
                          %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "##{sc_category.id}-filter-subcategories"}
                            Subcategories
                          .collapsable.in{:id => "#{sc_category.id}-filter-subcategories"}
                            .filter-group-content
                              %label
                                %input.ic#icall{"type" => "radio", "name" => "ic#{sc_category.id}", "checked" => "checked"} All
                              - sc_category.children.each do |subcategory|
                                - next if subcategory.sc_items.for_specialization(@specialization).blank?
                                %label
                                  %input.ic{"type" => "radio", "name" => "ic#{sc_category.id}", "id" => "ic#{subcategory.id}_"}= subcategory.name

                  %script{"type" => "text/javascript"}
                    :plain
                      var update_category_#{sc_category.id}_table = function() { update_category_table(#{sc_category.id}, '#{sc_category.name}'); }
                      $(document).ready(function() {
                        $("input.ic[name='ic#{sc_category.id}'], input.if[name='if#{sc_category.id}']").click( update_category_#{sc_category.id}_table ); 
                      });
                    
            %hr
            = link_to "<i class='icon-arrow-right icon-blue'></i> Browse #{sc_category.name} content from all specialties".html_safe, sc_category_path(sc_category), :class => 'ajax'
            
      - tab_javascript = ""
      - ScCategory.specialty.each do |sc_category|
        - tab_javascript += "else if (hash == '##{sc_category.name.remove_whitespace}') { $('#content_tabs a##{sc_category.name.remove_whitespace}').tab('show'); } "
        
      %script{"type" => "text/javascript"}
        :plain
          $('.collapsable').on('shown', function() {
            $(this).siblings('.filter-group-title').removeClass('closed').addClass('open');
          });
          $('.collapsable').on('hidden', function() {
            $(this).siblings('.filter-group-title').removeClass('open').addClass('closed');
          });
          $(document).ready(function() {
            $('#specialist_table').tablesorter({sortList: [[1,0],[2,0],[3,0]]});
            $('#clinic_table').tablesorter({sortList: [[0,0],[1,0],[2,0],[3,0]]});
            $('.category_table').tablesorter({sortList: [[0,0],[1,0],[2,0]]});
            //flip to a tab if appropriate
            var hash = window.location.hash;
            
            if (hash == '#specialists')
            {
              $('#content_tabs a#specialists').tab('show');
            }
            else if (hash == '#clinics')
            {
              $('#content_tabs a#clinics').tab('show');
            }
            #{tab_javascript}
            //make full rows clickable
            $('#specialist_table tr, #clinic_table tr').click( function() { $(this).find('a').click(); });
            $('.category_table tr').click( function() { 
              var link = $(this).find('td.title a');
              if (link.hasClass('ajax'))
              {
                link.click();
              } 
              else 
              {
                window.open(link.attr('href'));
              }
            });
            $('table a').click( function(e) { e.stopPropagation(); });
          });
    
      #feedback
        .inner
          = simple_form_for @feedback, :html => { :class => "ajax feedback_form" } do |f|

            = f.input :feedback, :label => "Please provide us with any comments about '<span class='feedback_item_title'></span>'".html_safe
            = f.input :item_type, :as => :hidden
            = f.input :item_id, :as => :hidden

            .form-actions
              %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "send_feedback($('form.feedback_form'))" } Send Feedback
              %a.btn.btn-danger{"href" => "javascript:void(0)", "onclick" => "$('#feedback').fadeOut(200)"} Cancel
        
      #feedback_thanks
        .inner
          %h2 Thank you!
          
          %p.space.no_indent= "Thank you for providing your feedback  on '<span class='feedback_item_title'></span>'. Your contributions help make Pathways a valuable resource for the community.".html_safe
          
          %p.space.no_indent We will review your feedback in the near future and take action as necessary.
          
          %p.space.no_indent
            %a.btn.btn-primary{"href" => "javascript:void(0)", "onclick" => "$('#feedback_thanks').fadeOut(200)" } Close     
                 
      %script{"type" => "text/javascript"}
        :plain
          $(document).ready(function() { $('.tt').tooltip({trigger: 'manual'}) });
          
          function show_feedback(item_title, item_id)
          {
            $('.feedback_item_title').text(item_title);
            $('#feedback_item_item_id').val(item_id);
            $('#feedback_item_item_type').val("ScItem");
            $('#feedback').fadeIn(200);
          }

          function send_feedback(form) { 
            $.ajax({
                url: form.attr('action'),
                data: form.serialize(),
                type: 'POST'
            }).success(function(json) {
                $('#feedback').fadeOut(200);
                $('#feedback_item_feedback').val('')
                $('#feedback_thanks').fadeIn(200);
            });
          }

    %p.admin.btn-group
      - if can? :update, @specialization
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Specialty", edit_specialization_path(@specialization), :class => "btn ajax")
      - if can? :destroy, @specialization
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Specialty", @specialization, :confirm => "Delete #{@specialization.name}?", :method => :delete, :class => "btn")
      - if can? :update, @specialization
        = link_to("<i class='icon-plus-sign'></i>".html_safe + " New Specialist", new_specialization_specialist_path(@specialization), :class => "btn ajax")
        = link_to("<i class='icon-plus-sign'></i>".html_safe + " New Clinic", new_specialization_clinic_path(@specialization), :class => "btn ajax")
        = link_to("<i class='icon-plus-sign'></i>".html_safe + " New Area of Practice", new_specialization_procedure_path(@specialization), :class => "btn ajax")
