%h1 Healthcare Providers

%table.table.table-striped.table-condensed
  %tr
    %th Name
    %th
    %th
    %th

  - @healthcare_providers.each do |healthcare_provider|
    %tr
      %td= healthcare_provider.name
      %td= link_to 'Show', healthcare_provider
      %td= link_to 'Edit', edit_healthcare_provider_path(healthcare_provider)
      %td= link_to 'Delete', healthcare_provider, :confirm => "Delete #{healthcare_provider.name}?", :method => :delete

%br

= link_to 'New Healthcare provider', new_healthcare_provider_path
