- set_page_specific_title "Healthcare Providers"

.content-wrapper

  %h2 Healthcare Providers

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th.admin

    - @healthcare_providers.each do |healthcare_provider|
      %tr
        %td= link_to healthcare_provider.name, healthcare_provider
        %td.admin.btn-group
          = link_to edit_healthcare_provider_path(healthcare_provider),
            class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(healthcare_provider_path(healthcare_provider),
            "Delete #{healthcare_provider.name}?",
            mini: true)

  %p.admin
    = link_to new_healthcare_provider_path, class: "btn" do
      %i.icon-plus-sign
      New Healthcare Provider
