%h2 Healthcare Providers

%table.table.table-condensed
  %tr
    %th Name
    %th.admin

  - @healthcare_providers.each do |healthcare_provider|
    %tr
      %td{"style" => "vertical-align:middle"}= healthcare_provider.name
      %td.admin.btn-group
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_healthcare_provider_path(healthcare_provider), :class => "btn btn-small")
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete", healthcare_provider, :confirm => "Delete #{healthcare_provider.name}?", :method => :delete, :class => "btn btn-small")

%p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Healthcare Provider", new_healthcare_provider_path, :class => "btn")
