- set_page_specific_title "Healthcare Providers"

.content-wrapper

  %h2 Healthcare Providers

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th.admin

    - @healthcare_providers.each do |healthcare_provider|
      %tr
        %td= link_to healthcare_provider.name, healthcare_provider, :class => 'ajax'
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_healthcare_provider_path(healthcare_provider), :class => "btn btn-mini ajax")
          = delete_button(healthcare_provider_path(healthcare_provider), "Delete #{healthcare_provider.name}?", mini: true)

  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Healthcare Provider", new_healthcare_provider_path, :class => "btn ajax")
