- set_page_specific_title "#{@healthcare_provider.name}"

.content-wrapper

  %h2= @healthcare_provider.name

  %p.admin.btn-group
    - if can? :update, @healthcare_provider
      = link_to edit_healthcare_provider_path(@healthcare_provider),
        class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @healthcare_provider
      = delete_button(healthcare_provider_path(@healthcare_provider),
        "Delete #{@healthcare_provider.name}?")
