- #(divisions, global_search_data, search_data_labels)

:javascript
  var pathways_divisional_entries_search_data = {};
  var pathways_divisional_content_search_data = {};

- divisions.each do |division|
  :javascript
    pathways_divisional_entries_search_data[#{division.id.to_s}] = #{division.search_data.entries.to_json};
    pathways_divisional_content_search_data[#{division.id.to_s}] = #{division.search_data.content.to_json};

:javascript
  //labels

  // bolded headings
  var pathways_group_data = #{search_data_labels.groups.to_json}

  // collection name for url strings
  var pathways_url_data = #{search_data_labels.urls.to_json}

  var pathways_specialization_data = #{search_data_labels.specializations.to_json}

  var pathways_city_data = #{search_data_labels.cities.to_json}

  // status icons
  var pathways_status_data = #{search_data_labels.statuses.to_json}

  //Base search data that is used regardless of whether
  // User is searching divisionally or with the expanded area

:javascript
  var pathways_global_search_data = #{global_search_data.to_json}
