- if current_user.as_admin_or_super?

  - cache("specialization_dropdown_admin") do

    %script{"type" => "text/javascript"}
      :plain
        var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
        $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });

    #specialties-dropdown-menu
      .inner
        - specializations = Specialization.all
        - first = specializations[0, (specializations.length / 4.0).ceil]
        - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
        - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
        - fourth = specializations - first - second - third

        - [first, second, third, fourth].each do |list|
          %ul
            - list.each do |specialization|
              %li
                %a.ajax{"href" => specialization_path(specialization), :class => specialization.fully_in_progress_for_divisions(current_user.as_divisions) ? "in-progress" : ""}
                  = specialization.name
                  = "<span class='new'>new</span>".html_safe if specialization.new_for_divisions(current_user.as_divisions)

- else

  - cache("specialization_dropdown_#{current_user.as_divisions.map{|d| d.id}.join('_')}") do

    %script{"type" => "text/javascript"}
      :plain
        var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
        $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });

    #specialties-dropdown-menu
      .inner
        - specializations = current_user.as_admin_or_super? ? Specialization.all : Specialization.not_in_progress_for_divisions(current_user.as_divisions).uniq
        - first = specializations[0, (specializations.length / 4.0).ceil]
        - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
        - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
        - fourth = specializations - first - second - third

        - [first, second, third, fourth].each do |list|
          %ul
            - list.each do |specialization|
              %li
                %a.ajax{"href" => specialization_path(specialization), :class => specialization.fully_in_progress_for_divisions(current_user.as_divisions) ? "in-progress" : ""}
                  = specialization.name
                  = "<span class='new'>new</span>".html_safe if specialization.new_for_divisions(current_user.as_divisions)
