- cache("specialization_#{specialization.id}_nav_#{current_user.as_divisions.map{|d| d.id}.join('_')}") do

  .tabbable
    %ul#content_tabs.nav.nav-tabs
      %li.specialists
        %a#specialists{"href" => "#{specialization_path(specialization)}#specialists"}
          %span Specialists
      %li.clinics
        %a#clinics{"href" => "#{specialization_path(specialization)}#clinics"}
          %span Clinics
      - ScCategory.specialty.each do |sc_category|
        - if sc_category.all_sc_items_for_specialization_in_divisions(specialization, current_user.as_divisions).present?
          %li{:class => "category_#{sc_category.id}"}
            %a{"href" => "#{specialization_path(specialization)}##{sc_category.name.remove_whitespace}", "id" => sc_category.name.remove_whitespace}
              %span= sc_category.name
      -#long_query_warning:294ms+ ^^

%script{"type" => "text/javascript"}
  :plain
    $(document).ready(function(){
      $('ul#content_tabs.nav.nav-tabs li.#{selected}').addClass('active');
    });

