- if current_user.as_admin_or_super?

  - cache("specialization_dropdown_admin") do

    %script{"type" => "text/javascript"}
      :plain
        var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
        $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });

    #specialties-dropdown-menu
      .inner
        - specializations = Specialization.all
        - first = specializations[0, (specializations.length / 4.0).ceil]
        - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
        - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
        - fourth = specializations - first - second - third

        - [first, second, third, fourth].each do |list|
          %ul
            - list.each do |specialization|
              %li
                %a.ajax{"href" => specialization_path(specialization), :class => specialization.hidden_in?(*current_user.as_divisions) ? "in-progress" : ""}
                  = specialization.name
                  - if specialization.new_for_divisions(current_user.as_divisions)
                    %span.new= "new"

- else

  - cache("specialization_dropdown_#{current_user.as_divisions.map(&:id).join('_')}") do

    :javascript
      var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
      $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });

    #specialties-dropdown-menu
      .inner
        - specializations = Specialization.shown_in(current_user.as_divisions)
        - first = specializations[0, (specializations.length / 4.0).ceil]
        - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
        - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
        - fourth = specializations - first - second - third

        - [first, second, third, fourth].each do |list|
          %ul
            - list.each do |specialization|
              %li
                %a.ajax{"href" => specialization_path(specialization)}
                  = specialization.name
                  - if specialization.new_for_divisions(current_user.as_divisions)
                    %span.new= "new"
