= simple_form_for @language, html: { class: "form-horizontal" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :name

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', languages_path, class: "btn btn-danger"
