- set_page_specific_title "Languages"

.content-wrapper

  %h2 Languages

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th.admin

    - @languages.each do |language|
      %tr
        %td= link_to language.name, language
        %td.admin.btn-group
          = link_to edit_language_path(language), class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(language, "Delete #{language.name}?", mini: true)

  %p.admin
    = link_to new_language_path, class: "btn" do
      %i.icon-plus-sign
      New Language
