- if notifications.empty?
  .notification
    %p
      You do not have any notifications to show.
    %br
    %p
      Please visit
      = link_to "Manage Notifications", subscriptions_path
      to set yourself up to receive notifications.
- else
  - notifications.each do |notification|

    - cache("latest_notifications_for_#{notification.id}") do
      .notification
        %p
          %span{:class=> "muted"}= "#{time_ago_in_words(notification.trackable.created_at)} ago"
          = render_activity(notification, fallback: :default)

        %br