= simple_nested_form_for @entity,
  html: { :class => "form-horizontal", :multipart => true },
  url: referral_forms_path(parent_type: @entity.class, parent_id: @entity.id),
  method: :put do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :referral_form_mask,
    as: :radio_buttons,
    collection: Specialist::BOOLEAN_HASH,
    label_method: :last,
    value_method: :first,
    label: "Does the #{@entity_type} have a referral form?",
    input_html: { class: "referral_form_mask" },
    label_html: { class: "input_label input_label--align-left" }

  .content#referral_forms

    %h4 Referral Forms

    .row
      .span4 Description
      .span4 Referral Form
    = f.simple_fields_for :referral_forms, :class => "row" do |fields|
      .row.spaced
        .span4
          = fields.input :description, label: false, wrapper: :no_wrapper, input_html: { class: "span3" }
        .span4
          - if fields.object.present? && fields.object.form.present?
            = link_to truncate(fields.object.form_file_name),
              fields.object.form.url,
              :target => "_blank"
          - else
            = fields.input :form,
              as: :file,
              label: false,
              wrapper: :no_wrapper,
              input_html: { class: "span4" }
        .spanhalf
          = fields.hidden_field :_destroy
          = fields.link_to_remove "<i class='icon-minus-sign'></i>".html_safe, :class => "spanhalf"
      - if fields.object.present? && fields.object.form.present?
        .row
          .span8
            = render 'history/nodes', item: fields.object
    = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another referral form", :referral_forms, class: "btn")

  %script{"type" => "text/javascript"}
    :plain
      $(".referral_form_mask").each( initReferralForms );

  .form-actions
    = f.button :submit, :class => "btn btn-primary", :value => "Update referral forms"
    = link_to 'Cancel', url_for(@entity), :class => "btn btn-danger ajax"
