= simple_nested_form_for @entity,
  html: { class: "form-horizontal", multipart: true },
  url: referral_forms_path(parent_type: @entity.class, parent_id: @entity.id),
  method: :patch do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.label :referral_form_mask,
    text: "Does the #{@entity_type} have a referral form?",
    class: "referral_form_editor__input_label input_label"
  .referral_form_editor__radio_wrapper
    = f.input :referral_form_mask,
      as: :radio_buttons,
      collection: Specialist::BOOLEAN_HASH,
      label_method: :last,
      value_method: :first,
      input_html: { class: "referral_form_editor__radio_button_label referral_form_mask" },
      label: false,
      wrapper: :no_wrapper

  .content#referral_forms
    %h4 Referral Forms

    = f.simple_fields_for :referral_forms, class: "row" do |fields|
      .well.referral_form_editor__fieldset
        .pull-right
          = fields.hidden_field :_destroy
          = fields.link_to_remove "<i class='icon-minus-sign'></i>".html_safe
        - if fields.object.present? && fields.object.form.present?
          %p.referral_form_editor__form_link_item
            = link_to fields.object.form.url,
              target: "_blank",
              onclick: "window.pathways.trackForm(_gaq, #{fields.object.id})" do
              %i.icon-share
              %span= fields.object.form_file_name
        - else
          = fields.input :form,
            as: :file,
            label: false,
            wrapper: :no_wrapper,
            input_html: { class: "referral_form_editor__input" }
          %br
        = fields.input :description,
          label: false,
          wrapper: :no_wrapper,
          input_html: { class: "referral_form_editor__input" },
          placeholder: "Description"
        .referral_form_editor__history_nodes
          - if can? :view_history, fields.object
            = render 'history/nodes',
              item: fields.object,
              nodes: fields.object.history
          - if can? :create, Note
            = render "notes/fields",
              parent_fields: fields,
              user: current_user
    = f.link_to_add :referral_forms, class: "btn" do
      %i.icon-plus-sign
      Add another referral form

  .form-actions
    = f.button :submit, class: "btn btn-primary", value: "Update referral forms"
    = link_to 'Cancel', url_for(@entity), class: "btn btn-danger"

  :javascript
    $(".referral_form_mask").each( initReferralForms );
