- specialists = filter_specialists(specialization, division_specialists)
- specialization_is_hidden = specialization.hidden_divisions.include?(division)
- if specialists.any?
  %tr{ class: specialization_is_hidden ? "hidden-from-users" : "" }
    %th{:style => "width:100%"}= "#{specialization.name} (#{specialists.count})"
    - if division.nil? || user_divisions.include?(division)
      %th.admin
  - specialists.each do |specialist|
    %tr
      %td= link_to specialist.name, specialist_path(specialist)
      - if division.nil? || user_divisions.include?(division)
        %td{ style: "min-width: 60px" }
          = link_to edit_specialist_path(specialist),
            class: "btn btn-mini" do
            %i.icon-pencil
            %span= " Edit"
