= simple_nested_form_for @user, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :name, input_html: {:autocomplete => "off"}
  = f.input :email if !@new_user
  = f.input :role, :as => :select, collection: (current_user_is_super_admin? ? User::ROLE_HASH : User::LIMITED_ROLE_HASH), label_method: :last, value_method: :first, :include_blank => false
  = f.input :active
  = f.association :divisions, as: :check_boxes, collection: (current_user_is_super_admin? ? Division.all : current_user_divisions), checked: (user_edit_checkbox_value_for_division), hint: "<div id='user_form_divisions_hint'><i class='icon-warning-sign'></i> Please select a division for this user. </div>".html_safe, input_html: {:class => "user-form-division-option"}, label_method: :name, value_method: :id, presence: true, include_blank: false
  #super_admin_pane

  #admin_pane

  #admin_and_super_admin_pane

  #user_pane
    = f.input :type_mask, :as => :select, :collection => User::TYPE_HASH, :label_method => :last, :value_method => :first, :include_blank => false

    %h4 Specialist user can edit
    .content
      = f.simple_fields_for :user_controls_specialist_offices do |i|
        .row.spaced
          .span5.offset3
            = i.association :specialist_office, as: :select, :label => false, collection: @formatted_specialist_offices, prompt: 'Select ...', wrapper: :no_wrapper, :include_blank => true

          .spanhalf.offsethalf
            = i.hidden_field :_destroy
            = i.link_to_remove "<i class='icon-minus-sign'></i>".html_safe
    .row
      = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another specialist", :user_controls_specialist_offices, class: "btn offset3")

    %h4 Clinics user can edit
    .content
      = f.simple_fields_for :user_controls_clinic_locations do |j|
        .row.spaced
          .span5.offset3
            = j.association :clinic_location, as: :select, :label => false, collection: @formatted_clinic_locations, prompt: 'Select ...', wrapper: :no_wrapper, :include_blank => true
          .spanhalf.offsethalf
            = j.hidden_field :_destroy
            = j.link_to_remove "<i class='icon-minus-sign'></i>".html_safe
    .row
      = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another clinic", :user_controls_clinic_locations, class: "btn offset3")

    - if current_user.admin?
      %h4
        = "History & Notes"
      .content
        = render 'history/nodes', item: f.object, nodes: f.object.history
        - f.object.build_new_note!(current_user)
        = f.simple_fields_for :notes,
          f.object.new_notes do |note_fields|
          = note_fields.input :content,
            as: :text,
            label: "If you have any notes to append to this record, please leave them here:"
          = note_fields.input :user_id,
            as: :hidden

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', users_path, :class => "btn btn-danger ajax"

  %script{"type" => "text/javascript"}
    :plain
      var swapRole = function()
      {
        if ( $(this).val() == "super" )
        {
          $("#admin_and_super_admin_pane").show();
          $("#super_admin_pane").show();
          $("#admin_pane").hide();
          $("#user_pane").hide();
        }
        else if ( $(this).val() == "admin" )
        {
          $("#admin_and_super_admin_pane").show();
          $("#super_admin_pane").hide();
          $("#admin_pane").show();
          $("#user_pane").hide();
        }
        else
        {
          $("#admin_and_super_admin_pane").hide();
          $("#super_admin_pane").hide();
          $("#admin_pane").hide();
          $("#user_pane").show();
        }
      }

      $(document).ready(function() {
        $("#user_role").each( swapRole );
        $("#user_role").live("change", swapRole );

        if ($('.user-form-division-option').filter(':checked').length >= 1)
        {
          $("#user_form_divisions_hint").hide();
        }
        else if($('.user-form-division-option').filter(':checked').length <= 0)
        {
          $("#user_form_divisions_hint").show();
        }

        // Reminder message for user to select a division when no divisions are selected
        $('.user-form-division-option').on( "click", function() {
          if ($('.user-form-division-option').filter(':checked').length >= 1)
          {
            $("#user_form_divisions_hint").hide();
          }
          else if ($('.user-form-division-option').filter(':checked').length <= 0)
          {
            $("#user_form_divisions_hint").show();
          }
        });

      });
