= simple_nested_form_for @user, :html => { :class => "form-horizontal" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages
  
  = f.input :username
  = f.input :name
  = f.input :email
  - if params[:action] == 'new'
    = f.input :password
    = f.input :password_confirmation
  = f.input :role, :as => :select, collection: ['user', 'admin'], :include_blank => false
  
  %hr
  
  #admin_pane
    = f.input :notify
    
  #user_pane
    %h4 Specialist user can edit
    .content
      = f.simple_fields_for :user_controls_specialists do |i|
        .row.spaced
          .span4.offset3
            = i.association :specialist, as: :select, :label => false, collection: Specialist.all, prompt: 'Select ...', wrapper: :no_wrapper
          .spanhalf.offsethalf
            = i.hidden_field :_destroy
            = i.link_to_remove "<i class='icon-minus-sign'></i>".html_safe
    .row
      = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another specialist", :user_controls_specialists, class: "btn offset3")
      
    %h4 Clinics user can edit
    .content
      = f.simple_fields_for :user_controls_clinics do |j|
        .row.spaced
          .span4.offset3
            = j.association :clinic, as: :select, :label => false, collection: Clinic.all, prompt: 'Select ...', wrapper: :no_wrapper
          .spanhalf.offsethalf
            = j.hidden_field :_destroy
            = j.link_to_remove "<i class='icon-minus-sign'></i>".html_safe
    .row
      = f.link_to_add( "<i class='icon-plus-sign'></i>".html_safe + " Add another clinic", :user_controls_clinics, class: "btn offset3")
      
  :javascript
    $("#user_role").each( swapRole );
    
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', users_path, :class => "btn btn-danger ajax"
