- title "Users"

.content-wrapper

  %h2 Users

  .tabbable
    %ul.nav.nav-tabs
      - if (current_user_is_super_admin?)
        %li.active
          %a{"href" => "#super_admin_tab", "data-toggle" => "tab"}= "Super Administrators"
        %li
          %a{"href" => "#admin_tab", "data-toggle" => "tab"}= "Administrators"
      %li{:class => !current_user_is_super_admin? && "active"}
        %a{"href" => "#user_tab", "data-toggle" => "tab"}= "Users"
      %li
        %a{"href" => "#pending_user_tab", "data-toggle" => "tab"}= "Pending Accounts"
      %li
        %a{"href" => "#disabled_user_tab", "data-toggle" => "tab"}= "Inactive Accounts"

    .tab-content
      - if (current_user_is_super_admin?)
        #super_admin_tab.tab-pane.active
          %table.table.table-condensed.table-striped.tablesorter
            %thead
              %tr.tableheader
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Name
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Division(s)
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Signed Up
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Email
                %th{:class => "{sorter: 'text'}", :style => "width:40%"} Owns Specialties
                %th.admin

            %tbody
              - User.super_admin.reject{ |user| user.pending? || !user.active? }.each do |user|
                %tr
                  %td= link_to user.name, user, :class => 'ajax'
                  %td= user.divisions.map{ |s| s.name }.to_sentence
                  %td= user.activated_at.present? ? user.activated_at.strftime("%Y-%m-%d") : user.created_at.strftime("%Y-%m-%d")
                  %td= user.email
                  %td
                    - user.divisions.each do |division|
                      - specialization_options = user.specialization_options.for_divisions([division]).reject{ |so| so.specialization.blank? }
                      - if specialization_options.present?
                        %ul
                          Specializations owned in #{division.name}
                          - specialization_options.each do |so|
                            %li= link_to so.specialization.name, so.specialization, :class => 'ajax'
            
                  %td.admin.btn-group
                    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")

        #admin_tab.tab-pane
          %table.table.table-condensed.table-striped.tablesorter
            %thead
              %tr.tableheader
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Name
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Division(s)
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Signed Up
                %th{:class => "{sorter: 'text'}", :style => "width:15%"} Email
                %th{:class => "{sorter: 'text'}", :style => "width:40%"} Owns Specialties
                %th.admin

            %tbody
              - User.admin_only.reject{ |user| user.pending? || !user.active? }.each do |user|
                %tr
                  %td= link_to user.name, user, :class => 'ajax'
                  %td= user.divisions.map{ |s| s.name }.to_sentence
                  %td= user.activated_at.present? ? user.activated_at.strftime("%Y-%m-%d") : user.created_at.strftime("%Y-%m-%d")
                  %td= user.email
                  %td
                    - user.divisions.each do |division|
                      - specialization_options = user.specialization_options.for_divisions([division]).reject{ |so| so.specialization.blank? }
                      - if specialization_options.present?
                        %ul
                          Specializations owned in #{division.name}
                          - specialization_options.each do |so|
                            %li= link_to so.specialization.name, so.specialization, :class => 'ajax'
                  %td.admin.btn-group
                    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")

      #user_tab.tab-pane{:class => !current_user_is_super_admin? && "active"}
        %table.table.table-condensed.table-striped.tablesorter
          %thead
            %tr.tableheader
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Name
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Division(s)
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Signed Up
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Type
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Email
              -#%th{:class => "{sorter: 'text'}", :style => "width:25%"} Can edit
              %th.admin

          %tbody
            - User.user.reject{ |user| user.pending? || !user.active? }.each do |user|
              %tr
                %td= link_to user.name, user, :class => 'ajax'
                %td= user.divisions.map{ |s| s.name }.to_sentence
                %td= user.activated_at.present? ? user.activated_at.strftime("%Y-%m-%d") : user.created_at.strftime("%Y-%m-%d")
                %td= user.type
                %td= user.email
                -#%td
                  %ul
                    - user.controlled_specialist_offices.each do |specialist_office|
                      - next if specialist_office.office.blank?
                      %li= "#{specialist_office.specialist.name} - #{specialist_office.office.short_address}"
                    - user.controlled_clinics.each do |clinic|
                      %li= clinic.name
                %td.admin.btn-group
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")

      #pending_user_tab.tab-pane
        %table.table.table-condensed.table-striped.tablesorter
          %thead
            %tr.tableheader
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Name
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Division(s)
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Role
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Type
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Access key
              -#%th{:class => "{sorter: 'text'}", :style => "width:25%"} Can edit
              %th.admin
              
          %tbody
            - User.all.reject{ |user| !user.pending? || !user.active? }.each do |user|
              %tr
                %td= link_to user.name, user, :class => 'ajax'
                %td= user.divisions.map{ |s| s.name }.to_sentence
                %td= user.role_full
                %td= user.admin? ? "Admin" : user.type
                %td= user.token
                -#%td
                  %ul
                    - user.controlled_specialist_offices.each do |specialist_office|
                      - next if specialist_office.office.blank?
                      %li= "#{specialist_office.specialist.name} - #{specialist_office.office.short_address}"
                    - user.controlled_clinics.each do |clinic|
                      %li= clinic.name
                %td.admin.btn-group
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")

      #disabled_user_tab.tab-pane
        %table.table.table-condensed.table-striped.tablesorter
          %thead
            %tr.tableheader
              %th{:class => "{sorter: 'text'}", :style => "width:15%"} Name
              %th{:class => "{sorter: 'text'}", :style => "width:15%"} Division(s)
              %th{:class => "{sorter: 'text'}", :style => "width:20%"} Signed Up
              %th{:class => "{sorter: 'text'}", :style => "width:10%"} Role
              %th{:class => "{sorter: 'text'}", :style => "width:10%"} Type
              %th{:class => "{sorter: 'text'}", :style => "width:15%"} Email
              %th{:class => "{sorter: 'text'}", :style => "width:15%"} Access key
              -#%th{:class => "{sorter: 'text'}", :style => "width:30%"} Can edit
              %th.admin

          %tbody
            - has_user = false
            - User.all.reject{ |u| u.active? }.each do |user|
              - has_user = true
              %tr
                %td= link_to user.name, user, :class => 'ajax'
                %td= user.divisions.map{ |s| s.name }.to_sentence
                %td= user.activated_at.present? ? user.activated_at.strftime("%Y-%m-%d") : user.created_at.strftime("%Y-%m-%d")
                %td= user.role_full
                %td= user.admin? ? "Admin" : user.type
                %td= user.email
                %td= user.pending? ? user.token : "Was actived"
                -#%td
                  %ul
                    - user.controlled_specialist_offices.each do |specialist_office|
                      - next if specialist_office.office.blank?
                      %li= "#{specialist_office.specialist.name} - #{specialist_office.office.short_address}"
                    - user.controlled_clinics.each do |clinic|
                      %li= clinic.name
                %td.admin.btn-group
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")
            - if !has_user
              %tr
                %td
                %td
                %td
                %td
                %td
                %td
                %td
                %td
                %td

      %script{"type" => "text/javascript"}
        :plain
          $(document).ready(function() { $('.tablesorter').tablesorter({sortList: [[0,0]]}) });
            
  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New User", new_user_path, :class => "btn ajax")