%h2 Users

%p.admin= link_to "New User", new_user_path, :class => "btn btn-primary"

%table.table.table-condensed.tablesorter
  %tr
    %th{:class => "{sorter: 'text'}"} Username
    %th{:class => "{sorter: 'text'}"} Name
    %th{:class => "{sorter: 'text'}"} Email
    %th{:class => "{sorter: 'text'}"} Role
    %th Notify?
    %th
    %th

  - User.all.each do |user|
    %tr
      %td= link_to user.username, user
      %td= user.name
      %td= user.email
      %td= user.role
      %td= user.notify
      %td.admin= link_to "<i class='icon-pencil'></i>".html_safe, edit_user_path(user)
      %td.admin= link_to "<i class='icon-trash'></i>".html_safe, user, :confirm => "Delete #{user.name}?", :method => :delete