%h2 Users

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"href" => "#admin_tab", "data-toggle" => "tab"}= "Admins"
    %li
      %a{"href" => "#user_tab", "data-toggle" => "tab"}= "Users"

  .tab-content
    #admin_tab.tab-pane.active
      %table.table.table-condensed.table-striped
        %tr
          %th Name
          %th Email
          %th.admin

        - User.all.each do |user|
          - next if not user.admin?
          %tr
            %td= link_to user.name, user, :class => 'ajax'
            %td= user.email
            %td.admin.btn-group
              = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")
              = link_to("<i class='icon-trash'></i>".html_safe + " Delete", user, :confirm => "Delete #{user.name}?", :method => :delete, :class => "btn btn-mini")

    #user_tab.tab-pane
      %table.table.table-condensed.table-striped
        %tr
          %th Name
          %th Email
          %th Controls
          %th.admin

        - User.all.each do |user|
          - next if user.admin?
          %tr
            %td= link_to user.name, user, :class => 'ajax'
            %td= user.email
            %td
              - if !user.admin?
                %ul
                  - user.controlled_specialists.each do |specialist|
                    %li= specialist.name
                  - user.controlled_clinics.each do |clinic|
                    %li= clinic.name
            %td.admin.btn-group
              = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_user_path(user), :class => "btn btn-mini ajax")
              = link_to("<i class='icon-trash'></i>".html_safe + " Delete", user, :confirm => "Delete #{user.name}?", :method => :delete, :class => "btn btn-mini")

%p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New User", new_user_path, :class => "btn ajax")