- set_page_specific_title "#{@user.name}"

.content-wrapper

  %h2
    %span{class: !@user.active && "hidden-from-users"}= @user.name
    - if !@user.active
      %h4 (INACTIVE)

  - if !@user.pending?
    %p.no_indent.space
      %strong Email address:
      = @user.email

  %p.no_indent.space
    %strong Role:
    = @user.role_label

  - if @user.pending?
    %p.no_indent.space
      %strong Access Key:
      = @user.token

  %p.no_indent.space
    %strong Last Visit:
    - if @user.last_request_at.present?
      = "#{@user.last_request_at.to_s(:date_with_year)} <i>(#{time_ago_in_words(@user.last_request_at)} ago)</i>".html_safe
    - else
      This user has no recorded logins.

  %p.no_indent.space
    %strong Signed Up:
    - if @user.activated_at.present? # Signed Up uses activated_at or created_at
      = "#{@user.activated_at.to_datetime.to_s(:date_with_year)} <i>(#{time_ago_in_words(@user.activated_at)} ago)</i>".html_safe
    - elsif @user.created_at.present?
      = "#{@user.created_at.to_s(:date_with_year)} <i>(#{time_ago_in_words(@user.created_at)} ago)</i>".html_safe

  - if @user.divisions.present?
    %p.no_indent.space
      %strong Belongs to divisions
      %ul
        - @user.divisions.each do |division|
          %li= link_to division.name, division

  - @user.divisions.each do |division|
    - specialization_options = @user.specialization_options.for_divisions([division]).reject{ |so| so.specialization.blank? }
    - if @user.admin_or_super? && specialization_options.present?
      %p.no_indent.space
        %strong Specializations owned in #{division.name}
        %ul
          - specialization_options.each do |so|
            %li= link_to so.specialization.name, so.specialization

  - if !@user.admin_or_super?
    - if @user.controlled_specialists.length > 0
      %p.no_indent.space
        %strong Can edit specialists
      %ul
        - @user.controlled_specialists.each do |specialist|
          %li= link_to specialist.name, specialist
    - if @user.controlled_clinics.length > 0
      %p
        %strong Can edit clinics
      %ul
        - @user.controlled_clinics.each do |clinic|
          %li= link_to clinic.name, clinic

  %p.admin.btn-group
    - if can? :update, @user
      = link_to edit_user_path(@user),
        class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @user
      = delete_button(@user, "Delete #{@user.name}?")
    - if can? :view_history, @user
      = large_history_button(@user)
