= simple_nested_form_for @division, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :name
  = f.association :cities, as: :check_boxes
  
  .row
    .span2
      %table.local_referral_area.fixed_column
        %thead
          %tr
            %td
            %td All Specialties
        %tbody
          - City.all.each_with_index do |city, index|
            %tr{:class => (index % 2 == 1) && "odd"}
              %th= city.name
              %td= check_box_tag "city_#{city.id}", 1, @local_referral_cities.include?(city.id) && @local_referral_cities[city.id].present?, :name => "city[#{city.id}]", :class => "city_check"
    .span10{:style => "overflow-x:scroll"}
      %table.local_referral_area
        %thead
          %tr
            - Specialization.all.each do |specialization|
              %td= specialization.name
        %tbody
          - City.all.each_with_index do |city, index|
            %tr{:class => (index % 2 == 1) && "odd"}
              - Specialization.all.each do |specialization|
                %td
                  = check_box_tag "#{city.id}_#{specialization.id}", 1, (@local_referral_cities[city.id].present?) && (@local_referral_cities[city.id].include? specialization.id), :name => "local_referral_cities[#{city.id}][#{specialization.id}]", :class => "city_#{city.id} city_specialization"

  .form-actions
    = f.button :submit, p:class => "btn btn-primary"
    %a.btn.btn-danger.ajax{"href" => divisions_path} Cancel
          
%script{"type" => "text/javascript"}
  :plain
    function city_checked(checkbox)
    {
      var city_class = "." + $(checkbox).prop('id');
      $(city_class).prop('checked',($(checkbox).prop('checked')));
      return true;
    }
    
    $('.city_check').click(function() { 
      city_checked(this);
    }); 
    
    function update_city(city)
    {
      var city_id = "#" + city;
      var city_class = "." + city;
      
      var all = true;
      var none = true;
      $(city_class).each(function(){ if ($(this).prop('checked')) { none = false; } else { all = false; } });
      
      if (all)
      {
        $(city_id).prop('checked', true);
        $(city_id).prop('indeterminate', false);
      }
      else if (none)
      {
        $(city_id).prop('checked', false);
        $(city_id).prop('indeterminate', false);
      }
      else
      {
        $(city_id).prop('checked', true);
        $(city_id).prop('indeterminate', true);
      }
      
      return true;
    }
    
    function city_specialization_checked(checkbox)
    {
      var city_id = "city_" + $(checkbox).prop('id').split('_')[0];
      return update_city(city_id)
    }
    
    $('.city_specialization').click(function() { 
      city_specialization_checked(this);
    });  
    
- City.all.each do |city|
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        update_city("city_#{city.id}");
      });