- set_page_specific_title "Divisions"

.content-wrapper

  %h2 Divisions

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Primary Contacts
      %th Cities
      %th.admin

    - @divisions.each do |division|
      %tr
        %td= link_to division.name, division
        %td
          %ul
            - division.primary_contacts.each do |primary_contact|
              %li= link_to primary_contact.name, primary_contact
        %td
          %ul
            -division.cities.each do |city|
              %li= link_to city.name, city_path(city)
        %td.admin.btn-group
          = link_to edit_division_path(division), class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(division_path(division),
            "Delete #{division.name}?",
            mini: true)

  %p.admin
    = link_to new_division_path, class: "btn" do
      %i.icon-plus-sign
      New division
