- set_page_specific_title @division.name

.content-wrapper

  %h2= @division.name

  %p.no_indent.space
    %strong Cities Encompassed
    %ul
      - @division.cities.each do |city|
        %li= link_to city.name, city_path(city)

  %p.no_indent.space
    %strong Primary contacts
    %ul
      - @division.primary_contacts.each do |primary_contact|
        %li= link_to primary_contact.name, primary_contact

  - if can? :edit_permissions, @division
    %p.no_indent.space
      %strong Bulk Edit Permissions
      %ul
        - {"Specialists and Clinics Owner" => "owner",
          "Content Owner" => "content_owner"}.each do |label, type|
          %li
            = link_to label,
              edit_permissions_division_path(@division, permission_type: type)

  %p.no_indent.space
    %strong Provincial Content Subscription

  %br

  - subscription = @division.divisional_resource_subscription
  - if subscription.nil? || subscription.empty?
    %p You have not subscribed to borrow any provincial content.
  - elsif subscription.all?
    %p Subscribed to borrow all provincial content.
  - else
    %p Subscribed to borrow provincial content that match the following criteria:
    %br
    - if subscription.nonspecialized?
      %p Content with no specialty
    - if subscription.specialization_ids.any?
      %p
        %span Content in the following specialties:
        %ul
          - subscription.specialization_ids.each do |specialization|
            %li= Specialization.find(specialization).name

  - if !subscription.nil? && !subscription.empty?
    %br
    %p
      %i
        %span All
        %b new
        %span
          items matching your subscription criteria will be borrowed
          by #{@division.name} as they are added.
    .btn.btn-primary{ style: "margin-top: 5px; margin-left: 8px;" }
      Borrow existing items that match subscription criteria


  %p.no_indent.space{ style: "margin-top: 17px" }
    %strong Local Referral Area
  %div{ style: "overflow-x:scroll" }
    %table.local_referral_area
      %thead
        %tr
          %td
          - Specialization.all.each do |specialization|
            %td= specialization.name
      %tbody
        - City.all.each_with_index do |city, index|
          %tr{ class: (index % 2 == 1) && "odd" }
            %td{ style: "white-space:nowrap" }= city.name
            - Specialization.all.each do |specialization|
              %td
                - if (@local_referral_cities[city.id].present?) &&
                  - (@local_referral_cities[city.id].include? specialization.id)
                  = "&#10004;".html_safe
  %br

  %p.no_indent.space
    %strong Custom City Priorites:
    - if !@division.use_customized_city_priorities?
      %span Disabled
    - else
      %span Enabled
  #custom_city_priorities_explanation
    %p.no_indent.i
      %i
        When enabled, filter tables will sort results preferentially by a
        city's priority ranking (1-3). New cities are automatically assigned the
        lowest priority rating (3). When disabled, filter tables will sort
        results by the local referral area of each specialization instead.
        Cities outside of your referral area will appear after those inside it.
  - if @division.use_customized_city_priorities?
    - @priority_rankings.each do |priority|
      %p.space
        %strong
          Priority
          = priority
          - if priority == @priority_rankings.min
            (highest priority):
          - elsif priority == @priority_rankings.max
            (lowest priority):
          - else
            = ":"
      %ul
        - @division_referral_cities_by_priority.select do |dr_city|
          - dr_city.priority == priority
          - end.each do |dr_city|
          %li
            = link_to dr_city.city.name, city_path(dr_city.city)

  %p.admin.btn-group
    - if can? :update, @division
      = link_to edit_division_path(@division), class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @division
      = delete_button(division_path(@division), "Delete #{@division.name}?")
