- title "#{@division.name}"

.content-wrapper

  %h2= @division.name
  
  %p.no_indent.space
    %strong Cities
    
    %ul
      - @division.cities.each do |city|
        %li= link_to city.name, city_path(city), :class => 'ajax'
        
  - if @division.specializations.present?
    %p.no_indent
      %strong Local Referral Areas
      
      - @division.specializations.each do |specialization|
        %ul
          = specialization.name
          - @division.local_referral_cities_for_specialization(specialization).each do |city|
            %li= link_to city.name, city_path(city), :class => 'ajax'

  %p.admin.btn-group
    - if can? :update, @division
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_division_path(@division), :class => "btn ajax")
    - if can? :destroy, @division
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @division, :confirm => "Delete #{@division.name}?", :method => :delete, :class => "btn")
