- set_page_specific_title "#{@division.name}"

.content-wrapper

  %h2= @division.name

  %p.no_indent.space
    %strong Cities Encompassed
    %ul
      - @division.cities.each do |city|
        %li= link_to city.name, city_path(city), :class => 'ajax'

  %p.no_indent.space
    %strong Primary contacts
    %ul
      - @division.primary_contacts.each do |primary_contact|
        %li= link_to primary_contact.name, primary_contact, :class => 'ajax'

  - if can? :edit_permissions, @division
    %p.no_indent.space
      %strong Bulk Edit Permissions
      %ul
        - {"Specialists and Clinics Owner" => "owner", "Content Owner" => "content_owner"}.each do |label, type|
          %li
            = link_to label, edit_permissions_division_path(@division, permission_type: type)

  %p.no_indent.space
    %strong Local Referral Area
  %div{:style => "overflow-x:scroll"}
    %table.local_referral_area
      %thead
        %tr
          %td &nbsp;
          - Specialization.all.each do |specialization|
            %td= specialization.name
      %tbody
        - City.all.each_with_index do |city, index|
          %tr{:class => (index % 2 == 1) && "odd"}
            %td{:style => "white-space:nowrap"}= city.name
            - Specialization.all.each do |specialization|
              %td
                = (@local_referral_cities[city.id].present?) && (@local_referral_cities[city.id].include? specialization.id) ? "&#10004;".html_safe : ""
  %br
  %p.no_indent.space
    %strong Custom City Priorites:
    - if !@division.use_customized_city_priorities?
      %span="  Disabled"
    - else
      %span= "  Enabled"
  #custom_city_priorities_explanation
    %p.no_indent
      %i When enabled, filter tables will sort results preferentially by a city's priority ranking (1-3).
      %i New cities are automatically assigned the lowest priority rating (3).
      %i When disabled, filter tables will sort results by the local referral area of each specialization instead.
      %i Cities outside of your referral area will appear after those inside it
  - if @division.use_customized_city_priorities?
    - @priority_rankings.each do |priority|
      %p.space
        %strong
          - if priority == @priority_rankings.min
            = "Priority #{priority} (highest priority):"
          - elsif priority == @priority_rankings.max
            = "Priority #{priority} (lowest priority):"
          - else
            = "Priority #{priority}:"
      %ul
        - @division_referral_cities_by_priority.reject{|dr_city| dr_city.priority != priority}.each do |dr_city|
          %li
            = link_to dr_city.city.name, city_path(dr_city.city), :class => 'ajax'

  %p.admin.btn-group
    - if can? :update, @division
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_division_path(@division), :class => "btn ajax")
    - if can? :destroy, @division
      = delete_button(division_path(@division), "Delete #{@division.name}?")
