= simple_form_for video do |f|
  = f.label :title, "Title"
  = f.input :title, label: false

  = f.input :video_clip,
    input_html: { hidden: true },
    label: "Upload file"
  .input-append
    %input#file-display.input-large{type: "text"}
      .form-control-static
        %a#upload-btn.btn
          %i.icon-upload-alt
          Browse

  .form-actions
    = f.button :submit,
      class: "btn btn-primary",
      id: "video-submit-button",
      disable_with: "Submitting video data"
    = link_to 'Cancel', video, class: "btn btn-danger"

  %p Please note that uploading a new video may take a few minutes

:javascript
  $inputSelector = $('#video_video_clip');

  $inputSelector.change(function() {
    $('#file-display').val;
  });

  $('#upload-btn').click(function() {
    $inputSelector.click()
  });

  $('#video-submit-button').click(function() {
    $('#file-display').change(function() {
      $inputSelector.val;
    });
  });
