= simple_form_for video do |f|
  = f.label :title, "Title"
  = f.input :title, label: false

  = f.label :video_clip, "Upload file"
  = f.input :video_clip,
    label: false,
    input_html: { hidden: true }
  .input-append
    %input#file-display.uneditable-input.input-large{type: "text"}
      .form-control-static
        %a#upload-btn.btn
          %i.icon-upload-alt
          Browse

  .form-actions
    = f.button :submit,
      class: "btn btn-primary",
      id: "video-submit-button",
      disable_with: "Submitting video data"
    = link_to 'Cancel', video, class: "btn btn-danger"

  %p Please note that uploading a new video may take a few minutes

:javascript
  $inputSelector = $('#video_video_clip');

  $('#upload-btn').click(function() {
    $inputSelector.click()
  });

  var file;
  function captureFile(event) {
    file = event.target.files;
    $('#file-display').val(file[0].name);
  }
  $inputSelector.on('change', captureFile);
