- set_page_specific_title @video.title

.content-wrapper

  %h2= @video.title

  %video#video-window{ align: "center",
    title: "Video Player",
    src: "#{@expiring_s3_url}",
    height: "315px;",
    width: "560px;",
    frameborder: "0",
    allowfullscreen: "true",
    controls: "true" }

  %p.admin.btn-group
    - if can? :update, @video
      = link_to edit_video_path(@video),
        class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @video
      = delete_button(@video, "Delete #{@video.title}?")

:javascript
  function notifyExpired(){
    $('#video-window').replaceWith(
      '<div id="timeout-message" class="alert">' +
        'Please refresh the page to view the video.</div>'
    );
  };
  $(document).ready(function() {
    window.setTimeout(notifyExpired, 1800100);
    $(document).bind('contextmenu', function() { return false; });
  });
