- set_page_specific_title @video.title

.content-wrapper

  %h2= @video.title

  %video#video-window{align: "center",
    title: "Video Player",
    src: "#{@video.video_clip.expiring_url(1800)}",
    height: "315px;",
    width: "560px;",
    frameborder: "0",
    allowfullscreen: "true",
    controls: "true"}

  %p.admin.btn-group
    - if can? :update, @video
      = link_to edit_video_path(@video),
        class: "btn" do
        %i.icon-pencil
        %span= " Edit"
    - if can? :destroy, @video
      = link_to @video,
        data: { confirm: "Delete #{@video.title}?" },
        method: :delete,
        class: "btn" do
        %i.icon-trash
        %span= " Delete"

:javascript
  function notifyExpired(){
    $('#video-window').replaceWith(
      '<span id="timeout-message">Please refresh the page to view the video.</span>'
    );
  };
  $(document).ready(function() {
    window.setTimeout(notifyExpired,1810000);
  });
