<div class="alert alert-danger alert-banner test-warning" style="font-weight: normal">
  <i class="icon-info-sign" style="margin-right: 5px"></i>
  <!-- Button to trigger modal -->
  <% if current_user.authenticated? %>
    <span>This is a test site, and you are logged in as</span>
    <span><%= current_user.name %> (email: <%= current_user.email %>, id: <%= current_user.id %>).  </span>
  <% end %>
  <span>Changes to data on this site do not affect the production site.</span>
  <a href="#testdebugModal" role="button"data-toggle="modal">(Show Debug Info.)</a>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>



<!-- Modal -->
<div id="testdebugModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="testDebugModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="testDebugModalLabel">Debug Info</h3>
  </div>
  <div class="modal-body">
  <p>APP_NAME: <%= ENV['APP_NAME'] %></p>
  <p>Controller:   <%= debug controller_name %></p>
  <p>Action:  <%= debug action_name %></p>
  <p>URL Route: <%= link_to url_for(controller: controller_name, action: action_name) %></p>
  <% if current_user.authenticated? %>
    <p>current_user.as_divisions: <%= current_user.as_divisions.map{|ud| "#{ud.id} #{ud.name}"}.join(",") %></p>
    <p>User Role: <%= current_user.role_label %></p>
    <p>User Type: <%= current_user.type %>
  <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
