!!!
%html

  %head
    %title= "FNW datatable"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application", :media => 'screen, print'
    = javascript_include_tag "application"
    = csrf_meta_tag

  %script
    :plain
      (function(pathways) {
        store = pathways.createAddressedTableDataStore({
          address: "example",
          rowGeneratorAddress: "exampleTable"
        });
        store.setRecords(#{@records.to_json});
        store.setHeadings(#{@table_headings.to_json});
      }(window.pathways))

  %body
    .react_container
      = react_component "AddressedStoreTable",
        storeAddress: "example"
