!!!
%html

  %head
    %title= "FNW datatable"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application", :media => 'screen, print'
    = javascript_include_tag "application"
    = csrf_meta_tag

    %script
      :plain
        $("document").ready(function() {
          window.pathways.exampleTableStore.dispatch({
            type: "INITIALIZE_FROM_SERVER",
            initialState: #{@init_data.to_json}
          })
        });

  %body{style: "background-color: white;"}
    #content
      #container
        .tabbable
          #show_specialization
