!!!
%html
  %body
    %p= "Hi, #{@args[:user].name}"
    %p= "Below, you can find the link to your Pathways Usage Report with the following parameters:"
    %p
      %span= "Start Date: #{@args[:start_date].strftime("%B %d, %Y")}"
      %br
      %span= "End Date: #{@args[:end_date].strftime("%B %d, %Y")}"
      %br
      - if @args[:division].present?
        %span= "Scope: #{@args[:division].name} Division"
      - else
        %span= "Scope: Global"

    %p
      = link_to "Download report", csv_usage_report_url(@args[:object_key], format: :csv)

    %p This link will expire in 24 hours

    %p Best Regards,
    %p The Pathways Team
