- set_page_specific_title "Feedback Queue Archive"

.content-wrapper

  %h2 Feedback Queue Archive

  - divisions = current_user.as_admin_or_super? ? Division.all : current_user.as_divisions

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"href" => "#0_tab", "data-toggle" => "tab"}
          Specialist
      %li
        %a{"href" => "#1_tab", "data-toggle" => "tab"}
          Clinic
      %li
        %a{"href" => "#2_tab", "data-toggle" => "tab"}
          Content

    .tab-content

      - [Specialist, Clinic, ScItem].each_with_index do |klass, index|

        .tab-pane{"id" => "#{index}_tab", "class" => (index == 0) && "active"}

          %table.table.table-condensed.table-striped
            %tr
              %th Feedback on
              %th Specialty
              %th Provided by
              %th Provided when
              %th Feedback
              %th Reply
              %th

            - @categorized_feedback_items[klass].each do |feedback_item|
              %tr
                %td= link_to (feedback_item.item.respond_to?('name') ? feedback_item.item.name : feedback_item.item.title), feedback_item.item, :class => 'ajax'
                %td= feedback_item.item.specializations.map{ |s| s.name }.to_sentence
                %td= feedback_item.user.blank? ? "unavailable" : feedback_item.user.name
                %td= "#{time_ago_in_words(feedback_item.created_at)} ago"
                %td{"style" => "width: 30%"}= feedback_item.feedback
                %td= feedback_item.user.blank? ? "unavailable" : (mail_to feedback_item.user.email, feedback_item.user.email, :subject => "Your Pathways Feedback", :body => "#{feedback_item.feedback} \n\n Pathways: http://www.pathwaysbc.ca")
                %td.admin= history_button(feedback_item)

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2
