- set_page_specific_title "Feedback Queue Archive"

.content-wrapper

  %h2 Feedback Queue Archive

  .tabbable
    %ul.nav.nav-tabs
      - @feedback_items_types.each do |type, items|
        %li
          %a{"href" => "##{type}", "data-toggle" => "tab"}
            = type.to_s.humanize

    .tab-content

      - @feedback_items_types.each do |type, items|

        .tab-pane{id: type.to_s}

        = will_paginate items,
          renderer: PathwaysPaginationHelper::LinkRenderer,
          inner_window: 2,
          outer_window: 2

        %table.table.table-condensed.table-striped
          %tr
            - if type != :general
              %th Feedback on
              %th Specialties
            %th Provided by
            %th Provided when
            %th Feedback
            %th Reply
            %th

          - @categorized_feedback_items[klass].each do |feedback_item|
            %tr
              - if type != :general
                %td
                  - if feedback_item.target?
                    = link_to feedback_item.target_label,
                      feedback_item.target
                  - else
                    = feedback_item.target_label
                %td
                  - if feedback_item.target?
                    = feedback_item.item.specializations.map(&:name).to_sentence
              %td= feedback_item.submitter_name
              %td= "#{time_ago_in_words(feedback_item.created_at)} ago"
              %td{style: "width: 30%;"}= feedback_item.feedback
              %td= respond_link(feedback_item)
              %td.admin= history_button(feedback_item)

        = will_paginate items,
          renderer: PathwaysPaginationHelper::LinkRenderer,
          inner_window: 2,
          outer_window: 2

:javascript
  window.pathways.setupTabHistory();
