- set_page_specific_title "Feedback Queue"

.content-wrapper

  %h2 Feedback Queue

  .tabbable
    %ul.nav.nav-tabs
      - @feedback_item_types.each do |type, items|
        %li
          %a{ href: "##{type}_tab", data: { toggle: "tab" } }
            = type.to_s.humanize
            - if @owned_counts[type] > 0
              %span.badge.badge-warning
                = "#{@owned_counts[type]}/#{@feedback_item_types[type].count}"
            - else
              %span.badge= @feedback_item_types[type].count

    .tab-content

      - @feedback_item_types.each do |type, items|

        .tab-pane{ id: "#{type.to_s}_tab" }

          %table.table.table-condensed.table-striped
            %tr
              - if type != :contact_us
                %th Feedback on
              %th Assigned To
              %th Provided by
              %th Provided when
              %th Feedback
              %th Reply
              %th.admin

            - items.each do |feedback_item|
              %tr{ class: feedback_item.owners.include?(current_user) ? "owned" : "" }
                - if type != :contact_us
                  %td
                    - if feedback_item.target
                      = link_to feedback_item.target_label,
                        feedback_item.target
                      %br
                        = feedback_item.target.specializations.map(&:name).to_sentence
                        - if feedback_item.target.respond_to?(:cities)
                          = " - #{feedback_item.target.cities.map(&:name).to_sentence}"
                    - else
                      = feedback_item.target_label

                %td
                  %ul
                    - feedback_item.owners.each do |owner|
                      %li= owner.name
                %td= feedback_item.submitter_name
                %td= "#{time_ago_in_words(feedback_item.created_at)} ago"
                %td{ style: "width: 30%" }= feedback_item.feedback
                %td= respond_link(feedback_item)
                %td.admin
                  = link_to feedback_item,
                    class: "btn btn-mini stacked-button" do
                    %i.icon-circle-arrow-right
                    View
                  = link_to feedback_item,
                    method: :patch,
                    class: "btn btn-mini stacked-button" do
                    %i.icon-folder-open
                    Archive
                  = history_button(feedback_item)

  .btn-group
    = link_to "View archived feedback items",
      archived_feedback_items_reports_path,
      class: 'btn'

:javascript
  window.pathways.setupTabHistory();
