- set_page_specific_title @feedback_item.label

.content-wrapper
  %h2= @feedback_item.label

  %p.space
    - if @feedback_item.contact_us?
      %strong Submitted via:
      'Contact Us'
    - else
      %strong Feedback On:
      %span
        - if @feedback_item.target
          = link_to @feedback_item.target_label,
            @feedback_item.target
        - else
          = @feedback_item.target_label

  - unless @feedback_item.archived?
    %p.space
      %b Assigned To:
    %ul
      - @feedback_item.owners.each do |owner|
        %li= owner.name

  %p.space
    %b Provided By:
    %span= @feedback_item.submitter_name

  %p.space
    %b Provided When:
    %span= "#{time_ago_in_words(@feedback_item.created_at)} ago"

  %p.space
    %b Feedback:
  %p.space= @feedback_item.feedback

  %p.space
    %b Respond To:
    %span= respond_link(@feedback_item)

  .btn-group
    - unless @feedback_item.archived?
      = link_to @feedback_item,
        method: :patch,
        class: "btn" do
        %i.icon-folder-open
        Archive
    = large_history_button(@feedback_item)

  %hr

  = link_to "< All Active Feedback Items",
    feedback_items_path
