- set_page_specific_title "Demoable Content Items"

.content-wrapper

  %h2 Demoable Content Items

  %i Checked items will be included in demonstration database

  = form_tag demoable_content_items_path,
    method: :patch,
    class: "form-horizontal" do
    - ScCategory.includes(:sc_items).each do |category|
      .category
        %h3{style: "margin-top: 10px"}= category.name
        - category.sc_items.each do |item|
          %label
            = check_box_tag "sc_items[]",
              item.id,
              item.demoable,
              style: "display: inline; margin-right: 10px"
            %span= link_to item.title, sc_item_path(item), target: "_blank"
        = button_tag "Select All",
          class: "btn btn-primary js_select_all",
          type: "button"
        = button_tag "Deselect All",
          class: "btn btn-default js_deselect_all",
          type: "button"


    = submit_tag "Save", class: "btn btn-primary", style: "margin-top: 10px"

    :javascript
      $(document).ready(function() {
        $(".js_select_all").click(function(event){
          $(event.target).
            parents(".category").
            find("input[type='checkbox']").
            attr("checked", true)
        });

        $(".js_deselect_all").click(function(event){
          $(event.target).
            parents(".category").
            find("input[type='checkbox']").
            attr("checked", false)
        });
      })
