= simple_form_for @news_item, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :title
  = f.input :breaking
  = f.input :start_date, :as => :datepicker
  = f.input :show_start_date
  = f.input :end_date, :as => :datepicker
  = f.input :show_end_date, :hint => "The end date can be blank: if no end date is provided, the news item will expire after the start date, otherwise it will expire after the end date."
  = f.input :body, :hint => "Accepts Markdown"

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', news_items_path, :class => "btn btn-danger ajax"
      
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() { 
        $("input.datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });