- set_page_specific_title "News Item Archive"

.content-wrapper#front
  %h2= "News Item Archive for #{@divisions.to_sentence}"

  .tabbable
    %ul.nav.nav-tabs
      - NewsItem::TYPE_HASH.sort.each do |key, type|
        %li
          %a{ href: "#type_#{key}_tab", data: { toggle: "tab" } }
            = "#{type}s"

    %br
    .tab-content
      - @news_items_by_type_key.each do |key, items|
        .tab-pane{ id: "type_#{key.to_s}_tab" }
        - items.each do |item|
          = render_news_item(item)
          %hr

:javascript
  window.pathways.setupTabHistory();
