- set_page_specific_title "News Item Archive"

.content-wrapper#front
  %h2= "News Item Archive for #{@divisions.to_sentence}"

  .tabbable
    %ul.nav.nav-tabs
      - @news_items.sort.each do |key, items|
        - if items.any?
          %li
            %a{ href: "#type_#{key}_tab", data: { toggle: "tab" } }
              = "#{NewsItem::TYPE_HASH[key]}s"

    %br
    .tab-content
      - @news_items.each do |key, items|
        - if items.any?
          .tab-pane{ id: "type_#{key.to_s}_tab" }
            - items.each do |item|
              = render_news_item(item)
              %hr

:javascript
  window.pathways.setupTabHistory();
