- set_page_specific_title "News Item Archive"

.content-wrapper#front
  %h2= "News Item Archive for #{@divisions.to_sentence}"

  .tabbable
    %ul.nav.nav-tabs
      - NewsItem::TYPE_HASH.reject do |key|
        - @news_items[key].blank?
      - end.each do |type|
        %li
          %a{ href: "#type_#{type[0]}_tab", data: { toggle: "tab" } }
            = "#{type[1]}s"

    %br
    .tab-content
      - @news_items.each do |key, items|
        .tab-pane{ id: "type_#{key.to_s}_tab" }
          - items.each do |item|
            = render_news_item(item)
            %hr

:javascript
  window.pathways.setupTabHistory();
