- set_page_specific_title "#{@news_item.title}"

.content-wrapper

  %h2= @news_item.title
  %p.space.no_indent
    %strong Owner Division:
    = @news_item.owner_division.name
  %p.space.no_indent
    %strong Start Date:
    = @news_item.start_date_full_regardless
  %p.space.no_indent
    %strong End Date:
    = @news_item.end_date_full_regardless
  %p.space.no_indent
    %strong Body:
    = BlueCloth.new(@news_item.body).to_html.html_safe
  %p.space.no_indent
    %strong Markdown:
  %p= @news_item.body
  - if @news_item.borrowing_divisions.any?
    %p.space.no_indent
      %strong Divisions Showing
      %ul
        - @news_item.borrowing_divisions.each do |division|
          %li
            %span= division.name
            - if @news_item.user_can_unborrow?(current_user, division)
              = link_to "(Stop Showing)",
                update_borrowing_news_item_path(@news_item,
                division_id: division.id,
                borrow: false)

  .btn-group
    - if can? :update, @news_item
      = link_to edit_news_item_path(@news_item), class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @news_item
      = delete_button(@news_item, "Delete #{@news_item.title}?")
    - if @news_item.copyable_to(current_user).any?
      %button{ class: "btn dropdown-toggle", data: { toggle: "dropdown" } }
        %i.icon-copy
        Copy to
        %span.caret
      %ul.dropdown-menu{ style: "margin-top: 0px" }
        - @news_item.copyable_to(current_user).each do |division|
          %li
            = link_to division.name,
              copy_news_item_path(@news_item, target_division_id: division.id),
              method: :post,
              class: "dropdown__link"
