.alert.alert-success
  - if @version.event = "create"
    %h4 You are viewing the first version of this #{@klass} record.
    - if @version.previous.present?
      This version was saved #{@version.previous.created_at.to_s(:date_ordinal)} by #{whodunnit_name(@version.previous)}.
    = link_to "View live site version", url_for(@version.reify), :class => "ajax"


  - else
    %h4 You are viewing a prior version of this #{@klass} record
    - if @version.previous.present?
      This version was saved #{@version.previous.created_at.to_s(:date_ordinal)} by #{whodunnit_name(@version.previous)}.
    = link_to "View live site version", url_for(@version.reify), :class => "ajax"

  %ul.pager
    - if @version.previous.present? && @version.previous.reify.present?
      %li
        = link_to "<i class='icon-arrow-left icon-blue'></i>Older version".html_safe, show_version_path(@version.previous), :class => "ajax"
    %li
      = link_to "List all versions", url_for(@version.reify) + "/versions", :class => "ajax"
    - if @version.next
      %li
        = link_to "Newer version <i class='icon-arrow-right icon-blue'></i>".html_safe, show_version_path(@version.next), :class => "ajax"
    - else
      %li
        = link_to "View live site version <i class='icon-arrow-right icon-blue'></i>".html_safe, url_for(@version.reify), :class => "ajax"
