.alert.alert-success
  - if (@version.event = "create") && !(@version.reify.present?)
    %h4 You are viewing the first version of this #{instance_name} record.
  - else
    %h4 You are viewing a prior version of this #{instance_name} record.

  - if @version.previous.present?
    This version was saved
    = @version.previous.created_at.to_s(:date_ordinal)
    by
    = @version.previous.safe_user.name + "."
  = link_to "View live site version.", url_for(@version.reify)

  %ul.pager
    - if @version.previous.present? && @version.previous.reify.present?
      %li
        = link_to version_path(@version.previous) do
          %i.icon-arrow-left.icon-blue
          %span= "Older version"
    %li
      = link_to "List all versions", url_for(@version.reify) + "/versions"
    - if @version.next
      %li
        = link_to version_path(@version.next) do
          %span= "Newer version "
          %i.icon-arrow-right.icon-blue
    - else
      %li
        = link_to url_for(@version.reify) do
          %span= "View live site version "
          %i.icon-arrow-right.icon-blue
