- set_page_specific_title "Activity"

.content-wrapper

  %h2 Activity

  = will_paginate @versions,
    renderer: PathwaysPaginationHelper::LinkRenderer,
    inner_window: 2,
    outer_window: 2

  %ul.versions
    - @versions.each do |version|
      - event = version_event(version)
      - next if event.blank?
      %li
        = event.html_safe
        %ul

          - if version.changeset.present?
            - version.changeset.each do |attribute, changeset|
              - next if attribute == 'review_object'
              %li
                = version.item_type.constantize.human_attribute_name(attribute)
                - if (changeset[0].present? and changeset[1].present?)
                  changed from
                  = translate_changes(version, attribute, changeset[0])
                  to
                  = translate_changes(version, attribute, changeset[1])
                - elsif changeset[0].present?
                  is no longer
                  = translate_changes(version, attribute, changeset[0])
                - elsif changeset[1].present?
                  became
                  = translate_changes(version, attribute, changeset[1])

          %li
            Changed by
            = version.safe_user.name
            #{time_ago_in_words(version.created_at)} ago

  = will_paginate @versions,
    renderer: PathwaysPaginationHelper::LinkRenderer,
    inner_window: 2,
    outer_window: 2
