- title "History for #{@item.name}"

.content-wrapper

  %h2 History for #{@item.name}

  %ol
    - @versions.each_with_index do |version, idx|
      %li
        = link_to "#{version.evented.capitalize}", version.next.present? ? show_version_path(version.next) : url_for(version.reify), :class => "ajax"
        by #{whodunnit_name(version)}
        on #{version.created_at.to_s(:date_ordinal)}
        %span{:class=> "muted"}= "#{time_ago_in_words(version.created_at)} ago"

        - if version.changeset.present?
          %ul
            - version.changeset.each do |attribute, changeset|
              - next if attribute == 'review_object'
              - if (changeset[0].present? and changeset[1].present?)
                %li
                  = version.item_type.constantize.human_attribute_name(attribute)
                  changed from
                  %em= translate_changes(version, attribute, changeset[0])
                  to
                  %em= translate_changes(version, attribute, changeset[1])
              - elsif changeset[0].present?
                %li
                  = version.item_type.constantize.human_attribute_name(attribute)
                  is no longer
                  %em= translate_changes(version, attribute, changeset[0])
              - elsif changeset[1].present?
                %li
                  = version.item_type.constantize.human_attribute_name(attribute)
                  became
                  %em= translate_changes(version, attribute, changeset[1])
              
          %br