= simple_nested_form_for @hospital do |f|
  = f.error_messages

  %fieldset
    %h2 
      Hospital Name 
    = f.input :name

  %fieldset.address
    %h2 Hospital Contact Information
    - address_number = 1
    = f.simple_fields_for :addresses do |i|
      %h4.location_header 
        Location 
        = address_number
      = i.input :address1
      = i.input :address2
      = i.input :city
      = i.input :province
      = i.input :postalcode
      = i.input :phone1
      = i.input :fax
      - if address_number < Hospital::MAX_ADDRESSES
        %hr
      - address_number += 1
    - if @hospital.addresses.count < Hospital::MAX_ADDRESSES
      = f.link_to_add "Add another location", :addresses, class: "button", id: "add_address"

  %p
    = f.submit
