%h2 Hospitals

%table.table.table-condensed
  - Hospital.all.each do |hospital|
    %tr
      %td= link_to hospital.name, hospital, :class => 'ajax'
      %td.admin.btn-group
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_hospital_path(hospital), :class => "btn btn-mini ajax")
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete", hospital, :confirm => "Delete #{hospital.name}?", :method => :delete, :class => "btn btn-mini")

%p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Hospital", new_hospital_path, :class => "btn ajax")
