- set_page_specific_title "Hospitals"

.content-wrapper

  %h2 Hospitals

  - first_division = current_user.as_divisions.first

  .tabbable
    %ul#content_tabs.nav.nav-tabs
      - Division.all.each do |division|
        %li
          %a{ href: "##{division.id}_tab",
            data: { toggle: "tab" } }= division.name

    .tab-content
      - Division.all.each do |division|
        .tab-pane{ id: "#{division.id}_tab" }
          - hospitals = Hospital.in_divisions([division])
          %table.table.table-condensed.table-striped
            %tr
              %th{ style: "width:50%" } Hospital
              %th{ style: "width:50%" } City
              %th.admin

            - hospitals.each do |hospital|
              %tr
                %td= link_to hospital.name, hospital_path(hospital)
                %td= hospital.city.present? ? hospital.city.name : ""
                %td.admin.btn-group
                  - if can? :update, hospital
                    = link_to edit_hospital_path(hospital),
                      class: "btn btn-mini" do
                      %i.icon-pencil
                      Edit
                  - if can? :destroy, hospital
                    = delete_button(hospital,
                      "Delete #{hospital.name}?",
                      mini: true)

  %p.admin
    = link_to new_hospital_path,
      class: "btn" do
      %i.icon-plus-sign
      New Hospital

:javascript
  window.pathways.setupTabHistory();
