%h1 Hospitals

%table.table.table-striped.table-condensed
  %tr
    %th Name
  - for hospital in @hospitals
    %tr
      %td= hospital.name
      %td= link_to 'Show', hospital
      %td= link_to 'Edit', edit_hospital_path(hospital)
      %td= link_to 'Delete', hospital, :confirm => "Delete #{hospital.name}?", :method => :delete

%p= link_to "New Hospital", new_hospital_path
