- title "#{@hospital.name}"
    
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    var root_procedures = [];
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name
          
%script{"type" => "text/javascript"}
  :plain
    $(document).ready(function() {
      $('#specialist_table, #office_table').tablesorter({sortList: [[1,0],[2,0],[3,0],[4,0]]});
      $('#clinic_table').tablesorter({sortList: [[0,0],[1,0],[2,0],[3,0],[4,0]]});
    });
    
.content-wrapper
    
  %h2= @hospital.name
    
  - if @hospital.address.present? && !@hospital.address.empty?
    %p.no_indent= link_to @hospital.address.address, @hospital.address.map_url, :target => "_blank"
  - if (@hospital.phone_and_fax.present?)
    %p.no_indent= @hospital.phone_and_fax
    
- specialists = @hospital.specialists
- clinics_in = @hospital.clinics_in

- has_specialists = specialists.length > 0
- has_clinics_in = clinics_in.length > 0
- has_specialists_with_offices_in = @specialists_with_offices_in.length > 0

- specialist_tab_class = has_specialists ? "active" : ""
- clinic_tab_class = (!has_specialists and has_clinics_in) ? "active" : ""
- specialist_offices_tab_class = (!has_specialists and !has_clinics_in) ? "active" : ""

.tabbable
  %ul.nav.nav-tabs
    - if has_specialists
      %li{:class => specialist_tab_class} 
        %a{"href" => "#specialist_tab", "data-toggle" => "tab"}
          %span Specialists with Hospital Privileges
    - if has_clinics_in
      %li{:class => clinic_tab_class}
        %a{"href" => "#clinic_tab", "data-toggle" => "tab"}
          %span Clinics in Hospital
    - if has_specialists_with_offices_in
      %li{:class => specialist_offices_tab_class}
        %a{"href" => "#specialist_offices_tab", "data-toggle" => "tab"} 
          %span Specialists with Offices in Hospital
  
  .content-wrapper

    - cache(hospital_path(@hospital)) do

      %script{"type" => "text/javascript"}
        $(document).ready(function() {
        - @hospital.specialists.each do |s|
          - next if not s.show_in_table?
          - specialist_filter_attributes = specialist_filtering_attributes(s, false)
          - s.specializations.each do |sp|
            - specialist_filter_attributes << "ssp#{sp.id}_"
          $('#s#{s.id}').data('filter', '#{specialist_filter_attributes.join(' ')}');
        - @hospital.clinics_in.each do |c|
          - next if not c.show_in_table?
          - clinic_filter_attributes = clinic_filtering_attributes(c)
          - c.specializations.each do |s|
            - clinic_filter_attributes << "csp#{s.id}_"
          $('#c#{c.id}').data('filter', '#{clinic_filter_attributes.join(' ')}');
        - @specialists_with_offices_in.each do |s|
          - next if not s.show_in_table?
          - office_filter_attributes = office_filtering_attributes(s, false)
          - s.specializations.each do |sp|
            - office_filter_attributes << "osp#{sp.id}_"
          $('#o#{s.id}').data('filter', '#{office_filter_attributes.join(' ')}');
        });

      .tab-content
        - if has_specialists
          #specialist_tab.tab-pane{:class => specialist_tab_class} 
            .content
              .row
                .span8half                  
                  .toggle-filters.visible-phone
                    %a{"href" => "javascript:void(0)", "onclick" => "$('#specialist_filters').toggle()"}
                      %i.icon-blue.icon-cog.icon-small
                      Show / Hide Specialist Filters
                      
                  #specialist_phrase.filter-phrase
                  
                  %table.table.table-condensed.tablesorter.five#specialist_table
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'bylastname'} name_column"} Specialist
                        %th{:class => "s {sorter: 'text'} specialty_column"} Specialty
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - specialists.each do |specialist|
                        - next if not specialist.show_in_table?
                        %tr{:class => specialist.disabled_in_table? && "disabled", :id => "s#{specialist.id}"}
                          %td.sp
                            %a.ajax{"href" => specialist_path(specialist)}= specialist.name
                          %td.s
                            %ul
                              - specialist.specializations.each do |s|
                                %li= s.name
                          %td.st
                            %i{:class => specialist.status_class}
                            .status= specialist.status_class_hash
                          %td.wt= specialist.waittime
                          %td.c
                            %ul
                              - specialist.cities.each do |city|
                                %li= city
                          
                .span3.offsethalf
                  .well.filter#specialist_filters
                    .title
                      Filter Specialists
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-specialty"}
                        Specialties
                      #specialist-filter-specialty.collapsable.in
                        .filter-group-content
                          - Specialization.not_in_progress.each do |s|
                            %label
                              %input.ssp{"type" => "checkbox", "id" => "ssp#{s.id}_"}= s.name
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-referral"}
                        Referrals
                      #specialist-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#srph.sr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.sc
                              %option{"value" => 0} Any timeframe
                              - Specialist::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "sc#{lag_index}_"}= lag_value
                          %label
                            %input#srpb.sr{"type" => "checkbox"} Patients can call to book after referral
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-sex"}
                        Sex
                      #specialist-filter-sex.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#ssm.ss{"type" => "checkbox"} Male
                          %label.half
                            %input#ssf.ss{"type" => "checkbox"} Female
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-schedule"}
                        Schedule
                      #specialist-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsat"} Saturday
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsun"} Sunday
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-language"}
                        Languages
                      #specialist-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#si.si{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.sl{"type" => "checkbox", "id" => "sl#{l.id}_"}= l.name
                            
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-association"}
                        Associations
                      #specialist-filter-association.collapsable.collapse
                        .filter-group-content
                          %label.indent
                            Clinic:
                            %select.sa
                              %option{"value" => 0} Any
                              - Clinic.all.each do |c|
                                %option{"value" => "sac#{c.id}_"}= c.name
                              

                  %script{"type" => "text/javascript"}
                    :plain
                      $(document).ready(function() {
                        $('.ssp, .sc, .sr, .ss, .ssh, .sl, .sa, .si').click( update_specialist_table );
                      });
              
        - if has_clinics_in
          #clinic_tab.tab-pane{:class => clinic_tab_class}
          
            .content
              .row
                .span8half                  
                  .toggle-filters.visible-phone
                    %a{"href" => "javascript:void(0)", "onclick" => "$('#clinic_filters').toggle()"}
                      %i.icon-blue.icon-cog.icon-small
                      Show / Hide Clinic Filters
                      
                  #clinic_phrase.filter-phrase
                  
                  %table.table.table-condensed.tablesorter.five#clinic_table
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'text'} name_column"} Clinic
                        %th{:class => "s {sorter: 'text'} specialty_column"} Specialty
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - clinics_in.each do |clinic|
                        - next if not clinic.show_in_table?
                        %tr{:class => clinic.disabled_in_table? && "disabled", :id => "c#{clinic.id}"}
                          %td.sp
                            %a.ajax{"href" => clinic_path(clinic)}= clinic.name
                          %td.s
                            %ul
                              - clinic.specializations.each do |s|
                                %li= s.name
                          %td.st
                            %i{:class => clinic.status_class}
                            .status= clinic.status_class_hash
                          %td.wt= clinic.waittime
                          %td.c= clinic.city
                          
                .span3.offsethalf
                  .well.filter#clinic_filters
                    .title
                      Filter Clinics
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#clinic-filter-specialty"}
                        Specialties
                      #clinic-filter-specialty.collapsable.in
                        .filter-group-content
                          - Specialization.not_in_progress.each do |s|
                            %label
                              %input.csp{"type" => "checkbox", "id" => "csp#{s.id}_"}= s.name
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#clinic-filter-referral"}
                        Referrals
                      #clinic-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#crph.cr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.cc
                              %option{"value" => 0} Any timeframe
                              - Clinic::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "csc#{lag_index}_"}= lag_value
                          %label
                            %input#crpb.cr{"type" => "checkbox"} Patients can call to book after referral
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-detail"}
                        Details
                      #clinic-filter-detail.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#cdpb.cd{"type" => "checkbox"} Public
                          %label.half
                            %input#cdpv.cd{"type" => "checkbox"} Private
                          %label
                            %input.cd{"type" => "checkbox", "id" => "cdwa"} Wheelchair Accessible
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-schedule"}
                        Schedule
                      #clinic-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshmon"} Monday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshtues"} Tuesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshwed"} Wednesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshthurs"} Thursday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshfri"} Friday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsat"} Saturday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsun"} Sunday
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-healthcare-provider"}
                        Healthcare Providers
                      #clinic-filter-healthcare-provider.collapsable.collapse
                        .filter-group-content
                          - HealthcareProvider.all.each do |h|
                            %label
                              %input.ch{"type" => "checkbox", "id" => "ch#{h.id}_"}= h.name
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-language"}
                        Languages
                      #clinic-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#ci.ci{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.cl{"type" => "checkbox", "id" => "cl#{l.id}_"}= l.name

                  %script{"type" => "text/javascript"}
                    :plain
                      $(document).ready(function() {
                        $('.csp, .cc, .cr, .cd, .csh, .ch, .cl, .ci').click( update_clinic_table );
                      });
              
        - if has_specialists_with_offices_in
          #specialist_offices_tab.tab-pane{:class => specialist_offices_tab_class}
            .content
              .row
                .span8half                  
                  .toggle-filters.visible-phone
                    %a{"href" => "javascript:void(0)", "onclick" => "$('#office_filters').toggle()"}
                      %i.icon-blue.icon-cog.icon-small
                      Show / Hide Specialist Filters
                      
                  #office_phrase.filter-phrase
                  
                  %table.table.table-condensed.tablesorter.five#office_table
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'bylastname'} name_column"} Specialists
                        %th{:class => "s {sorter: 'text'} specialty_column"} Specialty
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - @specialists_with_offices_in.each do |specialist|
                        - next if not specialist.show_in_table?
                        %tr{:class => specialist.disabled_in_table? && "disabled", :id => "o#{specialist.id}"}
                          %td.sp
                            %a.ajax{"href" => specialist_path(specialist)}= specialist.name
                          %td.s
                            %ul
                              - specialist.specializations.each do |s|
                                %li= s.name
                          %td.st
                            %i{:class => specialist.status_class}
                            .status= specialist.status_class_hash
                          %td.wt= specialist.waittime
                          %td.c
                            %ul
                              - specialist.cities.each do |city|
                                %li= city
                          
                .span3.offsethalf
                  .well.filter#office_filters
                    .title
                      Filter Specialists
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#office-filter-specialty"}
                        Specialties
                      #office-filter-specialty.collapsable.in
                        .filter-group-content
                          - Specialization.not_in_progress.each do |s|
                            %label
                              %input.osp{"type" => "checkbox", "id" => "osp#{s.id}_"}= s.name
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#office-filter-referral"}
                        Referrals
                      #office-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#orph.or{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.oc
                              %option{"value" => 0} Any timeframe
                              - Specialist::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "oc#{lag_index}_"}= lag_value
                          %label
                            %input#orpb.osr{"type" => "checkbox"} Patients can call to book after referral
                                
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#office-filter-sex"}
                        Sex
                      #office-filter-sex.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#osm.os{"type" => "checkbox"} Male
                          %label.half
                            %input#osf.os{"type" => "checkbox"} Female
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#office-filter-schedule"}
                        Schedule
                      #office-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input.osh{"type" => "checkbox", "id" => "oshsat"} Saturday
                          %label.half
                            %input.osh{"type" => "checkbox", "id" => "oshsun"} Sunday
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#office-filter-language"}
                        Languages
                      #office-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#oi.oi{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.ol{"type" => "checkbox", "id" => "ol#{l.id}_"}= l.name
                            
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-association"}
                        Associations
                      #specialist-filter-association.collapsable.collapse
                        .filter-group-content
                          %label.indent
                            Clinic:
                            %select.oa
                              %option{"value" => 0} Any
                              - Clinic.all.each do |c|
                                %option{"value" => "oac#{c.id}_"}= c.name

                  %script{"type" => "text/javascript"}
                    :plain
                      $(document).ready(function() {
                        $('.osp, .oc, .or, .os, .osh, .ol, .oi, .oa').click( update_office_table );
                      });

        %script{"type" => "text/javascript"}
          :plain
            $('.collapsable').on('shown', function() {
              $(this).siblings('.filter-group-title').removeClass('closed').addClass('open');
            });
            $('.collapsable').on('hidden', function() {
              $(this).siblings('.filter-group-title').removeClass('open').addClass('closed');
            });
            //make full rows clickable
            $('table tr').click( function() { $(this).find('a').click(); });
            $('table a').click( function(e) { e.stopPropagation(); });
            
    %p.admin.btn-group
      - if can? :update, @hospital
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Hospital", edit_hospital_path(@hospital), :class => "btn ajax")
      - if can? :destroy, @hospital
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Hospital", @hospital, :confirm => "Delete #{@hospital.name}?", :method => :delete, :class => "btn")
