%h1
  = @hospital.name
  
- @hospital.addresses.each do |address|
  - next if address.empty?
  %p
    %i
      = address.address
      %br
      = "#{address.phone1}, fax: #{address.fax}"

%p
  = link_to "Edit", edit_hospital_path(@hospital)
  |
  = link_to "Destroy", @hospital, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", hospitals_path
