%h1
  = @hospital.name
  
- @hospital.addresses.each do |address|
  - next if address.empty?
  %p
    %i
      = address.address
      %br
      = "#{address.phone1}, fax: #{address.fax}"

%p
  = link_to "Edit hospital", edit_hospital_path(@hospital)
  |
  = link_to "Delete hospital", @hospital, :confirm => "Delete #{@hospital.name}?", :method => :delete
  |
  = link_to "Show all hospitals", hospitals_path
