.content-wrapper
  %h1 My Notifications
  .well
    - if @subscriptions.present?
      - @subscriptions.each do |subscription|
        %table.table.table-condensed.table-striped

          %tr
            %td= link_to "#{subscription.classification} Notifications", subscription
            %td= link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_subscription_path(subscription), :class => "btn btn-mini ajax")
            %td= link_to("<i class='icon-trash'></i>".html_safe + " Delete", subscription, :confirm => "Delete Notification Setting #{subscription.id}?", :method => :delete, :class => "btn btn-mini")
    - else
      %br
      %p.no_indent You currently do not have any subscription notifications created yet.  Click the button below to create your first one.
    %br
    %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " Create New Update Notification", new_subscription_path, :class => "btn ajax btn btn-primary")

- title "News Items"

.content-wrapper

  %h2 News Items
  
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"href" => "#owned_tab", "data-toggle" => "tab"}= "Own News Items"
      %li
        %a{"href" => "#other_tab", "data-toggle" => "tab"}= "Other Divisions' New Items"

    .tab-content
      #owned_tab.tab-pane.active
      
        - multiple_divisions = (current_user_divisions.length > 1)

        %table.table.table-condensed.table-striped
          %tr
            %th Title
            - if multiple_divisions
              %th Division
            %th Type
            %th Date
            %th.admin

          - @owned_news_items.each do |news_item|
            %tr
              - title = news_item.title
              - if title.blank?
                - title = truncate(ActionView::Base.full_sanitizer.sanitize(BlueCloth.new(news_item.body).to_html), :length => 40, :separator => ' ')
              %td= link_to title, news_item, :class => 'ajax'
              - if multiple_divisions
                %td{:style => "white-space: nowrap"}= news_item.division.name
              %td{:style => "white-space: nowrap"}= news_item.type
              %td{:style => "white-space: nowrap"}
                - if news_item.start_date.present?
                  = "<b>Start:</b> #{news_item.start_date_full_regardless}".html_safe
                  - if news_item.end_date.present?
                    %br
                - if news_item.end_date.present?
                  = "<b>End:</b> #{news_item.end_date_full_regardless}".html_safe
              %td.admin.btn-group
                = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_news_item_path(news_item), :class => "btn btn-mini ajax")
                = link_to("<i class='icon-trash'></i>".html_safe + " Delete", news_item, :confirm => "Delete #{news_item.title}?", :method => :delete, :class => "btn btn-mini")

        = will_paginate @owned_news_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2, :param_name => 'owned_page'

        %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New News Item", new_news_item_path, :class => "btn ajax")

      #other_tab.tab-pane

        %table.table.table-condensed.table-striped
          %tr
            %th Title
            %th Division
            %th Type
            %th Date
            %th.admin

          - @other_news_items.each do |news_item|
            %tr
              - title = news_item.title
              - if title.blank?
                - title = truncate(ActionView::Base.full_sanitizer.sanitize(BlueCloth.new(news_item.body).to_html), :length => 40, :separator => ' ')
              %td= link_to title, news_item, :class => 'ajax'
              %td{:style => "white-space: nowrap"}= news_item.division.name
              %td{:style => "white-space: nowrap"}= news_item.type
              %td{:style => "white-space: nowrap"}
                - if news_item.start_date.present?
                  = "<b>Start:</b> #{news_item.start_date_full_regardless}".html_safe
                  - if news_item.end_date.present?
                    %br
                - if news_item.end_date.present?
                  = "<b>End:</b> #{news_item.end_date_full_regardless}".html_safe
              %td.admin.btn-group
                - if current_user_is_super_admin?
                  = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_news_item_path(news_item), :class => "btn btn-mini ajax")
                  = link_to("<i class='icon-trash'></i>".html_safe + " Delete", news_item, :confirm => "Delete #{news_item.title}?", :method => :delete, :class => "btn btn-mini")
                - else
                  = link_to("View", news_item_path(news_item), :class => "btn btn-mini ajax")

        = will_paginate @other_news_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2, :param_name => 'other_page'
