.content-wrapper
  %h2
    My Custom Notification Settings
  - if @subscriptions.present?

    %table.table.table-condensed.table-striped
      %container
        %tr
          %th Type
          %th Interval
          %th Content
          %th Division(s)
          %th Options
        - @subscriptions.each do |subscription|
          %tr
            %td{ style: "white-space: nowrap" }
              = link_to "#{subscription.target_label}",
                edit_subscription_path(subscription)
            %td{ style: "white-space: nowrap" }= subscription.interval_to_words
            %td{ style: "white-space: nowrap container-fluid" }
              - if subscription.sc_categories.present?
                %p
                  %strong Content Categories:
                  %br= subscription.sc_categories.map(&:name).join(", ")
              - if subscription.news_type_present?
                %p
                  %strong News Item Types:
                  %br= subscription.news_types_pluralized.join(", ")
              - if subscription.specializations.present?
                %p
                  %strong Specialities:
                  %br= subscription.specializations_comma_separated
            %td{ style: "white-space: nowrap container-fluid" }
              = subscription.divisions.join(", ")
            %td{ style: "white-space: nowrap" }
              = link_to edit_subscription_path(subscription),
                class: "btn btn-mini" do
                %i.icon-pencil
                Edit

              = delete_button(subscription,
                "Delete Notification Setting #{subscription.id}?",
                mini: true)

  - else
    %br
    %p.no_indent
      You currently do not have any subscription notifications created yet.
      Click the button below to create your first one.
  %br
  %p.admin
    = link_to new_subscription_path,
      class: "btn btn btn-primary" do
      %i.icon-plus-sign
      Create New Update Notification
