!!!
%html
  %head
    %title #{@user.name} -- Pathways: Externally-created new record update
  %body
    %p
      = "Hi #{@user.name},"
    %br
    %p
      = @editor.name
      from
      = @editor.divisions.first.name
      has created a new location in
      = @target_division.name
      for the
      = @source_klass
      with ID
      = @source.id
      - if @source.respond_to?("name") && @source.name.present?
        = "(#{@source.name})"
      from
      = @source.divisions.map(&:name).to_sentence + "."
    %p
      You can view the record
      %a{ href: "http://www.pathwaysbc.ca/#{@source_klass.to_s.downcase}s/#{@source.id}",
        target: "blank" }
        by clicking here.
    %br
    %p
      You are receiving this message as a service to Pathways administrators.
