!!!
%html
  %head
    %title
      = "#{@user.name} -- Pathways: #{@division} just added #{@type_mask_description_formatted.downcase} to #{@parent_type} [#{@update_classification_type}]"
  %body
    %p
      = "#{@user.name}, "
      = "#{@type_mask_description_formatted.downcase} was just added "
      - if @parent_type.present?
        = "to #{@parent_type}"
      - if @division.present?
        = "by #{@division}: "
    %br
    .activity
      %p
        = link_to "#{@trackable_full_title} [#{@activity.trackable.format.downcase}]", sc_item_url(@activity.trackable)
        - if @specializations.present?
          = "(#{@activity.trackable.specializations.uniq.map(&:name).to_sentence})"
      %br
    = render partial: "subscription_mailer/automatic_email_message", locals: {:interval => @interval}