!!!
%html
  %head
    %title #{@user.name} -- Pathways: Your #{@interval} update
  %body
    %p= "Hi #{@user.name},"
    %p
      Here is your
      = @interval
      Pathways Content Items Update for
      = @end_datetime.strftime("%B, %d, %Y") + ":"
    %br
    - @divisions_sc_items.each do |division_sc_items|
      %hr
      %b= division_sc_items[:division].name
      - division_sc_items[:sc_items].each do |sc_item|
        .sc_item
          %p
            %span{ class: "muted" }
              = time_ago_in_words(sc_item.created_at)
              ago

            = render "sc_items/created", sc_item: sc_item
          %br
      - if division_sc_items[:borrow_for_divisions].any?
        - division_sc_items[:borrow_for_divisions].each do |borrow_for_division,
          item_ids|
          = link_to bulk_borrow_sc_items_url(item_ids: item_ids,
            division_id: borrow_for_division.id) do
            %p
              Display eligible items from
              = division_sc_items[:division].name + " in "
              = borrow_for_division.name
      - else
        Listed Content Items available to borrow are already visible in
        - if @user.divisions.count > 1
          your divisions.
        - else
          = @user.divisions.first.name + "."

    - if @divisions_sc_items.count > 1 && @borrow_all_for_divisions.any?
      %hr
      - @borrow_all_for_divisions.each do |borrow_for_division, item_ids|
        = link_to bulk_borrow_sc_items_url(item_ids: item_ids,
          division_id: borrow_for_division.id) do
          %p
            Display all eligible items above in
            = borrow_for_division.name

    = render partial: "subscription_mailer/automatic_email_message",
      locals: { interval: @interval }
