!!!
%html
  %head
    %title #{@user.name} -- Pathways: Your #{@interval} update
  %body
    %p
      = "Hi #{@user.name},"
    %p
      = "Here is your #{@interval} Pathways News Update for #{DateTime.now.strftime("%B, %d, %Y")}:"
    %br
    - @activities.each do |activity|
      .activity
        %p
          %span{:class=> "muted"}= "#{time_ago_in_words(activity.trackable.created_at)} ago"

          = render_activity(activity, fallback: :default)
        %br
    = render partial: "subscription_mailer/automatic_email_message",
      locals: { interval: @interval }
