!!!
%html
  %head
    %title #{@user.name} -- Pathways: Your #{@interval} update
  %body
    %p
      = "Hi #{@user.name},"
    %p
      = "Here is your #{@interval} Pathways Resources Update for #{DateTime.now.strftime("%B, %d, %Y")}:"
    %br
    - @divisions_activities.each do |division_activities|
      %hr
      %b= division_activities[:division].name
      - division_activities[:activities].each do |activity|
        .activity
          %p
            %span{:class=> "muted"}= "#{time_ago_in_words(activity.trackable.created_at)} ago"

            = render_activity(activity, fallback: :default)
          %br
      - if division_activities[:share_with_divisions].any?
        - division_activities[:share_with_divisions].each do |division, item_ids|
          = link_to "Display eligible items from #{division_activities[:division].name} in #{division.name}",
            bulk_share_sc_items_url(item_ids: item_ids, division_id: division_activities[:division].id)


    - if @divisions_activities.count > 1 && @share_all_with_divisions.any?
      %hr
      - @share_all_with_divisions.each do |division, item_ids|
        = link_to "Display eligible items from the above list in #{division.name}",
          bulk_share_sc_items_url(item_ids: item_ids, division_id: division.id)


    = render partial: "subscription_mailer/automatic_email_message",
      locals: { interval: @interval }
