!!!
%html
  %head
    %title #{@user.name} -- Pathways: Your #{@interval} update
  %body
    %p
      = "Hi #{@user.name},"
    %p
      = "Here is your #{@interval} Pathways Content Items Update for #{@end_datetime.strftime("%B, %d, %Y")}:"
    %br
    - @divisions_sc_items.each do |division_sc_items|
      %hr
      %b= division_sc_items[:division].name
      - division_sc_items[:sc_items].each do |sc_item|
        .sc_item
          %p
            %span{ class: "muted" }
              = "#{time_ago_in_words(sc_item.created_at)} ago"

            = render "sc_items/created", sc_item: sc_item
          %br
      - if division_sc_items[:share_with_divisions].any?
        - division_sc_items[:share_with_divisions].each do |share_with_division,
          item_ids|
          = link_to bulk_share_sc_items_url(item_ids: item_ids,
            division_id: share_with_division.id) do
            %p
              Display eligible items from
              = division_sc_items[:division].name + " in "
              = share_with_division.name
      - else
        Listed Content Items available to share are already visible in
        - if @user.divisions.count > 1
          your divisions.
        - else
          = @user.divisions.first.name + "."

    - if @divisions_sc_items.count > 1 && @share_all_with_divisions.any?
      %hr
      - @share_all_with_divisions.each do |share_with_division, item_ids|
        = link_to bulk_share_sc_items_url(item_ids: item_ids,
          division_id: share_with_division.id) do
          %p
            Display all eligible items above in
            = share_with_division.name

    = render partial: "subscription_mailer/automatic_email_message",
      locals: { interval: @interval }
