= simple_form_for @sc_category, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :name
  = f.input :sort_order, :as => :select, :collection => 1...ScCategory.all.length
  = f.input :show_on_front_page

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', sc_categories_path, :class => "btn btn-danger ajax"
