- set_page_specific_title "Content Categories"

.content-wrapper

  %h2 Content Categories

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Parent
      %th Sort order
      %th Display
      %th Searchable
      %th Has Levels of Evidence?
      %th Feature on front page?
      %th # Items
      %th.admin

    - @sc_categories.each do |sc_category|
      %tr
        %td= link_to sc_category.name, sc_category
        %td= sc_category.parent.present? ? sc_category.parent.name : ""
        %td= sc_category.parent.present? ? "" : sc_category.sort_order
        %td= sc_category.parent.present? ? "" : sc_category.display
        %td= sc_category.searchable? ? "Yes" : "No"
        %td= sc_category.evidential? ? "Yes" : "No"
        %td= sc_category.show_on_front_page? ? "Yes" : "No"
        %td= sc_category.sc_items.length
        %td.admin.btn-group
          = link_to edit_sc_category_path(sc_category), class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(sc_category,
            "Delete #{sc_category.name}?",
            mini: true)

  %p.admin
    = link_to new_sc_category_path, class: "btn" do
      %i.icon-plus-sign
      New Content Category
