- title "Pathways | #{@sc_category.name}"
    
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      Specialties
      %b.caret
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

.content-wrapper

  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        //sort by specialty, status, wait time, then city
        $('.tablesorter').tablesorter({sortList: [[1,0],[0,0]]});
      });


  %h2= @sc_category.name

  %table.table.table-condensed.tablesorter
    %thead
      %tr{:class => 'tableheader'}
        %th{:class => "{sorter: 'text'}"} Name
        %th{:class => "{sorter: 'text'}"} Specialty
    %tbody
      - @sc_category.sc_items.each do |sc_item|
        %tr
          %td
            - if sc_item.link? || sc_item.document?
              %ul.space
                %li= link_to(sc_item.title, sc_item.link? ? sc_item.url : sc_item.document.url, :target => "_blank")
                %li
                  %span.format= sc_item.format
                  %span.domain= sc_item.domain
            - else
              %ul.space
                %li= link_to sc_item.title, sc_item, :class => "ajax"
                %li
                  %span.format= sc_item.format
                  %span.domain= sc_item.domain
          %td= sc_item.specializations.map{ |s| s.name }.to_sentence
      
  %p.admin.btn-group
    - if can? :update, @sc_category
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_sc_category_path(@sc_category), :class => "btn ajax")
    - if can? :destroy, @sc_category
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @sc_category, :confirm => "Delete #{@sc_category.name}?", :method => :delete, :class => "btn")