- title "#{@sc_category.name}"
    
%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { update_favorites() });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name

.content-wrapper

  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        $('.tablesorter').tablesorter({sortList: [[0,0],[1,0],[2,0]]});
      });


  %h2= @sc_category.name 
        
  - if @sc_category.inline?

    - @sc_category.all_sc_items.each do |sc_item|
      .scm
        %h1
          - if sc_item.shared_care?
            %i.icon-red.icon-star
          = sc_item.title
          %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{sc_item.id},'#{escape_javascript(sc_item.title)}')", "title" => "Favourite / un-favourite"}
            %i.icon-text.icon-heart{"id" => "user_favorite_content_items_#{sc_item.id}"}
        
        - if sc_item.markdown?
          = BlueCloth.new(sc_item.markdown_content).to_html.html_safe
        - else
          = link_to sc_item.title, sc_item.resolved_url, :target => "_blank"
  
  - else
  

    %script{"type" => "text/javascript"}
      $(document).ready(function() {
      - @sc_category.all_sc_items.each do |sc_item|
        $('#i#{sc_item.id}').data('filter', '#{sc_item_filtering_attributes(sc_item).join(' ')}');
      });

    .content
      .row
        .span8half
          .toggle-filters.visible-phone
            %a{"href" => "javascript:void(0)", "onclick" => "$('#{@sc_category.id}_filters').toggle()"}
              %i.icon-blue.icon-cog.icon-small
              Show / Hide Clinic Filters
              
          .filter-phrase{:id => "#{@sc_category.id}_phrase"}

          %table.table.table-condensed.tablesorter.category_table{:id => "#{@sc_category.id}_table"}
            %thead
              %tr{:class => 'tableheader'}
                %th{:class => "{sorter: 'text'}"} Title
                %th{:class => "{sorter: 'text'}"} Subcategory
                %th{:class => "{sorter: 'text'}"} Format
                %th{:class => "{sorter: 'text'}"} E-mail to Patient
            %tbody
              - @sc_category.all_sc_items.each do |sc_item|
                %tr{:id => "i#{sc_item.id}"}
                  %td
                    = link_to(sc_item.title, sc_item.resolved_url, :class => sc_item.markdown? && "ajax", :target => sc_item.markdown? ? "" : "_blank")
                    %a{"href" => "javascript:void(0)", "onclick" => "favorite('content_items',#{sc_item.id},'#{escape_javascript(sc_item.title)}')", "title" => "Favourite / un-favourite"}
                      %i.icon-text.icon-small.icon-heart{"id" => "user_favorite_content_items_#{sc_item.id}"}
                  %td= sc_item.sc_category.name
                  %td.format= sc_item.format
                  %td.email
                    - if sc_item.can_email?
                      = link_to "E-mail to patient", compose_mail_to_patients_path(sc_item), :class => 'ajax'
                
        .span3.offsethalf
          .well.filter{:id => "#{@sc_category.id}_filters"}
            .title
              Filter #{@sc_category.name}
                      
            - if @sc_category.has_children?  
              .filter-group
                %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "##{@sc_category.id}-filter-subcategories"}
                  Subcategories
                .collapsable.in{:id => "#{@sc_category.id}-filter-subcategories"}
                  .filter-group-content
                    %label
                      %input.ic#icall{"type" => "radio", "name" => "ic#{@sc_category.id}", "checked" => "checked"} All
                    - @sc_category.children.each do |subcategory|
                      %label
                        %input.ic{"type" => "radio", "name" => "ic#{@sc_category.id}", "id" => "ic#{subcategory.id}_"}= subcategory.name
                        
            .filter-group
              %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "##{@sc_category.id}-filter-formats"}
                Formats
              .collapsable.in{:id => "#{@sc_category.id}-filter-formats"}
                .filter-group-content
                  %label
                    %input.if#ifall{"type" => "radio", "name" => "if#{@sc_category.id}", "checked" => "checked"} All
                  - ScItem::FILTER_FORMAT_HASH.each do |format_hash, format_name|
                    %label
                      %input.if{"type" => "radio", "name" => "if#{@sc_category.id}", "id" => "ic#{format_hash}_"}= format_name

        %script{"type" => "text/javascript"}
          :plain
            var update_category_#{@sc_category.id}_table = function() { update_category_table(#{@sc_category.id}, '#{@sc_category.name}'); }
            $(document).ready(function() {
              $("input.ic[name='ic#{@sc_category.id}'], input.if[name='if#{@sc_category.id}']").click( update_category_#{@sc_category.id}_table ); 
            });
      
  %p.admin.btn-group
    - if can? :update, @sc_category
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_sc_category_path(@sc_category), :class => "btn ajax")
    - if can? :destroy, @sc_category
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @sc_category, :confirm => "Delete #{@sc_category.name}?", :method => :delete, :class => "btn")