- set_page_specific_title "#{@sc_category.name}"

%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret

= render 'partials/specialization_dropdown_menu'

.content-wrapper
  %h2= @sc_category.full_name

  #show_category


  %hr

  %i.icon-envelope-alt
  Send us suggestions for #{@sc_category.name.downcase} content for Pathways:
  = mail_to "submissions@pathwaysbc.ca", "submissions@pathwaysbc.ca", :subject => "#{@sc_category.name} content suggestion for Pathways"

  %p.admin.btn-group
  - if can? :update, @sc_category
    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit #{@sc_category.name}", edit_sc_category_path(@sc_category), :class => "btn ajax")
  - if can? :destroy, @sc_category
    %a.btn{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#delete-sc_category-msg"}
      %i.icon-trash
        = " Delete #{@sc_category.name}"
  #delete-sc_category-msg.collapse
    .alert.alert-info{style: "margin-top: 10px"}
      %span
        Please go to
        = link_to "Content Categories", sc_categories_path
        to delete the content category of #{@sc_category.name} in its entirety.


:javascript
  window.pathways.bootstrapReact({
    domElementSelector: "#show_category",
    stateMapper: "CategoryPage",
    topLevelComponent: "CategoryPage",
    uiReducer: "CategoryPage"
  }, #{@init_data.to_json})
