= simple_nested_form_for @division,
  url: featured_contents_path,
  method: :patch do |f|
  - if !f.error_messages.blank?
    .alert.alert-error= f.error_messages
  = f.input :id, as: :hidden

  - ScCategory.front_page.each do |category|
    %h4= category.name
    - contents = @division.featured_contents.select do |content|
      - content.sc_category_id == category.id
    - items = category.all_sc_items_in_divisions([@division]).sort_by(&:name)
    = f.simple_fields_for :featured_contents, contents do |fields|
      = fields.association :sc_item,
        as: :grouped_select,
        collection: featured_contents_options(items),
        group_method: :last,
        group_label_method: :first,
        label: false,
        label_method: ->(item){ item.new? ? item.title + " (NEW)" : item.title },
        input_html: { class: "span12" }
      = fields.input :sc_category_id, as: :hidden
      = fields.input :division_id, as: :hidden

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', root_url, class: "btn btn-danger"
