= simple_nested_form_for @division,
  url: featured_contents_path,
  method: :patch do |f|
  - if !f.error_messages.blank?
    .alert.alert-error= f.error_messages
  = f.input :id, as: :hidden

  - @featured_content_categories.each do |category, contents|
    %h4= category.name
    = f.simple_fields_for :featured_contents,
      contents do |fields|
      = fields.association :sc_item,
        as: :grouped_select,
        group_label_method: :first,
        group_method: :last,
        collection: featured_contents_options(category, @division),
        include_blank: "(select for none)",
        label: false,
        label_method: ->(item){ item.new? ? item.title + " (NEW)" : item.title },
        input_html: { class: "span12" }
      = fields.input :sc_category_id, as: :hidden
      = fields.input :division_id, as: :hidden

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', root_url, class: "btn btn-danger"
