- set_page_specific_title "Cities"

.content-wrapper

  %h2 Cities

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Province
      %th Divisions
      %th.admin

    - @cities.each do |city|
      %tr{ class: city.hidden? && "hidden-from-users" }
        %td= link_to city.name, city
        %td= city.province
        %td= city.divisions.map{ |division| division.name }.to_sentence
        %td.admin.btn-group
          = link_to edit_city_path(city), class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(city_path(city), "Delete #{city.name}?", mini: true)

  %p.admin
    = link_to new_city_path, class: "btn" do
      %i.icon-plus-sign
      New City
