.content-wrapper

  %h2 Cities

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Province
      %th.admin

    - @cities.each do |city|
      %tr
        %td= link_to city.name, city, :class => 'ajax'
        %td= city.province
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_city_path(city), :class => "btn btn-mini ajax")
          = link_to("<i class='icon-trash'></i>".html_safe + " Delete", city, :confirm => "Delete #{city.name}?", :method => :delete, :class => "btn btn-mini")

  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New City", new_city_path, :class => "btn ajax")
