- set_page_specific_title "Cities"

.content-wrapper

  %h2 Cities

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Province
      %th Divisions
      %th.admin

    - @cities.each do |city|
      %tr{:class => city.hidden? && "hidden-from-users"}
        %td= link_to city.name, city, :class => 'ajax'
        %td= city.province
        %td= city.divisions.map{ |d| d.name }.to_sentence
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_city_path(city), :class => "btn btn-mini ajax")
          = delete_button(city_path(city), "Delete #{city.name}?", mini: true)

  %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New City", new_city_path, :class => "btn ajax")
