- set_page_specific_title "#{@city.name}"

.content-wrapper

  %h2{ class: @city.hidden? && "hidden-from-users" }= @city.name
  %p.no_indent
    %strong Province:
    = link_to @city.province, province_path(@city.province)

  %p.admin.btn-group
    - if can? :update, @city
      = link_to edit_city_path(@city), class: "btn" do
        %i.icon-pencil
        Edit
    - if can? :destroy, @city
      = delete_button(city_path(@city), "Delete #{@city.name}?")
