%h2= @city.name
%p
  %strong Province:
  = link_to @city.province, province_path(@city.province)

%p.admin.btn-group
  - if can? :update, @city
    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_city_path(@city), :class => "btn")
  - if can? :destroy, @city
    = link_to("<i class='icon-trash'></i>".html_safe + " Delete", @city, :confirm => "Delete #{@city.name}?", :method => :delete, :class => "btn")
