= simple_nested_form_for @procedure,
  html: { class: "form-horizontal ajax" } do |f|
  - if !f.error_messages.blank?
    .alert.alert-error
      = f.error_messages

  = f.input :name
  = f.input :specialists_specify_wait_times
  = f.input :clinics_specify_wait_times

  %h3 Specialities Including this Area of Practice

  = f.simple_fields_for :procedure_specializations,
    @procedure.procedure_specializations.sort_by(&:specialization_name) do |f|

    .control-group
      %label.control-label
        %strong= f.object.specialization.name
      .controls
        = f.check_box :_destroy,
          { checked: procedure_specialization_checked?(params, f.object),
          class: "check input--mapped" },
          "0",
          "1"

        = f.hidden_field :specialization_id

    .child-controls

      = f.input :parent_id,
        as: :select,
        include_blank: false,
        collection: ProcedureAncestryOptions.call(procedure_specialization: f.object),
        class:  "input--parent_id"

      = f.input :specialists_presentation_key,
        label: "Presentation for specialists",
        as: :radio_buttons,
        collection: ProcedureSpecialization::PRESENTATION_OPTIONS,
        label_method: ->(pair){ pair.last.to_s.humanize },
        value_method: :first,
        checked: (f.object.specialists_presentation_key || 2)
      = f.input :clinics_presentation_key,
        label: "Presentation for clinics",
        as: :radio_buttons,
        collection: ProcedureSpecialization::PRESENTATION_OPTIONS,
        label_method: ->(pair){ pair.last.to_s.humanize },
        value_method: :first,
        checked: (f.object.specialists_presentation_key || 2)
    %hr

  :javascript
    $(".input--mapped").each(function(index, elem) {
      toggleProcedureSpecializationControls(elem);
    });
    $(".input--mapped").change(function(e) {
      toggleProcedureSpecializationControls(e.target);
    });

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', procedures_path, class: "btn btn-danger ajax"
