= simple_nested_form_for @procedure,
  html: { class: "form-horizontal" } do |f|
  - if !f.error_messages.blank?
    .alert.alert-error
      = f.error_messages

  = f.input :name

  %h3 Specialities This Area of Practice Belongs To
  .content
    %table.table.table-condensed
      %tr
        %th Specialization
        %th Classification
        %th Parent
        %th Has Custom Specialist Wait Time
        %th Has Custom Clinic Wait Time

      = f.simple_fields_for :procedure_specializations,
        @procedure.procedure_specializations.sort_by(&:specialization_name) do |f|
        %tr.procedure_specialization_row
          %td{ style: "white-space: nowrap" }
            = f.hidden_field :specialization_id
            = label_tag "check_#{f.object.specialization.id}",
              f.object.specialization.name,
              class: "span3",
              style: "text-align:right"
            = f.check_box :_destroy,
              { checked: procedure_specialization_checked(params, f.object),
              class: "check input--mapped span1" },
              "0",
              "1"
          %td
            = f.input_field :classification,
              as: :select,
              collection: procedure_classification_options(f.object),
              include_blank: false,
              class: "select input--classification span4"
          %td
            = f.input_field :parent_id,
              as: :select,
              include_blank: false,
              collection: procedure_ancestry_options(f.object),
              class:  "select input--parent_id span4"
          %td
            = f.input_field :specialist_wait_time,
              class: "check input--specialist_wait_time span1"
          %td
            = f.input_field :clinic_wait_time,
              class:  "check input--clinic_wait_time span1"

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', procedures_path, class: "btn btn-danger"

  :javascript
    $(".input--mapped").each(function(index, elem) {
      toggleProcedureMappings(elem)
    });
    $(".input--mapped").change(function(e) {
      toggleProcedureMappings(e.target)
    });
