- set_page_specific_title "Areas of Practice"

.content-wrapper
  %h2 Areas of Practice

  .btn-group
    %a.btn.btn-bottom-pad.btn-top-pad.dropdown-toggle{ href: "#",
      data: { toggle: "dropdown" } }
      %i.icon-plus-sign
      New Area of Practice in
      %span.caret
    %ul.dropdown-menu
      - Specialization.all.each do |specialization|
        %li= link_to specialization.name,
          new_specialization_procedure_path(specialization)

  %table.table.table-condensed.table-striped
    %tr
      %th Area of Practice
      %th Hierarchy
      %th.admin

    - if (@specialization.present?)
      - procedures = @specialization.procedures
    - else
      - procedures = Procedure.order("name")

    - procedures.each do |procedure|
      %tr
        %td= link_to procedure.name, procedure_path(procedure)
        %td
          %ul
            - procedure.procedure_specializations.collect do |ps|
              %li
                %span{ class: "#{ps.specialization.hidden_in?(*Division.all) ? 'hidden-from-users' : ''}" }
                  = "#{compressed_ancestry(ps)} (#{ps.classification_text})"
        %td.admin.btn-group
          = link_to  edit_procedure_path(procedure),
            class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(procedure, "Delete #{procedure.name}?", mini: true)
