- set_page_specific_title "Areas of Practice"

.content-wrapper

  %h2 Areas of Practice

  .btn-group
    %a.btn.btn-bottom-pad.btn-top-pad.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
      %i.icon-plus-sign
      %span= " New Area of Practice in"
      %span.caret
    %ul.dropdown-menu
      - Specialization.all.each do |specialization|
        %li
          = link_to specialization.name,
            new_specialization_procedure_path(specialization)

  %table.table.table-condensed.table-striped
    %tr
      %th Area of Practice
      %th Hierarchy
      %th.admin

    - if (@specialization.present?)
      - procedures = @specialization.procedures
    - else
      - procedures = Procedure.all(order: :name)

    - procedures.each do |procedure|
      %tr
        %td= link_to procedure.name, procedure_path(procedure)
        %td
          %ul= procedure.procedure_specializations.collect(){ |ps| "<li><span>#{compressed_ancestry(ps)} (#{ps.classification_text})</span></li>" }.join().html_safe
        %td.admin.btn-group
          = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_procedure_path(procedure), :class => "btn btn-mini")
          = link_to("<i class='icon-trash'></i>".html_safe + " Delete", procedure, :data => { :confirm => "Delete #{procedure.name}?" }, :method => :delete, :class => "btn btn-mini")
