%h1 Areas of Practice

%table.table.table-striped.table-condensed
  %tr
    %th Area of Practice
    %th Hierarchy
    %th
    %th
    %th

  - Procedure.all(:order => "name").each do |procedure|
    %tr
      %td= procedure.name
      %td= procedure.procedure_specializations.map(){ |ps| compressed_ancestry(ps) }.join(", ")
      %td= link_to 'Show', procedure_path(procedure)
      %td= link_to 'Edit', edit_procedure_path(procedure)
      %td= link_to 'Delete', procedure, :confirm => "Delete #{procedure.name}?", :method => :delete

- Specialization.all.each do |specialization|
  %ul
    %li= link_to "New area of practice in #{specialization.name}", new_specialization_procedure_path(specialization)