- title "Pathways | #{@procedure.full_name}"

%script{"type" => "text/javascript"}
  $(document).ready(function() {
  - @procedure.specialists.each do |s|
    - next if not s.show_in_table?
    - specialist_filter_attributes = []
    - if s.lagtime_mask.present?
      - (s.lagtime_mask..Specialist::WAITTIME_HASH.length+1).each do |i|
        - specialist_filter_attributes << "sc#{i}_"
    - specialist_filter_attributes << "srph" if s.referral_phone
    - specialist_filter_attributes << "srpb" if s.patient_can_book?
    - specialist_filter_attributes << "ssm" if s.male?
    - specialist_filter_attributes << "ssf" if s.female?
    - s.languages.each do |l|
      - specialist_filter_attributes << "sl#{l.id}_"
    - s.clinics.each do |c|
      - specialist_filter_attributes << "sac#{c.id}_"
    - s.hospitals.each do |h|
      - specialist_filter_attributes << "sah#{h.id}_"
    $('#s#{s.id}').data('filter', '#{specialist_filter_attributes.join(' ')}');
  - @procedure.clinics.each do |c|
    - next if not c.show_in_table?
    - clinics_filter_attributes = []
    - if c.lagtime_mask.present?
      - (c.lagtime_mask..Specialist::WAITTIME_HASH.length+1).each do |i|
        - clinics_filter_attributes << "cc#{i}_"
    - clinics_filter_attributes << "crph" if c.referral_phone
    - clinics_filter_attributes << "crpb" if c.patient_can_book?
    - clinics_filter_attributes << "cdpb" if c.sector_mask == 1 || c.sector_mask == 3
    - clinics_filter_attributes << "cdpv" if c.sector_mask == 2 || c.sector_mask == 3
    - clinics_filter_attributes << "cdwa" if c.wheelchair_accessible?
    - if c.scheduled?
      - schedule = c.schedule
      - clinics_filter_attributes << "csmon" if schedule.monday.scheduled
      - clinics_filter_attributes << "cstues" if schedule.tuesday.scheduled
      - clinics_filter_attributes << "cswed" if schedule.wednesday.scheduled
      - clinics_filter_attributes << "csthurs" if schedule.thursday.scheduled
      - clinics_filter_attributes << "csfri" if schedule.friday.scheduled
      - clinics_filter_attributes << "cssat" if schedule.saturday.scheduled
      - clinics_filter_attributes << "cssun" if schedule.sunday.scheduled
    - c.languages.each do |l|
      - clinics_filter_attributes << "cl#{l.id}_"
    $('#c#{c.id}').data('filter', '#{clinics_filter_attributes.join(' ')}');
  });
  
- multiple_specialties = (@procedure.specializations.length > 1)

- if multiple_specialties
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        //sort by speciality, status then wait time
          $('.tablesorter').tablesorter({sortList: [[2,0],[1,0],[3,0]]});
      });
- else
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        //sort by status then wait time
          $('.tablesorter').tablesorter({sortList: [[1,0],[2,0]]});
      });

%h2= "#{@procedure.full_name}"
%h4= @procedure.procedure_specializations.reject{ |ps| ps.specialization.in_progress and !current_user_is_admin? }.collect(){ |ps| "<a href=\"#{specialization_path(ps.specialization)}\" class='#{ ps.specialization.in_progress ? "in-progress ajax" : "ajax"}'>#{ps.specialization.name}</a>" }.to_sentence.html_safe

- has_specialists = @procedure.all_specialists.length > 0
- has_clinics = @procedure.all_clinics.length > 0

- specialist_tab_class = has_specialists ? "active" : ""
- clinic_tab_class = has_specialists ? "" : "active"

.tabbable
  %ul.nav.nav-tabs
    - if has_specialists
      %li{:class => specialist_tab_class} 
        %a{"href" => "#specialist_tab", "data-toggle" => "tab"} 
          %i.icon-user.icon-text
          Specialists
    - if has_clinics
      %li{:class => clinic_tab_class}
        %a{"href" => "#clinic_tab", "data-toggle" => "tab"}
          %i.icon-home.icon-text
          Clinics
    - if true
      %li
        %a.calculators{"href" => "#blank_tab", "data-toggle" => "tab"} Calculators
      %li
        %a.care_pathways{"href" => "#blank_tab", "data-toggle" => "tab"} Care Pathways
      %li
        %a.pearls{"href" => "#blank_tab", "data-toggle" => "tab"} Pearls
      %li
        %a.red_flags{"href" => "#blank_tab", "data-toggle" => "tab"} Red Flags
      %li
        %a.patient_education{"href" => "#blank_tab", "data-toggle" => "tab"} Patient Education

  .tab-content
    - if has_specialists
      #specialist_tab.tab-pane{:class => specialist_tab_class}
        .content
          .row
            .span9
              #specialist_phrase.filter-phrase
            
              %table.table.table-condensed.tablesorter{:id => 'specialist_table'}
                %thead
                  %tr{:class => 'tableheader'}
                    %th{:class => "{sorter: 'bylastname'}"} Specialist
                    - if multiple_specialties
                      %th{:class => "{sorter: 'text'} specialty_column"} Specialty
                    %th{:class => "{sorter: 'status'} status_column"} Accepting New<br>Patients?
                    %th{:class => "{sorter: 'waittime'} wait_time_column"} Average Patient<br>Wait Time
                    %th{:class => "{sorter: 'blanks_to_bottom'}"} City
                %tbody
                  - (@procedure.all_specialists).each do |specialist|
                    - next if not specialist.show_in_table?
                    %tr{:class => specialist.not_responded? && "not-responded", :id => "s#{specialist.id}"}
                      %td
                        %a.ajax{"href" => specialist_path(specialist)}= specialist.name
                      - if multiple_specialties
                        %td
                          %ul
                            - specialist.specializations.each do |s|
                              %li= s.name
                      %td
                        %span{:class => "status_#{specialist.status_class}"}= specialist.status_class
                      %td= specialist.waittime
                      %td= specialist.city
                            
              #other_specialists.filter-others
                      
            .span3
              .well.filter
                .title
                  Filter Specialists
                          
                .filter-group
                  .filter-group-title
                    Referrals
                  #filter-group-content-referral.filter-group-content
                    %label
                      %input#srph.sr{"type" => "checkbox"} Accepted via phone
                    %label.indent
                      Responded to within:
                      %select.sc
                        %option{"value" => 0} Any timeframe
                        - Specialist::LAGTIME_HASH.each do |lag_index, lag_value|
                          %option{"value" => "sc#{lag_index}_"}= lag_value
                    %label
                      %input#srpb.sr{"type" => "checkbox"} Patients can call to book after referral
                
                %hr
    
                %a.more#specialist_filter_more{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#specialist_more_filters"} More filters...
                %script{"type" => "text/javascript"}
                  :plain
                    $(document).ready(function() {
                      $('#specialist_more_filters').on('show', function() {
                        $('#specialist_filter_more').hide();
                      });
                    });
                          
                #specialist_more_filters.collapse
                          
                  .filter-group
                    .filter-group-title
                      Sex
                    #filter-group-content-sex.filter-group-content
                      %label.half
                        %input#ssm.ss{"type" => "checkbox"} Male
                      %label.half
                        %input#ssf.ss{"type" => "checkbox"} Female
                
                  %hr
                        
                  .filter-group
                    .filter-group-title
                      Languages spoken in office
                    #filter-group-content-language.filter-group-content
                      - Language.all.each do |l|
                        %label.half
                          %input.sl{"type" => "checkbox", "id" => "sl#{l.id}_"}= l.name
                          
                  %hr
                            
                  .filter-group
                    .filter-group-title
                      Associations
                    #filter-group-content-referral.filter-group-content
                      %label.indent
                        Clinic:
                        %select.sa
                          %option{"value" => 0} Any
                          - @procedure.clinics.each do |c|
                            %option{"value" => "sac#{c.id}_"}= c.name
                      %label.indent
                        Hospital:
                        %select.sa
                          %option{"value" => 0} Any
                          - Hospital.all.each do |h|
                            %option{"value" => "sah#{h.id}_"}= h.name

              %script{"type" => "text/javascript"}
                :plain
                  $(document).ready(function() {
                    $('.sp, .sc, .sr, .ss, .sl, .sa').click( update_specialist_table );
                  });
    
          
    - if has_clinics
      #clinic_tab.tab-pane{:class => clinic_tab_class}
      
        .content
          .row
            .span9
              #clinic_phrase.filter-phrase
              
              %table.table.table-condensed{:class => 'tablesorter {sortlist: [[2,0],[3,0]]}', :id => 'clinic_table'}
                %thead
                  %tr{:class => 'tableheader'}
                    %th{:class => "{sorter: 'bylastname'} name_column"} Clinic
                    - if multiple_specialties
                      %th{:class => "{sorter: 'text'} specialty_column"} Specialty
                    %th{:class => "{sorter: 'status'} status_column"} Accepting New<br>Patients?
                    %th{:class => "{sorter: 'waittime'} wait_time_column"} Average Patient<br>Wait Time
                    %th{:class => "{sorter: 'blanks_to_bottom'}"} City
                %tbody
                  - (@procedure.all_clinics).each do |clinic|
                    - next if not clinic.show_in_table?
                    %tr{:class => clinic.not_responded? ? "not-responded" : "", :id => "c#{clinic.id}"}
                      %td
                        %a.ajax{"href" => clinic_path(clinic)}= clinic.name
                      - if multiple_specialties
                        %td= clinic.specializations.collect(){ |s| s.name }.to_sentence
                      %td
                        %span{:class => "status_#{clinic.status_class}"}= clinic.status_class
                      %td= clinic.waittime
                      %td= clinic.city
                      
            .span3
              .well.filter
                .title
                  Filter Clinics
                          
                .filter-group
                  .filter-group-title
                    Referrals
                  #filter-group-content-referral.filter-group-content
                    %label
                      %input#crph.cr{"type" => "checkbox"} Referrals are accepted via phone
                    %label.indent
                      Responded to within:
                      %select.cc
                        %option{"value" => 0} Any timeframe
                        - Clinic::LAGTIME_HASH.each do |lag_index, lag_value|
                          %option{"value" => "csc#{lag_index}_"}= lag_value
                    %label
                      %input#crpb.cr{"type" => "checkbox"} Patients can call to book after referral
                
                %hr
    
                %a.more#clinic_filter_more{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#clinic_more_filters"} More filters...
                %script{"type" => "text/javascript"}
                  :plain
                    $(document).ready(function() {
                      $('#clinic_more_filters').on('show', function() {
                        $('#clinic_filter_more').hide();
                      });
                    });
                          
                #clinic_more_filters.collapse
                          
                  .filter-group
                    .filter-group-title
                      Clinic Details
                    #filter-group-content-details.filter-group-content
                      %label.half
                        %input#cdpb.cd{"type" => "checkbox"} Public
                      %label.half
                        %input#cdpv.cd{"type" => "checkbox"} Private
                      %label
                        %input.cd{"type" => "checkbox", "id" => "cdwa"} Wheelchair Accessible
                
                  %hr
                      
                  .filter-group
                    .filter-group-title
                      Days open
                    #filter-group-content-schedule.filter-group-content
                      %label
                        %input.cs{"type" => "checkbox", "id" => "csmon"} Monday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "cstues"} Tuesday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "cswed"} Wednesday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "csthurs"} Thursday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "csfri"} Friday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "cssat"} Saturday
                      %label
                        %input.cs{"type" => "checkbox", "id" => "cssun"} Sunday
                
                  %hr
                      
                  .filter-group
                    .filter-group-title
                      Languages spoken in clinic
                    #filter-group-content-language.filter-group-content
                      - Language.all.each do |l|
                        %label.half
                          %input.cl{"type" => "checkbox", "id" => "cl#{l.id}_"}= l.name

              %script{"type" => "text/javascript"}
                :plain
                  $(document).ready(function() {
                    $('.cp, .cc, .cr, .cd, .cs, .cl').click( update_clinic_table );
                  });
                  
      #blank_tab.tab-pane

%p.admin.btn-group
  - if can? :update, @procedure
    = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Area of Practice", edit_procedure_path(@procedure), :class => "btn ajax")
  - if can? :destroy, @procedure
    = link_to("<i class='icon-trash'></i>".html_safe + " Delete Area of Practice", @procedure, :confirm => "Delete #{@procedure.name}?", :method => :delete, :class => "btn")
