- title "Pathways | #{@procedure.full_name}"

- procedure_specialization = @procedure.procedure_specializations.first || ProcedureSpecialization.first
- procedure_specializations = @procedure.procedure_specializations.reject{ |ps| ps.specialization.in_progress }
    
%ul#specialties-menu
  %li.dropdown
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      Specialties
      %b.caret
  - if procedure_specializations.length > 2
    %li.subsequent.specialty
      %a.tt#tt_more_specialties{"href" => "javascript:void(0)", "onclick" => "$('#tt_more_specialties').tooltip('toggle')", "title" => "<ul class='specialties'>#{procedure_specializations.map{|ps| "<li>#{link_to ps.specialization.name, ps.specialization, :class => 'ajax'}</li>"}.join('').html_safe}</ul>" }= "#{procedure_specializations.first(2).collect{ |ps| ps.specialization.name }.join(', ')}..."
  - else
    %li.subsequent.specialty= "#{procedure_specializations.collect{ |ps| link_to ps.specialization.name, ps.specialization, :class => 'ajax' }.to_sentence}".html_safe
  - if procedure_specialization.parent.present? && procedure_specialization.parent.procedure.present?
    %li.subsequent.parent= link_to procedure_specialization.parent.procedure.name, procedure_specialization.parent.procedure, :class => 'ajax'
  %li.subsequent= @procedure.name
  
%script{"type" => "text/javascript"}
  :plain
    var $el = $('a.specialties-dropdown-toggle').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').toggle(); $('#specialties-menu li.subsequent').toggleClass('border'); return false; });
    $('html').on('click.specialties-dropdown-toggle', function () { $('#specialties-dropdown-menu').hide() });
    $(document).ready(function() { $('.tt').tooltip({trigger: 'manual', placement: 'bottom'}) });
  
#specialties-dropdown-menu
  .inner
    - specializations = Specialization.all.reject{ |s| s.in_progress && !current_user_is_admin? }
    - first = specializations[0, (specializations.length / 4.0).ceil]
    - second = (specializations - first)[0, ((specializations.length - first.length) / 3.0).ceil]
    - third = (specializations - first - second)[0, ((specializations.length - first.length - second.length) / 2.0).ceil]
    - fourth = specializations - first - second - third
    
    - [first, second, third, fourth].each do |list|
      %ul
        - list.each do |specialization|
          %li
            %a.ajax{"href" => specialization_path(specialization), :class => specialization.in_progress ? "in-progress" : ""}= specialization.name
  
- multiple_specialties = (@procedure.specializations.length > 1)

- if multiple_specialties
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        $('#specialist_table').tablesorter({sortList: [[2,0],[3,0],[4,0]]});
        $('#clinic_table').tablesorter({sortList: [[0,0],[1,0],[2,0],[3,0],[4,0]]});
      });
- else
  %script{"type" => "text/javascript"}
    :plain
      $(document).ready(function() {
        $('#specialist_table').tablesorter({sortList: [[1,0],[2,0],[3,0]]});
        $('#clinic_table').tablesorter({sortList: [[0,0],[1,0],[2,0],[3,0]]});
      });

- has_specialists = @procedure.all_specialists.length > 0
- has_clinics = @procedure.all_clinics.length > 0

- specialist_tab_class = has_specialists ? "active" : ""
- clinic_tab_class = has_specialists ? "" : "active"

.tabbable
  %ul#content_tabs.nav.nav-tabs
    - if has_specialists
      %li{:class => specialist_tab_class} 
        %a#specialists_tab{"href" => "#specialist_tab", "data-toggle" => "tab"}
          %span Specialists
    - if has_clinics
      %li{:class => clinic_tab_class}
        %a#clinics_tab{"href" => "#clinic_tab", "data-toggle" => "tab"}
          %span Clinics
    - ScCategory.specialty.each do |sc_category|
      - if sc_category.sc_items.for_procedure_specialization(procedure_specialization).present?
        %li
          %a{"href" => "##{sc_category.name.remove_whitespace}_tab", "id" => sc_category.name.remove_whitespace, "data-toggle" => "tab"}
            %span= sc_category.name

  .content-wrapper
  
    - cache(procedure_path(@procedure)) do

      %script{"type" => "text/javascript"}
        $(document).ready(function() {
        - @procedure.all_specialists.each do |s|
          - next if not s.show_in_table?
          $('#s#{s.id}').data('filter', '#{specialist_filtering_attributes(s, false).join(' ')}');
        - @procedure.clinics.each do |c|
          - next if not c.show_in_table?
          $('#c#{c.id}').data('filter', '#{clinic_filtering_attributes(c).join(' ')}');
        });
                  
      - assumed_procedure_specializations = @procedure.procedure_specializations.reject{ |ps| !ps.assumed? }
      
      .tab-content
        - if has_specialists
          #specialist_tab.tab-pane{:class => specialist_tab_class}
            .content
              .row
                .span8half
                  - if assumed_procedure_specializations.present?
                    #specialist_assumed.assumed-phrase
                      It is assumed that all #{assumed_procedure_specializations.map{ |ps| ps.parent.present? ? "#{ps.specialization.member_name.uncapitalize_first_letter.pluralize} who see #{link_to ps.parent.procedure.name.uncapitalize_first_letter, ps.parent.procedure, :class => 'ajax'}" : ps.specialization.member_name.uncapitalize_first_letter.pluralize }.to_sentence.html_safe} see #{@procedure.name.uncapitalize_first_letter}
                
                  #specialist_phrase.filter-phrase
                
                  %table.table.table-condensed.tablesorter#specialist_table{:class => multiple_specialties && 'five'}
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'bylastname'} name_column"} Specialist
                        - if multiple_specialties
                          %th{:class => "s {sorter: 'text'} specialty_column"} Specialty
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - (@procedure.all_specialists).each do |specialist|
                        - next if not specialist.show_in_table?
                        %tr{:class => specialist.disabled_in_table? && "disabled", :id => "s#{specialist.id}"}
                          %td.sp
                            %a.ajax{"href" => specialist_path(specialist)}= specialist.name
                          - if multiple_specialties
                            %td.s
                              %ul
                                - specialist.specializations.each do |s|
                                  %li= s.name
                          %td.st
                            %i{:class => specialist.status_class}
                            .status= specialist.status_class_hash
                          %td.wt= specialist.waittime
                          %td.c
                            %ul
                              - specialist.cities.each do |city|
                                %li= city
                                
                  #other_specialists.filter-others
                      
                      
                .span3.offsethalf
                  .well.filter
                    .title
                      Filter Specialists
                      
                    - focused_child_procedures = @procedure.focused_children
                    - non_focused_child_procedures = @procedure.non_focused_children
                      
                    - if focused_child_procedures.present? || non_focused_child_procedures.present?
                      .filter-group
                        %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-aop"}
                          Sub-Areas of Practice
                          - if assumed_procedure_specializations.present?
                            %sup
                              %i.icon-asterisk.icon-disabled.icon-small
                        #specialist-filter-aop.collapsable.in
                          .filter-group-content
                            - focused_child_procedures.each do |child_procedure|
                              - next if child_procedure.all_specialists.blank?
                              %label
                                %input.sp{"type" => "checkbox", "id" => "sp#{child_procedure.id}_", "onclick" => "$('#children_sp#{child_procedure.id}_').collapse('toggle')"}= child_procedure.name
                            
                            - has_more = false
                            - non_focused_child_procedures.each do |child_procedure|
                              - has_more = true if not child_procedure.all_specialists.blank?
                              - break if has_more
                            
                            - if has_more
                              %a.more#specialist_procedures_more{"href" => "javascript:void(0)", "data-toggle" => "collapse", "data-target" => "#more_specialist_procedures"} More...
                              %script{"type" => "text/javascript"}
                                :plain
                                  $(document).ready(function() {
                                    $('#more_specialist_procedures').on('show', function() {
                                      $('#specialist_procedures_more').html('Less...');
                                    });
                                    $('#more_specialist_procedures').on('hide', function() {
                                      $('#specialist_procedures_more').html('More...');
                                    });
                                  });
                        
                              #more_specialist_procedures.more.collapse
                                - non_focused_child_procedures.each do |child_procedure|
                                  - next if child_procedure.all_specialists.blank?
                                  %label
                                    %input.sp{"type" => "checkbox", "id" => "sp#{child_procedure.id}_"}= child_procedure.name
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#specialist-filter-referral"}
                        Referrals
                      #specialist-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#srph.sr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.sc
                              %option{"value" => 0} Any timeframe
                              - Specialist::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "sc#{lag_index}_"}= lag_value
                          %label
                            %input#srpb.sr{"type" => "checkbox"} Patients can call to book after referral
                    
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-sex"}
                        Sex
                      #specialist-filter-sex.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#ssm.ss{"type" => "checkbox"} Male
                          %label.half
                            %input#ssf.ss{"type" => "checkbox"} Female
                        
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-schedule"}
                        Schedule
                      #specialist-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsat"} Saturday
                          %label.half
                            %input.ssh{"type" => "checkbox", "id" => "sshsun"} Sunday
                    
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-language"}
                        Languages
                      #specialist-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#si.si{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.sl{"type" => "checkbox", "id" => "sl#{l.id}_"}= l.name
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#specialist-filter-association"}
                        Assocations
                      #specialist-filter-association.collapsable.collapse
                        .filter-group-content
                          - if @procedure.clinics.present?
                            %label.indent
                              Clinic:
                              %select.sa
                                %option{"value" => 0} Any
                                - @procedure.clinics.each do |c|
                                  %option{"value" => "sac#{c.id}_"}= c.name
                          %label.indent
                            Hospital:
                            %select.sa
                              %option{"value" => 0} Any
                              - Hospital.all.each do |h|
                                %option{"value" => "sah#{h.id}_"}= h.name

                  %script{"type" => "text/javascript"}
                    - member_name = @procedure.specializations.length == 1 ? @procedure.specializations.first.member_name.uncapitalize_first_letter.pluralize : 'specialists'
                    :plain
                      $(document).ready(function() {
                        var update_custom_specialist_table = function()
                        {
                          update_table('s', 'specialist', '#{member_name}');
                        }
                        $('.sp, .sc, .sr, .ss, .si, .ssh, .sl, .sa').click( update_custom_specialist_table );
                      });
        
              
        - if has_clinics
          #clinic_tab.tab-pane{:class => clinic_tab_class}
          
            .content
              .row
                .span8half
                  #clinic_phrase.filter-phrase
                  
                  %table.table.table-condensed.tablesorter#clinic_table{:class => multiple_specialties && 'five'}
                    %thead
                      %tr{:class => 'tableheader'}
                        %th{:class => "sp {sorter: 'text'} name_column"} Clinic
                        - if multiple_specialties
                          %th{:class => "s {sorter: 'text'} specialty_column"} Specialty
                        %th{:class => "st {sorter: 'status'} status_column"} Accepting New<br>Patients?
                        %th{:class => "wt {sorter: 'waittime'} wait_time_column"} Average Non-<br>Urgent Patient<br>Wait Time
                        %th{:class => "c {sorter: 'blanks_to_bottom'} city_column"} City
                    %tbody
                      - (@procedure.all_clinics).each do |clinic|
                        - next if not clinic.show_in_table?
                        %tr{:class => clinic.disabled_in_table? && "disabled", :id => "c#{clinic.id}"}
                          %td.sp
                            %a.ajax{"href" => clinic_path(clinic)}= clinic.name
                          - if multiple_specialties
                            %td.s= clinic.specializations.collect(){ |s| s.name }.to_sentence
                          %td.sc
                            %i{:class => clinic.status_class}
                            .status= clinic.status_class_hash
                          %td.wt= clinic.waittime
                          %td.c= clinic.city
                          
                .span3.offsethalf
                  .well.filter
                    .title
                      Filter Clinics
                              
                    .filter-group
                      %a.filter-group-title.open{"data-toggle" => "collapse", "href" => "#clinic-filter-referral"}
                        Referrals
                      #clinic-filter-referral.collapsable.in
                        .filter-group-content
                          %label
                            %input#crph.cr{"type" => "checkbox"} Accepted via phone
                          %label.indent
                            Responded to within:
                            %select.cc
                              %option{"value" => 0} Any timeframe
                              - Clinic::LAGTIME_HASH.each do |lag_index, lag_value|
                                %option{"value" => "csc#{lag_index}_"}= lag_value
                          %label
                            %input#crpb.cr{"type" => "checkbox"} Patients can call to book after referral
                              
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-details"}
                        Details
                      #clinic-filter-details.collapsable.collapse
                        .filter-group-content
                          %label.half
                            %input#cdpb.cd{"type" => "checkbox"} Public
                          %label.half
                            %input#cdpv.cd{"type" => "checkbox"} Private
                          %label
                            %input.cd{"type" => "checkbox", "id" => "cdwa"} Wheelchair Accessible
                    
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-schedule"}
                        Schedule
                      #clinic-filter-schedule.collapsable.collapse
                        .filter-group-content
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshmon"} Monday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshtues"} Tuesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshwed"} Wednesday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshthurs"} Thursday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshfri"} Friday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsat"} Saturday
                          %label
                            %input.csh{"type" => "checkbox", "id" => "cshsun"} Sunday
                    
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-healthcare-provider"}
                        Healthcare Providers
                      #clinic-filter-healthcare-provider.collapsable.collapse
                        .filter-group-content
                          - HealthcareProvider.all.each do |h|
                            %label
                              %input.ch{"type" => "checkbox", "id" => "ch#{h.id}_"}= h.name
                    
                    .filter-group
                      %a.filter-group-title.closed{"data-toggle" => "collapse", "href" => "#clinic-filter-language"}
                        Languages
                      #clinic-filter-language.collapsable.collapse
                        .filter-group-content
                          %label
                            %input#ci.ci{"type" => "checkbox"} Interpreter available
                          - Language.all.each do |l|
                            %label.half
                              %input.cl{"type" => "checkbox", "id" => "cl#{l.id}_"}= l.name

                  %script{"type" => "text/javascript"}
                    :plain
                      $(document).ready(function() {
                        $('.cp, .cc, .cr, .cd, .csh, .ch, .ci, .cl').click( update_clinic_table );
                      });

        %script{"type" => "text/javascript"}
          :plain
            $('.collapsable').on('shown', function() {
              $(this).siblings('.filter-group-title').removeClass('closed').addClass('open');
            });
            $('.collapsable').on('hidden', function() {
              $(this).siblings('.filter-group-title').removeClass('open').addClass('closed');
            });
            //make full rows clickable
            $('table tr').click( function() { $(this).find('a').click(); });
            $('table a').click( function(e) { e.stopPropagation(); });
      
        - ScCategory.specialty.each do |sc_category|
          - if sc_category.sc_items.for_procedure_specialization(procedure_specialization).present?
            .tab-pane{"id" => "#{sc_category.name.remove_whitespace}_tab"}
              - link_items = sc_category.sc_items.for_procedure_specialization(procedure_specialization).reject{ |item| item.markdown? && item.inline? }
              - if link_items.present?
                %ul.scm
                  - link_items.each do |sc_item|
                    - if sc_item.markdown? 
                      %li
                        %ul.content-link
                          %li= link_to sc_item.title, sc_item, :class => "ajax"
                          %li
                            %span.format= sc_item.format
                            %span.domain= sc_item.domain
                    - else
                      %li
                        %ul.content-link
                          %li= link_to(sc_item.title, sc_item.link? ? sc_item.url : sc_item.document.url, :target => "_blank")
                          %li
                            %span.format= sc_item.format
                            %span.domain= sc_item.domain
  
              - sc_category.sc_items.for_procedure_specialization(procedure_specialization).reject{ |item| !item.markdown? || !item.inline? }.each do |sc_item|
                .scm
                  %h1
                    - if sc_item.shared_care?
                      %i.icon-red.icon-star
                    = sc_item.title
                  = BlueCloth.new(sc_item.markdown_content).to_html.html_safe

    %p.admin.btn-group
      - if can? :update, @procedure
        = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Area of Practice", edit_procedure_path(@procedure), :class => "btn ajax")
      - if can? :destroy, @procedure
        = link_to("<i class='icon-trash'></i>".html_safe + " Delete Area of Practice", @procedure, :confirm => "Delete #{@procedure.name}?", :method => :delete, :class => "btn")
