- set_page_specific_title "Provinces"

.content-wrapper

  %h2 Provinces

  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Abbreviation
      %th Symbol
      %th.admin

    - @provinces.each do |province|
      %tr
        %td= link_to province.name, province
        %td= province.abbreviation
        %td= province.symbol
        %td.admin.btn-group
          = link_to edit_province_path(province), class: "btn btn-mini" do
            %i.icon-pencil
            Edit
          = delete_button(province, "Delete #{province.name}?", mini: true)

  %p.admin
    = link_to new_province_path, class: "btn" do
      %i.icon-plus-sign
      New Province
