%p#notice= notice

%p
  %strong Name:
  = @province.name
%p
  %strong Abbreviation:
  = @province.abbreviation
%p
  %strong Symbol:
  = @province.symbol
  
= link_to 'Edit province', edit_province_path(@province)
\|
= link_to 'Delete province', @province, :confirm => "Delete #{@province.name}?", :method => :delete
\|
= link_to 'Show all provinces', provinces_path
