- set_page_specific_title @province.name

%h2= @province.name
%p
  %strong Abbreviation:
  = @province.abbreviation
%p
  %strong Symbol:
  = @province.symbol

%p.admin.btn-group
  - if can? :update, @province
    = link_to edit_province_path(@province),
      class: "btn" do
      %i.icon-pencil
      Edit
  - if can? :destroy, @province
    = link_to @province,
      data: { confirm: "Delete #{@province.name}?" },
      method: :delete,
      class: "btn" do
      %i.icon-trash
      Delete
