%table.table.table-condensed.table-striped
  %tr
    %th= target_type
    %th Specialty
    %th Cities
    %th From
    %th When
    %th Any Updates?
    %th

  - review_items.reject{ |item| item.item.blank? || item.item_type != target_type }.each do |review_item|
    %tr
      %td= review_item.item.name
      %td= review_item.item.specializations.map{ |s| s.name }.to_sentence
      %td
        - cities = review_item.item.cities
        - if cities.length > 1
          %ul
            - cities.each do |city|
              %li= city.name
        - else
          #{cities.map{ |c| c.name }.to_sentence}
      %td= review_item.whodunnit.present? ? User.find(review_item.whodunnit).name : "Unknown"
      %td= "#{time_ago_in_words(review_item.created_at)} ago"
      %td= ReviewItem::STATUS_HASH[review_item.status]
      %td
        -if review_item.base_object.present?
          = link_to("<i class='icon-pencil'></i>".html_safe + " Re-review", rereview_specialist_path(review_item.item, review_item_id: review_item.id), :class => "btn btn-mini stacked-button ajax")
        = history_button(review_item)
