.content-wrapper

  %h2 Review Queue Archive

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"href" => "#specialists_tab", "data-toggle" => "tab"}= "Specialists"
      %li
        %a{"href" => "#clinics_tab", "data-toggle" => "tab"}= "Clinics"

    .tab-content
      #specialists_tab.tab-pane.active

        %table.table.table-condensed.table-striped
          %tr
            %th Specialist
            %th Specialty
            %th Updated by
            %th Updated when

          - @review_items.each do |review_item|
            - next if review_item.item_type != "Specialist"
            %tr
              %td= review_item.item.name
              %td= review_item.item.specializations.map{ |s| s.name }.to_sentence
              %td= review_item.whodunnit.present? ? User.find(review_item.whodunnit).name : "Unknown"
              %td= "#{time_ago_in_words(review_item.created_at)} ago"
                
      #clinics_tab.tab-pane

        %table.table.table-condensed.table-striped
          %tr
            %th Clinic
            %th Updated by
            %th Updated when

          - @review_items.each do |review_item|
            - next if review_item.item_type != "Clinic"
            %tr
              %td= review_item.item.name
              %td= review_item.whodunnit.present? ? User.find(review_item.whodunnit).name : "Unknown"
              %td= "#{time_ago_in_words(review_item.created_at)} ago"

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2