- title "Review Queue Archive"

.content-wrapper

  %h2 Review Queue Archive
  
  - divisions = current_user_is_admin? ? Division.all : current_user_divisions
  
  - specialist_reviews = @review_items.reject{ |review_item| review_item.item.class != Specialist }.reject{ |review_item| (review_item.item.divisions & divisions).blank? }
  - clinic_reviews = @review_items.reject{ |review_item| review_item.item.class != Clinic }.reject{ |review_item| (review_item.item.divisions & divisions).blank? }

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"href" => "#specialists_tab", "data-toggle" => "tab"}
          Specialist Review Items
          
      %li
        %a{"href" => "#clinics_tab", "data-toggle" => "tab"}
          Clinic Review Items

    .tab-content
      #specialists_tab.tab-pane.active

        %table.table.table-condensed.table-striped
          %tr
            %th Specialist
            %th Specialty
            %th Updated by
            %th Updated when

          - specialist_reviews.reject{ |item| item.item.blank? || item.item_type != "Specialist" }.each do |review_item|
            %tr
              %td= review_item.item.name
              %td= review_item.item.specializations.map{ |s| s.name }.to_sentence
              %td= review_item.whodunnit.present? ? User.find(review_item.whodunnit).name : "Unknown"
              %td= "#{time_ago_in_words(review_item.created_at)} ago"
                
      #clinics_tab.tab-pane

        %table.table.table-condensed.table-striped
          %tr
            %th Clinic
            %th Updated by
            %th Updated when

          - clinic_reviews.reject{ |item| item.item.blank? || item.item_type != "Clinic" }.each do |review_item|
            %tr
              %td= review_item.item.name
              %td= review_item.whodunnit.present? ? User.find(review_item.whodunnit).name : "Unknown"
              %td= "#{time_ago_in_words(review_item.created_at)} ago"

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2