- set_page_specific_title "Review Queue Item"

%p#notice= notice

%p
  %b Item type:
  = @review_item.item_type
%p
  %b Item:
  = @review_item.item_id
%p
  %b Whodunnit:
  = @review_item.whodunnit
%p
  %b Object:
  = @review_item.object

= link_to 'Back', review_items_path, :class => 'ajax'
