- title "Sign in"

.content-wrapper
  .content
    .row
      .span5
        = simple_form_for @user_session do |f|

          %h2 Have an account? Log in!
        
          - if f.error_messages.present?
            .alert.alert-error= f.error_messages
          
          = f.input :email, autofocus: true, :input_html => {"autocorrect" => "off", "autocapitalize" => "none", :class => "span4"}, :label => "E-mail address"
          = f.input :password, :label => "Password", :input_html => {:class => "span4"}
          
          = f.button :submit, "Log in", :class => "btn btn-primary"
          
          %a.ajax{"href" => new_password_reset_path} Forgot your password?
      
          %p.space.no_indent= "By logging in you agree to the <a href='javascript:void(0)' data-toggle='collapse' data-target='#toc'>Terms and Conditions</a>".html_safe
                    
      .span5.offset1
        = simple_form_for @user, :url => {:controller => "users", :action => "validate"}, :method => "put" do |f|

          %h2 Have an access key? Sign up!
          
          = f.input :saved_token, :input_html => {"autocorrect" => "off", "autocapitalize" => "none", :class => "span2", "maxlength" => 8}
          = f.button :submit, "Sign up", :class => "btn btn-primary"
      
          %p.space.no_indent#access_key_instructions Note that each access key is used only once. If you have already set up your account, simply sign in to the left with your e-mail address and chosen password.
          
    .row
    
      .span12
      
        #toc.collapse

          = render 'users/toc'
