= simple_form_for @user_session do |f|

  %h2= "Log in to Pathways"
  
  = f.input :email, autofocus: true, :wrapper => :prepend, :label => false do
    %span.add-on
      E-mail address
    = f.input_field :email, "autocorrect" => "off", "autocapitalize" => "none"
  
  = f.input :password, :wrapper => :prepend, :label => false do
    %span.add-on
      Password
    = f.input_field :password
  
  =f.button :submit, "Log In", :class => "btn btn-primary"