= simple_form_for @report, :html => { :class => "form-horizontal ajax" } do |f|
  - if not f.error_messages.blank?
    .alert.alert-error= f.error_messages

  = f.input :name

  = f.input :type_mask, as: :select, collection: Report::TYPE_HASH, label_method: :last, value_method: :first, :include_blank => false

  #report_level
    = f.input :level_mask, as: :select, collection: Report::LEVEL_HASH, label_method: :last, value_method: :first, :include_blank => false
    #report_divison_level
      = f.input :division_id,  as: :select, collection: Division.all, :include_blank => false
    #report_city_level
      = f.input :city_id,  as: :select, collection: City.all, :include_blank => false

  #report_user_type
    = f.input :user_type_mask, as: :select, collection: Report::USER_TYPE_HASH, label_method: :last, value_method: :first, :include_blank => false

  #report_time_frame
    = f.input :time_frame_mask, as: :select, collection: Report::TIME_FRAME_HASH, label_method: :last, value_method: :first, :include_blank => false
    #report_custom_time_frame
      = f.input :start_date, :as => :datepicker
      = f.input :end_date, :as => :datepicker

  #report_by_user
    = f.input :by_user

  #report_by_pageview
    = f.input :by_pageview

  #report_content
    = f.input :only_shared_care

  .form-actions
    = f.button :submit, :class => "btn btn-primary"
    = link_to 'Cancel', reports_path, :class => "btn btn-danger ajax"

  %script{"type" => "text/javascript"}
    :plain
      var change_type = function()
      {
        var val = $(this).val();

        if ( val == 1 )
        {
          //general page views
          $('#report_level').show()
          $('#report_user_type').show()
          $('#report_time_frame').show()
          $('#report_by_user').show()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
        else if ( val == 4 )
        {
          //content items
          $('#report_level').show()
          $('#report_user_type').show()
          $('#report_time_frame').show()
          $('#report_by_user').hide()
          $('#report_by_pageview').show()
          $('#report_content').show()
        }
        else if ( val == 5 )
        {
          //specialist wait time
          $('#report_level').show()
          $('#report_user_type').hide()
          $('#report_time_frame').hide()
          $('#report_by_user').hide()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
        else if ( val == 6 )
        {
          //clinic wait time
          $('#report_level').show()
          $('#report_user_type').hide()
          $('#report_time_frame').hide()
          $('#report_by_user').hide()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
        else if ( val == 9 )
        {
          //specialist contact history
          $('#report_level').show()
          $('#report_user_type').hide()
          $('#report_time_frame').hide()
          $('#report_by_user').hide()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
        else if ( val == 10 )
        {
          //entity statistics
          $('#report_level').show()
          $('#report_user_type').hide()
          $('#report_time_frame').hide()
          $('#report_by_user').hide()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
        else
        {
          $('#report_level').hide()
          $('#report_user_type').hide()
          $('#report_time_frame').hide()
          $('#report_by_user').hide()
          $('#report_by_pageview').hide()
          $('#report_content').hide()
        }
      }

      $("#report_type_mask").each( change_type )
      $("#report_type_mask").click( change_type )

      var change_level = function()
      {
        var val = $(this).val();

        if ( val == 1 )
        {
          $('#report_divison_level').hide();
          $('#report_city_level').hide();
        }
        else if (val == 2)
        {
          $('#report_divison_level').show();
          $('#report_city_level').hide();
        }
        else if (val == 3)
        {
          $('#report_divison_level').hide();
          $('#report_city_level').show();
        }
      }

      $("#report_level_mask").each( change_level )
      $("#report_level_mask").click( change_level )

      var change_time_frame = function()
      {
        var val = $(this).val();

        if ( val == 6 )
        {
          $('#report_custom_time_frame').show();
        }
        else
        {
          $('#report_custom_time_frame').hide();
        }
      }

      $("#report_time_frame_mask").each( change_time_frame )
      $("#report_time_frame_mask").click( change_time_frame )

      $(document).ready(function() {
        $("input.datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });



