- set_page_specific_title @page_title

.content-wrapper#body
  .row
    #content.span12
      %h2{style: "margin-bottom: 10px"}
        = @page_title



      #chart_container{style: "clear: both; height: 400px;"}
      .annotation{style: "color: #999;"}
        = @annotation

      .control-group
        = label_tag "Start month:"
        = select_tag "start_month_key",
          options_for_select(AnalyticsChartMonths.call, Month.new(2014, 1)),
          id: "start_month_key",
          class: "filter"

      .control-group
        = label_tag "End Month:"
        = select_tag "end_month_key",
          options_for_select(AnalyticsChartMonths.call, Month.current.to_i),
          id: "end_month_key",
          class: "filter"

      .control-group
        = label_tag "User Type:"
        = select_tag "user_type_key",
          options_for_select({-1 => "All User Types"}.merge(User::TYPES).invert, -1),
          id: "user_type_key",
          class: "filter"


      %br
      %a.print.btn.btn-default.pull-right{style: "margin-top: 20px;"}
        %i.icon-print
        %span= "Print"

:javascript
  var showLoader = function() {
    $("#chart_container").html("<div id='heartbeat-loader-position'><div class='heartbeat-loader'></div></div>")
    $(".annotation").hide()
  };

  var updateDOM = function() {
    var startMonthKey = $("#start_month_key").val();
    var endMonthKey = $("#end_month_key").val();
    var userTypeKey = $("#user_type_key").val();

    if (endMonthKey < startMonthKey) {
      $("#start_month_key").val(parseInt(endMonthKey));
      updateDOM();
    } else {
      showLoader();

      var params = $.param({
        start_month_key: startMonthKey,
        end_month_key: endMonthKey,
        user_type_key: userTypeKey,
        metric: "#{action_name}"
      });

      $.get("/api/v1/reports/analytics_charts?" + params).success(function(data) {
        vendor.Highcharts.chart('chart_container', data);
        $("#heartbeat-loader-position").remove();
        $(".annotation").show();
      })
    }
  };

  $(".filter").change(function() {
    updateDOM();
  });

  $(document).ready(function() {
    $("a.print").click(function() {
      $("body").html($("#chart_container")).css("background-color", "white");
      window.location.hash = "#print";
      window.addEventListener("hashchange", function() {
        window.location.href.split('#')[0];
        window.location.reload();
      })
    });

    updateDOM();
  });
