- set_page_specific_title "Specialist Contact History"

.content-wrapper

  %h2 Specialist Contact History
  %p.no_indent= "Reporting for #{@report_scope}"
  %p.no_indent
    = "Generated on #{Time.now.strftime('%A %B %d')} at "
    = Time.now.strftime('%I:%M %p')

  %table.table.table-condensed.table-striped
    %tr
      %th Specialist
      %th Controlling User Email(s)
      %th MOA Contact Email(s)
      %th{ style: "min-width:100px" } Last modified
      %th{ style: "min-width:100px" } Last updated via review queue
    - @specialization_specialists.each do |specialization_name, entries|
      %tr
        %th{ colspan: 5 }= specialization_name
      - entries.each do |entry|
        %tr
          %td
            %a{ href: "/specialists/#{entry[:id]}" }= entry[:name]
          %td
            %ul
              - entry[:user_email].uniq.map{ |email| mail_to(email) }.each do |link|
                %li= link.html_safe
          %td
            %ul
              - entry[:moa_email].map{ |email| mail_to(email) }.each do |link|
                %li= link.html_safe
          %td= entry[:updated_at].strftime("%Y-%m-%d")
          %td
            - if entry[:reviewed_at].present?
              = entry[:reviewed_at].strftime("%Y-%m-%d")
            - else
              review queue not used
