- set_page_specific_title "Reports"

.content-wrapper
  .content

    %h2 Pathways Global Usage Reports and Statistics
    .headline
      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#0B1E32', icon: 'icon-user', title: "Active Signed Up Users", count: User.authorized_user.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#1B5D94', icon: 'icon-user-md', title: "Specialists", count: Specialist.all.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#404040', icon: 'icon-home', title: "Clinics", count: Clinic.all.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#A42C37', icon: 'icon-hospital', title: "Hospitals", count: Hospital.all_real.count}

      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#193048', icon: 'icon-book', title: "Resources", count: ScItem.all.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#A14E06', icon: 'icon-edit', title: "Referral Forms", count: ReferralForm.all.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#0088CC', icon: 'icon-bullhorn', title: "Feedback Items", count: FeedbackItem.all.count}
        .span3.offset1
          = render partial: "reports/analytics_box", locals: {color: '#C44D58', icon: 'icon-heart', title: "Favorites", count: Favorite.all.count}



  %h2 Detailed Reports
  - @object = Specialist.last(20)

  / %i.icon-folder-open

  =# render partial: "reports/table_widget", collection: @object, as: :object, locals: {table_title: "Most visited pages", row_number_value: 14124, row_name: "/clinics/3"}




  %table.table.table-condensed.table-striped
    %tr
      %th Name
      %th Type
      %th Region
      %th Users
      %th Time Period
      %th.admin

    - if can? :view_report, :page_views
      %tr
        %td= link_to "Page Views", page_views_reports_path
        %td Analytics
        %td System-wide
        %td N/A
        %td > April 2014
        %td

    - if can? :view_report, :sessions
      %tr
        %td= link_to "Sessions", sessions_reports_path
        %td Analytics
        %td System-wide
        %td N/A
        %td > April 2014
        %td

    - if can? :view_report, :user_ids
      %tr
        %td= link_to "User IDs", user_ids_reports_path
        %td Analytics
        %td System-wide
        %td N/A
        %td > April 2014
        %td

    - if can? :view_report, :referents_by_specialty
      %tr
        %td= link_to "Specialists and Clinics by Specialty", referents_by_specialty_reports_path
        %td Analytics
        %td System-wide
        %td N/A
        %td All Time
        %td

    - if can? :view_report, :csv_usage
      %tr
        %td= link_to "Usage (CSV Report)", new_csv_usage_report_path
        %td Analytics
        %td System-wide
        %td N/A
        %td > April 2014
        %td

    - if can? :view_report, :usage
      %tr
        %td= link_to "Entity Page Views", usage_reports_path
        %td Analytics
        %td System-wide
        %td N/A
        %td > April 2014
        %td

    - if current_user_is_super_admin?
      - @reports.each do |report|
        %tr
          %td= link_to report.name, report, :class => 'ajax'
          %td= report.type
          %td= report.level_name
          %td= report.user_type
          %td= report.time_frame_name
          %td.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_report_path(report), :class => "btn btn-mini ajax")
            = link_to("<i class='icon-trash'></i>".html_safe + " Delete", report, :confirm => "Delete #{report.name}?", :method => :delete, :class => "btn btn-mini")

  - if current_user_is_super_admin?
    %p.admin= link_to("<i class='icon-plus-sign'></i>".html_safe + " New Report", new_report_path, :class => "btn ajax")
