- set_page_specific_title "Reports"

.content-wrapper
  .content

    %h2 Reports and Statistics
    .headline
      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#0B1E32',
            icon: 'icon-user',
            title: "Active Signed Up Users",
            count: User.authorized_user.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#1B5D94',
            icon: 'icon-user-m',
            title: "Specialists",
            count: Specialist.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#404040',
            icon: 'icon-home',
            title: "Clinics",
            count: Clinic.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#A42C37',
            icon: 'icon-hospital',
            title: "Hospitals",
            count: Hospital.all_real.count }
      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#193048',
            icon: 'icon-book',
            title: "Resources",
            count: ScItem.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#A14E06',
            icon: 'icon-edit',
            title: "Referral Forms",
            count: ReferralForm.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#0088CC',
            icon: 'icon-bullhorn',
            title: "Feedback Items",
            count: FeedbackItem.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#C44D58',
            icon: 'icon-heart',
            title: "Favorites",
            count: Favorite.all.count }

  %table.table.table-condensed.table-striped
    %tr
      %th Report Type
      %th

    - if can? :index, :change_requests
      %tr
        %td= link_to "Change Requests", change_requests_path
        %td

    - if can? :view_report, :page_views
      %tr
        %td= link_to "Page Views", page_views_reports_path
        %td

    - if can? :view_report, :sessions
      %tr
        %td= link_to "Sessions", sessions_reports_path
        %td

    - if can? :view_report, :user_ids
      %tr
        %td= link_to "User IDs", user_ids_reports_path
        %td

    - if can? :view_report, :pageviews_by_user
      %tr
        %td= link_to "Page Views By User", pageviews_by_user_reports_path
        %td

    - if can? :view_report, :referents_by_specialty
      %tr
        %td= link_to "Specialists and Clinics by Specialty",
          referents_by_specialty_reports_path
        %td

    - if can? :view_report, :csv_usage
      %tr
        %td= link_to "Usage (CSV Report)", new_csv_usage_report_path
        %td

    - if can? :view_report, :entity_page_views
      %tr
        %td= link_to "Entity Page Views", entity_page_views_reports_path
        %td

    - if current_user.as_super_admin?
      %tr
        %td= link_to "Specialist Contact History",
          specialist_contact_history_reports_path
        %td= report_index_dropdown(:specialist_contact_history)
      %tr
        %td= link_to "Specialist Wait Times",
          specialist_wait_times_reports_path
        %td= report_index_dropdown(:specialist_wait_times)
      %tr
        %td= link_to "Clinic Wait Times", clinic_wait_times_reports_path
        %td= report_index_dropdown(:clinic_wait_times)
      %tr
        %td= link_to "Entity Statistics", entity_statistics_reports_path
        %td= report_index_dropdown(:entity_statistics)

  %p.muted Click report types on left for system-wide reports
