- set_page_specific_title "Reports"

.content-wrapper
  .content

    %h2 Reports and Statistics
    .headline
      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#0B1E32',
            icon: 'icon-user',
            title: "Active User Keys",
            count: User.authorized_user.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#1B5D94',
            icon: 'icon-user-m',
            title: "Specialists",
            count: Specialist.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#404040',
            icon: 'icon-home',
            title: "Clinics",
            count: Clinic.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#A42C37',
            icon: 'icon-hospital',
            title: "Hospitals",
            count: Hospital.all_real.count }
      .row-fluid
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#193048',
            icon: 'icon-book',
            title: "Resources",
            count: ScItem.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#A14E06',
            icon: 'icon-edit',
            title: "Referral Forms",
            count: ReferralForm.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#0088CC',
            icon: 'icon-bullhorn',
            title: "Feedback Items",
            count: FeedbackItem.all.count }
        .span3.offset1
          = render partial: "reports/analytics_box",
            locals: { color: '#C44D58',
            icon: 'icon-heart',
            title: "Favorites",
            count: Favorite.all.count }

  %table.table.table-condensed.table-striped
    %tr
      %th{style: "width: 430px"}
        = "Report Type"
      %th= "Scope"

    = report_row :change_requests
    = report_row :page_views
    = report_row :sessions
    = report_row :user_ids
    = report_row :page_views_by_user
    = report_row :referents_by_specialty,
      manual_label: "Specialists and Clinics by Specialty"
    = report_row :csv_usage,
      manual_label: "Usage (CSV Report)"
    = report_row :entity_page_views
    = report_row :specialist_contact_history, divisional: true
    = report_row :specialist_wait_times, divisional: true
    = report_row :clinic_wait_times, divisional: true
    = report_row :entity_statistics, divisional: true
    = report_row :archived_feedback_items, divisional: true

:javascript
  $("select").val("")
