- title "#{@report.name}"

.content-wrapper

  %h2= @report.name
  %h4= "#{@report.level_name} #{@report.type}"
  %p.no_indent= "Generated on #{Time.now.strftime('%A %B %d')} at #{Time.now.strftime('%I:%M %p')}"

  %table#stats.table
    
    %tr
      %th
      %th Total
    %tr
      %th Specialties
      %td= Specialization.all.length
      
    %tr
      %th
    
    %tr
      %th
      %th Total
      %th Focused
      %th Non Focused
      %th Assumed for Specialists
      %th Assumed for Clinics
    %tr
      %th Areas of practice
      - procedures = Procedure.all.reject{|p| p.procedure_specializations.blank?}
      %td= procedures.length
      %td= procedures.reject{|p| !p.procedure_specializations.first.focused?}.length
      %td= procedures.reject{|p| !p.procedure_specializations.first.nonfocused?}.length
      %td= procedures.reject{|p| !p.procedure_specializations.first.assumed_specialist?}.length
      %td= procedures.reject{|p| !p.procedure_specializations.first.assumed_clinic?}.length
      
    %tr
      %th
      
    %tr
      %th
      %th Total
      %th Completed Survey
      %th Not Completed Survey
      %th Purposely Not Yet Surveyed
      %th Hospital/Clinic Only
      %th Moved Away
      %th Retired
    %tr
      %th Specialists
      - specialists = Specialist.in_divisions(@divisions)
      %td= specialists.length
      %td= specialists.reject{|s| !s.responded?}.length
      %td= specialists.reject{|s| !s.not_responded?}.length
      %td= specialists.reject{|s| !s.purposely_not_yet_surveyed?}.length
      %td= specialists.reject{|s| !s.hospital_or_clinic_only?}.length
      %td= specialists.reject{|s| !s.moved_away?}.length
      %td= specialists.reject{|s| !s.retired?}.length
      
    %tr
      %th
    
    %tr
      %th
      %th Total
      %th Completed Survey
      %th Not Completed Survey
      %th Purposely Not Yet Surveyed
    %tr
      %th Clinics
      - clinics = Clinic.in_divisions(@divisions)
      %td= clinics.length
      %td= clinics.reject{|s| !s.responded?}.length
      %td= clinics.reject{|s| !s.not_responded?}.length
      %td= clinics.reject{|s| !s.purposely_not_yet_surveyed?}.length
      
    %tr
      %th
    
    %tr
      %th
      %th Total
    %tr
      %th Hospitals
      %td= Hospital.in_divisions(@divisions).length

  %p.admin.btn-group
    - if can? :update, @report
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Report", edit_report_path(@report), :class => "btn ajax")
    - if can? :destroy, @report
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete Report", @report, :confirm => "Delete #{@report.name}?", :method => :delete, :class => "btn")