- set_page_specific_title "Wait Times"

.content-wrapper

  %h2 Wait Times
  %p.no_indent= "Reporting for #{@report_scope}"
  %p.no_indent
    = "Generated on #{Time.now.strftime('%A %B %d')} at "
    = Time.now.strftime('%I:%M %p')

  %table#stats.table

    - Specialization.all.each do |s|

      - if @divisions.length == 1
        - entities = s.send(@entity).in_divisions(@divisions).reject do |e|
          - !e.show_in_table? || !e.show_waittime?
      - else
        - entities = s.send(@entity).reject do |e|
          - !e.show_in_table? || !e.show_waittime?
      - next if entities.blank?

      %tr
        %th= s.name
        %th Lag Time
        %th Wait Time

      - entities.each do |entity|
        %tr
          %td= link_to entity.name, entity
          %td= entity.lagtime
          %td= entity.waittime
