- set_page_specific_title "Wait Times"

.content-wrapper

  %h2 Wait Times
  %p.no_indent= "Reporting for #{@report_scope}"
  %p.no_indent
    = "Generated on #{Time.now.strftime('%A %B %d')} at "
    = Time.now.strftime('%I:%M %p')

  %table#stats.table

    - Specialization.all.each do |specialization|
      - entities = ReportsHelper.included_entities(specialization,
        @divisions,
        @entity)
      - next if entities.blank?

      %tr
        %th= specialization.name
        %th Lag Time
        %th Wait Time

      - entities.each do |entity|
        %tr
          %td= link_to entity.name, entity
          %td= entity.lagtime
          %td= entity.waittime
