!!!
%html
  %head
    %title= yield(:title) || "Pathways"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32752873-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_setCustomVar', 1, 'ID', '#{current_user_id}', 1]);
      _gaq.push(['_setCustomVar', 2, 'Type', '#{current_user_type_mask}', 1]);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    - flash.each do |type, msg|
      .alert.alert-success= msg
    = yield
