!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    /[if lte IE 9]
      =stylesheet_link_tag 'application-ie'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body{:id => "#{params[:controller]}_page"}
    #header.navbar.navbar-static
      .navbar-inner
        #top-nav.container
          = link_to "Pathways", root_url, :class => "brand"
          -#= link_to image_tag('/images/logo.png'), root_url
          - if logged_in?
            %ul.nav.pull-right
              %li= link_to "Logout", logout_url
            %form.navbar-search.pull-right
              %input.search-query{"type" => "text", "placeholder" => "Search"}
          - if logged_in? and current_user.admin?
            %ul#admin.nav
              /%li= link_to "Track Specialists", tracker_path
              %li= link_to "Activity", all_versions_path
              %li= link_to "Review Queue (#{Review.count})", reviews_path
              %li= link_to "Users", users_path
              %li= link_to "Specialities", specializations_path
              %li= link_to "Specialists", specialists_path
              %li= link_to "Clinics", clinics_path
              %li= link_to "Hospitals", hospitals_path
              %li= link_to "Areas of Practice", procedures_path
              %li= link_to "Healthcare Providers", healthcare_providers_path
              %li= link_to "Languages", languages_path
              %li= link_to "Cities", cities_path

    #body.container
      .row
        - unless params[:controller] == 'user_sessions'
          -#%iframe#searchbox.span3{:src => "/navigation"}
             
          #left-nav.span3
            %h1 Specialities
            %ul.nav.pills.stacked
            - Specialization.all.each do |specialization|
              %li
                %a{"href" => "#section_#{specialization.id}", "data-toggle" => "push"}= specialization.name
            
            - Specialization.all.each do |specialization|
              .nav_panel{ "id" => "section_#{specialization.id}" }
                %ul
                  %li
                    %a{"href" => "#", "data-toggle" => "pop", "data-target" => "#section_#{specialization.id}"} Back
                  - specialization.procedure_specializations.each do |ps|
                    %li= ps.procedure.name
                        
        #content.span9{:class => "container_#{params[:controller]}"}
          - flash.each do |type, msg|
            .alert.alert-success= msg
          - if show_title?
            %h1= yield(:title)
          = yield
