!!!
%html

  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag '../livesearch'
    = csrf_meta_tag
    = yield(:head)
              
    :javascript
      $(document).ready(function() 
      {
        $('#search').livesearch({
          container: '#search_results',
          data: pathways_search_data,
          scorer: pathways_scorer,
          grouper: pathways_grouper,
          searcher: pathways_searcher,
          data_formatter: pathways_data_formatter,
          group_formatter: pathways_group_formatter,
          min_score: 0.6
        });
      });

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
          = link_to "Pathways", root_url, :class => "brand ajax"
          - if logged_in?
            %ul.nav.pull-left
              
              - if current_user_is_admin?
                %li.dropdown.admin
                  %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                    Admin
                    %b.caret
                  %ul.dropdown-menu
                    /%li= link_to "Track Specialists", tracker_path\
                    %li= link_to "Activity Feed", all_versions_path, :class => "history ajax"
                    /%li= link_to "Review Queue (#{Review.count})", reviews_path, :class => "review ajax"
                    %li.divider
                    %li
                      = link_to "New...", "#", :class => "create arrow-right-after"
                      %ul.dropdown-menu
                        %li
                          = link_to "New Area of Practice in...", "#", :class => "procedure arrow-right-after"
                          %ul.dropdown-menu.sub-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_procedure_path(specialization), :class => 'ajax'
                        %li
                          = link_to "New Clinic in...", "#", :class => "clinic arrow-right-after"
                          %ul.dropdown-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_clinic_path(specialization), :class => 'ajax'
                        %li= link_to "New City", new_city_path, :class => "city ajax"
                        %li= link_to "New Healthcare Provider", new_healthcare_provider_path, :class => "healthcare_provider ajax"
                        %li= link_to "New Hospital", new_hospital_path, :class => "hospital ajax"
                        %li= link_to "New Language", new_language_path, :class => "language ajax"
                        %li= link_to "New Office", new_office_path, :class => "office ajax"
                        %li
                          = link_to "New Specialist in...", "#", :class => "specialist arrow-right-after"
                          %ul.dropdown-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_specialist_path(specialization), :class => 'ajax'
                        %li= link_to "New Specialty", new_specialization_path, :class => "specialty ajax"
                        %li= link_to "New User", new_user_path, :class => "user ajax"
                    %li.divider
                    %li= link_to "Areas of Practice", procedures_path, :class => "procedure ajax"
                    %li= link_to "Clinics", clinics_path, :class => "clinic ajax"
                    %li= link_to "Cities", cities_path, :class => "city ajax"
                    %li= link_to "Healthcare Providers", healthcare_providers_path, :class => "healthcare_provider ajax"
                    %li= link_to "Hospitals", hospitals_path, :class => "hospital ajax"
                    %li= link_to "Languages", languages_path, :class => "language ajax"
                    %li
                      = link_to "Offices", "#", :class => "office arrow-right-after"
                      %ul.dropdown-menu
                        %li=link_to "All Offices", offices_path, :class => 'office ajax'
                        - City.all.each do |city|
                          %li=link_to "Offices in #{city.name}", city_offices_path(city), :class => 'office ajax'
                    %li= link_to "Provinces", provinces_path, :class => "province ajax"
                    %li= link_to "Specialists", specialists_path, :class => "specialist ajax"
                    %li= link_to "Specialties", specializations_path, :class => "specialty ajax"
                    %li= link_to "Users", users_path, :class => "user ajax"
                    
              /%li= link_to "Pearls", "#"
              /%li= link_to "Handouts", "#"
              /%li= link_to "Videos", "#"
              %li= link_to "Logout", logout_url
            
            %form.navbar-search.pull-right
              %input.span3.search-query#search{"type" => "search", "placeholder" => "Search"}
              #search_results
                %ul

    #body.container
      .row
        - if logged_in?
          #left-nav.span3
            #root
              %h3 Specialities
              %ul
                - Specialization.all.each do |specialization|
                  - next if (specialization.in_progress and !current_user_is_admin?)
                  %li
                    %a.ajax.push{"href" => specialization_path(specialization), "data-toggle" => "push", "data-target" => "#specialization_#{specialization.id}", :class => specialization.in_progress ? "in-progress" : ""}= specialization.name
              
            - Specialization.all.each do |specialization|
              .nav_panel{ "id" => "specialization_#{specialization.id}" }
                %h3{:class => specialization.in_progress ? "in-progress" : ""}
                  %a.ajax{"href" => specialization_path(specialization)}= specialization.name
                %ul
                  %li
                    %a.ajax.pop{"href" => "javascript:void(0)", "data-toggle" => "pop", "data-target" => "#specialization_#{specialization.id}", "data-parent" => "#root"} Back
                  - specialization.focused_procedure_specializations_arranged.each do |ps,children|
                    - next if ps.procedure.empty_for_specialization? specialization
                    %li 
                      - if children.reject{ |c| (not c.focused?) or c.procedure.empty_for_specialization? specialization }.length > 0
                        %a.ajax.push{"href" => procedure_path(ps.procedure), "data-toggle" => "push", "data-target" => "#procedure_#{ps.procedure.id}"}= ps.procedure.name
                      - else
                        %a.ajax{"href" => procedure_path(ps.procedure)}= ps.procedure.name
                      
              - specialization.non_assumed_procedure_specializations_arranged.each do |ps,children|
                - next if children.length == 0
                - next if ps.procedure.empty_for_specialization? specialization
                .nav_panel{ "id" => "procedure_#{ps.procedure.id}" }
                  %h3
                    %a.ajax{"href" => procedure_path(ps.procedure)}= ps.procedure.name
                  %ul
                    %li
                      %a.ajax.pop{"href" => "javascript:void(0)#", "data-toggle" => "pop", "data-target" => "#procedure_#{ps.procedure.id}", "data-parent" => "#specialization_#{specialization.id}"} Back
                    - children.each do |ps,children|
                      - next if not ps.focused?
                      - next if ps.procedure.empty_for_specialization? specialization
                      %li
                        %a.ajax{"href" => procedure_path(ps.procedure)}= ps.procedure.name

        #content.span8half.offsethalf
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield
