!!!
%html

  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag '../livesearch'
    = csrf_meta_tag
    = yield(:head)
              
    :javascript
      $(document).ready(function() 
      {
        $('#search').livesearch({
          container: '#search_results',
          data: pathways_search_data,
          scorer: pathways_scorer,
          grouper: pathways_grouper,
          searcher: pathways_searcher,
          data_formatter: pathways_data_formatter,
          group_formatter: pathways_group_formatter,
          min_score: 0.6
        });
      });

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
                      
          %a{"href" => root_url, :class => "brand ajax"} Pathways
          - if logged_in?
            %ul.nav.pull-left
              - if logged_in?
                %li.dropdown
                  %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                    Specialties
                    %b.caret
                  %ul.dropdown-menu
                    - Specialization.all.each do |specialization|
                      %li
                        %a.ajax{"href" => specialization_path(specialization), "data-toggle" => "push", :class => specialization.in_progress ? "in-progress" : ""}= specialization.name
                
                - if current_user_is_admin?
                  %li.dropdown.admin
                    %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                      Admin
                      %b.caret
                    %ul.dropdown-menu
                      /%li= link_to "Track Specialists", tracker_path\
                      %li= link_to "Activity", all_versions_path, :class => "history ajax"
                      /%li= link_to "Review Queue (#{Review.count})", reviews_path, :class => "review ajax"
                      %li.divider
                      %li= link_to "Areas of Practice", procedures_path, :class => "procedure ajax"
                      %li= link_to "Clinics", clinics_path, :class => "clinic ajax"
                      %li= link_to "Cities", cities_path, :class => "city ajax"
                      %li= link_to "Healthcare Providers", healthcare_providers_path, :class => "healthcare_provider ajax"
                      %li= link_to "Hospitals", hospitals_path, :class => "hospital ajax"
                      %li= link_to "Languages", languages_path, :class => "language ajax"
                      %li= link_to "Offices", offices_path, :class => "office ajax"
                      %li= link_to "Provinces", provinces_path, :class => "province ajax"
                      %li= link_to "Specialists", specialists_path, :class => "specialist ajax"
                      %li= link_to "Specialties", specializations_path, :class => "specialty ajax"
                      %li= link_to "Users", users_path, :class => "user ajax"
                      
                %li= link_to "Logout", logout_url
            
            %form.navbar-search.pull-right
              %input.span3.search-query#search{"type" => "search", "placeholder" => "Search"}
              #search_results
                %ul

    #body.container
      .row
                    
        #content.span12
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield
