!!!
%html

  %head
    %title= yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag '../livesearch'
    = csrf_meta_tag
    = yield(:head)
              
    :javascript
      $(document).ready(function() 
      {
          $('#search').livesearch({
            container: '#search_results',
            data: pathways_search_data,
            scorer: pathways_scorer,
            grouper: pathways_grouper,
            data_formatter: pathways_data_formatter,
            group_formatter: pathways_group_formatter
          });
      });

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
          = link_to "Pathways", root_url, :class => "brand"
          - if logged_in?
            %ul.nav.pull-left
              
              - if logged_in? and current_user.admin?
                %li.dropdown.admin
                  %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                    Admin
                    %b.caret
                  %ul.dropdown-menu
                    /%li= link_to "Track Specialists", tracker_path
                    %li= link_to "Activity", all_versions_path
                    %li= link_to "Review Queue (#{Review.count})", reviews_path
                    %li= link_to "Users", users_path
                    %li= link_to "Specialities", specializations_path
                    %li= link_to "Specialists", specialists_path
                    %li= link_to "Clinics", clinics_path
                    %li= link_to "Hospitals", hospitals_path
                    %li= link_to "Areas of Practice", procedures_path
                    %li= link_to "Healthcare Providers", healthcare_providers_path
                    %li= link_to "Languages", languages_path
                    %li= link_to "Cities", cities_path
                    %li= link_to "Provinces", provinces_path
                    
              /%li= link_to "Pearls", "#"
              /%li= link_to "Handouts", "#"
              /%li= link_to "Videos", "#"
              %li= link_to "Logout", logout_url
            
            %form.navbar-search.pull-right
              %i.icon-white.icon-search
              %input.span3.search-query#search{"type" => "search", "placeholder" => "Search"}
              #search_results
                %ul

    #body.container
      .row
        - unless params[:controller] == 'user_sessions'
          #left-nav.span3
            #root
              %h3 Specialities
              %ul
                - Specialization.all.each do |specialization|
                  %li
                    %a.push{"href" => "#", "onclick" => "ajaxto('#{specialization_path(specialization)}')", "data-toggle" => "push", "data-target" => "#section_#{specialization.id}"}= specialization.name
              
            - Specialization.all.each do |specialization|
              .nav_panel{ "id" => "section_#{specialization.id}" }
                %h3
                  %a{"href" => "#", "onclick" => "ajaxto('#{specialization_path(specialization)}')"}= specialization.name
                %ul
                  %li
                    %a.pop{"href" => "#", "data-toggle" => "pop", "data-target" => "#section_#{specialization.id}", "data-parent" => "#root"} Back
                  - specialization.procedure_specializations_arranged.each do |ps,children|
                    - next if not ps.procedure.specialization_level
                    - next if ps.procedure.empty_for_specialization? specialization
                    %li 
                      - if children.length > 0
                        %a.push{"href" => "#", "onclick" => "ajaxto('#{procedure_path(ps.procedure)}')", "data-toggle" => "push", "data-target" => "#procedure_#{ps.procedure.id}"}= ps.procedure.name
                      - else
                        %a{"href" => "#", "onclick" => "ajaxto('#{procedure_path(ps.procedure)}')"}= ps.procedure.name
                      
              - specialization.procedure_specializations_arranged.each do |ps,children|
                - next if children.length == 0
                - next if not ps.procedure.specialization_level
                - next if ps.procedure.empty_for_specialization? specialization
                .nav_panel{ "id" => "procedure_#{ps.procedure.id}" }
                  %h3
                    %a{"href" => "#", "onclick" => "ajaxto('#{specialization_path(specialization)}')"}= ps.specialization.name
                  %ul
                    %li
                      %a.pop{"href" => "#", "data-toggle" => "pop", "data-target" => "#procedure_#{ps.procedure.id}", "data-parent" => "#section_#{specialization.id}"} Back
                    - children.each do |ps,children|
                      - next if not ps.procedure.specialization_level
                      - next if ps.procedure.empty_for_specialization? specialization
                      %li
                        %a{"href" => "#", "onclick" => "ajaxto('#{procedure_path(ps.procedure)}')"}= ps.procedure.name

        #content.span8half.offsethalf
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield
