!!!
%html

  %head
    %title= yield(:title) || "Pathways"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag '../livesearch'
    = csrf_meta_tag
    = yield(:head)
              
    :javascript
      $(document).ready(function() 
      {
        $('#search').livesearch({
          container: '#search_results',
          data: pathways_search_data,
          scorer: pathways_scorer,
          grouper: pathways_grouper,
          searcher: pathways_searcher,
          data_formatter: pathways_data_formatter,
          group_formatter: pathways_group_formatter,
          min_score: 0.6
        });
      });

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
                      
          %a{"href" => root_url, :class => "brand ajax"} Pathways
          - if logged_in?
            %ul.nav.pull-left
              %li.dropdown
                %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                  Specialties
                  %b.caret
                %ul.dropdown-menu
                  - Specialization.all.each do |specialization|
                    %li
                      %a.ajax{"href" => specialization_path(specialization), "data-toggle" => "push", :class => specialization.in_progress ? "in-progress" : ""}= specialization.name
                
              - if current_user_is_admin?
                %li.dropdown.admin
                  %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                    Admin
                    %b.caret
                  %ul.dropdown-menu
                    /%li= link_to "Track Specialists", tracker_path
                    %li= link_to "Activity Feed", all_versions_path, :class => "history ajax"
                    %li= link_to "Review Queue (#{ReviewItem.all.count})", review_items_path, :class => "review ajax"
                    %li= link_to "Feedback Queue (#{FeedbackItem.all.count})", feedback_items_path, :class => "feedback ajax"
                    %li.divider
                    %li
                      = link_to "New...", "#", :class => "create arrow-right-after"
                      %ul.dropdown-menu
                        %li
                          = link_to "New Area of Practice in...", "#", :class => "procedure arrow-right-after"
                          %ul.dropdown-menu.sub-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_procedure_path(specialization), :class => 'ajax'
                        %li= link_to "New City", new_city_path, :class => "city ajax"
                        %li
                          = link_to "New Clinic in...", "#", :class => "clinic arrow-right-after"
                          %ul.dropdown-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_clinic_path(specialization), :class => 'ajax'
                        %li= link_to "New Healthcare Provider", new_healthcare_provider_path, :class => "healthcare_provider ajax"
                        %li= link_to "New Hospital", new_hospital_path, :class => "hospital ajax"
                        %li= link_to "New Language", new_language_path, :class => "language ajax"
                        %li= link_to "New Office", new_office_path, :class => "office ajax"
                        %li
                          = link_to "New Specialist in...", "#", :class => "specialist arrow-right-after"
                          %ul.dropdown-menu
                            - Specialization.all.each do |specialization|
                              %li=link_to specialization.name, new_specialization_specialist_path(specialization), :class => 'ajax'
                        %li= link_to "New Specialty", new_specialization_path, :class => "specialty ajax"
                        %li= link_to "New User", new_user_path, :class => "user ajax"
                    %li.divider
                      %li= link_to "Areas of Practice", procedures_path, :class => "procedure ajax"
                      %li= link_to "Cities", cities_path, :class => "city ajax"
                      %li= link_to "Clinics", clinics_path, :class => "clinic ajax"
                      %li= link_to "Healthcare Providers", healthcare_providers_path, :class => "healthcare_provider ajax"
                      %li= link_to "Hospitals", hospitals_path, :class => "hospital ajax"
                      %li= link_to "Languages", languages_path, :class => "language ajax"
                      %li
                        = link_to "Offices", "#", :class => "office arrow-right-after"
                        %ul.dropdown-menu
                          %li=link_to "All Offices", offices_path, :class => 'office ajax'
                          - City.all.each do |city|
                            %li=link_to "Offices in #{city.name}", city_offices_path(city), :class => 'office ajax'
                      %li= link_to "Provinces", provinces_path, :class => "province ajax"
                      %li= link_to "Specialists", specialists_path, :class => "specialist ajax"
                      %li= link_to "Specialties", specializations_path, :class => "specialty ajax"
                      %li= link_to "Users", users_path, :class => "user ajax"
                      
              %li.dropdown
                %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                  %i.icon-cog
                  Settings
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Change password", change_password_path, :class => 'ajax'
                      
              %li= link_to "<i class='icon-off'></i> Logout".html_safe, logout_url
            
            %form.navbar-search.pull-right
              %input.span3.search-query#search{"type" => "search", "placeholder" => "Search"}
              #search_results
                %ul

    #body.container
      .row
                    
        #content.span12
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield
