!!!
%html
  %head
    %title= yield(:title) ? "Pathways | #{yield(:title)}" : "Pathways"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "patient_information", :media => 'screen, print'
    = javascript_include_tag "jquery-1.7.1.min.js"
    = csrf_meta_tag
    = yield(:head)

  %body
    = yield
