!!!
%html
  %head
    %title= "Pathways | Log in"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
          = link_to "Pathways", root_url, :class => "brand"
    #content
      - flash.each do |type, msg|
        .alert.alert-error= msg
      = yield
