!!!
%html
  %head
    %title= yield(:title) ? "Pathways | #{yield(:title)}" : "Pathways"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name"=>"viewport", :content=>"initial-scale=1.0"}

    = stylesheet_link_tag "application"
    /[if lte IE 7]
      = stylesheet_link_tag "ie.css", :media => 'screen'
    /[if IE 7]
      = stylesheet_link_tag "font-awesome-ie7.css", :media => 'screen, print'
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render "layouts/ie_compatibility_warning"

    = yield(:head)

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32752873-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_setCustomVar', 1, 'ID', '#{current_user_id}', 1]);
      _gaq.push(['_setCustomVar', 2, 'Type', '#{current_user_type_mask}', 1]);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:id => "#{params[:controller]}_page"}
    #main-nav.navbar
      .navbar-inner
        .container
          %a#logo.brand.ajax{"href" => root_url}

    #body.container
      .row
        #content.span12
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield

      .row
        #email.content-wrapper
          Contact us:
          = mail_to "administration@pathwaysbc.ca", "administration@pathwaysbc.ca", :encode => "javascript"
