!!!
%html
  %head
    = csrf_meta_tag
    = catch_js_errors
    %title= page_title
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=utf-8" }
    %meta{ name: "viewport", content: "initial-scale=1.0" }
    %meta{ name: "newrelic-uptime", content: "ok" }
    :javascript
      window.pathways = window.pathways || {};
      window.pathways.environment = "#{Rails.env}";
      window.pathways.dataForReact = []
      window.pathways.dataForReact.push({
        app: {
          currentUser: #{Denormalized::CurrentUser.call(current_user: current_user).to_json}
        }
      });

    = stylesheet_link_tag "application"
    /[if lte IE 7]
      = stylesheet_link_tag "ie.css", media: 'screen'
    /[if IE 7]
      = stylesheet_link_tag "font-awesome-ie7.css", media: 'screen, print'
    = javascript_include_tag "application"
    = render "layouts/ie_compatibility_warning"

    = yield(:head)

    = render "partials/analytics_setup"

  %body{ id: "#{params[:controller]}_page" }
    #react_root--feedback
    #main-nav.navbar
      .navbar-inner
        .container
          %a#logo.brand{ href: root_url }

    #body.container
      .row
        #content.span12
          #container
            - flash.each do |type, msg|
              .alert.alert-success= msg
            = yield

      .row
        #email.content-wrapper
          %a{ onclick: open_feedback_modal }= "Contact Us"

    :javascript
      window.pathways.bootstrapReact()
